<table align="CENTER" width="700" border="0" cellspacing="0" cellpadding="0" height="253">
  <tr>
    <td valign="TOP"><table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="150" align="CENTER" valign="TOP"> <table width="150" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="RIGHT"><br><b class="geral">{$nome_cedente}</b></td>
              </tr>
              <tr>
				<td width="1px"  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
              </tr>
              <tr>
                <td><table width="150" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="59"><img  src="imagens/pagcontas_logo.jpg" width="59" height="46"></td>
                      <td width="1px" align="LEFT" valign="TOP"  class="separador"></td>
                      <td width="91" align="LEFT" valign="TOP"><table width="91" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="geral">Vencimento</td>
                          </tr>
                          <tr>
                            <td align="CENTER" valign="MIDDLE"><b class="titulo">{$vencimento}</b></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="LEFT" valign="TOP">
                	<table width="150" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td  height="1" colspan=3 class="separador"></td>
                    </tr>
                    <tr>
                      <td  colspan=3 align="LEFT" valign="TOP" class="geral">&nbsp;Valor</td>
                    </tr>
                    <tr>
                      <td  colspan=3 align="CENTER" class="titulo">R$ {$valor}</td>
                    </tr>
                    <tr>
                      <td  width="1px" colspan=3 class="separador"></td>
                    </tr>
                    <tr>
                      <td align="LEFT" valign="TOP" class="geral">&nbsp;Emissão</td>
                      <td width="1px"   class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
                      <td align="LEFT" valign="TOP" class="geral">&nbsp;Referente a: </td>
                    </tr>
                    <tr>
	                    <td align="CENTER" valign="TOP" class="titulo">{$hoje}</td>
	                    <td width="1px"  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
                      <td align="CENTER" valign="TOP" class="titulo">{$referente}</td>
                    </tr>
										<tr>
											<td colspan=3  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
										</tr>
										<tr>
											<td colspan=3 align="LEFT" valign="TOP" class="geral">&nbsp;Nosso Numero</td>
										</tr>
										<tr>
											<td colspan=3 align="CENTER"><b class="titulo">{$nosso_numero}</b></td>
										</tr>
                    <tr>
                      <td colspan=3  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td colspan=3 align="LEFT" valign="TOP" class="geral">&nbsp;Produto</td>
                    </tr>
                    <tr>
                      <td colspan=3 align="CENTER"><b class="titulo">{$produto}</b></td>
                    </tr>
                    <tr>
                      <td colspan=3  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td colspan=3 class="geral">&nbsp;Sacado</td>
                    </tr>
                    <tr>
                      <td colspan=3 align="CENTER"><b class="geral">{$sacado}</b></td>
                    </tr>
                    <tr>
                      <td colspan=3  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td colspan=3 align="RIGHT" valign="TOP"><b class="titulo">RECIBO DO CLIENTE</b></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                  </table></td>
              </tr>
            </table>
          </td>
          <td width="5" background="imagens/pontilhado.gif" class="pontilhado"><img  src="imagens/pontilhado.gif" width="5" height="3"></td>
          <td width="600" align="CENTER" valign="TOP">
          <br>
						<table width="100%" cellspacing=0 cellpadding=0>
							<tr>
								<td colspan=3 width="100%">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="59"><img  src="imagens/pagcontas_logo.jpg" width="59" height="46"></td>
												<td width="1px"  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
												<td valign="TOP">&nbsp;&nbsp;<b class="titulo">RECIBO DO POSTO</b>
												<br>
                        &nbsp;&nbsp;<span class="geral">Referente à: {$referente}</span></td>
												<td valign="TOP" align="RIGHT"><b class="titulo">{$nome_cedente}</b>
												<br>
                        &nbsp;&nbsp;<span class="geral">Impressão: {$hoje}</span></td>
											</tr>
										</table>
								</td>
							</tr>
							<tr>
								<td height=1 colspan=3  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
							</tr>
							<tr>
								<td width="75%" valign="top">
							  <span class="geral">Local de Pagamento</span><br>							  </td>
								<td width="1px"  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								
                <td width="25%" valign="top"> &nbsp;<span class="geral">Vencimento</span></td>
							</tr>
							<tr>
								<td>
									<b class="titulo">POSTOS PAG CONTAS</b>								</td>
								<td width="1px"  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								<td align="right"><b class="titulo">{$vencimento}&nbsp;&nbsp;</b></td>
							</tr>
							<tr>
								<td height=1 colspan=3  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
							</tr>
							<tr>
								
                <td ROWSPAN=8 valign="TOP" class="geral"> &nbsp;I N S T R U Ç Õ E S</td>
								<td width="1px"  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								
                <td width="25%" valign="top"> &nbsp;<span class="geral">Nosso
                    Número</span></td>
							</tr>
							<tr>
								<td width="1px"  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								<td width="25%" valign="top" align="right">
									<b class="geral">{$nosso_numero}&nbsp;&nbsp;</b></td>
							</tr>
							<tr>
								<td height=1 COLSPAN=2  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
							</tr>


							<tr>
								<td width="1px"  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								
                <td width="25%" valign="top" class="geral"> &nbsp;(=)Valor do Documento</td>
							</tr>
							<tr>
								<td width="1px"  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								<td width="25%" valign="top" align="right">
									<b class="titulo">&nbsp;R$ {$valor}&nbsp;&nbsp;</b></td>
							</tr>
							<tr>
								<td height=1 COLSPAN=2  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
							</tr>


							<tr>
								<td width="1px"  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								
                <td width="25%" valign="top" class="geral"> &nbsp;(-)Desconto</td>
							</tr>
							<tr>
								<td width="1px"  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								<td width="25%" valign="top" align="right">
									<b>&nbsp;&nbsp;</b></td>
							</tr>
							<tr>
								<td height=1 colspan=3  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
							</tr>




							<tr>
								
                <td ROWSPAN=5 valign="TOP"> <span class="geral">SACADO</span><br>
									<span class="geral">{$sacado}<br>
                  {$sendereco} - {$scidade} {$suf} - {$scep}</span></td>
								<td width="1px"  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								
                <td width="25%" valign="top" class="geral"> &nbsp;(+)Mora/Multa/Juros </td>
							</tr>
							<tr>
								<td width="1px"  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								<td width="25%" valign="top" align="right">
									&nbsp;&nbsp;</td>
							</tr>
							<tr>
								<td height=1 COLSPAN=2  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
							</tr>

							<tr>
								<td width="1px"  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								
                <td width="25%" valign="top" class="geral"> &nbsp;(=)Valor Cobrado</td>
							</tr>
							<tr>
								<td width="1px"  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								<td width="25%" valign="top" align="right">&nbsp;
								</td>
							</tr>
							<tr>
								<td height=1 colspan=3  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
							</tr>
							<tr>
								<td colspan=3 align="right" class="menor">
									{$nome_cedente} - {$cendereco} - {$clocalidade}								</td>
							</tr>
							<tr>
								<td height=1 colspan=3  class="separador"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
							</tr>
							<tr>
								<td colspan=3 aling="right">
									<b class="titulo">&nbsp;&nbsp;{$linha_digitavel}</b><br>
									&nbsp;&nbsp;<img  src="codigos/{$codigo_barras}.png">
							  </td>
							</tr>
						</table>
		  </td>
		</tr>
			</table>
	</td>
  </tr>
	<tr>
		<td background="imagens/pontilhado_h.gif" height="5" class="pontilhadoh"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
	</tr>
</table>
