<style>
@media print {
hr {
page-break-after: always;
height: 0px;
color: #FFFFFF;
}
.titulo{
font:helvetica;
size:11px;
}
.geral{
font:helvetica;
size:10px;
}
}
@media screen {
hr {
page-break-after: always;
height: 0px;
color: #FFFFFF;
}
.titulo{
font-family:Arial,Helvetica;
size:11px;
}
.geral{
font-family:Arial,Helvetica;
size:10px;
}
}

</style>

<table align="CENTER" width="650" border="0" cellspacing="0" cellpadding="0" height="253">
  <tr>
    <td valign="TOP"><table width="770" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="170" align="CENTER" valign="TOP"> <table width="170" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="RIGHT"><br><b class="geral">{$nome_cedente}</b></td>
              </tr>
              <tr>
				<td width="1px" bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
              </tr>
              <tr>
                <td><table width="150" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="59"><img  src="imagens/pagcontas_logo.jpg" width="59" height="46"></td>
                      <td width="1px" align="LEFT" valign="TOP" bgcolor="#000000"></td>
                      <td width="91" align="LEFT" valign="TOP"><table width="91" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="geral">Vencimento</td>
                          </tr>
                          <tr>
                            <td align="CENTER" valign="MIDDLE"><b class="geral">{$vencimento}</b></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="LEFT" valign="TOP">
                	<table width="170" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td bgcolor="#000000" height="1" colspan=3></td>
                    </tr>
                    <tr>
                      <td  colspan=3 align="LEFT" valign="TOP" class="geral">&nbsp;Valor</td>
                    </tr>
                    <tr>
                      <td  colspan=3 align="CENTER" class="titulo">R$ {$valor}</td>
                    </tr>
                    <tr>
                      <td bgcolor="#000000" width="1px" colspan=3></td>
                    </tr>
                    <tr>
                      <td align="LEFT" valign="TOP">&nbsp;<span class="geral">Emissão</span></td>
                      <td width="1px" bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
                      <td align="LEFT" valign="TOP" class="geral">&nbsp;Referente a: </td>
                    </tr>
                    <tr>
	                    <td align="CENTER" valign="TOP">{$hoje}</td>
	                    <td width="1px" bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
                      <td align="CENTER" valign="TOP">{$referente}</td>
                    </tr>
										<tr>
											<td colspan=3 bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
										</tr>
										<tr>
											<td colspan=3 align="LEFT" valign="TOP">&nbsp;Nosso Numero</td>
										</tr>
										<tr>
											<td colspan=3 align="CENTER"><b>{$nosso_numero}</b></td>
										</tr>
                    <tr>
                      <td colspan=3 bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td colspan=3 align="LEFT" valign="TOP">&nbsp;Produto</td>
                    </tr>
                    <tr>
                      <td colspan=3 align="CENTER"><b>{$produto}</b></td>
                    </tr>
                    <tr>
                      <td colspan=3 bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td colspan=3>&nbsp;Sacado</td>
                    </tr>
                    <tr>
                      <td colspan=3 align="CENTER"><b>{$sacado}</b></td>
                    </tr>
                    <tr>
                      <td colspan=3 bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td colspan=3 align="RIGHT" valign="TOP"><b>RECIBO DO CLIENTE</b></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                  </table></td>
              </tr>
            </table>
          </td>
          <td width="5" background="imagens/pontilhado.gif"><img  src="imagens/pontilhado.gif" width="5" height="3"></td>
          <td width="600" align="CENTER" valign="TOP">
          <br>
						<table width="100%" cellspacing=0 cellpadding=0>
							<tr>
								<td colspan=3 width="100%">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td width="59"><img  src="imagens/pagcontas_logo.jpg" width="59" height="46"></td>
												<td width="1px" bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
												<td valign="TOP">&nbsp;&nbsp;<b>RECIBO DO POSTO</b>
												<br>
                        &nbsp;&nbsp;Referente à: {$referente}</td>
												<td valign="TOP" align="RIGHT"><b>{$nome_cedente}</b>
												<br>
                        &nbsp;&nbsp;Impressão: {$hoje}</td>
											</tr>
										</table>
								</td>
							</tr>
							<tr>
								<td height=1 colspan=3 bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
							</tr>
							<tr>
								<td width="75%" valign="top">
									Local de Pagamento<br>
								</td>
								<td width="1px" bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								
                <td width="25%" valign="top"> &nbsp;Vencimento</td>
							</tr>
							<tr>
								<td>
									<b>POSTOS PAG CONTAS</b>
								</td>
								<td width="1px" bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								<td align="right"><b>{$vencimento}</b></td>
							</tr>
							<tr>
								<td height=1 colspan=3 bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
							</tr>
							<tr>
								
                <td ROWSPAN=8 valign="TOP"> &nbsp;I N S T R U Ç Õ E S</td>
								<td width="1px" bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								
                <td width="25%" valign="top"> &nbsp;Nosso Número</td>
							</tr>
							<tr>
								<td width="1px" bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								<td width="25%" valign="top" align="right">
									<b>{$nosso_numero}</b></td>
							</tr>
							<tr>
								<td height=1 COLSPAN=2 bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
							</tr>


							<tr>
								<td width="1px" bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								
                <td width="25%" valign="top"> &nbsp;(=)Valor do Documento</td>
							</tr>
							<tr>
								<td width="1px" bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								<td width="25%" valign="top" align="right">
									<b>&nbsp;R$ {$valor}</b></td>
							</tr>
							<tr>
								<td height=1 COLSPAN=2 bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
							</tr>


							<tr>
								<td width="1px" bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								
                <td width="25%" valign="top"> &nbsp;(-)Desconto</td>
							</tr>
							<tr>
								<td width="1px" bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								<td width="25%" valign="top" align="right">
									<b>&nbsp;&nbsp;</b></td>
							</tr>
							<tr>
								<td height=1 colspan=3 bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
							</tr>




							<tr>
								
                <td ROWSPAN=5 valign="TOP"> SACADO<br>
									{$sacado}<br>
                  {$sendereco} - {$scidade} {$suf} - {$scep}</td>
								<td width="1px" bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								
                <td width="25%" valign="top"> &nbsp;(+)Mora/Multa/Juros </td>
							</tr>
							<tr>
								<td width="1px" bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								<td width="25%" valign="top" align="right">
									&nbsp;&nbsp;</td>
							</tr>
							<tr>
								<td height=1 COLSPAN=2 bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
							</tr>

							<tr>
								<td width="1px" bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								
                <td width="25%" valign="top"> &nbsp;(=)Valor Cobrado</td>
							</tr>
							<tr>
								<td width="1px" bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
								<td width="25%" valign="top" align="right">&nbsp;
								</td>
							</tr>
							<tr>
								<td height=1 colspan=3 bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
							</tr>
							<tr>
								<td colspan=3 align="right">
									{$nome_cedente} - {$cendereco} - {$clocalidade}
								</td>
							</tr>
							<tr>
								<td height=1 colspan=3 bgcolor="#000000"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
							</tr>
							<tr>
								<td colspan=3 aling="right">
									<b>&nbsp;&nbsp;{$linha_digitavel}</b><br>
									&nbsp;&nbsp;<img  src="codigos/{$codigo_barras}.png">
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td background="imagens/pontilhado_h.gif" height="5"><img  src="imagens/Untitled-2.gif" width="1" height="1"></td>
	</tr>
</table>
