<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>


<!-- base href="https://registro.br/" --><title>Registro .br - Boleto 0045152397</title>
</head><body bgcolor="#ffffff">

<table border="0" cellpadding="0" cellspacing="0" width="640">
<tbody>
<tr>
<td valign="bottom" width="242"><img src="template/boletos/imagens/banco001.gif" width="225" height="45"></td><td width="428" align="right" valign="bottom"><font face="Arial, Helvetica" size="-2"><b>RECIBO DO SACADO</b></font></td>
</tr>
</tbody></table>

<table border="1" cellpadding="1" cellspacing="0" width="640">
<tbody><tr>
<td><font face="Arial, Helvetica" size="1">Cedente</font><br>
  <font face="Arial, Helvetica" size="-1">{$empresa} - CNPJ: {$empresa_cnpj} </font></td>
<td><font face="Arial, Helvetica" size="1">Agência / Conta</font><br>
    <font face="Arial, Helvetica" size="-1">{$agencia} {$conta} </font></td>
<td><font face="Arial, Helvetica" size="1">Data Emissão</font><br>
  <font face="Arial, Helvetica" size="-1">{$hoje}</font></td>
<td align="right"><font face="Arial, Helvetica" size="1">Vencimento</font><br>
  <font face="Arial, Helvetica"><b>{$vencimento}</b></font></td>
</tr>
<tr>
<td valign="top"><font face="Arial, Helvetica" size="1">Sacado</font><br>
<font face="Arial, Helvetica" size="-1">{$sacado}<br>
 {$cpf_cnpj}</font></td>
<td valign="top"><font face="Arial, Helvetica" size="1">Nosso Numero</font><br>
  <font face="Arial, Helvetica" size="-1">{$nosso_numero}</font></td>
<td valign="top"><font face="Arial, Helvetica" size="1">Numero da Guia</font><br></td>
<td align="right"><font face="Arial, Helvetica" size="1">Valor do Documento</font><br>
  <font face="Arial, Helvetica"><b>{$valor}</b></font></td>
</tr>
<tr>
<td height="100" colspan="4" valign="top">
<p><font face="Arial, Helvetica" size="1">Demonstrativo</font><br>
  <font size="2" face="Arial, Helvetica, sans-serif">{$produto} - {$referente}</font></p>
<pre>&nbsp;</pre></td>
</tr>
</tbody></table>

<table border="0" cellpadding="0" cellspacing="0" width="640">
<tbody><tr>
<td>
<p align="right"><font face="Arial, Helvetica" size="-2"><b>Autenticação Mecânica</b></font></p>
<br>
<br>
</td>
</tr>
</tbody></table>

<table border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
<td width="640">
<hr size="1">
</td>
<td>
<p align="right"><font size="-2">&nbsp;dobre</font></p>
</td>
</tr>
</tbody></table>

<table border="0" cellpadding="0" cellspacing="0" width="640">
<tbody><tr>
<td valign="bottom" width="225"><img src="template/boletos/imagens/banco001.gif" width="225" height="45"></td>
<td align="right" valign="bottom"><font size="2" face="Arial, Helvetica, sans-serif"><strong><br>
  </strong><font size="1">linha digitavel</font><strong><br>
  {$linha_digitavel}</strong></font></td>
</tr>
</tbody></table>

<table border="1" cellpadding="1" cellspacing="0" width="640">
<tbody><tr>
<td colspan="5" width="500"><font face="Arial, Helvetica" size="1">Local de Pagamento</font><br><font face="Arial, Helvetica" size="-1">PAGÁVEL EM QUALQUER AGÊNCIA BANCÁRIA</font></td>
<td align="right" width="170"><font face="Arial, Helvetica" size="1">Vencimento</font><br>
  <font face="Arial, Helvetica"><b>{$vencimento}</b></font></td>
</tr>
<tr>
<td colspan="5" width="500"><font face="Arial, Helvetica" size="1">Cedente</font><br>
  <font face="Arial, Helvetica" size="-1">{$nome_cedente} - CNPJ: {$empresa_cnpj} </font></td>
<td align="right" width="170"><font face="Arial, Helvetica" size="1">Agência
    / conta </font><br>
    <font face="Arial, Helvetica" size="-1">{$agencia} {$conta} </font></td>
</tr>
<tr>
<td><font face="Arial, Helvetica" size="1">Data Documento</font><br>
  <font face="Arial, Helvetica" size="-1">{$hoje}</font></td>
<td><font face="Arial, Helvetica" size="1">Numero Documento</font><br>
  <font size="-1" face="Arial, Helvetica">{$nosso_numero}</font></td>
<td><font face="Arial, Helvetica" size="1">Especie Documento</font><br><font face="Arial, Helvetica" size="-1">RC-CI</font></td>
<td><font face="Arial, Helvetica" size="1">Aceite</font><br><font face="Arial, Helvetica" size="-1">N</font></td>
<td><font face="Arial, Helvetica" size="1">Data Processamento</font><br>
  <font face="Arial, Helvetica" size="-1">{$hoje}</font></td>
<td align="right" width="170"><font face="Arial, Helvetica" size="1">Nosso Numero</font><br>
  <font face="Arial, Helvetica" size="-1">{$nosso_numero}</font></td>
</tr>
<tr>
<td valign="top"><font face="Arial, Helvetica" size="1">Uso Banco</font><br></td>
<td valign="top"><font face="Arial, Helvetica" size="1">Carteira</font><br>
    <font size="-1" face="Arial, Helvetica, sans-serif">{$carteira}</font><br></td>
<td valign="top"><font face="Arial, Helvetica" size="1">Especie</font><br>
  <font face="Arial, Helvetica" size="-1">R$</font></td>
<td valign="top"><font face="Arial, Helvetica" size="1">Quantidade<br>
01</font><br>
  <font face="Arial, Helvetica" size="-1">&nbsp;</font></td>
<td valign="top"><font face="Arial, Helvetica" size="1">Valor</font><br>
    <font size="-1" face="Arial, Helvetica, sans-serif">{$valor}</font><br>
    <font face="Arial, Helvetica" size="-1">&nbsp;</font></td>
<td align="right" width="170"><font face="Arial, Helvetica" size="1">Valor do Documento</font><br>
  <font face="Arial, Helvetica"><b>{$valor}</b></font></td>
</tr>
<tr>
<th colspan="5" rowspan="4"><p align="left"><font face="Arial, Helvetica" size="1">Instruções</font><br>
  <font face="Arial, Helvetica" size="-1">{$observacoes}</font></p></th>
<td width="170"><font face="Arial, Helvetica" size="1">(+) Outros Acrécimos</font></td>
</tr>
<tr>
<td width="170"><font face="Arial, Helvetica" size="1">(-) Descontos/Abatimento</font></td>
</tr>
<tr>
<td width="170"><font face="Arial, Helvetica" size="1">(+) Mora/Multa</font></td>
</tr>
<tr>
<td width="170"><font face="Arial, Helvetica" size="1">(=) Valor Cobrado</font><br>&nbsp;</td>
</tr>
<tr>
<td colspan="6"><font face="Arial, Helvetica" size="1">Sacado</font><font face="Arial, Helvetica" size="-1"><br>
    {$sacado}<br>
    <span class="geral">{$sendereco} - {$complemento} - {$bairro}- {$scidade}
    {$suf} - {$scep}</span><br>
    {$cpf_cnpj}</font></td>
</tr>
</tbody></table>

<table border="0" cellpadding="0" cellspacing="0" width="640">
<tbody><tr>
<td colspan="6"><p align="right"><font face="Arial, Helvetica" size="-2"><b>Autenticação Mecânica / FICHA DE COMPENSAÇÃO</b></font></p>
<p align="left"><strong><font size="2" face="Arial, Helvetica, sans-serif">{$codigo_barras}</font></strong><br>
{$cod_barra}</p>
</td>
</tr>
</tbody></table>

<table border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
<td width="640">
<hr size="1"></td>
<td>
<p align="right"><font size="-2">&nbsp;corte</font></p></td>
</tr>
<tr>
<td width="640">&nbsp;</td>
</tr>
</tbody></table>

<!-- Registro .br (c) 1998/2006 -->
</body></html>