{literal}

<style>
@media print {
	#geral1 {
		border-top-width: 0px;
		border-right-width: 0px;
		border-bottom-width: 1px;
		border-left-width: 0px;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: dotted;
		border-left-style: none;
		border-top-color: #000000;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #000000;
	}
	#logo_esquerdo {
		border-top-width: 1px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-left-width: 0px;
		border-top-style: solid;
		border-right-style: none;
		border-bottom-style: none;
		border-left-style: none;
		border-top-color: #000000;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #000000;
	}
	#venc1 {
		border-top-width: 0px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-left-width: 1px;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: none;
		border-left-style: solid;
		border-top-color: #000000;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #000000;
	}
	#top {
		border-top-width: 1px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-left-width: 0px;
		border-top-style: solid;
		border-right-style: none;
		border-bottom-style: none;
		border-left-style: none;
		border-top-color: #000000;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #000000;
	}
	#left1 {
		border-top-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 0px;
		border-left-width: 0px;
		border-top-style: solid;
		border-right-style: solid;
		border-bottom-style: none;
		border-left-style: none;
		border-top-color: #000000;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #000000;
	}
	#left2 {
		border-top-width: 0px;
		border-right-width: 1px;
		border-bottom-width: 0px;
		border-left-width: 0px;
		border-top-style: none;
		border-right-style: solid;
		border-bottom-style: none;
		border-left-style: none;
		border-top-color: #000000;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #000000;
	}
	#geral2 {
		border-top-width: 0px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-left-width: 1px;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: none;
		border-left-style: dotted;
		border-top-color: #000000;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #000000;
	}
	#titulo_dir {
		border-top-width: 0px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-left-width: 1px;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: none;
		border-left-style: solid;
		border-top-color: #000000;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #000000;
	}
	#dir {
		border-top-width: 0px;
		border-right-width: 1px;
		border-bottom-width: 0px;
		border-left-width: 0px;
		border-top-style: none;
		border-right-style: solid;
		border-bottom-style: none;
		border-left-style: none;
		border-top-color: #000000;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #000000;
	}

	hr {
		page-break-after: always;
		height: 0px;color: #FFFFFF;
	}
	.titulo{
		font:helvetica;
		font-size:11px;
	}
	geral{
		font:helvetica;
		font-size:10px;
	}
	.menor{
		font:helvetica;
		font-size:9px;
	}
	.pontilhado{
		background-image: url(imagens/pontilhado.gif);
	}
	.pontilhadoh{
		background-image: url(imagens/pontilhado_h.gif);
	}

	.separador{
		background-color: #000000;
	}

}

@media screen {
	#geral1 {
		border-top-width: 0px;
		border-right-width: 0px;
		border-bottom-width: 1px;
		border-left-width: 0px;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: dotted;
		border-left-style: none;
		border-top-color: #000000;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #000000;
	}
	#logo_esquerdo {
		border-top-width: 1px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-left-width: 0px;
		border-top-style: solid;
		border-right-style: none;
		border-bottom-style: none;
		border-left-style: none;
		border-top-color: #000000;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #000000;
	}
	#venc1 {
		border-top-width: 0px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-left-width: 1px;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: none;
		border-left-style: solid;
		border-top-color: #000000;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #000000;
	}
	#top {
		border-top-width: 1px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-left-width: 0px;
		border-top-style: solid;
		border-right-style: none;
		border-bottom-style: none;
		border-left-style: none;
		border-top-color: #000000;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #000000;
	}
	#left1 {
		border-top-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 0px;
		border-left-width: 0px;
		border-top-style: solid;
		border-right-style: solid;
		border-bottom-style: none;
		border-left-style: none;
		border-top-color: #000000;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #000000;
	}
	#left2 {
		border-top-width: 0px;
		border-right-width: 1px;
		border-bottom-width: 0px;
		border-left-width: 0px;
		border-top-style: none;
		border-right-style: solid;
		border-bottom-style: none;
		border-left-style: none;
		border-top-color: #000000;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #000000;
	}
	#geral2 {
		border-top-width: 0px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-left-width: 1px;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: none;
		border-left-style: dotted;
		border-top-color: #000000;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #000000;
	}
	#titulo_dir {
		border-top-width: 0px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-left-width: 1px;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: none;
		border-left-style: solid;
		border-top-color: #000000;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #000000;
	}
	#dir {
		border-top-width: 0px;
		border-right-width: 1px;
		border-bottom-width: 0px;
		border-left-width: 0px;
		border-top-style: none;
		border-right-style: solid;
		border-bottom-style: none;
		border-left-style: none;
		border-top-color: #000000;
		border-right-color: #000000;
		border-bottom-color: #000000;
		border-left-color: #000000;
	}
	.titulo{
		font-family:Arial,Helvetica;
		font-size:11px;
	}
	.geral{
		font-family:Arial,Helvetica;
		font-size:10px;
	}
	.menor{
		font-family:Arial,Helvetica;
		font-size:9px;
	}
	.pontilhado{
		background-image: url(imagens/pontilhado.gif);
	}
	.pontilhadoh{
		background-image: url(imagens/pontilhado_h.gif);
	}

	.separador{
		background-color: #000000;
	}
}
.menor1 {		font:helvetica;
		font-size:9px;
}
.menor1 {		font-family:Arial,Helvetica;
		font-size:9px;
}
.separador1 {		background-color: #000000;
}
.separador1 {		background-color: #000000;
}
.titulo1 {		font:helvetica;
		font-size:11px;
}
.titulo1 {		font-family:Arial,Helvetica;
		font-size:11px;
}
</style>
{/literal}
