{literal}

<style>
@media print {
	hr {
		page-break-after: always;
		height: 0px;color: #FFFFFF;
	}
	.titulo{
		font:helvetica;
		font-size:11px;
	}
	geral{
		font:helvetica;
		font-size:10px;
	}
	.menor{
		font:helvetica;
		font-size:9px;
	}
	.pontilhado{
		background-image: url(imagens/pontilhado.gif);
	}
	.pontilhadoh{
		background-image: url(imagens/pontilhado_h.gif);
	}

	.separador{
		background-color: #000000;
	}

}

@media screen {
	.titulo{
		font-family:Arial,Helvetica;
		font-size:11px;
	}
	.geral{
		font-family:Arial,Helvetica;
		font-size:10px;
	}
	.menor{
		font-family:Arial,Helvetica;
		font-size:9px;
	}
	.pontilhado{
		background-image: url(imagens/pontilhado.gif);
	}
	.pontilhadoh{
		background-image: url(imagens/pontilhado_h.gif);
	}

	.separador{
		background-color: #000000;
	}
}
</style>

{/literal}
