<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>{ include file='menu_principal.html' }</td>
        </tr>
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F0f0f0">
                    <tr> 
                      <th bgcolor="#FFFFFF" class=th_main >
<h1><b>Lista de Administradores</b></h1></th>
                    </tr>
                    <tr> 
                      <th bgcolor="#FFFFFF" class=th_main ><table width="600" border="0" cellspacing="2" cellpadding="0">
                          <tr> 
                            <td><table border=0 width="100%" cellspacing=0>
                                <tr bgcolor="#FAFAFA"> 
                                  <td width=100><p><font face="arial" size="-1"><b>..username..</b></font></p></td>
                                  <td><p><font face="arial" size="-1"><b>..nome..</b></font></p></td>
                                  <td colspan="2" align="center"><p><font face="arial" size="-1">&nbsp;</font><font face="arial" size="-1"><b>.. 
                                      ..</b></font></p></td>
                                </tr>
                                <tr> 
                                  <td colspan=5><hr size=1></td>
                                </tr>
                                <tr bgcolor="#FFFFFF"> 
                                  <td><p><font face="arial" size=-1>admin - ativo</font></p></td>
                                  <td><p><font face="arial" size=-1>Administrador</font></p></td>
                                  <td align="center" width=60><p><font face="arial" size=-2><a href="administrador.php?op=mod"><img src="template/default/images/gif_alterar.gif" width="16" height="16" border="0"></a></font></p></td>
                                  <td align="center" width=200><p><font face="arial" size=-2>[<a href="administrador.php?op=direitos">EDITAR 
                                      PRIVILEGIOS</a>]</font></p></td>
                                </tr>
                                <tr bgcolor="#F1F1F1"> 
                                  <td><p><font face="arial" size=-1>hiran - ativo</font></p></td>
                                  <td><p><font face="arial" size=-1>Hiran Lavor 
                                      Neri</font></p></td>
                                  <td align="center" width=60><p><font face="arial" size=-2><a href="administrador.php?op=mod"><img src="template/default/images/gif_alterar.gif" width="16" height="16" border="0"></a></font></p></td>
                                  <td align="center" width=200><p><font face="arial" size=-2>[<a href="administrador.php?op=direitos">EDITAR 
                                      PRIVILEGIOS</a>]</font></p></td>
                                </tr>
                                <tr bgcolor="#FFFFFF"> 
                                  <td><p><font face="arial" size=-1>marcio - ativo</font></p></td>
                                  <td><p><font face="arial" size=-1>Marcio Beltrao 
                                      de Carvalho</font></p></td>
                                  <td align="center" width=60><p><font face="arial" size=-2><a href="administrador.php?op=mod"><img src="template/default/images/gif_alterar.gif" width="16" height="16" border="0"></a></font></p></td>
                                  <td align="center" width=200><p><font face="arial" size=-2>[<a href="administrador.php?op=direitos">EDITAR 
                                      PRIVILEGIOS</a>]</font></p></td>
                                </tr>
                                <tr bgcolor="#F1F1F1"> 
                                  <td><p><font face="arial" size=-1>mosman - ativo</font></p></td>
                                  <td><p><font face="arial" size=-1>Andrei de 
                                      Oliveira Mosman</font></p></td>
                                  <td align="center" width=60><p><font face="arial" size=-2><a href="administrador.php?op=mod"><img src="template/default/images/gif_alterar.gif" width="16" height="16" border="0"></a></font></p></td>
                                  <td align="center" width=200><p><font face="arial" size=-2>[<a href="administrador.php?op=direitos">EDITAR 
                                      PRIVILEGIOS</a>]</font></p></td>
                                </tr>
                                <tr bgcolor="#FFFFFF"> 
                                  <td><p><font face="arial" size=-1>paula - ativo</font></p></td>
                                  <td><p><font face="arial" size=-1>Paula Clecia 
                                      Barbosa Lima Sousa</font></p></td>
                                  <td align="center" width=60><p><font face="arial" size=-2><a href="administrador.php?op=mod"><img src="template/default/images/gif_alterar.gif" width="16" height="16" border="0"></a></font></p></td>
                                  <td align="center" width=200><p><font face="arial" size=-2>[<a href="administrador.php?op=direitos">EDITAR 
                                      PRIVILEGIOS</a>]</font></p></td>
                                </tr>
                                <tr bgcolor="#F1F1F1"> 
                                  <td><p><font face="arial" size=-1>vando - ativo</font></p></td>
                                  <td><p><font face="arial" size=-1>Tarcivando 
                                      de Sousa Oliveira</font></p></td>
                                  <td align="center" width=60><p><font face="arial" size=-2><a href="administrador.php?op=mod"><img src="template/default/images/gif_alterar.gif" width="16" height="16" border="0"></a></font></p></td>
                                  <td align="center" width=200><p><font face="arial" size=-2>[<a href="administrador.php?op=direitos">EDITAR 
                                      PRIVILEGIOS</a>]</font></p></td>
                                </tr>
                              </table></td>
                          </tr>
                          <tr> 
                            <td>&nbsp;</td>
                          </tr>
                        </table></th>
                    </tr>
                  </table>
                  <p><br>
                  </p>
                  <p>&nbsp;</p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="20" align="center" bgcolor="#BCD3C4"><table width="400" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">&copy; 
              Mosman Consultoria - Todos os Direitos Reservados</font></div></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
