<!--  ADMINISTRADOR_LOG.HTML -->
<html>
<head>
<title>Untitled Document</title>
<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type">
{literal}
<style type="text/css">

#dhtmltooltip{
position: absolute;
width: 150px;
border: 2px solid black;
padding: 2px;
background-color: lightyellow;
visibility: hidden;
z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
/*filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);*/
}

.style2 {color: #D1DCD3}
</style>
{/literal}
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div id="dhtmltooltip"></div>
{literal}


<script type="text/javascript">

/***********************************************
* Cool DHTML tooltip script- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

var offsetxpoint=-60 //Customize x offset of tooltip
var offsetypoint=20 //Customize y offset of tooltip
var ie=document.all
var ns6=document.getElementById && !document.all
var enabletip=false
if (ie||ns6)
var tipobj=document.all? document.all["dhtmltooltip"] : document.getElementById? document.getElementById("dhtmltooltip") : ""

function ietruebody(){
return (document.compatMode && document.compatMode!="BackCompat")? document.documentElement : document.body
}

function ddrivetip(thetext, thecolor, thewidth){
if (ns6||ie){
if (typeof thewidth!="undefined") tipobj.style.width=thewidth+"px"
if (typeof thecolor!="undefined" && thecolor!="") tipobj.style.backgroundColor=thecolor
tipobj.innerHTML=thetext
enabletip=true
return false
}
}

function positiontip(e){
if (enabletip){
var curX=(ns6)?e.pageX : event.clientX+ietruebody().scrollLeft;
var curY=(ns6)?e.pageY : event.clientY+ietruebody().scrollTop;
//Find out how close the mouse is to the corner of the window
var rightedge=ie&&!window.opera? ietruebody().clientWidth-event.clientX-offsetxpoint : window.innerWidth-e.clientX-offsetxpoint-20
var bottomedge=ie&&!window.opera? ietruebody().clientHeight-event.clientY-offsetypoint : window.innerHeight-e.clientY-offsetypoint-20

var leftedge=(offsetxpoint<0)? offsetxpoint*(-1) : -1000

//if the horizontal distance isn't enough to accomodate the width of the context menu
if (rightedge<tipobj.offsetWidth)
//move the horizontal position of the menu to the left by it's width
tipobj.style.left=ie? ietruebody().scrollLeft+event.clientX-tipobj.offsetWidth+"px" : window.pageXOffset+e.clientX-tipobj.offsetWidth+"px"
else if (curX<leftedge)
tipobj.style.left="5px"
else
//position the horizontal position of the menu where the mouse is positioned
tipobj.style.left=curX+offsetxpoint+"px"

//same concept with the vertical position
if (bottomedge<tipobj.offsetHeight)
tipobj.style.top=ie? ietruebody().scrollTop+event.clientY-tipobj.offsetHeight-offsetypoint+"px" : window.pageYOffset+e.clientY-tipobj.offsetHeight-offsetypoint+"px"
else
tipobj.style.top=curY+offsetypoint+"px"
tipobj.style.visibility="visible"
}
}

function hideddrivetip(){
if (ns6||ie){
enabletip=false
tipobj.style.visibility="hidden"
tipobj.style.left="-1000px"
tipobj.style.backgroundColor=''
tipobj.style.width=''
}
}

document.onmousemove=positiontip

</script>
{/literal}
<table align="CENTER" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td align="CENTER"><h1>LOG de Opera&ccedil;&otilde;es de Administradores</h1></td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
  </tr>
  <tr> 
    <td><table align="CENTER" width="450" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
        <tr> 
          <td><table width="450" border="0" cellspacing="1" cellpadding="0">
              <tr bgcolor="#f1f1f1" align="CENTER"> 
                <td height="30" width="33%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>Listar 
                  por ADM</strong></font></td>
                <td height="30" width="33%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>Listar 
                  por Tipo</strong></font></td>
                <td width="20%" rowspan="2" bgcolor="#f1f1f1"><a href="administrador.php?op=log">Listar 
                  Todos</a></td>
              </tr>
              <tr bgcolor="#FFFFFF" align="CENTER"> 
                <td height="30"><form name="poradmin" method="GET" action="administrador.php"> 
                  <table width="100%" border="0" cellspacing="1" cellpadding="0">
                    <tr align="CENTER" valign="MIDDLE"> 
                      <td> <select name="admin" id="admin">
					  <option value="">&nbsp;</option>
                      {foreach item=a from=$lista_admin}
					  	  <option value={$a.id_admin} {if $a.id_admin == $admin}SELECTED{/if}>{$a.admin}</option>
					  {/foreach}
					   </select> <input name="op" type="hidden" value="log" id="op"> 
                        <input name="tipo" type="hidden" value="admin" id="tipo"></td>
                      <td> <input type="submit" name="Submit" value=">>"></td>
                    </tr>
                  </table>
                  </form></td>
                <td height="30"><form name="form2" method="GET" action=""> 
                  <table width="100%" border="0" cellspacing="1" cellpadding="0">
                    <tr align="CENTER" valign="MIDDLE"> 
                      <td> <select name="operacao" id="operacao">
					  	  <option value="">&nbsp;</option>
						  <option value="ALTADM" {if $operacao == "ALTADM"}SELECTED{/if}>Alteração de Administrador</option>
						  <option value="NOVOADM" {if $operacao == "NOVOADM"}SELECTED{/if}>Novo Administrador</option>
                          <option value="ALTMAC" {if $operacao == "ALTMAC"}SELECTED{/if}>Alteração de MAC</option>
                          <option value="ALTBANDA" {if $operacao == "ALTBANDA"}SELECTED{/if}>Altera&ccedil;&atilde;o de 
                          Banda</option>
                          <option value="ALTSTATUS" {if $operacao == "ALTSTATUS"}SELECTED{/if}>Altera&ccedil;&atilde;o de 
                          Status</option>
                          <option value="PAGFATURA" {if $operacao == "PAGFATURA"}SELECTED{/if}>Pagamentos</option>
						   <option value="ESTORNOPAG" {if $operacao == "ESTORNOPAG"}SELECTED{/if}>Estornos</option>
                          <option value="PAGREAGEND" {if $operacao == "PAGREAGEND"}SELECTED{/if}>Reagendamentos</option>
                        </select> <input name="op" type="hidden" value="log" id="op2"> 
                        <input name="tipo" type="hidden" value="operacao" id="tipo"></td>
                      <td> <input type="submit" name="Submit2" value=">>"></td>
                    </tr>
                  </table>
                  </form></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
  </tr>
  <tr> 
    <td> {if $log } 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#666666">
        <tr>
          <td><table width="100%" border="0" cellspacing="1" cellpadding="2">
              <tr align="CENTER"> 
                <td height="20" width="80" bgcolor="#f1f1f1"> <p><strong>Admin</strong></p></td>
                <td height="20" width="200" bgcolor="#f1f1f1"> <p><strong>Data</strong></p></td>
                <td height="20" width="100" bgcolor="#f1f1f1"> <p><strong>Operacao</strong></p></td>
                <td height="20" width="150" bgcolor="#f1f1f1"> <p><strong>Vlr. 
                    Orig.</strong></p></td>
                <td height="20" width="150" bgcolor="#f1f1f1"> <p><strong>Vlr. 
                    Alt.</strong></p></td>
                <td height="20" width="100" bgcolor="#f1f1f1"> <p><strong>Username</strong></p></td>
                <td height="20" width="50" bgcolor="#f1f1f1"> <p><strong>IDCP</strong></p></td>
                <td height="20" width="50" bgcolor="#f1f1f1"> <p><strong>Tipo_conta</strong></p></td>
                <td height="20" width="300" bgcolor="#f1f1f1"> <p><strong>Extras</strong></p></td>
              </tr>
              {foreach item=a from=$log} 
              <tr bgcolor='{if $a.operacao == "ALTMAC" OR $a.operacao == "ALTSTATUS" OR $a.operacao == "ALTBANDA"}#F3F8F7{else}{if $a.operacao == "ESTORNOPAG"}#ffffff{else}{if $a.operacao == "NOVOADM" || $a.operacao == "ALTADM"}#DFEBEE{else}#F1E4E7{/if}{/if}{/if}' height=20> 
                <td align="CENTER" onMouseover="ddrivetip('<p align=center>{$a.ip}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"> 
                  <p>{$a.admin}</p></td>
                <td align="CENTER">
<p>{$a.data|date_format:"%d/%m/%Y %H:%M:%S"}</p></td>
                <td align="CENTER"> <p>{$a.operacao}</p></td>
                <td align="CENTER"> <p>{if $a.operacao == "ALTADM" && $a.valor_original=='A'}Ativo{/if}{if $a.operacao == "ALTADM" && $a.valor_original == 'C' }Inativo{/if}{if $a.valor_original != 'A' && $a.valor_original != 'C'}{$a.valor_original}{/if}</p></td>
                <td align="CENTER"> <p>{if $a.operacao == "ALTADM" && $a.valor_alterado=='A'}Ativo{/if}{if $a.operacao == "ALTADM" && $a.valor_alterado == 'C' }Inativo{/if}{if $a.valor_alterado != 'A' && $a.valor_alterado != 'C'}{$a.valor_alterado}{/if}</p></td>
                <td align="CENTER"> <p>{$a.username}</p></td>
                <td align="CENTER"> <p>{$a.id_cliente_produto}</p></td>
                <td align="CENTER" class="style2"> <p>{$a.tipo_conta}</p></td>
                <td ><p>{$a.extras|replace:"/":"<br>
                    "}</p></td>
              </tr>
              {/foreach} </table></td>
        </tr>
      </table>
      {else} <br>
		<p align=center><b>NÃO EXISTE NENHUM REGISTRO CADASTRADO </b></p>
		{/if}
	</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
