<html>
<head>
<title>Main</title>
<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>{ include file='menu_principal.html' }</td>
        </tr>
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bgcolor="#F0f0f0">
              <tr> 
                <th bordercolor="#FFFFFF" bgcolor="#FFFFFF" class=th_main ><font face="Arial" size="4"><b>Ficha 
                  do Administrador </b></font></th>
              </tr>
            </table>
            <table  width="75%" border="0" align="center" cellpadding="0" cellspacing="0" >
              <tr> 
                <td> <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F0f0f0">
                    <tr> 
                      <th bgcolor="#FFFFFF" >&nbsp;</th>
                    </tr>
                  </table>
                  <table  width="75%" border="0" align="center" cellpadding="0" cellspacing="0" >
                    <tr> 
                      <td  > <form name=dados method="post" action="administrador.php">
                          <input type="hidden" name="op" value="direitos">
                          <input type="hidden" name="oper" value="cad">
                          <input type="hidden" name="sessao" value="admin">
                          <input type="hidden" name="subsess" value="cadastro">
                          <input type="hidden" name="id_admin" value="">
                          <table width="90%" border="0" align="center" cellpadding="0" cellspacing="1" class=main>
                            <tr> 
                              <td width="47%">&nbsp;</td>
                              <td width="53%">&nbsp;</td>
                            </tr>
                            <tr> 
                              <td colspan="2"><table width="100%" border="0" cellspacing="1" cellpadding="0">
                                  <tr> 
                                    <td width="50%"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Nome</font></td>
                                    <td width="50%"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">E-mail</font></td>
                                  </tr>
                                  <tr> 
                                    <td><input  name="nome" value="" type="text" id="nome" size="30"></td>
                                    <td><input  name="email" value="" type="text" class="campos" id="email" size="30"></td>
                                  </tr>
                                </table></td>
                            </tr>
                            <tr>
                              <td colspan=2><hr size=1></td>
                            </tr>
                            <tr> 
                              <td colspan="2"><table width="100%" border="0" cellspacing="1" cellpadding="0">
                                  <tr> 
                                    <td width="33%"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Username</font></td>
                                    <td width="33%"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Senha/Confirmação</font></td>
                                    <td width="33%"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Status</font></td>
                                  </tr>
                                  <tr> 
                                    <td valign="top"><input  name="admin" type="text" class="campos" id="rg_inscr" value=""></td>
                                    <td valign="top"><input  name="senha" type="password" class="campos" id="senha"> 
                                      <input  name="confsenha" type="password" class="campos" id="confsenha"> 
                                    </td>
                                    <td valign="top"><SELECT name='status' class= "campos">
                                        <OPTION VALUE='A' >Ativo</OPTION>
                                        <OPTION VALUE='C' >Cancelado</OPTION>
                                      </SELECT> </td>
                                  </tr>
                                </table></td>
                            </tr>
                            <tr>
                              <td colspan=2><hr size=1></td>
                            </tr>
                            <tr> 
                              <td colspan="2"> <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                  <tr> 
                                    <td width="33%">&nbsp;</td>
                                    <td width="33%">&nbsp;</td>
                                    <td width="33%">&nbsp;</td>
                                  </tr>
                                  <tr> 
                                    <td>&nbsp;</td>
                                    <td><div align="center"> 
                                        <input name="cadastro_cliente" type="submit" class="campos" id="cadastro_cliente2" value="Cadastrar &gt;&gt;" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;">
                                      </div></td>
                                    <td>&nbsp;</td>
                                  </tr>
                                </table></td>
                            </tr>
                          </table>
                        </form></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="20" align="center" bgcolor="#BCD3C4"><table width="400" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">&copy; 
              Mosman Consultoria - Todos os Direitos Reservados</font></div></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
