<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F0f0f0">
      <tr>
        <th bgcolor="#FFFFFF" class=th_main > <h1><b>Lista de Administradores</b></h1></th>
      </tr>
      <tr>
        <th bgcolor="#FFFFFF" class=th_main ><table width="600" border="0" cellspacing="2" cellpadding="0">
              <tr>
              <td><table border=0 width="100%" cellspacing=0>
                    <tr bgcolor="#CCCCCC"> 
                      <td width=100> 
                        <p><font face="arial" size="-1"><b>Username</b></font></p></td>
                      <td> 
                        <p><font face="arial" size="-1"><b>Nome</b></font></p></td>
                      <td colspan="3" align="center"> 
                        <p>&nbsp;</p></td>
                  </tr>
                  <tr> 
                      <td colspan=6>&nbsp;</td>
                  </tr>
                  {foreach item=a name=admin from=$lista_admin} 
                  <tr bgcolor="{cycle values="#ffffff,#f1f1f1"}"> 
                    <td><p><a href="administrador.php?op=cadastro&id_admin={$a.id_admin}"> 
                        {$a.admin} - {if $a.status == "t"}Ativo{/if}{if $a.status=="f"}Inativo{/if} 
                        </a></p></td>
                    <td><p><a href="administrador.php?op=cadastro&id_admin={$a.id_admin}">{$a.nome}</a></p></td>
                      <td width=20 align="center" valign="middle"> 
                        <p><a href="administrador.php?op=cadastro&id_admin={$a.id_admin}"><img src="template/default/images/gif_alterar.gif" alt="Alterar dados do Administrador" width="16" height="16" border="0"></a></font></p></td>
                      <td width=20 align="center" valign="middle"><a href="administrador.php?op=privilegio&id_admin={$a.id_admin}"><img src="template/default/images/bt_privilegios.gif" alt="Alterar Privil&eacute;gios" width="16" height="16" border="0"></a></td>
                      <td width=20 align="center" valign="middle"> 
                        <p><a href="administrador?op=log&tipo=admin&admin={$a.id_admin}"><img alt="ver log do usuario" src="template/default/images/log.gif" width="16" height="16" border="0"></a></p></td>
                  </tr>
                  {/foreach} </table></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
        </table>
            <table width="600" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
              <tr> 
                <td width="143"><p><strong>Usu&aacute;rios Cadastrados:</strong></p></td>
                <td width="457"><p>{$smarty.foreach.admin.total}</p></td>
              </tr>
            </table>
            <p>&nbsp;</p></th>
      </tr>
    </table></td>
  </tr>
</table>
</body>


</html>
