<html>
<head>
<!-- <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="60"> 
      <table width="100%" height="50" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr> 
          <td width="18%"><div align="center">Logotipo</div></td>
          <td width="82%"> <div align="center"><strong>VIRTEX ADMIN - PAINEL DE 
              CONTROLE </strong> </div></td>
        </tr>
        <tr> 
          <td colspan="2"><table width="100%" border="0" cellspacing="2" cellpadding="0">
              <tr align="center" valign="top" bgcolor="#F4F4F4"> 
                <td><strong>Clientes</strong><br> &raquo; <a href="search_clientes.html">Pesquisa</a><br> 
                  &raquo; <a href="cadastro_clientes.html">Cadastro</a><br> &raquo; 
                  Relatorios<br> &raquo; Eliminar Reg.</td>
                <td><strong>Cobranca</strong><br> &raquo; Bloqueados<br> &raquo; 
                  Produtos/Planos<br> &raquo; Relatorios</td>
                <td><strong>Suporte</strong><br> &raquo; Graficos<br> &raquo; 
                  Log Radius<br> &raquo; Monitoramento<br> &raquo; Calculadora 
                  IP<br> &raquo; ARP</td>
                <td><strong>Configura&ccedil;&otilde;es<br>
                  </strong>&raquo; POPs<br> &raquo; NAS<br> &raquo; Monitoramento<br> 
                  &raquo; Relatorios</td>
                <td><strong>Administradores</strong><br> &raquo; Alterar Senha<br> 
                  &raquo; Cadastro<br> &raquo; Listagem</td>
                <td><a href="main.html">home</a></td>
                <td>suporte</td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p align="left">&nbsp;</p>
      <form method=get>
IP: <input type="text" name="ip" value=""> <input type="submit" name="Submit" value="Ok">
      </form>
      <hr>      
      <p align="center">IP.......:</p>
      <p>&nbsp;</p>
      <p></p> 
      </p></td>
  </tr>
</table>
</body>


</html>
