<!-- BACKUP_INICIO.HTML -->
<html>
<head>
<title>backup</title>
<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">

</head>
<body><div align="CENTER"><h1>BACKUP &amp; RECUPERA&Ccedil;&Atilde;O</h1>
<table width="390" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#000000"><table width="390" border="0" cellspacing="1" cellpadding="0">
        <tr bgcolor="#F1F1F1" align="CENTER" valign="MIDDLE">
          <td width="70"><a href="backup.php?op=inicio">In&iacute;cio</a></td>
          <td height="40"><a href="backup.php?op=backup">Fazer Backup</a></td>
          <td height="40"><a href="backup.php?op=restore">Recuperar Backup</a></td>
          <td height="40"><a href="backup.php?op=backup&acao=hist">Hist&oacute;rico</a></td>
        </tr>
      </table></td>
  </tr>
</table>
<p>&nbsp;</p>
  
<p><strong><font size="2" face="Arial, Helvetica, sans-serif">{$mensagem}<br>
  </font></strong></p>
{if !$detalhe}
<table width="390" border="0" cellspacing="1" cellpadding="2">
  <tr bgcolor="#666666"> 
    <td width="150"><strong><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Data</font></strong></td>
    <td width="59" align="CENTER"><strong><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Status</font></strong></td>
    <td width="80" align="CENTER"><strong><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Admin</font></strong></td>
    <td width="80" align="CENTER"><strong></strong></td>
  </tr>
  {foreach item=a from=$lista} 
  <tr bgcolor="{cycle values="#ffffff,#f1f1f1"}"> 
    <td><p><a href="backup.php?op=backup&acao=detalhes&id_backup={$a.id_backup}">{$a.data|date_format:"%d/%m/%Y 
        %H:%M:%S"}</a></p></td>
    <td align="CENTER"> <p><a href="backup.php?op=backup&acao=detalhes&id_backup={$a.id_backup}">{$a.status_backup}</a></p></td>
    <td align="CENTER"><a href="backup.php?op=backup&acao=detalhes&id_backup={$a.id_backup}">{$a.admin}</a></td>
    <td align="CENTER"> <p>{$a.operador_backup}</p></td>
  </tr>
  {/foreach} 
</table>
<br>
<br>
{else} 
<table width="641" border="0" cellspacing="1" cellpadding="2">
  <tr bgcolor="#666666"> 
    <td width="150"><strong><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Data</font></strong></td>
    <td width="250"><strong><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Arquivo</font></strong></td>
    <td width="78" align="CENTER"><strong><font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="1">KB</font></strong></td>
    <td width="78" align="CENTER"><strong><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Tipo</font></strong></td>
    <td width="59" align="CENTER"><strong><font color="#FFFFFF" size="1" face="Verdana, Arial, Helvetica, sans-serif">Status</font></strong></td>
  </tr>
  {foreach item=a from=$detalhe} 
  <tr bgcolor="{cycle values="#ffffff,#f1f1f1"}"> 
    <td><p><a href="backup.php?op=backup&acao=download&id_backup={$a.id_backup}&arquivo={$a.arquivo_backup}">{$a.data|date_format:"%d/%m/%Y 
        %H:%M:%S"}</a></p></td>
    <td><p><a href="backup.php?op=backup&acao=download&id_backup={$a.id_backup}&arquivo={$a.arquivo_backup}">{$a.arquivo_backup}</a></p></td>
    <td align="RIGHT">
<p><a href="backup.php?op=backup&acao=download&id_backup={$a.id_backup}&arquivo={$a.arquivo_backup}">{$a.kb}</a></p></td>
    <td><p><a href="backup.php?op=backup&acao=download&id_backup={$a.id_backup}&arquivo={$a.arquivo_backup}">{$a.tipo_backup}</a></p></td>
    <td align="CENTER"> <p><a href="backup.php?op=backup&acao=download&id_backup={$a.id_backup}&arquivo={$a.arquivo_backup}">{$a.status_backup}</a></p></td>
  </tr>
  {/foreach} 
</table>
{/if} 
<p><a href="backup.php?op=inicio">voltar</a></p>
<p><strong><font size="2" face="Arial, Helvetica, sans-serif"> </font></strong></p>
</div></body>
</html>
