<html>
<head>
<!-- <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="60"> 
      <table width="100%" height="50" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr> 
          <td width="18%"><div align="center">Logotipo</div></td>
          <td width="82%"> <div align="center"><strong>VIRTEX ADMIN - PAINEL DE 
              CONTROLE </strong> </div></td>
        </tr>
        <tr> 
          <td colspan="2"><table width="100%" border="0" cellspacing="2" cellpadding="0">
              <tr align="center" valign="top" bgcolor="#F4F4F4"> 
                <td><strong>Clientes</strong><br> &raquo; <a href="search_clientes.html">Pesquisa</a><br> 
                  &raquo; <a href="cadastro_clientes.html">Cadastro</a><br> &raquo; 
                  Relatorios<br> &raquo; Eliminar Reg.</td>
                <td><strong>Cobranca</strong><br> &raquo; Bloqueados<br> &raquo; 
                  Produtos/Planos<br> &raquo; Relatorios</td>
                <td><strong>Suporte</strong><br> &raquo; Graficos<br> &raquo; 
                  Log Radius<br> &raquo; Monitoramento<br> &raquo; Calculadora 
                  IP<br> &raquo; ARP</td>
                <td><strong>Configura&ccedil;&otilde;es<br>
                  </strong>&raquo; POPs<br> &raquo; NAS<br> &raquo; Monitoramento<br> 
                  &raquo; Relatorios</td>
                <td><strong>Administradores</strong><br> &raquo; Alterar Senha<br> 
                  &raquo; Cadastro<br> &raquo; Listagem</td>
                <td><a href="main.html">home</a></td>
                <td>suporte</td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><table class=table_main width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F0f0f0">
  <tr>
    <th class=th_main align="left"><font face="Arial" size="+1"><b>SUPORTE::Calculadora IP</b></font></th>
  </tr>
</table>
<center>
<table class=table_main width="100%" _height="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class=td_main width="100%" _height_="100%" align="center" valign="middle">
	<form name=formulario method="get" action="/~virtsys/admin.php">
	  <br>
	<br>
	<table border=0  _bgcolor="#000000" cellspacing=1 cellpadding=1 width="90%">
		<tr>
			<td align="center">
			
				<table border=0 cellspacing=0>
					<tr bgcolor="#F0F0F0">
						<td>Endereço (Host ou Rede)</td>
						<td>Máscara (Ex: /24)</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><input type="text" name="ip" value=""></td>
						<td><input type="text" name="netmask" value="24"></td>
						<td><input name="botao_enviar" type="submit" class=input2 id="submit" value="calcular &gt;&gt;" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;"></td>
					</tr>

				</table>
			
				<hr size=1>
				
				
				
			</td>
		</tr>
	</table>
	</form></td>
  </tr>
</table>
</p>
    </td>
  </tr>
</table>
</body>


</html>
