
<link href="template/default/cliente.css" rel="stylesheet" type="text/css"></link>

<div id="clientetabs">
<ul>
<!-- FICHA CADASTRAL -->
<li {if $op=="cadastro"}id="current"{/if} style="margin-left: 1px"><a href="clientes.php?op=cadastro&id_cliente={$id_cliente}" title="Ficha"><span>Ficha</span></a></li>
<!-- PRODUTOS -->
{if $_licenca.frontend.banda_larga }
<li {if ($op == "produto" || $op == "conta") && $tipo == "BL"}id="current"{/if}><a href="clientes.php?op=produto&tipo=BL&id_cliente={$id_cliente}" title="Banda Larga"><span>Banda Larga</span></a></li>
{/if}

{if $_licenca.frontend.discado }
<li {if ($op == "produto" || $op == "conta") && $tipo == "D"}id="current"{/if}><a href="clientes.php?op=produto&tipo=D&id_cliente={$id_cliente}" title="Discado"><span>Discado</span></a></li>
{/if}
{if $_licenca.frontend.hospedagem }
<li {if ($op == "produto" || $op == "conta") && $tipo == "H"}id="current"{/if}><a href="clientes.php?op=produto&tipo=H&id_cliente={$id_cliente}" title="Hospedagem"><span>Hospedagem</span></a></li>
{/if}

<!-- COBRANCA -->

<li {if $op=="cobranca"}id="current"{/if}><a href="clientes.php?op=cobranca&id_cliente={$id_cliente}&rotina=resumo" title="Cobrança"><span>Cobrança</span></a></li>
</ul>
</div>

<div id="clientetabsline"><span>cliente: <b>[{$id_cliente}] {$cliente.nome_razao}</b></span></div>


<!--br style="clear: left" /-->