
<table width="500" border="0" cellspacing="2" cellpadding="2" align="center">
	<tr>
		<td>
		<!-- FICHA CADASTRAL -->
		{if $op == "cadastro" }
			<img src="template/default/images/bt_ficha_cliente.gif" border=0 alt="Ficha do Cliente">
		{else }
			<a href="{$smarty.server.PHP_SELF}?op=cadastro&id_cliente={$id_cliente}"><img src="template/default/images/bt_ficha_cliente_inativo.gif" border=0 alt="Ficha do Cliente"></a>
		{/if}
		</td>
		<!-- PRODUTOS -->
		<td>
		{if $op == "produto" && $tipo == "D"}
			<img src="template/default/images/bt_discado.gif" border=0 alt="Acesso Discado">
		{else }
			{if $id_cliente}<a href="{$smarty.server.PHP_SELF}?op=produto&tipo=D&id_cliente={$id_cliente}">{/if}<img src="template/default/images/bt_discado_inativo.gif" border=0 alt="Acesso Discado"></a>
		{/if}
		</td>
		<td>
		{if $op == "produto" && $tipo == "BL"}
			<img src="template/default/images/bt_bandalarga.gif" border=0 alt="Acesso Banda Larga">
		{else }
			{if $id_cliente}<a href="{$smarty.server.PHP_SELF}?op=produto&tipo=BL&id_cliente={$id_cliente}">{/if}<img src="template/default/images/bt_bandalarga_inativo.gif" border=0 alt="Acesso Banda Larga"></a>
		{/if}
		</td>
		<td>
		{if $op == "produto" && $tipo == "H"}
			<img src="template/default/images/bt_hospedagem.gif" border=0 alt="Hospedagem">
		{else }
			{if $id_cliente}<a href="{$smarty.server.PHP_SELF}?op=produto&tipo=H&id_cliente={$id_cliente}">{/if}<img src="template/default/images/bt_hospedagem_inativo.gif" border=0 alt="Cobranca"></a>
		{/if}
		</td>
		<!-- COBRANCA -->
		<td>
		{if $op == "cobranca"}
			<img src="template/default/images/bt_cobranca.gif" border=0 alt="Cobrança">
		{else }
			{if $id_cliente}<a href="{$smarty.server.PHP_SELF}?op=cobranca&id_cliente={$id_cliente}">{/if}<img src="template/default/images/bt_cobranca_inativo.gif" border=0 alt="Cobranca"></a>
		{/if}
		</td>
		<!-- HELPDESK -->
		<td>
		{if $op == "helpdesk"}
			<img src="template/default/images/bt_helpdesk.gif" border=0 alt="Helpdesk">
		{else }
			{if $id_cliente}<a href="{$smarty.server.PHP_SELF}?op=helpdesk&id_cliente={$id_cliente}">{/if}<img src="template/default/images/bt_helpdesk_inativo.gif" border=0 alt="Helpdesk"></a>
		{/if}
		</td>
	</tr>
	{if $id_cliente}
	<tr>
		<td colspan="6" bgcolor="#779977">
			<font face="arial" size=+1><b>{$cliente.nome_razao}</b></font>
			<!--table width="100%" cellpadding=2 cellspacing=1 bgcolor="#559955">
				<tr bgcolor="#FFFFFF">
					<td width="50%"><u><small>CLIENTE:</small></u>&nbsp;{$cliente.nome_razao}</td>
					<td width="50%"><u><small>CPF/CNPJ:</small></u>&nbsp;{$cliente.cpf_cnpj}</td>
				</tr>
			</table-->
		</td>
	</tr>
	{/if}
</table>
