
{include file='cliente_header.html'}

<script language="JavaScript">
	// Arrays
	var lista_discado    = new Array;
	var lista_bandalarga = new Array;
	var lista_hospedagem = new Array;

	// Índices
	var iDiscado    =0;
	var iBandalarga =0;
	var iHospedagem =0;

{foreach item=v from=$lista_discado}
	lista_discado[iDiscado++] = new Array('{$v.id_produto}','{$v.nome}','{$v.valor}');
{/foreach}

{foreach item=v from=$lista_bandalarga}
	lista_bandalarga[iBandalarga++] = new Array('{$v.id_produto}','{$v.nome}','{$v.valor}');
{/foreach}

{foreach item=v from=$lista_hospedagem}
	lista_hospedagem[iHospedagem++] = new Array('{$v.id_produto}','{$v.nome}','{$v.valor}');
{/foreach}



// Formularios
var fD;
var fBL;
var fH;


// ultimo id_produto selecionado
var id_produto_saved = '{$id_produto}';
//window.alert(id_produto_saved);

{literal}


function alteraTipo() {
	var frm = document.frmContratacao;
	tipo = frm.tipo;

	e = frm.id_produto.options;

	// Remove ps elementos
	for(i=e.length-1;i>=0;--i) {
		frm.id_produto.remove(i);
	}

	lista = new Array();

	var t = document.getElementById("tdados");
	frm.username.disabled=false;
	frm.senha.disabled=false;
	frm.conf_senha.disabled=false;

	if( tipo.value == "D" ) {
		lista = lista_discado;
		t.innerHTML = fD;
	} else if( tipo.value == "BL" ) {
		lista = lista_bandalarga;
		t.innerHTML = fBL;
	} else if( tipo.value == "H" ) {
		lista = lista_hospedagem;
		t.innerHTML = fH;
	} else {
		t.innerHTML = "&nbsp;";
		frm.username.disabled=true;
		frm.senha.disabled=true;
		frm.conf_senha.disabled=true;
	}

	// Adiciona os elementos de um tipo especifico
	if( lista.length > 0 ) {
		frm.id_produto.add(document.createElement("OPTION"));
		for(i=0;i<lista.length;i++) {
			var oOption = document.createElement("OPTION");
			oOption.text=lista[i][1] + "/" + lista[i][2];
			oOption.value=lista[i][0];
			frm.id_produto.add(oOption);

			// Verifica o último produto selecionado.
			if( id_produto_saved == lista[i][0] ) {
				frm.id_produto.value = id_produto_saved;
			}
		}
	}
}

function alteraProduto() {
	var frm = document.frmContratacao;
	prod = frm.id_produto;
	id_produto_saved = prod.value;
}


function init() {

	// Formulario de Discado;
	var o = document.getElementById("formD")
	fD=o.outerHTML;
	o.outerHTML="";

	// Formulario de Banda Larga;
	var o = document.getElementById("formBL")
	fBL=o.outerHTML;
	o.outerHTML="";

	// Formulario de Hospedagem;
	var o = document.getElementById("formH")
	fH=o.outerHTML;
	o.outerHTML="";


	alteraTipo();
	alteraProduto();
}



function validaUsername(user) {
	return true;
}


function validaForm() {
	var frm = document.frmContratacao;
	var msg = new Array();

	if( frm.tipo.value == "" ) {
		msg.push("Você não escolheu o tipo do produto");
	} else {
		if( frm.id_produto.value == "" ) {
			msg.push("Você não escolheu o produto");
		} else {
			// Validacoes gerais
			if(frm.id_nas.value != "3" && frm.mac.value =="")
				msg.push("Campo MAC obrigatorio");

		}
	}

	if( msg.length > 0 ) {
		mensagem = "Foram encontrados erros ao processar seu formulário:\n\n";

		for(i=0;i<msg.length;i++) {
		   mensagem += " - " + msg[i] + "\n";
		}
		window.alert(mensagem);
		return false;
	}

	return true;

}

function verificaTipoRede() {
   frm = document.frmContratacao;
   frm.endereco_ip.disabled = frmContratacao.selecao_ip.value == "A";
}


{/literal}

</script>

<form name="frmContratacao" method="post" action="{$smarty.server.PHP_SELF}" onSubmit="return validaForm();">

<!-- DADOS DO FORMULARIO: INI -->


<div id="formBL">
	<table width="450" border=0 bgcolor="#F1F1F1" id="disc">
	  <tr>
		<td colspan=2><p><strong>Dados da Conexão</strong></p></td>
	  </tr>
	  <tr>
		<td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>POP:</p></td>
		<td bgcolor="#FFFFFF">
		  <SELECT name='id_pop' >
			{foreach item=v from=$lista_pops}
			  <OPTION value="{$v.id_pop}" {if $v.id_pop == $id_pop}SELECTED{/if}>{$v.nome}</OPTION>
			{/foreach}
		  </SELECT>
		</td>
		<td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>NAS:</p></td>
		<td bgcolor="#FFFFFF">
		  <SELECT name='id_nas' >
			{foreach item=v from=$lista_nas}
			  <OPTION value="{$v.id_nas}" {if $v.id_nas == $id_nas}SELECTED{/if}>{$v.tp}: {$v.nome}</OPTION>
			{/foreach}
		  </SELECT> </td>
	  </tr>
	  <tr>
		<td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>Seleção
			de Rede/IP:</p></td>
		<td bgcolor="#FFFFFF"><SELECT name='selecao_ip' onChange='javascript:verificaTipoRede();'>
			<OPTION VALUE='A' >Automática</OPTION>
			<OPTION VALUE='M' >Manual</OPTION>
		  </SELECT> <br> <input type="text" name="endereco_ip" id="endereco_ip" value="{$endereco_ip}"></td>
		<td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>MAC:</p></td>
		<td bgcolor="#FFFFFF" valign="top"><input type="text" name="mac" value="{$mac}" maxlength="17" size=17></td>
		{literal}
		<script>
		verificaTipoRede();
		</script>
		{/literal}

	  </tr>
	</table>
</div>

<div id="formH">
	<table width="450" border="0" cellpadding="0" cellspacing="1" id="hosp">
	  <tr>
		<td align="center" valign="middle"><table border=0 width="450" bgcolor="#F1F1F1">
			<tr>
			  <td colspan=2><p><strong>Dados da Hospedagem</strong></p></td>
			</tr>
			<tr>
			  <td bgcolor="#FFFFFF" align="right" width="70">
				<p>Tipo: </p></td>
			  <td bgcolor="#FFFFFF"> <SELECT name='tipo_hospedagem' onChange='javascript:verificaTipoHosp();' onFocusOut='javascript:verificaTipoHosp();' onClick='javascript:verificaTipoHosp();'>
				  <OPTION VALUE='U' >http://firme.com.br/usuarios/username/</OPTION>
				  <OPTION VALUE='D' >http://www.dominio.com.br/</OPTION>
				</SELECT> </td>
			</tr>
			<tr>
			  <td colspan=2><p><strong>Dados do Dominio</strong></p></td>
			</tr>
			<tr>
			  <td bgcolor="#FFFFFF" align="right" width="70">
				<p>Criar: </p></td>
			  <td bgcolor="#FFFFFF"> <p><font color="#0000FF">
				  www.
				  <input type="text" name="dominio_hospedagem" value="">
				  </font> </p></td>
			</tr>
		  </table></td>
	  </tr>
	</table>
</div>


<div id="formD">
	<table width="450" border=0 bgcolor="#F1F1F1" id="disc">
	  <tr>
		<td colspan=2><p><strong>Dados do Acesso</strong></p></td>
	  </tr>
	  <tr>
		<td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>Fone:</p></td>
		<td bgcolor="#FFFFFF"><input type="text" size=15 maxlength="50" name="foneinfo" value=""></td>
	  </tr>
	</table>
</div>


<!-- DADOS DO FORMULARIO: FIM -->




























                 <table width="100" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                      <td>
                          <table width="500" border="0" cellspacing="2" cellpadding="2">
                            <tr>
                              <td>
                              	{if count($erros)}
									{foreach item=erro from=$erros}
										<p align="center"><font color="#FF0000" face=arial size=-1><b>{$erro}</b></font></p>
									{/foreach}
                              	{/if}
                              </td>
                            </tr>
                            <tr>
                              <td align="center" valign="middle">
                              	<table width="450" border=0 bgcolor="#F1F1F1" id="cob">
              <tr>
                <td colspan><font color="#000000" face="arial" size="+1"><b>Contrato</b></font>
                </td>
                <td colspan="3"> <select name="tipo" onChange="javascript:alteraTipo();">
                    <option value=""></option>
                    <option value="BL" {if $tipo=="BL"}SELECTED{/if}>Banda Larga</option>
                    <option value="D" {if $tipo=="D"}SELECTED{/if}>Discado</option>
                    <option value="H" {if $tipo=="H"}SELECTED{/if}>Hospedagem</option>
                  </select> </td>
              </tr>
              <tr>
                <td width="89" height="26" align="right" bgcolor="#FFFFFF">
<p>Produto:</p></td>
                <td width="65" bgcolor="#FFFFFF"> <SELECT name='id_produto' onChange="javascript:alteraProduto();" >
                  </SELECT> </td>
                <td width="255" align="right" bgcolor="#FFFFFF">
<p><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Criar usuario de
                    e-mail com os mesmos dados?</font></p></td>
                <td width="23" align="center" bgcolor="#FFFFFF"><input name="email_igual" type="checkbox" id="email_igual" value="1" class="checkbox"></td>
              </tr>
            </table>
                              </td>
                            </tr>

                            <tr>
                              <td align="center" valign="middle">

									<table width="450" border=0 bgcolor="#F1F1F1">
									  <tr>
										<td colspan=2><h2><font color="#000000">Dados do Usuário</font></h2></td>
									  </tr>
									  <tr>
										<td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>Username:</p></td>
										<td bgcolor="#FFFFFF" colspan=2><input type="text" maxlength="30" name="username" disabled="true" value="{$username}"></td>
									  </tr>
									  <tr>
										<td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>Senha:</p></td>
										<td bgcolor="#FFFFFF" colspan=2> <input type="password" maxlength="32" name="senha" disabled="true">
										</td>
									  </tr>
									  <tr>
										<td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>Confirme:</p></td>
										<td bgcolor="#FFFFFF" colspan=2> <input type="password" maxlength="32" name="conf_senha" disabled="true">
										</td>
									  </tr>
									</table>

								</td>
                            </tr>

                            <tr>
                              <td align="center" valign="middle" id="tdados">&nbsp;

                              </td>
                            </tr>



                            <tr>
                              <td align="center" valign="middle">
                              	<input type="hidden" name="p" value="contrato">
                                <input type="hidden" name="op" value="cobranca">
                                <input type="hidden" name="id_cliente" value="{$id_cliente}">
                                <input type="hidden" name="rotina" value="{$rotina}">
                                <input type="hidden" name="id_cliente_produto" value="">
                                <input type="hidden" name="acao" value="cad">
                                </td>
                            </tr>



                            <tr>
                              <td align="center" valign="middle"><input name="botao_enviar2" type="submit" class=input2 id="botao_enviar23" value="Cadastrar &gt;&gt;" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;"></td>
                            </tr>
                          </table>
                        </form>

{include file='cliente_footer.html'}


{ literal }
<script language="JavaScript">

init();



</script>
{ /literal }
