<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="102%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="60"> 
      <table width="100%" height="50" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr> 
          <td width="18%"><div align="center">Logotipo</div></td>
          <td width="82%"> <div align="center"><strong>VIRTEX ADMIN - PAINEL DE 
              CONTROLE </strong> </div></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td colspan="2">{include file='menu_principal.html'}</td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td align="center" valign="middle"> <table width="100%" border="0" cellspacing="2" cellpadding="0">
        <tr>
          
        <td align="center" bgcolor="#F4F4F4"><strong><font size="5" face="Arial, Helvetica, sans-serif">Hospedagem</font></strong></td>
        </tr>
        <tr>
          <td><table width="600" border="0" align="center" cellpadding="0" cellspacing="2">
              <tr>
                
              <td align="center" bgcolor="#333333"><font color="#FFFFFF" size="4" face="Arial, Helvetica, sans-serif">Cliente 
                .. Altera&ccedil;&atilde;o de Hospedagem</font></td>
              </tr>
              <tr>
                
              <td><form name="form1" method="post" action="clientes.php">
                  <table class=table_main width="100%" _height="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr> 
                      <td class=td_main width="100%" _height_="100%" align="center" valign="middle"> 
                        <input type="hidden" name="sessao" value="clientes"> <input type="hidden" name="subsess" value="produtos"> 
                        <input type="hidden" name="oper" value="cadastro"> <input type="hidden" name="op" value="clientehosp"> 
                        <input type="hidden" name="id_cliente" value="30"> <input type="hidden" name="id_cliente_produto" value="1147"> 
                        <input type="hidden" name="tipo_conta" value="D"> <table border=0  _bgcolor="#000000" cellspacing=1 cellpadding=1 width="90%">
                          <tr> 
                            <td align="center"> <input type="hidden" name="username_orig" value="ixdrs"> 
                              <input type="hidden" name="dominio_orig" value="firme.com.br"> 
                              <hr size=1> <table border=0 width="390" bgcolor="#A0A0A0">
                                <tr> 
                                  <td colspan=4><font color="#FFFFFF" size="+1">Dados 
                                    da Conta de Acesso Discado</font></td>
                                </tr>
                                <tr> 
                                  <td bgcolor="#FFFFFF" align="right" width="66" valign="top">Username:</td>
                                  <td colspan="3" bgcolor="#FFFFFF"><input type="text" maxlength="30" name="username" value="mosman">
                                    @firme.com.br</td>
                                </tr>
                                <tr> 
                                  <td bgcolor="#FFFFFF" align="right" valign="top">Endere&ccedil;o:</td>
                                  <td colspan="3" bgcolor="#FFFFFF">http://www.mosman.com.br/</td>
                                </tr>
                                <tr> 
                                  <td bgcolor="#FFFFFF" align="right" valign="top">Home:</td>
                                  <td colspan="3" bgcolor="#FFFFFF">/virtex/data/hospedagem/mosman.com.br/</td>
                                </tr>
                                <tr> 
                                  <td bgcolor="#FFFFFF" align="right" valign="top">UID:</td>
                                  <td width="103" bgcolor="#FFFFFF">300</td>
                                  <td width="116" align="right" bgcolor="#FFFFFF">GID:</td>
                                  <td width="87" bgcolor="#FFFFFF">300</td>
                                </tr>
                                <tr> 
                                  <td bgcolor="#FFFFFF" align="right" width="66" valign="top">Senha:</td>
                                  <td colspan="3" bgcolor="#FFFFFF"> <input type="password" maxlength="32" name="senha"> 
                                  </td>
                                </tr>
                                <tr> 
                                  <td bgcolor="#FFFFFF" align="right" width="66" valign="top">Confirme:</td>
                                  <td colspan="3" bgcolor="#FFFFFF"> <input type="password" maxlength="32" name="conf_senha"> 
                                  </td>
                                </tr>
                              </table>
                              <hr size=1> <input name="botao_enviar" type="submit" class=input2 id="submit" value="Alterar &gt;&gt;" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;"> 
                            </td>
                          </tr>
                        </table>
                  </table>
                </form></td>
        </tr>
      </table>
      <p>&nbsp;</p>
      <p>&nbsp;</p> </td>
  </tr>
</table>
</body>


</html>
