{literal} {/literal} 
<p>{include file='cliente_header.html'} </p>
<table width="710" border="0" align="center" cellpadding="0" cellspacing="1">
  <tr> 
    <td align="center"><strong><font size="+2" face="Arial, Helvetica, sans-serif">Cobran&ccedil;a</font></strong></td>
  </tr>
  <tr> 
    <td align="CENTER" valign="MIDDLE"><table width="300" border="0" cellspacing="0" cellpadding="0" bgcolor="#666666">
        <tr> 
          <td><table width="300" border="0" cellspacing="1" cellpadding="0">
              <tr align="CENTER" valign="MIDDLE" bgcolor="#CCCCCC"> 
                <td height="30"><strong><a href="{$smarty.server.PHP_SELF}?op=cobranca&id_cliente={$id_cliente}&rotina=resumo&tipo_lista=">Resumo</a></strong></td>
                <td height="30"><strong><a href="{$smarty.server.PHP_SELF}?op=cobranca&id_cliente={$id_cliente}">Novo 
                  Contrato</a></strong></td>
                <td height="30"><strong><a href="{$smarty.server.PHP_SELF}?op=cobranca&id_cliente={$id_cliente}&rotina=resumo&tipo_lista=tudo">Faturas</a></strong></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
  </tr>
  <tr> 
    <td align="CENTER" valign="MIDDLE"><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#999999">
        <tr> 
          <td><table width="100%" border="0" cellspacing="1" cellpadding="0">
              <tr> 
                <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td bgcolor="#F1F1F1"><table width="710" border="0" cellspacing="1" cellpadding="0">
                          <tr bgcolor="#CDCDCD"> 
                            <td colspan="8" align="center" height="20"><strong><font face="Verdana, Arial, Helvetica, sans-serif" size="2">FATURAS</font></strong></td>
                          </tr>
                          <tr> 
                            <td width="99" align="center"> 
                              <p><strong>Vencimento</strong></p></td>
                            <td width="127" align="center"> <p><strong>Descri&ccedil;&atilde;o</strong></p></td>
                            <td width="77" align="RIGHT"> 
                              <p><strong>Valor</strong></p></td>
                            <td width="74" align="RIGHT"> 
                              <p><strong>Vl.Pago</strong></p></td>
                            <td width="95" align="center"> 
                              <p><strong>Dt.Pagto</strong></p></td>
                            <td width="98" align="center"> 
                              <p><strong>Reagend.</strong></p></td>
                            <td width="72" align="center">
<p><strong>Status</strong></p></td>
                            <td width="59" align="center"></td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr> 
                      <td>  
                        <table width="710" border="0" cellspacing="2" cellpadding="3">
						{foreach item=a from=$lista_faturas}
                          <tr> 
                            <td width="100" align="center"> 
                              <p><a href="cobranca.php?op=amortizacao&id_cliente_produto={$a.id_cliente_produto}&data={$a.data}&id_cliente={$id_cliente}">{$a.data_conv}</a></p></td>
                            <td width="150" align="LEFT"> 
                              <p><a href="cobranca.php?op=amortizacao&id_cliente_produto={$a.id_cliente_produto}&data={$a.data}&id_cliente={$id_cliente}">{$a.descricao}</a></p></td>
                            <td width="80" align="RIGHT"> 
                              <p><a href="cobranca.php?op=amortizacao&id_cliente_produto={$a.id_cliente_produto}&data={$a.data}&id_cliente={$id_cliente}">{$a.valor}</a></p></td>
                            <td width="80" align="RIGHT"> 
                              <p><a href="cobranca.php?op=amortizacao&id_cliente_produto={$a.id_cliente_produto}&data={$a.data}&id_cliente={$id_cliente}">{$a.valor_pago}</a></p></td>
                            <td width="100" align="CENTER"> 
                              <p><a href="cobranca.php?op=amortizacao&id_cliente_produto={$a.id_cliente_produto}&data={$a.data}&id_cliente={$id_cliente}">{$a.data_pagamento}</a></p></td>
                            <td width="100" align="CENTER"> 
                              <p><a href="cobranca.php?op=amortizacao&id_cliente_produto={$a.id_cliente_produto}&data={$a.data}&id_cliente={$id_cliente}">{$a.reagendamento}</a></p></td>
                            <td width="68" align="center">
<p><a href="cobranca.php?op=amortizacao&id_cliente_produto={$a.id_cliente_produto}&data={$a.data}&id_cliente={$id_cliente}"><img src="template/default/images/{$a.extstatus}.gif" width="68" height="20" border="0"></a></p></td>
                            <td width="20" align="center">&nbsp;</td>
                            <td width="23" align="center">&nbsp;</td>
                          </tr>
                          <tr bgcolor="#CCCCCC"> 
                            <td colspan="9" align="center" height="1"></td>
                          </tr>
						  {/foreach}
                        </table>
                         </td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
<p>{include file='cliente_footer.html'} </p>
