<!-- cliente_cobranca_resumo.html -->
{literal}
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
</script>
{/literal}
<p>{include file='cliente_header.html'} </p>
{include file=cliente_cobranca_menu.html}
<table width="450" border="0" align="center" cellpadding="0" cellspacing="1">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="CENTER" valign="MIDDLE"><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#999999">
        <tr>
          <td><table width="100%" border="0" cellspacing="1" cellpadding="0">
              <tr>
                <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td bgcolor="#F1F1F1"><table width="100%" border="0" cellspacing="1" cellpadding="0">
                          <tr bgcolor="#CDCDCD">
                            <td colspan="5" align="center" height="20"><strong><font face="Verdana, Arial, Helvetica, sans-serif" size="2">FATURAS</font></strong></td>
                          </tr>
                          <tr>
                            <td width="100" align="center">
<p><strong>Venc</strong></p></td>
                            <td width="100" align="center">
                              <p><strong>Descri&ccedil;&atilde;o</strong></p></td>
                            <td width="100" align="RIGHT">
                              <p><strong>Valor</strong></p></td>
                            <td width="68" align="center">
<p><strong>Status</strong></p></td>
                            <td width="32" align="center"></td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td> {foreach item=a from=$lista_faturas}
                        <table width="100%" border="0" cellspacing="2" cellpadding="3">
                          <tr>
                            <td width="100" align="center"><p><a href="cobranca.php?op=amortizacao&id_cliente_produto={$a.id_cliente_produto}&data={$a.data}&id_cliente={$id_cliente}">{$a.data_conv}</a></p></td>
                            <td width="150" align="LEFT">
                              <p><a href="cobranca.php?op=amortizacao&id_cliente_produto={$a.id_cliente_produto}&data={$a.data}&id_cliente={$id_cliente}">{$a.descricao}</a></p></td>
                            <td width="100" align="RIGHT">
                              <p><a href="cobranca.php?op=amortizacao&id_cliente_produto={$a.id_cliente_produto}&data={$a.data}&id_cliente={$id_cliente}">{$a.valor}</a></p></td>
                            <td width="68" align="center"><p><img src="template/default/images/{$a.extstatus}.gif" width="68" height="20"></p></td>
                            <td width="15" align="center"><img src="template/default/images/viewer.gif" alt="Ver Contrato" width="15" height="15"></td>
                            <td width="15" align="center"><a href="javascript:;"><img {if $a.id_cobranca == "2"} alt="IMPRIMIR FATURA" {elseif $a.id_cobranca == "1"}ALT="IMPRIMIR BOLETO"{/if}src="template/default/images/boleto.gif" width="15" height="16" {if $a.id_cobranca == "2"} onclick="MM_openBrWindow('cobranca.php?op=boleto_pc&id_cliente_produto={$a.id_cliente_produto}&data={$a.data}&id_cliente={$id_cliente}','boleto','scrollbars=yes,width={$largura},height={$altura}')"{elseif $a.id_cobranca == "1"}onclick="MM_openBrWindow('cobranca.php?op=boleto_bb&id_cliente_produto={$a.id_cliente_produto}&data={$a.data}&id_cliente={$id_cliente}','boleto','scrollbars=yes,width=700,height=800')"{/if} border="0"></a></td>
                          </tr>
                          <tr bgcolor="#CCCCCC">
                            <td colspan="6" align="center" height="1"></td>
                          </tr>
                        </table>
                        {/foreach}</td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table>
      {if !count($lista_faturas)}<p align="center"><b><font> Não existem pendências.</font></b></p>{/if}
      </td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="1">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="CENTER" valign="MIDDLE"><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#999999">
        <tr>
          <td><table width="100%" border="0" cellspacing="1" cellpadding="0">
              <tr>
                <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td bgcolor="#F1F1F1"><table width="100%" border="0" cellspacing="1" cellpadding="0">
                          <tr bgcolor="#CDCDCD">
                            <td colspan="8" align="center" height="20"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">CONTRATOS</font></strong></td>
                          </tr>
                          <tr>
                                <td width="80" align="center">
                                  <p><strong>Dt. Contrato</strong></p></td>
                            <td width="75" align="center"> <p><strong>Vig&ecirc;ncia</strong></p></td>
                                <td width="205" align="center">
                                  <p><strong>Produto</strong></p></td>
                                <td width="30" align="center">
                                  <p><strong>Tipo</strong></p></td>
                                <td width="75" align="RIGHT">
                                  <p><strong>Valor</strong></p></td>
                            <td width="75" align="center"> <p><strong>Status</strong></p></td>
                            <td width="30" align="center">&nbsp;</td>
                            <td width="30" align="center">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td>{foreach item=a from=$lista_contrato}
                        <table width="100%" border="0" cellspacing="1" cellpadding="0">
                          <tr>
                                <td width="80" align="center" height="15">
                                  <p><a href="javascript:;" onclick="MM_openBrWindow('clientes.php?op=imprime_contrato&id_cliente_produto={$a.id_cliente_produto}&id_cliente={$a.id_cliente}','contrato','scrollbars=yes,width=500,height=600')">{$a.data_contratacao|date_format:"%d/%m/%Y"}</a></p></td>
                            <td width="75" align="center" height="15"> <p><a href="javascript:;" onclick="MM_openBrWindow('clientes.php?op=imprime_contrato&id_cliente_produto={$a.id_cliente_produto}&id_cliente={$a.id_cliente}','contrato','scrollbars=yes,width=500,height=600')">{$a.vigencia}</a></p></td>
                                <td width="205" align="LEFT" height="15">
                                  <p><a href="javascript:;" onclick="MM_openBrWindow('clientes.php?op=imprime_contrato&id_cliente_produto={$a.id_cliente_produto}&id_cliente={$a.id_cliente}','contrato','scrollbars=yes,width=500,height=600')">{$a.nome}
                                    - {foreach item=u from=$a.conta}<br> {$u.username}{/foreach}</a></p></td>
                                <td width="30" align="center" height="15">
                                  <p><a href="javascript:;" onclick="MM_openBrWindow('clientes.php?op=imprime_contrato&id_cliente_produto={$a.id_cliente_produto}&id_cliente={$a.id_cliente}','contrato','scrollbars=yes,width=500,height=600')">{$a.tipo_produto}</a></p></td>
                            <td width="75" align="RIGHT" height="15"> <p><a href="javascript:;" onclick="MM_openBrWindow('clientes.php?op=imprime_contrato&id_cliente_produto={$a.id_cliente_produto}&id_cliente={$a.id_cliente}','contrato','scrollbars=yes,width=500,height=600')">{$a.valor_contrato}</a></p></td>
                            <td width="75" align="center" height="15"> <p>{if
                                $a.status|trim != "M"}<a href="javascript:;" onclick="MM_openBrWindow('clientes.php?op=imprime_contrato&id_cliente_produto={$a.id_cliente_produto}&id_cliente={$a.id_cliente}','contrato','scrollbars=yes,width=500,height=600')">{/if}{$a.status}{if
                                $a.status|trim != "M"}</a>{/if}</p></td>
                                <td align="center" width="60">{if $a.status|trim
                                  == "A"}<a href="cobranca.php?op=contratos&id_cliente_produto={$a.id_cliente_produto}&id_cliente={$a.id_cliente}&tipo_produto={$a.tipo_produto}"><img src="template/default/images/gif_alterar.gif" width="16" height="16" border="0"></a>{/if}</td>
                          </tr>
                          <tr bgcolor="#CCCCCC">
                            <td colspan="7" align="center" height="1"></td>
                          </tr>
                        </table>
                       {/foreach}</td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table>
      {if !count($lista_contrato)}<p align="center"><b><font> Não existem contratos vigentes.</font></b></p>{/if}
      </td>
  </tr>
  <tr>
    <td>&nbsp; </td>
  </tr>
</table>
