<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td><table border=0 width="100%" cellspacing=0 cellpadding=0>
        <tr bgcolor="#FAFAFA"> 
          <td width=60><p><b>..contrato..</b></p></td>
          <td width=65><p><b>..vigencia..</b></p></td>
          <td width=80><p><b>..produto..</b></p></td>
          <td width=40><p><b>..tipo..</b></p></td>
          <td width=60><p><b>..user..</b></p></td>
          <td width="50" align="right"><p><b>..valor..</b></p></td>
          <td width="30" align="center"><p><b>..status..</b></p></td>
        </tr>
        <tr> 
          <td colspan=7 bgcolor="000000"><p><img src="img/nada.gif" width=1 height=1 border=0></p></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td><p>05/03/2005</p></td>
          <td align="center"><p>12 meses</p></td>
          <td><p>Radio 064 kbps</p></td>
          <td align="center"><p>BL</p></td>
          <td ><p>diretorioradio@firme.com.br</p></td>
          <td align="right"><p>64.00&nbsp; &nbsp</p></td>
          <td align="center"><p><a href="clientes.php?op=clienteAcontr" target="_parent">A</a></p></td>
        </tr>
        <tr> 
          <td colspan=7 bgcolor="000000"><p><img src="img/nada.gif" width=1 height=1 border=0></p></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
