<!-- cliente_cobranca_intro.html-->
<script language="JavaScript" type="text/JavaScript">
{literal}
<!--
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
{/literal}
</script>
{include file=cliente_header.html}
<table width="400" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#000000">
  <tr>
    <td><table width="400" border="0" cellspacing="1" cellpadding="0">
        <tr bgcolor="#FFFFFF">
          <td bgcolor="#F1F1F1" colspan=4><B>DETALHES DA CONTA</B></td>
        </tr>
{if $tipo == "BL"}
        <tr bgcolor="#FFFFFF">
          <td width="69" height="20" bgcolor="#F1F1F1">
<p>Username:</p></td>
          <td colspan="3"><p>{$username}{if $ip_externo} - redirecionado para 
              {$ip_externo}{/if}</p></td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <td height="20" bgcolor="#F1F1F1">
<p>POP: </p></td>
          <td width="99"><p>{$pop}</p></td>
          <td width="52" bgcolor="#F1F1F1">
<p>NAS:</p></td>
          <td width="175"><p>{$n.nome}</p></td>
        </tr>



	{if $n.tipo_nas=="I"}
        <tr bgcolor="#FFFFFF">
          <td height="20" bgcolor="#F1F1F1">
			<p>IP:</p>
		  </td>
          <td >
          	<p>{if $ip_cliente}{$ip_cliente}{else}{$ip}{/if}</p>
          </td>
		  <td height="20" bgcolor="#F1F1F1">
			<p>Máscara:</p></td>
		  <td><p>{$mascara}</p></td>



        </tr>
			<tr bgcolor="#FFFFFF">
			  <td height="20" bgcolor="#F1F1F1">
				<p>Gateway:</p></td>
			  <td ><p>{$ip_gateway}</p></td>
			  <td height="20" bgcolor="#F1F1F1">
				<p>MAC:</p></td>
			  <td ><p>{$mac}</p></td>

			</tr>
		  </table></td>
	  </tr>
	{/if}
	{if $n.tipo_nas=="P"}

	{/if}
{/if}
{if $tipo =="H"}
        <tr bgcolor="#FFFFFF">
          <td height="20" bgcolor="#F1F1F1">
			<p>Dominio:</p>
		  </td>
          <td >
          	<p>{if $tipo_hospedagem == "D"}{$dominio_hospedagem}{else}{$dominio}/{$username}{/if}</p>
          </td>
		  <td height="20" bgcolor="#F1F1F1">
			<p>FTP:</p></td>
		  <td><p>ftp.{$dominio}</p></td>



        </tr>

			</table></td>
	  </tr>

{/if}

{if $tipo =="D"}
        <tr bgcolor="#FFFFFF">
          <td height="20" bgcolor="#F1F1F1">
			<p>Usuário:</p>
		  </td>
          <td >
          	<p>{$username}</p>
          </td>
		  <td height="20" bgcolor="#F1F1F1">
			<p>Fone:</p></td>
		  <td><p>{$foneinfo}</p></td>



        </tr>

			</table></td>
	  </tr>
<p>{/if} </table> </p>
<p align="center">{if $primeira}<a href="javascript:;"><img alt="EMITIR CARNE PARA IMPRESSÃO" src="template/default/images/carne_impressao.gif" width="217" height="90" onclick="MM_openBrWindow('clientes.php?op=segunda_via&id_cliente={$id_cliente}&id_cliente_produto={$id_cliente_produto}&data={$data}&id_carne={$id_carne}','carne','scrollbars=yes,width=700,height=600')" border="0"></a>{/if}</p>
<p>{include file=cliente_footer.html}</p>
