<!-- CLIENTES_CADASTRO.HTML -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>
<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="template/default/ajax.js"></script>
<script type="text/javascript" src="template/default/ajax_validacoes.js"></script>
<script type="text/javascript" src="template/default/formatar_text.js"></script></head><body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="document.cadastro.nome_razao.focus();" >
{literal}
<script language="JavaScript">

function checkForm(){
  var frm = document.cadastro;
	var pessoa     = frm.tipo_pessoa.value;
	var id_cliente = frm.id_cliente.value;
	var cpf_cnpj   = frm.cpf_cnpj.value;
	var rg_inscr   = frm.rg_inscr.value;
	var nome_razao = frm.nome_razao.value;

	rg_inscr = rg_inscr. replace(" ","");

	//alert('PESSOA: '+pessoa);

	var erro = new String;

	/**
	 * Nome/razao não pode ser em branco.
	 */

	if( nome_razao.length == 0 ) {
	   erro = "Nome/Razao Social deve ser preenchido.";
	}

	/**
	 * Validacao de CPF/CNPJ
	 */
	if( erro.length == 0 ) {
		if(pessoa == 'F'){
			if( !validaCPF(cpf_cnpj) ) {
				erro = "CPF Invalido";
			}
			if( rg_inscr.length == 0 ) {
				erro = "O RG deve ser preenchido";
			}
		} else {
			if( cpf_cnpj.length == 0 || !validaCNPJ(cpf_cnpj) ) {
				 erro = "CNPJ Invalido";
			}
		}

		if( cpf_cnpj.length > 0 && existeDOCTO(cpf_cnpj,id_cliente) ) {
			if( pessoa == "F" ) {
				erro = "CPF";
			} else {
				erro = "CNPJ";
			}
			erro += " já cadastrado para outro cliente.";
		}

		if( rg_inscr.length > 0 && existeDOCTO(rg_inscr,id_cliente) ) {
			if( pessoa == "F" ) {
				erro = "RG já cadastrado";
			} else {
				erro = "INSCRICAO já cadastrada";
			}
			erro += " para outro cliente.";
		}
	}

	if(erro.length) {
		window.alert(erro);
		return false;
	}

	return confirmacao();

}


function validaCPF(cpf) {
	// cpf = document.cadastro.cpf_cnpj.value;
	erro = new String;

	if (cpf == "11111111111" || cpf == "22222222222" || cpf == "33333333333" || cpf == "44444444444" || cpf == "55555555555" || cpf == "66666666666" || cpf == "77777777777" || cpf == "88888888888" || cpf == "99999999999" || cpf == "00000000000"){
		erro += "Número de CPF/CNPJ Inválido! ";
	}

	if (cpf.length < 11) erro += "Sao necessarios 11 digitos para verificacao do CPF! ";
		//substituir os caracteres que não são números
    if(document.layers && parseInt(navigator.appVersion) == 4){
    	x = cpf.substring(0,3);
        x += cpf. substring (3,6);
        x += cpf. substring (6,9);
        x += cpf. substring (9,10);
        cpf = x;
    } else {
			cpf = cpf. replace (".","");
			cpf = cpf. replace (".","");
			cpf = cpf. replace ("-","");
			cpf = cpf. replace (" ","");
		}

    var a = [];
    var b = new Number;
    var c = 11;
    for (i=0; i<11; i++) {
    	a[i] = cpf.charAt(i);
			if (i < 9) b += (a[i] * --c);
		}

    if ((x = b % 11) < 2) { a[9] = 0 } else { a[9] = 11-x }
    b = 0;
    c = 11;
    for (y=0; y<10; y++) b += (a[y] * c--);
		if ((x = b % 11) < 2) { a[10] = 0; } else { a[10] = 11-x; }
		if ((cpf.charAt(9) != a[9]) || (cpf.charAt(10) != a[10])){
			erro +="Digito verificador com problema!";
		}
		if (erro.length > 0){
			//alert(erro);
			return false;
		} else {
			return true;
		}

		return false;

}


function validaCNPJ(CNPJ) {
	//CNPJ = document.cadastro.cpf_cnpj.value;
	erro = new String;
	if (CNPJ.length < 14) erro += "É necessario preencher corretamente o número do CNPJ! ";

	//if ((CNPJ.charAt(2) != ".") || (CNPJ.charAt(6) != ".") || (CNPJ.charAt(10) != "/") || (CNPJ.charAt(15) != "-")){
	//	if (erro.length == 0) erro += "É necessário preencher corretamente o número do CNPJ! ";
	//}

	//substituir os caracteres que não são números
	if(document.layers && parseInt(navigator.appVersion) == 4){
		x = CNPJ.substring(0,2);
		x += CNPJ. substring (3,6);
		x += CNPJ. substring (7,10);
		x += CNPJ. substring (11,15);
		x += CNPJ. substring (16,18);
		CNPJ = x;
	} else {
		CNPJ = CNPJ. replace (".","");
		CNPJ = CNPJ. replace (".","");
		CNPJ = CNPJ. replace ("-","");
		CNPJ = CNPJ. replace ("/","");
		CNPJ = CNPJ. replace (" ","");
	}

	var nonNumbers = /\D/;
	if (nonNumbers.test(CNPJ)) erro += "A verificação de CNPJ suporta apenas números! ";
	var a = [];
	var b = new Number;
	var c = [6,5,4,3,2,9,8,7,6,5,4,3,2];
	for (i=0; i<12; i++){
		a[i] = CNPJ.charAt(i);
		b += a[i] * c[i+1];
	}

	if ((x = b % 11) < 2) { a[12] = 0 } else { a[12] = 11-x }
	b = 0;
	for (y=0; y<13; y++) {
		b += (a[y] * c[y]);
	}
	if ((x = b % 11) < 2) { a[13] = 0; } else { a[13] = 11-x; }

	if ((CNPJ.charAt(12) != a[12]) || (CNPJ.charAt(13) != a[13])){
		erro +="Dígito verificador com problema!";
	}
	if (erro.length > 0){
		//alert(erro);
		return false;
	} else {
		return true;
	}

	return false;

}

function confirmacao(){
		return confirm("Tem certeza da alteração/cadastro deste cliente?");
}


//-->
</script>
{/literal} {include file="cliente_header.html"} 
<form action="{$smarty.server.PHP_SELF}" method="post" name="cadastro" id="cadastro" onSubmit="return checkForm();">
	<input type="hidden" name="op" value="{$op}">
	<input type="hidden" name="id_cliente" value="{$id_cliente}">
	<input type="hidden" name="acao" value="{$acao}">

	  		<table width=641 border=0 cellspacing=0 cellpadding=0 align=center>
			<tr>
				<td width=320>
				
<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
            <tr> 
              <td width="77%"><p align="justify"> <font size="1" face="Verdana, Arial, Helvetica, sans-serif">Nome/Raz&atilde;o 
                  Social</font> </p></td>
              <td width="23%"> <p align="left"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Pessoa</font></p></td>
            </tr>
            <tr> 
              <td><p align="justify"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"> 
                  
                <input  name="nome_razao" type="text"  id="nome_razao3" value="{$nome_razao}" size="38" maxlength="50" onBlur="this.style.backgroundColor='#FFFFFF'" onFocus="this.style.backgroundColor='#F7F9F7'"  tabindex="1">
                  </font></p></td>
              <td><p align="justify"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"> 
                  <select name='tipo_pessoa' style="heigth: 20px;" tabindex="2">
				{foreach key=id item=nome from=$lista_tp_pessoa}
				    <option value='{$id}'{if $id == $tipo_pessoa}selected{/if}>{$nome}</option>
				{/foreach}
			      </select>
                  </font></p></td>
            </tr>
          </table>				
				
				</td>
				
      <td rowspan=7 width=1 style="border-left: 1px dashed">&nbsp;</td>
				<td width=320>
				
				          <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr  valign="bottom"> 
            <td> <p align="justify"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Banco<br>
                <input tabindex="15" name="banco" type="text"  id="banco4" onFocus="this.style.backgroundColor='#F7F9F7'" onBlur="this.style.backgroundColor='#FFFFFF'" value="{$banco}" size="17" maxlength="20">
                </font></p></td>
            <td > <p align="justify"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Ag&ecirc;ncia<br>
                <input tabindex="16"  name="agencia" type="text"  id="agencia4" onFocus="this.style.backgroundColor='#F7F9F7'" onBlur="this.style.backgroundColor='#FFFFFF'" value="{$agencia}" size="17" maxlength="10">
                </font></p></td>
            <td> <p align="justify"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Conta 
                Corrente<br>
                <input tabindex="17" name="conta_corrente" type="text"  id="conta_corrente5" onFocus="this.style.backgroundColor='#F7F9F7'" onBlur="this.style.backgroundColor='#FFFFFF'" value="{$conta_corrente}" size="16" maxlength="10">
                </font></p></td>
          </tr>
        </table>

				
				</td>
			</tr>
			<tr>
				<td width=320>
				
				
<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0" dwcopytype="CopyTableRow">
            <tr> 
              <td><p align="justify"> <font size="1" face="Verdana, Arial, Helvetica, sans-serif">RG</font> 
                </p></td>
              <td><p align="justify"> <font size="1" face="Verdana, Arial, Helvetica, sans-serif">Expedi&ccedil;&atilde;o 
                  </font> </p></td>
              <td><p align="justify"> <font size="1" face="Verdana, Arial, Helvetica, sans-serif">CPF/CNPJ 
                  </font> </p></td>
            </tr>
            <tr> 
              <td> <div align="justify"> 
                  
                <input tabindex="3" name="rg_inscr" type="text" id="rg_inscr3" onFocus="this.style.backgroundColor='#F7F9F7'" onBlur="this.style.backgroundColor='#FFFFFF'" value="{$rg_inscr}" size="17" maxlength="20">
                </div></td>
              <td> <div align="justify"> 
                  
                <input tabindex="4" name="rg_expedicao" type="text" id="rg_expedicao2" onFocus="this.style.backgroundColor='#F7F9F7'" onBlur="this.style.backgroundColor='#FFFFFF'" value="{$rg_expedicao}" size="17" maxlength="10">
                </div></td>
              <td> <div align="justify"> 
                  
                <input tabindex="5" name="cpf_cnpj" type="text" id="cpf_cnpj2"  onFocus="this.style.backgroundColor='#F7F9F7'" onBlur="this.style.backgroundColor='#FFFFFF'" value="{$cpf_cnpj}" size="16" maxlength="25">
                </div></td>
            </tr>
          </table>				
				
				
				</td>
				<td width=320>
				
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
              <td width="100%"> <font size="1" face="Verdana, Arial, Helvetica, sans-serif">Contato 
                </font> <input tabindex="17" name="contato" type="text"  id="contato5" value="{$contato}" size="59" maxlength="20" onFocus="this.style.backgroundColor='#F7F9F7'" onBlur="this.style.backgroundColor='#FFFFFF'"></td>
            </tr>
          </table>				
				
				
				</td>
			</tr>
			<tr>
				<td width=320>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr valign="bottom"> 
            <td> 
              <p align="justify"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Endere&ccedil;o</font></p></td>
          </tr>
          <tr>
            <td><input tabindex="6" name="endereco"type="text"  id="endereco4" value="{$endereco}" size="59" maxlength="50" onFocus="this.style.backgroundColor='#F7F9F7'" onBlur="this.style.backgroundColor='#FFFFFF'" width="100%"></td>          </tr>
        </table>				
				
				</td>
				<td width=320><table width="100%" border="0" cellspacing="0" cellpadding="0" >
          <tr> 
            <td rowspan="2"> <p align="left"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Status 
                do Contrato<br>
                <select name="ativo" tabindex="17">
				{foreach key=id item=nome from=$lista_ativo}
					 
                     
                    
                  <option value='{$id}'{if $id == $ativo}selected{/if}>{$nome}</option>
				{/foreach}
			       
                  
                </select>
                </font></p></td>
            <td> <p align="left"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Data 
                de Pagamento<br>
                <select name='dia_pagamento' tabindex="19">
				{foreach key=id item=nome from=$lista_dia_pagamento}
					 
                     
                    
                  <option value='{$id}'{if $id == $dia_pagamento}selected{/if}>{$nome}</option>
				{/foreach}
			       
                  
                </select>
                </font></p></td>
            <td> <table>
                <tr> 
                  <td colspan="2"> <p><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Deseja 
                      publicar informações de cobrança na Interface do Cliente?</font></td>
                </tr>
                <tr> 
                  <td><input type="radio" tabindex="20" name="info_cobranca" value="false" class="checkbox" {if !$info_cobranca || $info_cobranca == 'f' }checked{/if}/><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Não</font></td>
				  <td><input type="radio" tabindex="20" name="info_cobranca" value="true" class="checkbox" {if $info_cobranca == 't' } checked {/if}/><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Sim</font></td>
                </tr>
              </table></td>
        </table></td>
			</tr>
			<tr>
				<td width=320>
				<table width="100%" border=0 cellpadding="0" cellspacing="0">
          <tr> 
              <td><p align="justify"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Complemento</font></p></td>
              <td><p align="justify"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Bairro<br>
                  </font></p></td>
              <td><div align="justify"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">CEP</font> 
                </div></td>
            </tr>
            <tr> 
              <td> <div align="justify"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"> 
                  
                <input tabindex="7" name="complemento"type="text"  id="complemento2" onFocus="this.style.backgroundColor='#F7F9F7'" onBlur="this.style.backgroundColor='#FFFFFF'" value="{$complemento}" size="17" maxlength="20">
                  </font> </div></td>
              <td> <div align="justify"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"> 
                  
                <input tabindex="8" name="bairro" type="text"  id="bairro3" onFocus="this.style.backgroundColor='#F7F9F7'" onBlur="this.style.backgroundColor='#FFFFFF'" value="{$bairro}" size="17" maxlength="15">
                  </font></div></td>
              <td><div align="justify"> 
                  
                <input tabindex="9" align="right" name="cep"type="text"  id="cep5" onFocus="this.style.backgroundColor='#F7F9F7'" onBlur="this.style.backgroundColor='#FFFFFF'"onKeyPress="formatar(this, '#####-###')" value="{$cep}" size="16" maxlength="9">
                </div></td>
            </tr>
			</table>				
				
				
				
				</td>
				
      <td rowspan=4 width=320><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Observações 
        </font> <textarea name="obs" tabindex="21" cols="58" rows="10" onFocus="this.style.backgroundColor='#F7F9F7'" onBlur="this.style.backgroundColor='#FFFFFF'">{$obs}</textarea></td>
			</tr>
			<tr>
				<td width=320>
				
				<table width="100%" border=0 cellpadding="0" cellspacing="0">
          <tr>
						
            <td><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Cidade 
              </font></td>
					</tr>

					<tr>
						
            <td><font size="1" face="Verdana, Arial, Helvetica, sans-serif">
              <select name="id_cidade" style="width: 312px;" tabindex="10">
			  {foreach item=a from=$cidades_disponiveis}
                    
                <option value='{$a.id_cidade}' {if $a.id_cidade == $id_cidade}selected{/if}>{$a.cidade} 
                - {$a.uf}</option>
			  {/foreach}
                  
              </select>
              </font></td>
					</tr>
				
				
				</table>
				
				
				</td>
			</tr>
			<tr>
				<td width=320>
				<table width="100%" border="0" cellpadding="0" cellspacing="0" dwcopytype="CopyTableRow">
            <tr> 
              <td> <p align="justify"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Tel 
                  Comercial </font></p></td>
              <td> <p align="justify"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Tel 
                  Residencial </font></p></td>
              <td> <p align="justify"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Celular 
                  <br>
                  </font></p></td>
            </tr>
            <tr> 
              <td><div align="justify"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"> 
                  
                <input tabindex="11" name="fone_comercial" type="text"  id="fone_comercial2" onFocus="this.style.backgroundColor='#F7F9F7'" onBlur="this.style.backgroundColor='#FFFFFF'" value="{$fone_comercial}" size="17" maxlength="15">
                  </font> </div></td>
              <td> <div align="justify"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"> 
                  
                <input tabindex="12" name="fone_residencial" type="text"  id="fone_residencial2" onFocus="this.style.backgroundColor='#F7F9F7'" onBlur="this.style.backgroundColor='#FFFFFF'" value="{$fone_residencial}" size="17" maxlength="15">
                  </font> </div></td>
              <td><div align="justify"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"> 
                  
                <input tabindex="13" name="fone_celular" type="text"  id="fone_celular2" onFocus="this.style.backgroundColor='#F7F9F7'" onBlur="this.style.backgroundColor='#FFFFFF'" value="{$fone_celular}" size="16" maxlength="15">
                  </font> </div></td>
            </tr>
          </table>
				
				
				</td>
			</tr>
			<tr>
				<td width=320>
				<table width="100%" border=0 cellpadding="0" cellspacing="0">
          <tr>
					
            <td><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Email</font></td>
				</tr>
				<tr>
					
            <td> 
              <input tabindex="13" name="email"type="text" id="email7" value="{$email}" size="59" maxlength="255" onFocus="this.style.backgroundColor='#F7F9F7'" onBlur="this.style.backgroundColor='#FFFFFF'"></td>
				</tr>

				</table>
				
				</td>
			</tr>
			<tr>
				<td colspan=3 align="center" style="border-top: 1px dashed"><br><input name="submit" type="submit" tabindex="21" value="{$titulo}" ></td>
			</tr>
			</table>
</form>
</body>

</html>
