<!-- cliente_conta.html --> {include file='cliente_header.html'}<script type="text/javascript" src="template/default/ajax.js"></script>
<script type="text/javascript" src="template/default/ajax_validacoes.js"></script>
{if (($lic_bandalarga == 'nao')&&($tipo_conta == "BL"))||(($lic_discado == 'nao')&&($tipo_conta == "D"))||(($lic_hospedagem == 'nao')&&($tipo_conta == "H"))||(($lic_email == 'nao')&&($tipo_conta == "E"))}
{literal}<script>window.location="home.php";</script>{/literal}
{/if}
{if $erro_conta}
<div align="center">
	<b><p>
	Inconsistência no cadastro do usuário {$erro_conta.nome_razao}.<br>
	Acione suporte Mosman Consultoria. (consultoria@mosman.com.br)</p></b>
	
  <table>
    <tr>
			<td><b><p>cliente</p></b></td><td><b><p>{$erro_conta.nome_razao}</p></b></td>
		</tr>
		<tr>
			<td><b><p>id cliente</p></b></td><td><b><p>{$erro_conta.id_cliente}</p></b></td>
		</tr>
		<tr>
			<td><b><p>valor contrato </p></b></td><td><b><p>{$erro_conta.valor_contrato}</p></b></td>
		</tr>
		<tr>
			<td><b><p>username</p></b></td><td><b><p>{$erro_conta.username}</p></b></td>
		</tr>
		<tr>
			<td><b><p>tipo conta</p></b></td><td><b><p>{$erro_conta.nome}</p></b></td>
		</tr>
	</table>

<form name="form1" method="post" action="">
    <input type="button" name="Submit2" value="&laquo; Voltar" onClick="javascript: history.back(); ">
  </form>
  
</div>




{else}

<script language="JavaScript">
var statusConta = "{$status}";
var tpConta = "{$tipo_conta|trim}";
//window.alert(statusConta);
{literal}

function checaStatus(){
	var frm = document.frmConta;
	if (statusConta == "C"){
		frm.username.disabled = true;
		frm.senha.disabled = true;
		frm.conf_senha.disabled = true;
		frm.status.disabled = true;
		frm.submit.disabled = true;

		if (tpConta == "BL"){
			frm.id_pop.disabled = true;
			frm.id_nas.disabled = true;
			frm.mac.disabled = true;
			frm.selecao_ip.disabled = true;
			frm.endereco_ip.disabled = true;
			frm.redirecionar.disabled = true;
			frm.altera_rede.disabled = true;
			frm.upload_kbps.disabled = true;
			frm.download_kbps.disabled = true;

		}else if (tpConta == "E"){

			frm.quota.disabled = true;

		}else if (tpConta == "D"){

			frm.foneinfo.disabled = true;

		}




		return false;
	}else if (statusConta == "S"){
		frm.status.disabled = true;
		
		return false
	}

}


function confirmacao(){
		return confirm("Deseja realmente alterar esta conta?");
}
{/literal}
</script> {if $tipo_conta == "BL"} <script language="javascript">
var ip_externo = "{$ip_externo}";

{literal}


function redir(){
	var frm = document.frmConta;
	if (ip_externo != "" && frm.redirecionar.checked == false){
		frm.redirect.value = "exclui";
	}else if (ip_externo == "" && frm.redirecionar.checked == true){
		frm.redirect.value = "adiciona";
	}else{
		frm.redirect.value = "";
	}

	return;
}

function alteraNas() {
	var frm = document.frmConta;

	if( frm.id_nas.value != frm.nas_orig.value && !frm.altera_rede.checked ) {
		if( window.confirm("A alteração do NAS exige que o ip seja alterado, deseja continuar ?") ) {
			frm.altera_rede.checked = true;
			alteraNovaSelecao();
		} else {
			frm.id_nas.value = frm.nas_orig.value;
		}
	}
}

function alteraSelecaoIP() {
   var frm = document.frmConta;
	if( frm.selecao_ip.disabled || frm.selecao_ip.value == "A" ) {
		frm.endereco_ip.disabled = true;
   	} else {
   		frm.endereco_ip.disabled = false;
   	}
}




function alteraNovaSelecao() {
	var frm = document.frmConta;
	frm.selecao_ip.disabled = !frm.altera_rede.checked;
	alteraSelecaoIP();
}



function init() {


	alteraNas();
	alteraSelecaoIP();
	alteraNovaSelecao();





}


function check(){
			csenha=document.frmConta.senha.value;
			cconfsenha=document.frmConta.conf_senha.value;

			msg="";
			erro=0;

			if (csenha != cconfsenha) {
				msg = msg + "Os campos Senha e Confirmação devem conter o mesmo conteúdo.\n";
				erro = 1;
			}

			/**
			 * Verifica o endereco em caso de alteracao do mesmo de forma manual
			 */
			//document.frmConta.id_nas.value;

			if( document.frmConta.altera_rede.checked && document.frmConta.selecao_ip.value=='M' ) {
				/** Verifica usando ajax */
				var endereco = enderecoPertenceAoNas(document.frmConta.endereco_ip.value,document.frmConta.id_nas.value);
				if( endereco == "" ) {
					msg += "O endereço escolhido não pertence ao NAS especificado.";
					erro = 1;
				} else {
					if( enderecoUtilizado(document.frmConta.endereco_ip.value,document.frmConta.id_conta.value) ) {
						msg += "O endereço escolhido já está sendo utilizado.";
						erro = 1;
					} else {
						document.frmConta.endereco_ip.value = endereco;
					}
				}
			}





			if (erro == 1){
				alert(msg);
				return false;
			}

	return confirmacao();

}


{/literal}
</script> {/if}
<body onLoad="document.frmConta.senha.focus();">
<form name="frmConta" method="post" action="{$smarty.server.PHP_SELF}" onSubmit="javascript:return check();">
<input type="hidden" name="id_conta" value="{$id_conta}">
				{if $tipo_conta == "BL"}
                 <table width="100" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                      <td>
                      <table align="center">
					              <tr>
					                <td align="center" valign="middle"><strong><font face="arial" size="4" color="black">Banda Larga</font></strong></td>
					              </tr>
          				</table>
                          <table width="500" border="0" cellspacing="2" cellpadding="2">
        <tr>
                              <td>
                              	{if count($erros)}
									{foreach item=erro from=$erros}
										<p align="center"><font color="#FF0000" face=arial size=-1><b>{$erro}</b></font></p>
									{/foreach} {/if} {if $numero_contas > "1" AND $total_contas_cliente < $numero_contas}
<!--p align="center"><a href="clientes.php?op=conta&id_cliente={$id_cliente}&username={$username}&tipo_conta={$tipo_conta}&dominio={$dominio}&sop=nova_conta">Cadastrar
            Nova Conta</a></p-->
          {/if}
                              </td>
                            </tr>
                            <tr>
                              <td align="center" valign="middle">
                              </td>
                            </tr>

                            <tr>
                              <td align="center" valign="middle"><table width="600" border="0">
            <tr>
                <td width="350" valign="top"><table width="300" border=0 bgcolor="#F1F1F1">
                  <tr> 
                      <td widht="150" colspan="3"><h2><font color="#000000">Dados do Usuário</font></h2></td>
					
                      
                    <td width="118" valign="top">{if $tipo_bandalarga=="P"} 
                      <div align="right"> 
                          <p>[<a href="suporte.php?op=extrato&valor_pesquisa={$username}&tipo_conta={$tipo_conta}">extrato 
                            de acesso</a>]<br>{/if}</p>
                        </div></td>
                    </tr>
                    <tr> 
                      <td bgcolor="#FFFFFF" align="right"  width="77" valign="top"> 
                        <p>Username:</p></td>
                      <td bgcolor="#FFFFFF" colspan="3"><input type="text" maxlength="30" name="username2"  disabled="true" value="{$username}"></td>

                    </tr>
                    <tr> 
                      <td bgcolor="#FFFFFF" align="right"  width="77" valign="top"> 
                        <p>Senha:</p></td>
                      <td bgcolor="#FFFFFF" colspan="3"> <input type="password" maxlength="32" name="senha" id="senha" > 
                      </td> 
                    </tr>
                    <tr> 
                      <td bgcolor="#FFFFFF" align="right"  width="77" valign="top"> 
                        <p>Confirme:</p></td>
                      <td bgcolor="#FFFFFF" colspan="3"> <input type="password" maxlength="32" name="conf_senha" id="conf_senha" > 
                      </td> 
                    </tr>
                    <tr> 
                      <td  width="77" align="right" valign="top" bgcolor="#FFFFFF"> 
                        <p>Status:</p></td>
                      
                      <td bgcolor="#FFFFFF" colspan="3"> <p>{if $status == "S"}<font color="#999999"><strong>
                          <input type="text" name="status" value="Suspenso"  style="border: #000000" disabled>
                          </strong></font>
                          <input name="_status" type="hidden" value="S" id="_status">
                          {else} 
                          <SELECT name='status' >
					{foreach key=id item=nome from=$lista_status}
					        <OPTION VALUE='{$id}'  {if $id == $status}SELECTED{/if} >{$nome}</OPTION>
					{/foreach}
					      </SELECT>
                          {/if} </p></td> 
                    </tr>
                    <tr> 
                      <td  width="77" align="right" valign="top" bgcolor="#FFFFFF"><p>Tipo:</p></td>
                      <td bgcolor="#FFFFFF" colspan="3"><p> 
                          <select name='conta_mestre' >
                            <option></option>
                            <option value='t' {if $conta_mestre_val=="t"}SELECTED{/if}>Conta 
                            Mestre</option>
                            <option value='f' {if $conta_mestre_val=="f"}SELECTED{/if}>Normal</option>
                          </select>
                        </p></td> 
                    </tr>
                  </table></td>
                <td width="450" valign="top"><table width="300" border=0 bgcolor="#F1F1F1" id="disc">
                  <tr> 
                      <td colspan=2><p><strong>Dados da Conexão</strong></p></td>
                    </tr>
                    <tr> 
                      <td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>POP:</p></td>
                      <td bgcolor="#FFFFFF"> <SELECT name='id_pop' >
										{foreach item=v from=$lista_pops}

                          <OPTION value="{$v.id_pop}" {if $v.id_pop == $id_pop}SELECTED{/if}>{$v.nome}</OPTION>
										{/foreach}

                        </SELECT> </td>
                      
                    </tr>
                    <tr> 
                      <td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p> 
                          <input type="checkbox" name="altera_rede" value="1" class="checkbox" {if $altera_rede}CHECKED{/if} onClick="javascript:alteraNovaSelecao();" onChange="javascript:alteraNovaSelecao();">
                          Nova Seleção de Rede/IP:</p></td>
                      <td bgcolor="#FFFFFF"><select name='selecao_ip' onchange='javascript:alteraSelecaoIP();'>
                          <option value='A' >Automática</option>
                          <option value='M' >Manual</option>
                        </select> <br> <input type="text" name="endereco_ip" id="endereco_ip2" value="{$endereco_ip}"></td>
						</tr><tr>
						<td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>NAS:</p></td>
                      <td bgcolor="#FFFFFF"> <SELECT name='id_nas' onChange="javascript:alteraNas();">
										{foreach item=v from=$lista_nas}

                          <OPTION value="{$v.id_nas}" {if $v.id_nas == $id_nas}SELECTED{/if}>{$v.tp}: 
                          {$v.nome}</OPTION>
										{/foreach}

                        </SELECT> </td>
						</tr>
						
                      <td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>MAC:</p></td>
                      <td bgcolor="#FFFFFF" valign="top"><input type="text" name="mac" value="{$mac}" maxlength="17" size=17></td>
                      {literal} 
                      <script>
									//verificaTipoRede();
									</script>
                      {/literal} </tr>
                    <tr valign="MIDDLE"> 
                      <td bgcolor="#FFFFFF" align="right" width="70"> <p>Redirecionar:</p></td>
                      <td bgcolor="#FFFFFF" > <p> 
                          <input name="redirecionar" type="checkbox" value="true" id="redirecionar2" class="checkbox" {if $ip_externo}checked{/if}>
                          {if $ip_externo}IP: {$ip_externo}{/if}</p></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td colspan="2"> <p align="center"><strong><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Banda 

                  <input name="op" type="hidden" id="op" value="conta">
                  <input name="id_cliente" type="hidden" id="id_cliente" value="{$id_cliente}">
                  <input name="username" type="hidden" id="username" value="{$username}">
                  <input name="dominio" type="hidden" id="dominio" value="{$dominio}">
                  <input name="tipo_conta" type="hidden" id="tipo_conta" value="{$tipo_conta}">
                  <input type="hidden" name="nas_orig" value="{$nas_orig}">
                  <input name="acao" type="hidden" id="acao" value="cad">
                  <input name="ip_externo" type="hidden" value="{$ip_externo}" id="ip_externo2">
                  </font></strong> </p>
                <div align="center">
                  <table width="300" border="0" cellpadding="0" cellspacing="3">
                    <tr> 
                      <td width="46%"> <p align="right">Banda Upload kbps</p></td>
                      <td width="54%"> <p>Banda Download kbps </p></td>
                    </tr>
                    <tr> 
                      <td> <div align="right"> 
                          <SELECT name='upload_kbps' >
                	{foreach key=id item=nome from=$lista_upload}
                            <OPTION VALUE='{$nome.id}' {if $nome.id == $upload_kbps}SELECTED{/if} >{$nome.banda}</OPTION>
                    {/foreach}
                          </SELECT>
                          &nbsp;&nbsp; </div></td>
                      <td>&nbsp;&nbsp; <SELECT name='download_kbps' >
					{foreach key=id item=nome from=$lista_download}
                            
                          <OPTION VALUE='{$nome.id}' {if $nome.id == $download_kbps}SELECTED{/if} >{$nome.banda}</OPTION>
                    {/foreach}
                          
                        </SELECT> </td>
                    </tr>
                  </table>
                  </div></td>
                
              </tr>
              <tr>
                <td colspan="2"><div align="center">
                    <input name="submit" type="submit" class=input2 id="submit" value="Alterar &gt;&gt;" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;">
                  </div></td>
         
              </tr>
                          </table>




                          {/if}

                          {if $tipo_conta|trim == "E"}

                          {literal}
                          <script>
                          function check(){
						  			csenha=document.frmConta.senha.value;
						  			cconfsenha=document.frmConta.conf_senha.value;

						  			msg="";
						  			erro=0;


						  			if (csenha != cconfsenha || csenha == "" || cconfsenha == "") {
						  				msg = msg + "Os campos Senha e Confirmação devem conter o mesmo conteúdo.\n";
						  				erro = 1;
						  			}
						  			if (erro == 1){
						  				alert(msg);
						  				return false;
						  			}

						  	return true;

						  }

                          </script>
                          {/literal}
                               <input type="hidden" name="op" value="conta">
						       <input type="hidden" name="id_cliente" value="{$id_cliente}">
						  	   <input type="hidden" name="username" value="{$username}">
						       <input type="hidden" name="dominio" value="{$dominio}">
						       <input type="hidden" name="tipo_conta" value="{$tipo_conta}">
						       <input type="hidden" name="acao" value="cad">
							  <table align="center">
								<tr>
									<td align="center" valign="middle"><strong><font face="arial" size="4" color="black">E-Mail</font></strong></td>
								</tr>
							  </table>

                          <table width="450" border=0 bgcolor="#F1F1F1" align="center">
						                <tr>
						                  <td colspan=2><h2><font color="#000000">Dados da Conta</font></h2></td>
						                </tr>
						                <tr>
						                  <td bgcolor="#FFFFFF" align="right" width="50" valign="top">
						  					<p>Username:</p></td>
						                  <td bgcolor="#FFFFFF" colspan=2 width="300"><p><input type="text" maxlength="30" name="username" disabled="true" value="{$username}">@{$dominio}</p></td>
						                </tr>
						                <tr>
						                  <td bgcolor="#FFFFFF" align="right" width="50" valign="top">
						  					<p>Senha:</p></td>
						                  <td bgcolor="#FFFFFF" colspan=2> <input type="password" maxlength="32" name="senha" id="senha" >
						                  </td>
						                </tr>
						                <tr>
						                  <td bgcolor="#FFFFFF" align="right" width="50" valign="top">
						  					<p>Confirme:</p></td>
						                  <td bgcolor="#FFFFFF" colspan=2> <input type="password" maxlength="32" name="conf_senha" id="conf_senha" >
						                  </td>
						                </tr>
						                <tr>
						                  <td width="50" align="right" valign="top" bgcolor="#FFFFFF">
						  					<p>Quota:</p></td>


        <td bgcolor="#FFFFFF" colspan=2> <p>
            <input name="quota" type="text" id="quota" value="{$quota}">
            bytes </p></td>
						                </tr>
						                <tr>
						                <td colspan=2 align="center"><input type="submit" name="Submit" value="Alterar >>"></td>
						                </tr>
            			  </table>
            			  <br>
                          {/if}
                          {if $tipo_conta|trim == "H"}

                          {literal}
                          <script>
                          function check(){
						  			csenha=document.frmConta.senha.value;
						  			cconfsenha=document.frmConta.conf_senha.value;

						  			msg="";
						  			erro=0;


						  			if (csenha != cconfsenha || csenha == "" || cconfsenha == "") {
						  				msg = msg + "Os campos Senha e Confirmação devem conter o mesmo conteúdo.\n";
						  				erro = 1;
						  			}
						  			if (erro == 1){
						  				alert(msg);
						  				return false;
						  			}

						  	return true;

						  }

                          </script>
                          {/literal}

                               <input type="hidden" name="op" value="conta">
						       <input type="hidden" name="id_cliente" value="{$id_cliente}">
						  	   <input type="hidden" name="username" value="{$username}">
						       <input type="hidden" name="dominio" value="{$dominio}">
						       <input type="hidden" name="tipo_conta" value="{$tipo_conta}">
						       <input type="hidden" name="acao" value="cad">
						       <input type="hidden" name="tipo_hospedagem" value="{$tipo_hospedagem}">
						       <input type="hidden" name="dominio_hospedagem" value="{$dominio_hospedagem}">

							  <table align="center">
								<tr>
									<td align="center" valign="middle"><strong><font face="arial" size="4" color="black">Hospedagem</font></strong></td>
								</tr>
							  </table>

                          <table width="450" border=0 bgcolor="#F1F1F1" align="center">
						                <tr>
						                  <td colspan=2><h2><font color="#000000">Dados da Conta</font></h2></td>
						                </tr>
						                <tr>
						                  <td bgcolor="#FFFFFF" align="right" width="50" valign="top">
						  					<p>Username:</p></td>
						                  <td bgcolor="#FFFFFF" colspan=2 width="300"><p><input type="text" maxlength="30" name="username" disabled="true" value="{$username}"></p></td>
						                </tr>
						                <tr>
						                  <td bgcolor="#FFFFFF" align="right" width="50" valign="top">
						  					<p>Senha:</p></td>
						                  <td bgcolor="#FFFFFF" colspan=2> <input type="password" maxlength="32" name="senha" id="senha" >
						                  </td>
						                </tr>
						                <tr>
						                  <td bgcolor="#FFFFFF" align="right" width="50" valign="top">
						  					<p>Confirme:</p></td>
						                  <td bgcolor="#FFFFFF" colspan=2> <input type="password" maxlength="32" name="conf_senha" id="conf_senha" >
						                  </td>
										  </tr>
										<tr>
											 <td width="50" align="right" valign="top" bgcolor="#FFFFFF"><p>Tipo:</p></td>
											<td bgcolor="#FFFFFF" colspan="3"><p>
												<select name='conta_mestre' >
													<option></option>
													<option value='t' {if $conta_mestre_val=="t"}SELECTED{/if}>Conta Mestre</option>
													<option value='f' {if $conta_mestre_val=="f"}SELECTED{/if}>Normal</option>
												</select></p>
											</td>
										</tr>
										<tr> 
											 <td width="50" align="right" valign="top" bgcolor="#FFFFFF">
												<p>Status:</p>
											</td>
											<td bgcolor="#FFFFFF" colspan="3"> <p>{if $status == "S"}<font color="#999999"><strong>
												<input type="text" name="status" value="Suspenso"  style="border: #000000" disabled>
												</strong></font>
												<input name="_status" type="hidden" value="S" id="_status">
												{else} 
												<SELECT name='status' >
												{foreach key=id item=nome from=$lista_status}
												<OPTION VALUE='{$id}'  {if $id == $status}SELECTED{/if} >{$nome}</OPTION>
												{/foreach}
												</SELECT>
											{/if} </p></td> 
										</tr>
						                <tr>
						                  <td width="50" align="right" valign="top" bgcolor="#FFFFFF">
						  					<p>Dominio:</p></td>

						                <td bgcolor="#FFFFFF" colspan=2> <p>{if $tipo_hospedagem == "D"}www.{$dominio_hospedagem}{/if}{if $tipo_hospedagem != "D"}www.{$dominio}/{$username}{/if}</p></td>
						                </tr>
						                	<tr>
												<td width="50" align="right" valign="top" bgcolor="#FFFFFF">
												<p>FTP:	</p></td>
												<td bgcolor="#FFFFFF" colspan=2><p> {if $tipo_hospedagem == "D"}ftp.{$dominio_hospedagem}{/if}{if $tipo_hospedagem != "D"}ftp.{$dominio}{/if}</p></td>
						                	</tr>
						                <tr>
						                <td colspan=2 align="center"><input type="submit" name="Submit" value="Alterar >>"></td>
						                </tr>
            			  </table>
            			  <br>
                          {/if}

                          {if $tipo_conta|trim == "D"}

                          {literal}
                          <script>
                          function check(){
						  			csenha=document.frmConta.senha.value;
						  			cconfsenha=document.frmConta.conf_senha.value;

						  			msg="";
						  			erro=0;


						  			if (csenha != cconfsenha) {
						  				msg = msg + "Os campos Senha e Confirmação devem conter o mesmo conteúdo.\n";
						  				erro = 1;
						  			}
						  			if (erro == 1){
						  				alert(msg);
						  				return false;
						  			}

						  	return true;

						  }

                          </script>
                          {/literal}

                               <input type="hidden" name="op" value="conta">
						       <input type="hidden" name="id_cliente" value="{$id_cliente}">
						  	   <input type="hidden" name="username" value="{$username}">
						       <input type="hidden" name="dominio" value="{$dominio}">
						       <input type="hidden" name="tipo_conta" value="{$tipo_conta}">
						       <input type="hidden" name="acao" value="cad">

							  <table align="center">
								<tr>
									<td align="center" valign="middle"><strong><font face="arial" size="4" color="black">Discado</font></strong></td>
								</tr>
							  </table>

                          <table width="450" border=0 bgcolor="#F1F1F1" align="center">
						                <tr>	                  
								 	         <td height="33" width="225"><h2><font color="#000000">Dados 
              da Conta</font></h2></td>
								 	         <td height="33"><div align="right">
                  <p>[<a href="suporte.php?op=extrato&valor_pesquisa={$username}&tipo_conta={$tipo_conta}">extrato 
                    de acesso</a>]</p>
            </div></td>
						                </tr>
						                <tr>
						                  <td bgcolor="#FFFFFF" align="right" width="50" valign="top">
						  					<p>Username:</p></td>
						                  <td bgcolor="#FFFFFF" colspan=2 width="300"><p><input type="text" maxlength="30" name="username" disabled="true" value="{$username}"></p></td>
						                </tr>
						                <tr>
						                  <td bgcolor="#FFFFFF" align="right" width="50" valign="top">
						  					<p>Senha:</p></td>
						                  <td bgcolor="#FFFFFF" colspan=2> <input type="password" maxlength="32" name="senha" id="senha" >
						                  </td>
						                </tr>
						                <tr>
						                  <td bgcolor="#FFFFFF" align="right" width="50" valign="top">
						  					<p>Confirme:</p></td>
						                  <td bgcolor="#FFFFFF" colspan=2> <input type="password" maxlength="32" name="conf_senha" id="conf_senha" >
						                  </td>
						                </tr>
						                <tr>
						                  <td width="50" align="right" valign="top" bgcolor="#FFFFFF">
						  					<p>Status:</p></td>

						                
              <td bgcolor="#FFFFFF" colspan=2>{if $status == "S"} <p><font color="#999999"><strong><input type="text" name="status" value="Suspenso"  style="border: #000000" disabled></strong></font> </p>{else}
                  <SELECT name='status'>
											{foreach key=id item=nome from=$lista_status}
											<OPTION VALUE='{$id}'  {if $id == $status}SELECTED{/if} {if $id == "S"}DISABLED{/if}>{$nome}</OPTION>
											{/foreach}
											 
                  </SELECT>
                  {/if}</td>
						                </tr>
										<tr>
											 <td width="50" align="right" valign="top" bgcolor="#FFFFFF"><p>Tipo:</p></td>
											<td bgcolor="#FFFFFF" colspan="3"><p>
												<select name='conta_mestre' >
													<option></option>
													<option value='t' {if $conta_mestre_val=="t"}SELECTED{/if}>Conta Mestre</option>
													<option value='f' {if $conta_mestre_val=="f"}SELECTED{/if}>Normal</option>
												</select></p>
											</td>
										</tr>
						                	<tr>
												<td width="50" align="right" valign="top" bgcolor="#FFFFFF">
												<p>Telefone:</p></td>
												<td bgcolor="#FFFFFF" colspan=2><input type="text" name="foneinfo" value="{$foneinfo}"></td>
						                	</tr>
						                <tr>

        <td colspan=2 align="center" height="27">
<input type="submit" name="Submit" value="Alterar >>"></td>
						                </tr>
            			  </table>


      {/if}</form>
</body>  


						<p align="center"><a href="{$smarty.server.PHP_SELF}?op=produto&tipo={$tipo}&id_cliente={$id_cliente}">voltar</a></p>





{if $tipo_conta == "BL"}

{ literal }
<script language="JavaScript">

init();



</script>
{ /literal }
{/if}
{literal}
<script language="javascript">
checaStatus();
</script>
{/literal}
		{/if}