<html>
<head>
<title>Main</title>
</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="102%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="60"> 
      <table width="100%" height="50" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr> 
          <td width="18%"><div align="center">Logotipo</div></td>
          <td width="82%"> <div align="center"><strong>VIRTEX ADMIN - PAINEL DE 
              CONTROLE </strong> </div></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td colspan="2">{include file='menu_principal.html'}</td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td align="center" valign="middle"> <table width="100%" border="0" cellspacing="2" cellpadding="0">
        <tr>
          <td align="center" bgcolor="#F4F4F4"><strong><font size="5" face="Arial, Helvetica, sans-serif">Discado</font></strong></td>
        </tr>
        <tr>
          <td><table width="600" border="0" align="center" cellpadding="0" cellspacing="2">
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr bgcolor="#999999"> 
                      <td width="150" align="center">Username</td>
                      <td width="150" align="center">Dominio</td>
                      <td width="50" align="center">Tipo</td>
                      <td width="100" align="center">Conta Mestre</td>
                      <td width="100">&nbsp;</td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td width="150" align="center"><font size="2">z&eacute;</font></td>
                      <td width="150" align="center"><font size="2">mosman.com.br</font></td>
                      <td width="50" align="center"><font size="2">D</font></td>
                      <td width="100" align="center"><font size="2">sim</font></td>
                      <td width="50" align="center"><font size="2"><a href="clientes.php?op=clienteAdisc">ALT</a></font></td>
                      <td width="50" align="center"><font size="2"><a href="clientes.php?op=clienteDdisc">DEL</a></font></td>
                    </tr>
                    <tr> 
                      <td align="center"><font size="2">z&eacute;</font></td>
                      <td align="center"><font size="2">mosman.com.br</font></td>
                      <td align="center"><font size="2">E</font></td>
                      <td align="center"><font size="2">sim</font></td>
                      <td align="center"><font size="2"><a href="clientes.php?op=clienteAmail">ALT</a></font></td>
                      <td align="center"><font size="2"><a href="clientes.php?op=clienteDmail">DEL</a></font></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table>
      <p>&nbsp;</p>
      <p>&nbsp;</p> </td>
  </tr>
</table>
</body>


</html>
