<!-- CLIENTE_FICHA.HTML-->
{include file='cliente_header.html'}

{literal}
<script src="template/default/ajax_ping_arp.js" language="javascript" ></script>
<script src="template/default/historico_ajax.js" language="javascript" ></script>
{/literal}
{literal}
<script language="JavaScript" type="text/javascript">

function confirmacao(){
		return confirm("Tem certeza da exclusão do email?");
}

function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}

</script>
{/literal}
<table width="100" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
	  <td>
		{if $tipo_conta == "BL"}
			<table width="500" border="0" cellspacing="2" cellpadding="2">
				<tr>
					<td align="center" valign="middle">
					</td>
				</tr>
				<tr>
					<td align="center" valign="middle">
<a href="javascript:;" onClick="MM_openBrWindow('/virtex-cgi/stats/{$username}.html','graf','scrollbars=yes,width=550,height=500')"><img src="/virtex-cgi/stats/{$username}-day.png" border=0></a>
						<table width="450" border=0 bgcolor="#F1F1F1">
              <tr>
                <td colspan=2> <table width="100%" border="0" cellspacing="2" cellpadding="0">
                    <tr>
                      <td width="70%"><font face=arial size="+1" color="#000000"><b>Ficha
                        técnica</b></font></td>
                      <td width="30%" align="center"> <p>[<a href="{$smarty.server.PHP_SELF}?op=conta&id_cliente={$id_cliente}&username={$username}&dominio={$dominio}&tipo_conta={$tipo_conta}">alterar</a>] {if $infoserver != ""} [<a href="javascript:;" onClick="javascript: Ping();">ping</a>] {if @$tipo_bandalarga == 'I'}[<a href="javascript:;" onClick="javascript: Arp();">arp</a>]{/if} {/if}</p></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td width="50" align="right" valign="middle" bgcolor="#FFFFFF">
                  <p>Username:</p></td>
                <td width="400" colspan=2 bgcolor="#FFFFFF"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b>{$username}</b></font></td>
              </tr>
              <tr>
                <td width="50" align="right" valign="middle" bgcolor="#FFFFFF">
                  <p>Status:</p></td>
                <td bgcolor="#FFFFFF" colspan=2 width="400"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b>{$str_status}</b>
                  </font></td>
              </tr>
			  {if $count_historico== 'true'}<tr>
			  	<form name="form1">
			  		<input type="hidden" value="{$id_cliente_produto}" name="idcp"/>
					<input type="hidden" value="{$username}" name="username"/>
					<input type="hidden" value="{$tipo_conta}" name="tipo_conta"/>
					<input type="hidden" value="{$dominio}" name="dominio"/>
				</form>					
			  	<td colspan="3" bgcolor="#FFFFFF" align="center"><a href="javascript:;" onclick="process_history();"><img src="template/default/images/historico.jpg" border="0" alt="Clique aqui para ver histórico" /></a></td>
			  </tr>{/if}
            </table>
			<div id="historico" class="box_fechada" style="width:450px;border:2px solid #EFEFEF; padding:8px; background:#FEFEFE"></div>
					</td>
				</tr>

				<tr>
					<td align="center" valign="middle" id="tdados">

						<table width="450" border=0 bgcolor="#F1F1F1" id="disc">
              <tr>
                <td colspan=2><p><strong>Dados da Conexão</strong></p></td>
              </tr>
              <tr>
                <td bgcolor="#FFFFFF" align="right" width="81" valign="middle">
<p>POP:</p></td>
                <td align="left" valign="middle" bgcolor="#FFFFFF">
                  <p>{$pop.nome}</p></td>
                <td bgcolor="#FFFFFF" align="right" width="64" valign="middle">
<p>NAS:</p></td>
                <td align="left" valign="middle" bgcolor="#FFFFFF">
                  <p>{$nas.nome}: {$nas.tipo_nas}</p></td>
              </tr>
              {if $nas.tipo_nas == "I"}
              <tr>
                <td bgcolor="#FFFFFF" align="right" width="81" valign="middle">
                  <p>IP:</p></td>
                <td bgcolor="#FFFFFF" align="left" width="115" valign="middle">
                  <p>{$ip_cliente}</p></td>
                <td bgcolor="#FFFFFF" align="right" width="64" valign="middle">
                  <p>Máscara:</p></td>
                <td bgcolor="#FFFFFF" align="left" width="172" valign="middle">
                  <p>{$mascara}</p></td>
              </tr>
              <tr>
                <td bgcolor="#FFFFFF" align="right" width="81" valign="middle">
                  <p>Gateway:</p></td>
                <td align="left" valign="middle" bgcolor="#FFFFFF">
                  <p>{$gateway}</p></td>
                <td bgcolor="#FFFFFF" align="right" width="64" valign="middle">
<p>MAC:</p></td>
                <td align="left" valign="middle" bgcolor="#FFFFFF">
                  <p>{$mac}</p></td>
              </tr>
              {/if} </table>
					</td>
				</tr>
				<tr>
					<td align="center" valign="top">
						<table width="450" border=0 bgcolor="#F1F1F1" id="disc">
							<tr>
								<td colspan=4><p><strong>Banda</strong></p></td>
							</tr>
							<tr>
								<td width="75" bgcolor="#FFFFFF" align="right"> <p>Upload:</p> </td>
								<td width="150" bgcolor="#FFFFFF"> <p>{if $upload_kbps=='0'}Ilimitado{else}{$upload_kbps} kbps{/if}</p> </td>
								<td width="75" bgcolor="#FFFFFF" align="right"> <p>Download:</p> </td>
								<td width="150" bgcolor="#FFFFFF"> <p>{if $download_kbps=='0'}Ilimitado{else}{$download_kbps} kbps{/if}</p> </td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
				  <td align="center">
						
								<form name="frmConta" action="">
										<input type="hidden" value="{$endereco_ip}" name="end_ip">
										<input type="hidden" value="{$nas.id_nas}" name="nas_orig">
										<input type="hidden" value="{$infoserver}" name="infoserver" />
								</form>
								<font face="verdana" size="2" color="#999999"><center>
								<div id="container" align="left" class="box_fechada" style="height:80px; width:450px;border:2px solid #EFEFEF; padding:8px;"></div></center>
								</font>
						       
				  </td>
				</tr>

				<tr>
					<td align="center" valign="middle"><a href="{$smarty.server.PHP_SELF}?op=produto&tipo={$tipo}&id_cliente={$id_cliente}&msg=">voltar</a></td>
				</tr>
			</table>
			{/if}
			{ if $tipo_conta|trim == "E" }

						<table width="450" border=0 bgcolor="#F1F1F1">
              <tr>
                <td colspan=2> <table width="100%" border="0" cellspacing="2" cellpadding="0">
                    <tr>
                      <td width="84%"><font face=arial size="+1" color="#000000"><b>Ficha
                        técnica</b></font> </td>
                      <td width="16%" align="center"> <p>[<a href="{$smarty.server.PHP_SELF}?op=conta&id_cliente={$id_cliente}&username={$username}&dominio={$dominio}&tipo_conta={$tipo_conta}">alterar</a>][<a href="{$smarty.server.PHP_SELF}?op=excluir_email&id_cliente={$id_cliente}&username={$username}&dominio={$dominio}&tipo_conta={$tipo_conta}" onClick="return confirmacao();">excluir</a>]</p></td>
                    </tr>
                  </table></td>
			              </tr>
			              <tr>
			                <td width="100" align="right" valign="middle" bgcolor="#FFFFFF">
			                  <p>Username:</p></td>
			                <td width="400" colspan=2 bgcolor="#FFFFFF"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b>{$username}</b></font></td>
			              </tr>
			              <tr>
			                <td width="100" align="right" valign="middle" bgcolor="#FFFFFF">
			                  <p>Dominio:</p></td>
			                <td bgcolor="#FFFFFF" colspan=2 width="400"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b>{$dominio}</b>
			                  </font></td>
			              </tr>
			              <tr>
			                <td width="100" align="right" valign="middle" bgcolor="#FFFFFF"><p>Quota:</p></td>
			                <td bgcolor="#FFFFFF" colspan=2><p>{$quota}</p></td>
			              </tr>
			              <tr>
			                <td width="100" align="right" valign="middle" bgcolor="#FFFFFF"><p>Mail Server:</p></td>
			                <td bgcolor="#FFFFFF" colspan=2><p>{$server.mail_server}</p></td>
			              </tr>
			              <tr>
						    <td width="100" align="right" valign="middle" bgcolor="#FFFFFF"><p>POP3:{$server}</p></td>
						    <td bgcolor="#FFFFFF" colspan=2><p>{$server.pop_host}</p></td>
						  </tr>
			              <tr>
			                <td width="100" align="right" valign="middle" bgcolor="#FFFFFF"><p>SMTP:</p></td>
			                <td bgcolor="#FFFFFF" colspan=2><p>{$server.smtp_host}</p></td>
			              </tr>
            </table>
							<p align="center"><a href="{$smarty.server.PHP_SELF}?op=produto&tipo={$tipo}&id_cliente={$id_cliente}&msg=">voltar</a></p>
			{/if}

			{ if $tipo_conta|trim == "H"}

						<table width="450" border=0 bgcolor="#F1F1F1">
              <tr>
                <td colspan=2> <table width="100%" border="0" cellspacing="2" cellpadding="0">
                    <tr>
                      <td width="84%"><font face=arial size="+1" color="#000000"><b>Ficha
                        técnica</b></font> </td>
                      <td width="16%" align="center"> <p>[<a href="{$smarty.server.PHP_SELF}?op=conta&id_cliente={$id_cliente}&username={$username}&dominio={$dominio}&tipo_conta={$tipo_conta}">alterar</a>]</p></td>
                    </tr>
                  </table></td>
			              </tr>
						              <tr>
						                <td width="100" align="right" valign="middle" bgcolor="#FFFFFF">
						                  <p>Username:</p></td>
						                <td width="400" colspan=2 bgcolor="#FFFFFF"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b>{$username}</b></font></td>
						              </tr>
						              <tr>
						                <td width="100" align="right" valign="middle" bgcolor="#FFFFFF">
						                  <p>Dominio:</p></td>
						                <td bgcolor="#FFFFFF" colspan=2 width="400"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b>{if $tipo_hospedagem == "D"}www.{$dominio_hospedagem}{/if}{if $tipo_hospedagem != "D"}www.{$dominio}/{$username}{/if}</b>
						                  </font></td>
						              </tr>
						              <tr>
						                <td width="100" align="right" valign="middle" bgcolor="#FFFFFF"><p>FTP:</p></td>
						                <td bgcolor="#FFFFFF" colspan=2><p>{if $tipo_hospedagem == "D"}ftp.{$dominio_hospedagem}{/if}{if $tipo_hospedagem != "D"}{$dominio}/{$username}{/if}</p></td>
						              </tr>
					{if $count_historico== 'true'}<tr>
			  	<form name="form1">
			  		<input type="hidden" value="{$id_cliente_produto}" name="idcp"/>
					<input type="hidden" value="{$username}" name="username"/>
					<input type="hidden" value="{$tipo_conta}" name="tipo_conta"/>
					<input type="hidden" value="{$dominio}" name="dominio"/>
				</form>					
			  	<td colspan="3" bgcolor="#FFFFFF" align="center"><a href="javascript:;" onclick="process_history();"><img src="template/default/images/historico.jpg" border="0" alt="Clique aqui para ver histórico" /></a></td>
			  </tr>{/if}
            </table>&nbsp;
			<div id="historico" class="box_fechada" style="width:450px;border:2px solid #EFEFEF; padding:8px; background:#FEFEFE"></div>

			{/if}

{ if $tipo_conta|trim == "D"}

						<table width="450" border=0 bgcolor="#F1F1F1">
              <tr>
                <td colspan=2> <table width="100%" border="0" cellspacing="2" cellpadding="0">
                    <tr>
                      <td width="84%"><font face=arial size="+1" color="#000000"><b>Ficha
                        técnica</b></font> </td>
                      <td width="16%" align="center"> <p>[<a href="{$smarty.server.PHP_SELF}?op=conta&id_cliente={$id_cliente}&username={$username}&dominio={$dominio}&tipo_conta={$tipo_conta}">alterar</a>]</p></td>
                    </tr>
                  </table>		</td>
		</tr>
		<tr>
		<td width="100" align="right" valign="middle" bgcolor="#FFFFFF"><p>Username:</p></td>
		<td width="400" colspan=2 bgcolor="#FFFFFF"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b>{$username}</b></font></td>
			</tr>
		<tr>
	<td width="100" align="right" valign="middle" bgcolor="#FFFFFF"><p>Foneinfo:</p></td>
	<td bgcolor="#FFFFFF" colspan=2 width="400"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b>{$foneinfo}</b></font></td>
	</tr>
	 {if $count_historico== 'true'}<tr>
			  	<form name="form1">
			  		<input type="hidden" value="{$id_cliente_produto}" name="idcp"/>
					<input type="hidden" value="{$username}" name="username"/>
					<input type="hidden" value="{$tipo_conta}" name="tipo_conta"/>
					<input type="hidden" value="{$dominio}" name="dominio"/>
				</form>					
			  	<td colspan="3" bgcolor="#FFFFFF" align="center"><a href="javascript:;" onclick="process_history();"><img src="template/default/images/historico.jpg" border="0" alt="Clique aqui para ver histórico" /></a></td>
			  </tr>{/if}
	</table>
<div id="historico" class="box_fechada" style="width:450px;border:2px solid #EFEFEF; padding:8px; background:#FEFEFE"></div>
        	{/if}
      </td>
	</tr>
</table>


