<html>
<head>
<title>Main</title></head><body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
{ literal } { /literal } 
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="60"> 
      <table width="100%" height="50" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr> 
          <td width="18%"><div align="center">Logotipo</div></td>
          <td width="82%"> <div align="center"><strong>VIRTEX ADMIN - PAINEL DE 
              CONTROLE </strong> </div></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td colspan="2">{include file='menu_principal.html'}</td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td align="center" valign="top"><p>&nbsp;</p>
      <table width="100%" border="0" cellspacing="2" cellpadding="0">
        <tr> 
          <td align="center" bgcolor="#F4F4F4"><strong><font size="5" face="Arial, Helvetica, sans-serif">Cobran&ccedil;a<br>
            </font></strong><font size="5" face="Arial, Helvetica, sans-serif"> 
            <font size="2"><a href="clientes.php?op=clienteCob">Resumo</a> . <a href="clientes.php?op=clienteContr">Novo 
            Contrato</a> . <a href="clientes.php?op=clienteRelat">Relatorio</a></font></font></td>
        </tr>
        <tr> 
          <td align="center">Escolha o tipo do produto: <a href="clientes.php?op=clBl" target="clNovo">Banda 
            Larga</a> - <a href="clientes.php?op=clDisc" target="clNovo">Discado</a> 
            - <a href="clientes.php?op=clHosp" target="clNovo">Hospedagem</a> 
          </td>
        </tr>
        <tr> 
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td align="center">
<iframe align="middle" frameborder="0" height="550" id="clNovo" name="clNovo" width="600" src="clientes.php?op=clnada" ></iframe></td>
        </tr>
        <tr> 
          <td>&nbsp;</td>
        </tr>
        <tr> 
          <td align="center"><a href="clientes.php?op=clientemod">Voltar para 
            Ficha do Cliente</a></td>
        </tr>
      </table>
      <p>&nbsp;</p>
      <p></p></td>
  </tr>
  
</table>
<p>&nbsp;</p>
</body>


</html>
