<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<table class=table_main width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F0f0f0">
  <tr> 
    <th bgcolor="#FFFFFF"><h1><b>Cadastro de Produto (Banda Larga)</b></h1></th>
  </tr>
  <tr> 
    <th bgcolor="#FFFFFF"> <table class=table_main width="75%" border="0" align="center" cellpadding="0" cellspacing="0" >
        <tr> 
          <td> <form action="clientes.php" method="post" name=dados target="_parent">
              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="1" class=main>
                <tr> 
                  <td width="65%">&nbsp;</td>
                  <td width="50%"><input name="op" type="hidden" id="op" value="clientemod"></td>
                </tr>
                <tr> 
                  <td width="65%"><p>Nome do Produto</p></td>
                  <td width="50%"><p>Descricao</p></td>
                </tr>
                <tr> 
                  <td valign="top"><p> 
                      <input  name="nome2" value="" type="text" class=input1 id="nome2" size="20">
                    </p></td>
                  <td rowspan=5 valign="top"><p> 
                      <textarea name="textarea" rows=5></textarea>
                    </p></td>
                </tr>
                <tr> 
                  <td width="65%"><p>Preço</p></td>
                </tr>
                <tr> 
                  <td width="65%"><p> 
                      <input name="valor2" type="text" class=input1 id="valor2" value="">
                    </p></td>
                </tr>
                <tr> 
                  <td width="65%"><p>Disponível para contratação?</p></td>
                </tr>
                <tr> 
                  <td valign="top"><p> 
                      <select name='select' >
                        <option value='1' >Sim</option>
                        <option value='0' >Não</option>
                      </select>
                    </p></td>
                </tr>
                <tr> 
                  <td colspan=2><p>Número de contas de banda larga</p></td>
                </tr>
                <tr> 
                  <td colspan=2><p> 
                      <input type="text" name="numero_contas2" value="1" size=4 maxlenght=4>
                    </p></td>
                </tr>
                <tr> 
                  <td colspan=2><hr size=1></td>
                </tr>
                <tr> 
                  <td width="65%"><p>Download</p></td>
                  <td width="50%"><p>Upload</p></td>
                </tr>
                <tr> 
                  <td width="65%"><p> 
                      <select name='banda_download_kbps' >
                        <option value='0' >SEM CONTROLE</option>
                        <option value='32' >32</option>
                        <option value='64' >64</option>
                        <option value='96' >96</option>
                        <option value='128' >128</option>
                        <option value='192' >192</option>
                        <option value='256' >256</option>
                        <option value='384' >384</option>
                        <option value='512' >512</option>
                        <option value='768' >768</option>
                        <option value='1024' >1024</option>
                      </select>
                      Kbps</p></td>
                  <td width="50%"><p> 
                      <select name='banda_upload_kbps' >
                        <option value='0' >SEM CONTROLE</option>
                        <option value='32' >32</option>
                        <option value='64' >64</option>
                        <option value='96' >96</option>
                        <option value='128' >128</option>
                        <option value='192' >192</option>
                        <option value='256' >256</option>
                        <option value='384' >384</option>
                        <option value='512' >512</option>
                        <option value='768' >768</option>
                        <option value='1024' >1024</option>
                      </select>
                      Kbps</p></td>
                </tr>
                <tr> 
                  <td width="65%"><p>Franquia Tráfego Mensal (GB)</p></td>
                  <td width="50%"><p>Valor GB Adicional</p></td>
                </tr>
                <tr> 
                  <td width="65%"> <p> 
                      <input type="text" class=input1 name="franquia_trafego_mensal_gb" value="">
                      <br>
                      <font id=aviso>Ilimitado = 0</font> </p></td>
                  <td width="50%"><p> 
                      <input type="text" class=input1 name="valor_trafego_adicional_gb" value="">
                    </p></td>
                </tr>
                <tr> 
                  <td colspan=2><hr size=1></td>
                </tr>
                <tr> 
                  <td width="65%"><p>No. de Emails</p></td>
                  <td width="50%"><p>Quota por conta de e-mail</p></td>
                </tr>
                <tr> 
                  <td width="65%"><p> 
                      <input type="text" class=input1 name="num_emails2" value="">
                    </p></td>
                  <td width="50%"><p> 
                      <input name="quota_por_conta2" value=""type="text" class=input1 id="quota_por_conta2">
                    </p></td>
                </tr>
                <tr> 
                  <td width="65%"><p>Email Adicional (R$)</p></td>
                  <td width="50%"><p>Permitir outros dominios?</p></td>
                </tr>
                <tr> 
                  <td width="65%"><p> 
                      <input name="vl_email_adicional2" value=""type="text" class=input1 id="vl_email_adicional2">
                    </p></td>
                  <td width="50%"><p> 
                      <select name='select' >
                        <option value='1' >Sim</option>
                        <option value='0' >Não</option>
                      </select>
                    </p></td>
                </tr>
                <tr> 
                <tr> 
                  <td width="65%"><p>&nbsp;</p></td>
                  <td width="50%"><p>&nbsp;</p></td>
                </tr>
                <tr> 
                  <td width="65%"><p>&nbsp;</p></td>
                  <td width="50%"><p> 
                      <input name="submit" type="submit" class=input2 id="submit2" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;" value="Cadastrar &gt;&gt;">
                    </p></td>
                </tr>
              </table>
            </form></td>
        </tr>
      </table></th>
  </tr>
</table>
</body>
</html>
