<html>
<head>
<title>Main</title>
</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="102%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="60"> 
      <table width="100%" height="50" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr> 
          <td width="18%"><div align="center">Logotipo</div></td>
          <td width="82%"> <div align="center"><strong>VIRTEX ADMIN - PAINEL DE 
              CONTROLE </strong> </div></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td colspan="2">{include file='menu_principal.html'}</td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td align="center" valign="middle"> <table width="100%" border="0" cellspacing="2" cellpadding="0">
        <tr> 
          <td align="center" bgcolor="#F4F4F4"><strong><font size="5" face="Arial, Helvetica, sans-serif">Cobran&ccedil;a<br>
            </font></strong><font size="5" face="Arial, Helvetica, sans-serif"> 
            <font size="2"><a href="clientes.php?op=clienteCob">Resumo</a> . <a href="clientes.php?op=clienteContr">Novo 
            Contrato</a> . <a href="clientes.php?op=clienteRelat">Relatorio</a></font></font></td>
        </tr>
        <tr> 
          <td><table width="600" border="0" align="center" cellpadding="0" cellspacing="2">
              <tr> 
                <td><div align="center"><strong>Hist&oacute;rico de Cobran&ccedil;a</strong></div></td>
              </tr>
              <tr> 
                <td><iframe align="middle" frameborder="1" height="150"  width="580" id="histcob" scrolling="auto" src="clientes.php?op=clienteCobHist"></iframe></td>
              </tr>
              <tr> 
                <td align="center"><strong>Contratos</strong></td>
              </tr>
              <tr> 
                <td><iframe align="middle" frameborder="1" height="150"  width="580" id="histcontr" scrolling="auto" src="clientes.php?op=clienteCobContr"></iframe></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td align="center"><a href="clientes.php?op=clientemod">Voltar para 
            Ficha do Cliente</a></td>
        </tr>
      </table>
      <p>&nbsp;</p>
      <p>&nbsp;</p> </td>
  </tr>
</table>
</body>


</html>
