 <p>{include file='cliente_header.html'} </p>
<table width="450" border="0" align="center" cellpadding="0" cellspacing="1">
  <tr> 
    <td align="center"><strong><font size="+2" face="Arial, Helvetica, sans-serif">Cobran&ccedil;a</font></strong></td>
  </tr>
  <tr>
    <td align="CENTER" valign="MIDDLE"><a href="{$smarty.server.PHP_SELF}?op=cobranca&id_cliente={$id_cliente}">Novo 
      Contrato</a></td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
  </tr>
  <tr> 
    <td> <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td bgcolor="#F1F1F1"><table width="100%" border="0" cellspacing="1" cellpadding="0">
              <tr> 
                <td width="19%"><p><strong>Venc</strong></p></td>
                <td width="36%"><p><strong>Descri&ccedil;&atilde;o</strong></p></td>
                <td width="21%"><p><strong>Valor</strong></p></td>
                <td width="11%"><p><strong>Status</strong></p></td>
                <td width="13%"><p>&nbsp;</p></td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td><table width="100%" border="0" cellspacing="2" cellpadding="3">
              <tr> 
                <td width="75"><p>Vencimento</p></td>
                <td width="154"><p>Descri&ccedil;&atilde;o</p></td>
                <td width="84"><p>Valor</p></td>
                <td width="52"><p>Status</p></td>
                <td width="15" align="center"><img src="template/default/images/viewer.gif" alt="Ver Contrato" width="15" height="15"></td>
                <td width="18" align="center"><a href="clientes.php?op=cobranca&rotina=excl_confirma&id_cliente={$p.id_cliente}&id_cliente_produto={$p.id_cliente_produto}"><img src="template/default/images/delete.gif" alt="Excluir Definitivamente o Contrato" width="15" height="15" border="0"></a></td>
              </tr>
            </table>
            <p>&nbsp;</p></td>
        </tr>
      </table></td>
  </tr>
</table>
<table width="450" border="0" align="center" cellpadding="0" cellspacing="1">
  <tr>
    <td align="center"><strong><font size="+2" face="Arial, Helvetica, sans-serif">Contratos</font></strong></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
    {foreach item=p from=$produtos}
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td bgcolor="#F1F1F1"><table width="100%" border="0" cellspacing="2" cellpadding="3">

              <tr>

                <td width="410"><font size="2" face="Arial, Helvetica, sans-serif">#{$p.id_cliente_produto} - <b>{$p.nome}</b></font></td>

                <td width="20" align="center"><img src="template/default/images/viewer.gif" alt="Ver Contrato" width="15" height="15"></td>
                <td width="20" align="center"><a href="clientes.php?op=cobranca&rotina=excl_confirma&id_cliente={$p.id_cliente}&id_cliente_produto={$p.id_cliente_produto}"><img src="template/default/images/delete.gif" alt="Excluir Definitivamente o Contrato" width="15" height="15" border="0"></a></td>

              </tr>
            </table></td>
        </tr>
        {foreach item=c from=$p.contas}

        <tr>
          <td><p>{$c.tipo_conta} - {$c.username}{if $c.tipo_conta|trim == "E"}@{$c.dominio}{/if}</p></td>

        </tr>
		{/foreach}
      </table>
      {/foreach}
      </td>
  </tr>
</table>
<p>&nbsp;</p>
<p>{include file='cliente_footer.html'}
</p>
