<!-- CLIENTE_CONTRATO_CANCEL.HTML-->
<script>
{literal}
function confirma(){

var agree = confirm("Você tem certeza que quer CANCELAR este contrato????");
	if ( agree ){
		return true;
	}else{
		return false;
	}
	
}
{/literal}
</script>
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="701" border="0" cellspacing="3" cellpadding="3">
      <tr align="CENTER" valign="MIDDLE">
        <td bgcolor="#f1f1f1"><strong><font color="#666666" size="4" face="Arial, Helvetica, sans-serif">Contratos
              - Cancelamento</font></strong></td>
      </tr>
      <tr align="CENTER" valign="MIDDLE">
        <td width="350"><font size="3" face="Arial, Helvetica, sans-serif">&nbsp;</font></td>
      </tr>
      <tr align="CENTER" valign="MIDDLE">
        <td><table align="CENTER" width="350" border="0" cellspacing="0" cellpadding="0">
            <tr align="CENTER">
              <td colspan="2"><font size="3" face="Arial, Helvetica, sans-serif"><strong>Contrato
                    em Vigor</strong></font></td>
            </tr>
            <tr>
              <td width="128"><p><strong>Nome:</strong></p></td>
              <td width="222"><p>{$id_cliente}{$contrato.nome_razao}</p></td>
            </tr>
            <tr>
              <td><p><strong>Username:</strong></p></td>
              <td><p>{$produto_carac.username}</p></td>
            </tr>
            <tr>
              <td><p><strong>Produto:</strong></p></td>
              <td><p>{$produto.nome_produto}</p></td>
            </tr>
            <tr>
              <td><p><strong>Valor do Contrato:</strong></p></td>
              <td><p>{$contrato.valor_contrato}</p></td>
            </tr>
            <tr>
              <td><p><strong>Status:</strong></p></td>
              <td><p>{$contrato.status}</p></td>
            </tr>
            <tr>
              <td><p><strong>Data Contrata&ccedil;&atilde;o:</strong></p></td>
              <td><p>{$contrato.data_contratacao}</p></td>
            </tr>
            <tr>
              <td><p><strong>Banda Download</strong></p></td>
              <td><p>{$produto_carac.download_kbps}</p></td>
            </tr>
            <tr>
              <td><p><strong>Banda Upload</strong></p></td>
              <td><p>{$produto_carac.upload_kbps}</p></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
        </table></td>
      </tr>
      <tr align="CENTER" valign="MIDDLE">
        <td><strong><font size="3" face="Arial, Helvetica, sans-serif">Faturas
              a serem estornadas</font></strong></td>
      </tr>
      <tr align="CENTER" valign="MIDDLE">
        <td><table align="CENTER" width="350" border="0" cellspacing="0" cellpadding="0">
            <tr bgcolor="#f1f1f1">
              <td width="175" align="CENTER"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Venc.</font></strong></td>
              <td width="175" align="RIGHT"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Valor</font></strong></td>
            </tr>
            <tr>
              <td colspan="2"> {foreach item=v from=$faturas}
                <table width="350" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="175" align="CENTER"><p>{$v.data}</p></td>
                      <td width="175" align="RIGHT"><p>{$v.valor}</p></td>
                    </tr>
                    <tr>
                      <td colspan="2" bgcolor="#999999"><img src="images/menu/spacer.gif" alt="," width="150" height="1"></td>
                    </tr>
                  </table>
                {/foreach} </td>
            </tr>
        </table></td>
      </tr>
    </table>
      <br>
      <table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td bgcolor="#666666"><table width="700" border="0" cellspacing="1" cellpadding="0">
              <tr>
                <td bgcolor="#f1f1f1" height="80" align="CENTER"><p>Ao confirmar
                    o cancelamento do contrato este ser&aacute; marcado como
                    cancelado.<br>
                  As faturas n&atilde;o pagas do contrato ser&atilde;o estornadas.</p></td>
              </tr>
          </table></td>
        </tr>
      </table>
      <form name="form1" method="post" action="{$smarty.server.PHP_SELF}">
        <table width="700" border="0" cellspacing="1" cellpadding="0">
          <tr>
            <td align="CENTER"><input type="submit" name="Submit" value="Confirmar Cancelamento de Contrato" onClick="return confirma();"></td>
          </tr>
          <tr>
            <td align="CENTER"><!-- info do contrato antigo -->
                <input name="nome_razao" type="hidden" value="{$contrato.nome_razao}" id="nome_razao">
                <input name="username" type="hidden" value="{$produto_carac.username}" id="username">
                <input name="nome_produto" type="hidden" value="{$produto_geral.nome}" id="nome_produto">
                <input name="valor_contrato" type="hidden" value="{$contrato.valor_contrato}" id="valor_contrato">
                <input name="status" type="hidden" value="{$contrato.status}" id="status">
                <input name="data_contratacao" type="hidden" value="{$contrato.data_contratacao}" id="data_contratacao">
                <input name="download_kbps" type="hidden" value="{$produto_carac.download_kbps}" id="download_kbps">
                <input name="upload_kbps_old" type="hidden" value="{$produto_carac.upload_kbps}" id="upload_kbps_old">
                <input name="id_cliente_produto" type="hidden" value="{$contrato.id_cliente_produto}" id="id_cliente_produto">
                <input type="hidden" name="op" value="contratos">
                <input type="hidden" name="acao" value="cancelar">
                <input type="hidden" name="rotina" value="modificar">
                <input type="hidden" name="p" value="ok">
            <input name="id_cliente" type="hidden" value="{$id_cliente}" id="id_cliente">
            <input name="tipo_produto" type="hidden" value="{$tipo_produto}" id="tipo_produto"></td>
          </tr>
          <tr>
            <td align="CENTER">&nbsp;</td>
          </tr>
        </table>
      </form>
    <p></p></td>
  </tr>
</table>
</body>


</html>
