
{include file='cliente_header.html'}


<table width="600" border="0" align="center" cellpadding="0" cellspacing="2">
	<tr>
		<td><div align="center">
		<p><strong>Hist&oacute;rico de Cobran&ccedil;a</strong></p>
		</div></td>
	</tr>
	<tr>
		<td><iframe align="middle" frameborder="1" height="150"  width="580" id="histcob" scrolling="auto" src="clientes.php?op=clienteCobHist"></iframe></td>
	</tr>
	<tr>
		<td align="center"><p><strong>Contratos</strong></p></td>
	</tr>
	<tr>
		<td><iframe align="middle" frameborder="1" height="150"  width="580" id="histcontr" scrolling="auto" src="clientes.php?op=clienteCobContr"></iframe></td>
	</tr>
</table>



{include file='cliente_footer.html'}

