<div id="clientesubtabs">
	<ul>
		<li {if $rotina=="contratar"}id="current"{/if}><a href="{$smarty.server.PHP_SELF}?op=cobranca&rotina=contratar&id_cliente={$id_cliente}"><span>Novo Contrato</span></a></li>
		<li {if (!$rotina || $rotina=="resumo" && !$tipo_lista )}id="current"{/if}><a href="{$smarty.server.PHP_SELF}?op=cobranca&id_cliente={$id_cliente}&rotina=resumo&tipo_lista="><span>Resumo</span></a></li>
		<li {if $rotina=="resumo" && $tipo_lista=="contratos"}id="current"{/if}><a href="{$smarty.server.PHP_SELF}?op=cobranca&id_cliente={$id_cliente}&rotina=resumo&tipo_lista=contratos"><span>Contratos</span></a></li>
		<li {if $rotina=="resumo" && $tipo_lista=="tudo"}id="current"{/if}><a href="{$smarty.server.PHP_SELF}?op=cobranca&id_cliente={$id_cliente}&rotina=resumo&tipo_lista=tudo"><span>Faturas</span></a></li>
		<li {if $rotina=="carne"}id="current"{/if}><a href="{$smarty.server.PHP_SELF}?op=cobranca&id_cliente={$id_cliente}&rotina=carne"><span>Carnês</span></a></li>
	</ul>
<div>
