<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>{ include file='menu_principal.html' }</td>
        </tr>
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"><h1>Contrata&ccedil;&atilde;o 
                    de Produto </h1>
                  <h2>Cliente: {$cliente.id_cliente} - {$cliente.nome}</h2>
                  <h2>
                    <select name="tipo" id="tipo">
                      <option value="BL">Banda Larga</option>
                      <option value="D">Discado</option>
                      <option value="H">Hospedagem</option>
                    </select>
                  </h2>
                  <table width="100" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><form name="form1" method="post" action="{$smarty.server.PHP_SELF}">
                          <table width="500" border="0" cellspacing="2" cellpadding="2">
                            <tr>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td align="center" valign="middle"> <table width="450" border=0 bgcolor="#F1F1F1" id="cob">
                                  <tr>
                                    <td colspan=2><h2><font color="#000000">Contrato</font></h2></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="75"><p>Produto:</p></td>
                                    <td width="304" bgcolor="#FFFFFF">
                                      <SELECT name='id_produto' >

                                        <OPTION VALUE=''></OPTION>
                                        {foreach item=lista from=$lista_produtos}
                                        <OPTION VALUE='{$lista.id_produto}' >{$lista.nome}</OPTION>
                                        {/foreach}

                                      </SELECT> </td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="75"><p>Dt Contrato:</p></td>
                                    <td bgcolor="#FFFFFF"><input type="text" size=10 maxlength="10" name="data_contratacao2" value=""></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="75"><p>Vigência:</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <input type="text" size=2 maxlength="2" name="vigencia2" value="12">
                                        meses</p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="75"><p>Dominio:</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <SELECT name='dominios' >
                                          <OPTION VALUE='{$provedor_padrao.dominio_padrao}' >{$provedor_padrao.nome}</OPTION>
                                          {foreach item=a from=$lista_dominios }
                                          <OPTION VALUE='canalpicos.com.br' >canalpicos.com.br</OPTION>
                                          <OPTION VALUE='firme.com.br'  SELECTED >firme.com.br</OPTION>
                                          <OPTION VALUE='virtex.com.br' >virtex.com.br</OPTION>
                                          <OPTION VALUE='mosman.com.br' >mosman.com.br</OPTION>
                                          <OPTION VALUE='ninjamanco.com.br' >ninjamanco.com.br</OPTION>
                                          <OPTION VALUE='tvinsana.com.br' >tvinsana.com.br</OPTION>
                                        </SELECT>
                                        (para cadastro de e-mails)</p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="75"><p>Status:</p></td>
                                    <td bgcolor="#FFFFFF"><SELECT name='select2' >
                                        <OPTION VALUE='A'  SELECTED >Ativo</OPTION>
                                        <OPTION VALUE='S' >Suspenso</OPTION>
                                        <OPTION VALUE='C' >Cancelado</OPTION>
                                      </SELECT> </td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="75"><p>Dia
                                        Vencimento:</p></td>
                                    <td bgcolor="#FFFFFF"> <p>
                                        <input type="text" id="dia_vencimento23" name="dia_vencimento2" value="" size=2 maxlength=2 onFocusOut="javascript:processaDataContrato();"  onChange="javascript:processaDataContrato();">
                                        Carência:
                                        <input type="text" id="carencia_pagamento23" name="carencia_pagamento2" value="" size=2 maxlength=2>
                                        dias </p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="75"><p>Desconto</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <input type="text" size=7 maxlength="7" name="desconto2" value="0,00">
                                        reais</p></td>
                                  </tr>
                                  <tr>
                                    <td colspan=2><font color="#FFFFFF" size="-1">Cobrança</font></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="75">Opção:</td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <SELECT name='select2' >
                                          <OPTION VALUE='G' >Gerar Carnê</OPTION>
                                          <OPTION VALUE='J' >Carnê já foi gerado</OPTION>
                                        </SELECT>
                                        <br>
                                        de
                                        <input type="text" name="ini_carne2" value="" size=10 maxlength=10>
                                        até
                                        <input type="text" name="data_carne2" value="" size=10 maxlength=10>
                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="75">Adesão:</td>
                                    <td bgcolor="#FFFFFF"><SELECT name='select2' >
                                        <OPTION VALUE='1' >Sim</OPTION>
                                        <OPTION VALUE='0' >Não</OPTION>
                                      </SELECT> </td>
                                  </tr>
                                </table></td>
                            </tr>
                            <tr>
                              <td align="center" valign="middle">
								{ if $tipo_produto == "BL" }
                              <table width="450" border=0 bgcolor="#F1F1F1" id="bl">
                                  <tr>
                                    <td colspan=4><h2><font color="#000000">Dados
                                        da Conta</font></h2></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>Username:</p></td>
                                    <td bgcolor="#FFFFFF" colspan=3><input type="text" maxlength="30" name="username2" value=""></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>Senha:</p></td>
                                    <td bgcolor="#FFFFFF" colspan=3> <input type="password" maxlength="32" name="senha2">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>Confirme:</p></td>
                                    <td bgcolor="#FFFFFF" colspan=3> <input type="password" maxlength="32" name="conf_senha2">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>POP:</p></td>
                                    <td bgcolor="#FFFFFF"><SELECT name='select2' >
                                        <OPTION VALUE='5' >AP - Associacao</OPTION>
                                        <OPTION VALUE='4' >AP - BOMBA</OPTION>
                                        <OPTION VALUE='30' >AP - CANOPY</OPTION>
                                        <OPTION VALUE='33' >AP - COHAB</OPTION>
                                        <OPTION VALUE='1' >AP - DVD</OPTION>
                                        <OPTION VALUE='3' >AP - Junco</OPTION>
                                        <OPTION VALUE='28' >AP - KLN</OPTION>
                                        <OPTION VALUE='37' >AP - PICOS HOTEL</OPTION>
                                        <OPTION VALUE='2' >AP - Wireless Network</OPTION>
                                        <OPTION VALUE='34' >AP TCV</OPTION>
                                        <OPTION VALUE='24' >CABO</OPTION>
                                        <OPTION VALUE='31' >IP - POPS</OPTION>
                                        <OPTION VALUE='7' >POP - Liborio Novo</OPTION>
                                        <OPTION VALUE='26' >POP - ANTARES</OPTION>
                                        <OPTION VALUE='18' >POP - Alberto</OPTION>
                                        <OPTION VALUE='12' >POP - Bosco</OPTION>
                                        <OPTION VALUE='6' >POP - DECON</OPTION>
                                        <OPTION VALUE='21' >POP - Diocese</OPTION>
                                        <OPTION VALUE='14' >POP - Educandario</OPTION>
                                        <OPTION VALUE='8' >POP - Esc.Luis</OPTION>
                                        <OPTION VALUE='15' >POP - Firme</OPTION>
                                        <OPTION VALUE='17' >POP - Galeria Dep.Sa
                                        Urtiga</OPTION>
                                        <OPTION VALUE='23' >POP - Galeria Tininha
                                        de Sa</OPTION>
                                        <OPTION VALUE='19' >POP - Geraldinho</OPTION>
                                        <OPTION VALUE='16' >POP - Jocile</OPTION>
                                        <OPTION VALUE='25' >POP - Josio</OPTION>
                                        <OPTION VALUE='10' >POP - LanHouse</OPTION>
                                        <OPTION VALUE='11' >POP - Pamplona</OPTION>
                                        <OPTION VALUE='36' >POP - Picos Hotel</OPTION>
                                        <OPTION VALUE='32' >POP - Rego Neto</OPTION>
                                        <OPTION VALUE='9' >POP - Salustiano</OPTION>
                                        <OPTION VALUE='29' >POP - TVSAT</OPTION>
                                        <OPTION VALUE='22' >POP - Vidal</OPTION>
                                        <OPTION VALUE='27' >POP - Viturino</OPTION>
                                        <OPTION VALUE='13' >POP - Viviane</OPTION>
                                        <OPTION VALUE='20' >POP - Ze Maia</OPTION>
                                        <OPTION VALUE='35' >Sao Raimundo Nonato</OPTION>
                                      </SELECT> </td>
                                    <td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>NAS:</p></td>
                                    <td bgcolor="#FFFFFF"><SELECT name='select2' >
                                        <OPTION VALUE='3' >IP: SRNonato</OPTION>
                                        <OPTION VALUE='1' >IP: srv-ip</OPTION>
                                        <OPTION VALUE='2' >PPPoE: srv-pppoe</OPTION>
                                      </SELECT> </td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>Seleção
                                        de Rede/IP:</p></td>
                                    <td bgcolor="#FFFFFF"><SELECT name='select2' onChange='javascript:verificaEndereco()'>
                                        <OPTION VALUE='A' >Automática</OPTION>
                                        <OPTION VALUE='M' >Manual</OPTION>
                                      </SELECT> <br> <input type="text" name="endereco2" value=""></td>
                                    <td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>MAC:</p></td>
                                    <td bgcolor="#FFFFFF" valign="top"><input type="text" name="mac2" value="" maxlength="17" size=17></td>
                                  </tr>
                                </table>
								{ /if }
								{if $tipo_produto == "D"}
                                <br>
                                <table width="450" border=0 bgcolor="#F1F1F1" id="disc">
                                  <tr>
                                    <td colspan=2><h2>Dados da Conta</h2></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>Username:</p></td>
                                    <td bgcolor="#FFFFFF"><input type="text" maxlength="30" name="username3" value=""></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>Senha:</p></td>
                                    <td bgcolor="#FFFFFF"> <input type="password" maxlength="32" name="senha3">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>Confirme:</p></td>
                                    <td bgcolor="#FFFFFF"> <input type="password" maxlength="32" name="conf_senha3">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>Fone:</p></td>
                                    <td bgcolor="#FFFFFF"><input type="text" size=15 maxlength="50" name="foneinfo" value=""></td>
                                  </tr>
                                </table>
								{/if}
								{if $tipo_produto == "H"}
                                <br> <table width="450" border="0" cellpadding="0" cellspacing="1" id="hosp">
                                  <tr>
                                    <td align="center" valign="middle"><table border=0 width="450" bgcolor="#F1F1F1">
                                        <tr>
                                          <td colspan=2><h2>Dados da Conta</h2></td>
                                        </tr>
                                        <tr>
                                          <td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>Username:</p></td>
                                          <td bgcolor="#FFFFFF"><input type="text" maxlength="30" name="username4" value=""></td>
                                        </tr>
                                        <tr>
                                          <td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>Senha:</p></td>
                                          <td bgcolor="#FFFFFF"> <input type="password" maxlength="32" name="senha4">
                                          </td>
                                        </tr>
                                        <tr>
                                          <td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>Confirme:</p></td>
                                          <td bgcolor="#FFFFFF"> <input type="password" maxlength="32" name="conf_senha4">
                                          </td>
                                        </tr>
                                        <tr>
                                          <td bgcolor="#FFFFFF" align="right" width="70" valign="top"><p>Fone:</p></td>
                                          <td bgcolor="#FFFFFF"><input type="text" size=15 maxlength="50" name="foneinfo2" value=""></td>
                                        </tr>
                                      </table></td>
                                  </tr>
                                  <tr>
                                    <td align="center" valign="middle"><table border=0 width="450" bgcolor="#F1F1F1">
                                        <tr>
                                          <td colspan=2><p><strong>Dados da Hospedagem</strong></p></td>
                                        </tr>
                                        <tr>
                                          <td bgcolor="#FFFFFF" align="right" width="70">
                                            <p>Tipo: </p></td>
                                          <td bgcolor="#FFFFFF"> <SELECT name='tipo_hospedagem' onChange='javascript:verificaTipoHosp();' onFocusOut='javascript:verificaTipoHosp();' onClick='javascript:verificaTipoHosp();'>
                                              <OPTION VALUE='U' >http://firme.com.br/usuarios/username/</OPTION>
                                              <OPTION VALUE='D' >http://www.dominio.com.br/</OPTION>
                                            </SELECT> </td>
                                        </tr>
                                        <tr>
                                          <td colspan=2><p><strong>Dados do Dominio</strong></p></td>
                                        </tr>
                                        <tr>
                                          <td bgcolor="#FFFFFF" align="right" width="70">
                                            <p>Criar: </p></td>
                                          <td bgcolor="#FFFFFF"> <p><font color="#0000FF">
                                              www.
                                              <input type="text" name="dominio_hospedagem" value="">
                                              </font> </p></td>
                                        </tr>
                                      </table></td>
                                  </tr>
                                </table>
								{/if}
								</td>
                            </tr>
                            <tr>
                              <td align="center" valign="middle"><input type="hidden" name="p" value="contrato">
                                <input type="hidden" name="op" value="cad"> <input type="hidden" name="id_cliente" value="1031">
                                <input type="hidden" name="id_cliente_produto" value="">
                                <input type="hidden" name="tipo" value="H"></td>
                            </tr>
                            <tr>
                              <td align="center" valign="middle"><input name="botao_enviar2" type="submit" class=input2 id="botao_enviar23" value="Cadastrar &gt;&gt;" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;"></td>
                            </tr>
                          </table>
                        </form></td>
                    </tr>
                  </table>
                  <p><a href="javascript:history.go(-1);"><br>
                    voltar</a> </p>
                  <p>&nbsp;</p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="20" align="center" bgcolor="#BCD3C4"><table width="400" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">&copy;
              Mosman Consultoria - Todos os Direitos Reservados</font></div></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
