<!-- cliente_cobranca_modificacao.html --> {literal} {/literal} 
<p>{include file='cliente_header.html'} </p>
<table width="450" border="0" align="center" cellpadding="0" cellspacing="1">
  <tr> 
    <td align="center"><strong><font size="+2" face="Arial, Helvetica, sans-serif">Cobran&ccedil;a</font></strong></td>
  </tr>
  <tr> 
    <td align="CENTER" valign="MIDDLE"><table width="400" border="0" cellspacing="0" cellpadding="0" bgcolor="#666666">
        <tr> 
          <td><table width="400" border="0" cellspacing="1" cellpadding="0">
              <tr align="CENTER" valign="MIDDLE" bgcolor="#CCCCCC"> 
                <td height="30"><strong><a href="cobranca.php?op=contratos&acao=cancelar&id_cliente_produto={$id_cliente_produto}&id_cliente={$id_cliente}&tipo_produto={$tipo_produto}">Cancelar</a></strong></td>
                <td height="30"><strong><a href="cobranca.php?op=contratos&acao=excluir&id_cliente_produto={$id_cliente_produto}&id_cliente={$id_cliente}&tipo_produto={$tipo_produto}">Excluir</a></strong></td>
                <td><a href="cobranca.php?op=contratos&acao=migrar&id_cliente_produto={$id_cliente_produto}&id_cliente={$id_cliente}&tipo_produto={$tipo_produto}"><strong>Migrar 
                  Contrato</strong></a></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
  </tr>
</table>
<p>&nbsp; </p>
<table align="CENTER" width="550" border="0" cellspacing="1" cellpadding="0">
  <tr> 
    <td align="CENTER"><font face="Arial, Helvetica, sans-serif" size="-1"><strong>Contrato</strong></font></td>
  </tr>
  <tr>
    <td align="CENTER" height="400"><iframe align="middle" frameborder="1" height="400" id="contrato" name="contrato" scrolling="auto" src="clientes.php?op=imprime_contrato&id_cliente={$id_cliente}&id_cliente_produto={$id_cliente_produto}&tipo_produto={$tipo_produto}" width="550"></iframe></td>
  </tr>
</table>
