<!-- cliente_cobranca_amortizacao.html -->

<script>
var dataVenc = '{$data}';
var status_fatura = '{$amort.status|trim}';
//var v = new String ('status_fatura');
</script>
{literal}
<script language="JavaScript" src="util.js"></script>
<script type="text/javascript" src="template/default/formatar_text.js"></script>

<script language="JavaScript">

function amortizarTudo() {

   f = document.formulario;
   f.amortizar.value = f.valor_restante.value;
   calculaValores();

}

//Inicio Dedé
//Faz a validação do formulário
function validaForm() {

	f = document.formulario;

	if (f.data_pagamento.value != "") {


		barras = f.data_pagamento.value.split("/");

		if (barras.length == 3){
			dia = barras[0];
			mes = barras[1];
			ano = barras[2];
			resultado = (!isNaN(dia) && (dia > 0) && (dia < 32)) && (!isNaN(mes) && (mes > 0) && (mes < 13)) && (!isNaN(ano) && (ano.length == 4));

			if (!resultado) {
				alert("Formato de data invalido!");
				return false;
			}
		}
	} else {
		alert("O campo data do pagamento não pode ser deixado em branco.");
		return false;
	}

  	formulario.status_fatura.value = formulario.status.value

	return true;
}

//Fim Dedé
  // if(formulario.reagendar.value == 1 && formulario.amortizar.value == "0,00" ){
   //		formulario.status.value = "G";
   //}

  //formulario.status_fatura.value = formulario.status.value;


function pagamentoHoje() {
   formulario.data_pagamento.value = hoje();
}

function pagamentoVencimento() {


   formulario.data_pagamento.value = dataVenc;
}

function verificaReagendamento() {
   formulario.reagendamento.disabled = !formulario.reagendar.checked;

      //if(formulario.reagendar.value == "1" && formulario.amortizar.value == "0,00" ){
   		//formulario.status.value = "G";
   //}

   //formulario.status_fatura.value = formulario.status.value;
}

function calculaValores() {

   tmpTotal = new String( formulario.valor_total.value );
   tmpPago  = new String( formulario.valor_pago.value );
   tmpDesc  = new String( formulario.desconto.value );
   tmpAcres = new String( formulario.acrescimo.value );
   tmpAmort = new String( formulario.amortizar.value );

   tt = RoundToNdp(tmpTotal.replace(/\,/,"."),2);
   tp = RoundToNdp(tmpPago.replace(/\,/,"."),2);
   td = RoundToNdp(tmpDesc.replace(/\,/,"."),2);
   ta = RoundToNdp(tmpAcres.replace(/\,/,"."),2);
   am = RoundToNdp(tmpAmort.replace(/\,/,"."),2);

   if( isNaN(td) ) td = 0;
   if( isNaN(ta) ) ta = 0;
   if( isNaN(am) ) am = 0;

   tr = tt - tp;
   tr = RoundToNdp(tr,2); // Tive que usar essa merda por conta de um pau no floatpoint do javascript!!! Bah
   tr = tr - td + ta;

   vp = RoundToNdp(tr - am,2); // Mesma merda

   if( am == 0 && tt-td+ta == tr ) {
      formulario.status.value = "A";
   } else if( vp > 0 ) {
      formulario.status.value = "R";
   } else {
      formulario.status.value = "P";
   }

  // Reagendamento();

   formulario.status.disabled = true;

   debug = 0;
   if( debug ) {
      window.alert("TT: "+tt);
      window.alert("TP: "+tp);
      window.alert("TD: "+td);
      window.alert("TA: "+ta);
      window.alert("TR: "+tr);
      window.alert("AM: "+am);
      window.alert("VP: "+vp);
   }

   formulario.valor_total.value = numberFormat(tt);
   formulario.valor_pago.value = numberFormat(tp);
   formulario.desconto.value = numberFormat(td);
   formulario.acrescimo.value = numberFormat(ta);
   formulario.valor_restante.value = numberFormat(tr);
   formulario.amortizar.value = numberFormat(am);
   formulario.valor_pendente.value = numberFormat(vp);

   return true;

}
function pago(){
	//alert(formulario.status.value);
	if (formulario.status.value == "P" || status_fatura == "C" || status_fatura == "E"){
		//alert(formulario.status.value);
		formulario.valor_pago.disabled=true;
		formulario.desconto.disabled=true;
		formulario.acrescimo.disabled=true;
		formulario.valor_restante.disabled=true;
		formulario.amortizar.disabled=true;
		formulario.valor_pendente.disabled=true;
		formulario.status.disabled=true;
		formulario.data_pagamento.disabled=true;
		formulario.reagendar.disabled=true;
		formulario.reagendamento.disabled=true;
		formulario.observacoes.disabled=true;
		formulario.hoje.disabled=true;
		formulario.venc.disabled=true;
		formulario.submit.disabled=true;
		change("valor_pago","disabled");
		change("desconto","disabled");
		change("acrescimo","disabled");
		change("valor_restante","disabled");
		change("amortizar","disabled");
		change("status","disabled");
		change("data_pagamento","disabled");
		change("valor_pendente","disabled");
		change("reagendamento","disabled");
		change("observacoes","disabled");
		change("valor_total","disabled");
	}
	return true;

}
function change(id, newClass) {
	identity=document.getElementById(id);
	identity.className=newClass;
}

/*function Reagendamento(){
	var status = "G";

	//var status;
	if( formulario.reagendamento.value ){
		formulario.status.value = status;
	}
		//formulario.status.value = status;
	formulario.status_fatura.value = status;

}*/


function Tecla(e)
{
	if (document.all) // Internet Explorer
		var tecla = event.keyCode;
	else if(document.layers) // Nestcape
		var tecla = e.which;
		if (tecla != 92 && tecla != 47 && tecla != 45)
			return true;
		else
			{
				if (tecla != 8) // backspace
					event.keyCode = 0;
					//return false;
				else
					return true;
			}
}

</script>
{/literal}







<html>
<head>
{literal}

<script>
	function calculaReagendamento(){
	
		var valor_pagar = document.formulario.amortizar.value;
			valor_total = document.formulario.valor_restante.value;
			valor_pendente = document.formulario.valor_pendente.value;
			
			document.getElementById("reagendar").enabled = true ;			

			 if (valor_total > valor_pagar && valor_pendente > '0,00' ){
				
				document.getElementById("reagendar").enabled = true ; 
			
			}
			
			if (valor_pagar >= valor_total && valor_pendente == '0,00' ){
			
				document.getElementById("reagendar").disabled = true; 
			
			}			
			
					
}

</script>






{/literal}

<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">


<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<td>
{include file=cliente_header.html}
		</td>
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="CENTER" valign="MIDDLE"> <form name=formulario method="post" action="{$smarty.server.PHP_SELF}" onSubmit="return validaForm()" >
                    <font size="+2" face="Arial, Helvetica, sans-serif"><strong>Amortiza&ccedil;&atilde;o</strong></font>
                    <input type="hidden" name="acao" value="alt">
                    <input type="hidden" name="op" value="amortizacao">
                    <input type="hidden" name="id_cliente" value="{$id_cliente}">
                    <input type="hidden" name="id_cliente_produto" value="{$amort.id_cliente_produto}">
                    <input type="hidden" name="data" value="{$amort.data}">
                    <input type="hidden" name="valor" value="{$amort.valor}">
                    <input type="hidden" name="descricao" value="{$amort.descricao}">
                    <input type="hidden" name="vt" value="{$vt}">
                    <input type="hidden" name="vp" value="{$vp}">
                    <input type="hidden" name="status_fatura" value="">
                    <input type="hidden" name="popup" value="{$amort.popup}">
                    <table border=0  _bgcolor="#000000" cellspacing=1 cellpadding=1>
		<tr>
			<td align="center">
				<table border=0 width=390 cellspacing=0 cellpadding=0>
				   <tr><td><font color="#FF0000"><b>{$sErro}</b></font></td></tr>
				</table>
				          <table width="200" border="0">
                            <tr>
                              <td> <table border=0 width="325" bgcolor="#A0A0A0">
                                  <tr bgcolor="#fafafa">
                                    <td colspan=2><font color="#000000" size="+1" face="Arial, Helvetica, sans-serif"><strong>Fatura</strong></font></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Referente
                                        à:</p></td>
                                    <td width="376" bgcolor="#FFFFFF"><p>{$amort.descricao}</p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Vencimento:</p></td>
                                    <td bgcolor="#FFFFFF"><p>{$data} {if $amort.reagendamento}<font color="#CC0000" size="1"
OnKeyPress="formatar(this, '##/##/####'); return Tecla(event);">reagendado para {$amort.reagendamento|date_format:"%e/%m/%Y"}</font>{/if}
                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Valor
                                        Total:</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <input type="text" name="valor_total" value="{$amort.valor}" disabled="true">
                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Valor
                                        já pago(-):</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <input type="text" name="valor_pago" value="{$amort.valor_pago}" disabled="1">
                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Desconto(-):</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <!--<input type="text" name="desconto" value="{$amort.desconto}" onChange="javascript:calculaValores();" onFocusOut="javascript:calculaValores();"> -->
                                        <input type="text" name="desconto" value="{$amort.desconto}" onChange="javascript:calculaValores();" onFocusOut="javascript:calculaValores();">
                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Acrescimo(+):</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <input type="text" name="acrescimo" value="{$amort.acrescimo}" onChange="javascript:calculaValores();" onFocusOut="javascript:calculaValores();">
                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Valor
                                        a ser pago(=):</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <input type="text" name="valor_restante" value="{$amort.valor_restante}" disabled=1>
                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Amortizar(-):</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <input type="text" name="amortizar" value="{$amort.amortizar}" onChange="javascript:calculaValores();" onBlur=" calculaReagendamento(); " onFocusOut="javascript:calculaValores(); calculaReagendamento();">
                                        <input type="button" name="hoje" value="Tudo" onClick="javascript:amortizarTudo(); calculaReagendamento();" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;">
                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Valor
                                        Pendente(=):</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <input type="text" name="valor_pendente" value="{$amort.valor_pendente}" disabled=1>
                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Status:</p></td>
                                    <td bgcolor="#FFFFFF"> <SELECT id="status" name="status" style="width: 117px;">
							{foreach key=id item=nome from=$ls_status_fatura}
							            <OPTION value="{$id}" {if $id == $amort.status}SELECTED{/if}>{$nome}</OPTION>
							{/foreach}
							          </SELECT> </td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="87"><p>Data
                                        do Pagamento:</p></td>
                                    <td bgcolor="#FFFFFF"><p>
                                        <input name="data_pagamento" type="text" OnKeyPress="formatar(this, '##/##/####'); return Tecla(event);" value="{$data_pagamento}" maxlength="10">
                                        <input type="button" name="hoje" value="Hoje" onClick="javascript:pagamentoHoje();" &gt;&gt;"" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;">
                                        <input type="button" name="venc" value="Venc." onClick="javascript:pagamentoVencimento();" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;">
                                      </p></td>
                                  </tr>
                                </table></td>
                              <td valign="top"> <table width="320" border=0 bgcolor="#A0A0A0" dwcopytype="CopyTableRow">
                                  <tr bgcolor="#fafafa">
                                    <td colspan=2><font color="#000000" size="+1" face="Arial, Helvetica, sans-serif"><strong>Opções</strong></font></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right"  width="150">
                                      <p>
                                        <input type="checkbox" name="reagendar" value="1"  class="checkbox" onClick="javascript:verificaReagendamento();" onChange="javascript:verificaReagendamento();" {$reagendamento_checked}>
                                        re-agendar cobrança para dia: </p></td>
                                    <td width="346" bgcolor="#FFFFFF"><input name="reagendamento" type="text" value="{$amort.reagendamento|date_format:'%e/%m/%Y'}" OnKeyPress="formatar(this, '##/##/####'); return Tecla(event);" maxlength=10 id="reagendamento"></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#FFFFFF" align="right" width="120" valign="top"><p>Observações:</p></td>
                                    <td bgcolor="#FFFFFF"><textarea name="observacoes" rows=7 cols=30>{$amort.observacoes}</textarea></td>
                                  </tr>
                                </table>
                                <br>
                                {if $suspenso}
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
                                  <tr>
                                    <td><table width="100%" border="0" cellspacing="1" cellpadding="0">
                                        <tr>
                                          <td bgcolor="#f1f1f1" height="40"><div align="CENTER"><font size="2" face="Arial, Helvetica, sans-serif"><strong>Cliente
                                              suspenso por pend&ecirc;ncias financeiras
                                              - <br>
                                              {$suspenso.status} </strong></font></div></td>
                                        </tr>
                                      </table></td>
                                  </tr>
                                </table>
                                {/if}</td>
                            </tr>
                            <tr>
                              <td colspan="2"> <div align="center">
<input name="botao_enviar" type="submit" class=input2 id="submit" value="Amortizar >>" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;">
                                </div>
                                </td>
                            </tr>
                          </table>

                        </td>
		</tr>
	</table>
	</form>

				</td>
              </tr>
            </table></td>
        </tr>
      </table>
	</td>
  </tr>
</table>
{literal}
<script language="JavaScript">
calculaValores();
verificaReagendamento();
pago();
</script>
{/literal}
</body>


</html>
