<!-- COBRANCA_RETORNO.HTML -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><h1>Retorno </h1>
            <table width="400" border="0" cellspacing="0" cellpadding="0" bgcolor="#666666">
              <tr>
                <td><table width="400" border="0" cellspacing="1" cellpadding="0" height="150">
                    <tr>
                      <td bgcolor="#EEEEEE"><form enctype="multipart/form-data" name="form1" method="post" action="{$smarty.server.PHP_SELF}">
                        {if $erro}
                  <center>
                    <font face="arial" color="red" size="-1"><b>Erro: {$erro}</b></font>
                  </center>
                        <br>
                        {/if}
                        <input type="hidden" name="MAX_FILE_SIZE" value="30000">
                  <input type="hidden" name="op" value="{$op}" />
                  <input type="hidden" name="sop" value="{$sop}" />
                  <table align="CENTER" width="250" border="0" cellspacing="1" cellpadding="0">
                    <tr>
                      <td width="317"><p>Arquivo</p></td>
                    </tr>
                    <tr>
                      <td><p>
                          <input name="arquivo" type="file" size="40" id="arquivo">
                      </p></td>
                    </tr>
                    <tr>
                      <td><p>Formato</p></td>
                    </tr>
                    <tr>
                      <td><select name="formato">


								  {foreach item=a from=$forma}
									{if $a.id_cobranca == "2" OR $a.id_cobranca == "1"}
                        <option value="{$a.id_cobranca}">{if $a.nome_cobranca == "Carnê"}PagContas{elseif $a.nome_cobranca == "Boleto Bancário"}Banco do Brasil{/if}</option>
									{/if}
								  {/foreach}

                      </select></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><input type="submit" name="submit" value="Enviar Retorno"></td>
                    </tr>
                  </table>
                      </form></td>
                    </tr>
                </table></td>
              </tr>
            </table>

          <p><font face="Arial, Helvetica, sans-serif" size="3"><strong>Ultimos
            arquivos de retorno processados</strong></font></p>
            <table width="550" border="0" cellspacing="1" cellpadding="0">
              <tr bgcolor="#f1f1f1" align="CENTER">
                <td><p><strong>Data</strong></p></td>
				<td><p><strong>Arquivo</strong></p></td>
                <td width="50"><p><strong>Status</strong></p></td>
                <td width="50"><p><strong>NRA</strong></p></td>
                <td width="50"><p><strong>NRPE</strong></p></td>
                <td width="50"><p><strong>NRSC</strong></p></td>
              </tr>
              {foreach item=r from=$ret}
  <tr align="CENTER">
  	<td><p><a href="cobranca.php?op=retornos&acao=detalhe&id_arquivo={$r.id_arquivo}">{$r.data|date_format:'%d/%m/%Y'}</a></p></td>
    <td><p><a href="cobranca.php?op=retornos&acao=detalhe&id_arquivo={$r.id_arquivo}">{$r.nome_arquivo}</a></p></td>
    <td><p><a href="cobranca.php?op=retornos&acao=detalhe&id_arquivo={$r.id_arquivo}">{$r.status}</a></p></td>
    <td><p><a href="cobranca.php?op=retornos&acao=detalhe&id_arquivo={$r.id_arquivo}">{$r.nra}</a></p></td>
    <td><p><a href="cobranca.php?op=retornos&acao=detalhe&id_arquivo={$r.id_arquivo}">{$r.nrpe}</a></p></td>
    <td><p><a href="cobranca.php?op=retornos&acao=detalhe&id_arquivo={$r.id_arquivo}">{$r.nrsc}</a></p></td>
  </tr>
              {/foreach}
            </table>
          <p><strong><font face="Arial, Helvetica, sans-serif"></font></strong></p></td>
        </tr>
</table>
                  {if !count($ret)}<p><b>Não há Retornos aplicados</b></p>{/if}
</body>


</html>
