<!-- COBRANCA_PRODUTOS_LISTA.HTML -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
{ literal } { /literal }
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">

              <tr>
                <td align="center" valign="middle"><h1><font size="+2" face="Arial, Helvetica, sans-serif"><strong>Produtos
                    Cadastrados</strong></font></h1>

                  <table width="500" border="0" cellspacing="2" cellpadding="0">
                    <tr align="center" valign="middle">
                      <td><a href="cobranca.php?op=cadastro"><img src="template/default/images/bt_cadastrar_novo.gif" width="69" height="65" border="0"></a></td>
                      <td bgcolor="#666666" ><img src="template/default/images/menu/spacer.gif" width="1" height="1" border="0"></td>
                      <td height="50"><a href="cobranca.php?op=lista"><img src="template/default/images/bt_todos.gif" alt="Exibir Todos" width="69" height="65" border="0"></a></td>
                      {if $_licenca.frontend.banda_larga}<td height="50"><a href="cobranca.php?op=lista&filtro=BL"><img src="template/default/images/bt_bandalarga.gif" alt="Exibir somente Banda Larga" width="69" height="65" border="0"></a></td>{/if}
                      {if $_licenca.frontend.discado}<td height="50"><a href="cobranca.php?op=lista&filtro=D"><img src="template/default/images/bt_discado.gif" alt="Exibir somente Discado" width="69" height="65" border="0"></a></td>{/if}
                      {if $_licenca.frontend.hospedagem}<td height="50"><a href="cobranca.php?op=lista&filtro=H"><img src="template/default/images/bt_hospedagem.gif" alt="Exibir somente Hospedagem" width="69" height="65" border="0"></a></td>{/if}

                    </tr>
                    <tr align="center" valign="middle">
                      <td colspan="8"><form name="form1" method="get" action="cobranca.php">
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                          <tr align="center" valign="middle">
                            <td><p>mostrando s&oacute; os produtos:
                                <input name="op" type="hidden" id="op" value="{$op}">
                                <input name="filtro" type="hidden" id="filtro" value="{$filtro}">
                              </p></td>
                            <td align="left"> <p> <label>
                                <input name="disponivel" type="radio" value="t" class="checkbox" {if $disponivel=="t" || !$disponivel}CHECKED{/if}>
                                Disponíveis para contratação</label> <br>
                                <label>
                                <input type="radio" name="disponivel" value="f" class="checkbox" {if $disponivel=="f"}CHECKED{/if}>
                                Não disponíveis para contratação</label> <br>
                              </p></td>
                            <td> <input name="imageField" type="image" src="template/default/images/bt_filtrar.gif" width="52" height="20" border="0" class="checkbox"></td>
                          </tr>
                        </table>
                        </form></td>
                    </tr>
                  </table>
                  <table border=0 width="700" cellspacing=0>
                    <tr bgcolor="#FAFAFA">
                      <td width=40 align="center"><b>&nbsp;</b></td>
                      <td width=150 colspan="2"><h2>Produto</h2></td>
                      <td><h2>Descri&ccedil;&atilde;o</h2></td>
                      <td width="60" align="right"><h2>R$</h2></td>
                      <td width="100" align="center"><h2>Disponivel</h2></td>
                    </tr>
                    <tr>
                      <td colspan=6><hr size=1></td>
                    </tr>
                    {foreach item=v from=$lista_produtos}
                    <tr bgcolor="#FFFFFF">
                      <td align="center" width=40><p><a href="cobranca.php?op=cadastro&id_produto={$v.id_produto}&tipo={$v.tipo}"><img src="template/default/images/gif_alterar.gif" width="16" height="16" alt="Alterar Produto" border="0"></a></p></td>
                      <td width="24" valign="middle"><img src="template/default/images/{$v.tipo|trim|lower}.gif" width="24" height="24">
                      </td>
                      <td valign="middle"><p><a href="cobranca.php?op=cadastro&id_produto={$v.id_produto}&tipo={$v.tipo}">{$v.nome}</a></p></td>
                      <td valign="middle"> <p><a href="cobranca.php?op=cadastro&id_produto={$v.id_produto}&tipo={$v.tipo}">{$v.descricao}</a></p></td>
                      <td width=60 align="right" valign="middle">
<p><a href="cobranca.php?op=cadastro&id_produto={$v.id_produto}&tipo={$v.tipo}">{$v.valor}</a></p></td>
                      <td width=100 align="center" valign="middle">
					  {if ($v.disponivel=="t")}
					  <a href="cobranca.php?op=cadastro&id_produto={$v.id_produto}&tipo={$v.tipo}"><img src="template/default/images/gif_disp.gif" width="26" height="26" alt="Produto Disponível para contratação" border=0></a>
					  {else}
					  <a href="cobranca.php?op=cadastro&id_produto={$v.id_produto}&tipo={$v.tipo}"><img src="template/default/images/gif_indisp.gif" width="26" height="26" alt="Produto NÃO Disponível para contratação" border=0></a>
					  {/if}
			  </td>
                    </tr>
                    { /foreach }
                  </table>
                  <p>&nbsp;</p>
      </td>
              </tr>
            </table></td>
        </tr>
      </table>
      {if !count($lista_produtos)}<p><b>Não há Produtos cadastrados</b></p>{/if}
      </td>
  </tr>
</table>
</body>


</html>
