<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>{ include file='menu_principal.html' }</td>
        </tr>
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle">
				<P align="center">&nbsp; </P>
                  <h1>Retorno: {$arquivo}<br>
                  <strong></strong></h1><form enctype="multipart/form-data" name="form1" method="post" action="{$smarty.server.PHP_SELF}"> 
                  {if $erro}<center><font face="arial" color="red" size="-1"><b>Erro: 
                  {$erro}<br>
                  </b></font><br>
                  {/if} 
                  <input type="hidden" name="op" value="{$op}" />
                  <input type="hidden" name="sop" value="{$sop}" />
                  </center>
<table width="550" border="0" cellspacing="0" cellpadding="0" bgcolor="#666666">
                    <tr>
                      <td><table width="550" border="0" cellspacing="1" cellpadding="0">
                          <tr>
                            <td bgcolor="#CCCCCC"><table width="550" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td> {foreach item=r from=$registros name=regs} 
                                    <table width="550" border="0" cellspacing="2" cellpadding="0">
                                      <tr bgcolor="#f1f1f1"> 
                                        <td width="52"><p>&nbsp;</p></td>
                                        <td width="82"><p><strong>#</strong></p></td>
                                        <td width="128"><p><strong>Data Pagamento</strong></p></td>
                                        <td width="150"><p><strong>Data Cr&eacute;dito</strong></p></td>
                                        <td width="126"><p><strong>Valor Recebido</strong></p></td>
                                      </tr>
                                      <tr  {if !$r.nome_razao} bgcolor=#D17676 {else}bgcolor="#FFFFFF"{/if}> 
                                        <td>
<input type="checkbox" name="nsr[{$r.nsr}]" value="true" style="border: 0px" {if $r.nome_razao == "" OR !$r.nome_razao}DISABLED{else}CHECKED{/if}>
                                        </td>
                                        
										<td><p>{$r.nsr}</p></td>
                                        <td><p>{$r.data_pagamento}</p></td>
                                        <td><p>{$r.data_credito}</p></td>
                                        <td><p>{$r.valor_recebido}</p></td>
										
                                      </tr>
                                      <tr bgcolor="#FFFFFF">
                                        <td colspan="5" bgcolor="#CCCCCC"><table width="550" border="0" cellspacing="2" cellpadding="0">
                                            <tr bgcolor="#f1f1f1"> 
                                              <td width="307"><p><strong>Codigo 
                                                  Barras 
                                                  <input name="codigo_barras[{$r.nsr}]" type="hidden" value="{$r.codigo_barras}" id="codigo_barras[{$r.nsr}]">
                                                  <input name="valor_recebido[{$r.nsr}]" type="hidden" value="{$r.valor_recebido}" id="valor_recebido[{$r.nsr}]">
                                                  <input name="data_pagamento[{$r.nsr}]" type="hidden" value="{$r.data_pagamento}" id="data_pagamento[{$r.nsr}]">
                                                  </strong></p></td>
                                              {if $r.nome_razao}<td width="233"><p><strong>Nome</strong></p></td>{/if}
                                            </tr>
                                            <tr bgcolor="#FFFFFF"> 
                                              <td> <p>{$r.codigo_barras}</p></td>
                                              {if $r.nome_razao}<td> <p>{$r.nome_razao}</p></td>{/if}
                                            </tr>
                                          </table></td>
                                      </tr>
                                      <tr bgcolor="#FFFFFF"> 
                                        <td colspan="5" bgcolor="#CCCCCC">
										{if $r.nome_razao}
										<table width="550" border="0" cellspacing="2" cellpadding="0">
                                            <tr bgcolor="#F1F1F1"> 
                                              <td>
<p><strong>Valor da Fatura</strong></p></td>
                                              <td>
<p><strong>Vencimento</strong></p></td>
                                              <td width="50"> 
                                                <p><strong>Status</strong></p></td>
                                            </tr>
                                            <tr bgcolor="#FFFFFF"> 
                                              <td><p>{$r.valor}</p></td>
                                              <td><p>{$r.vencimento}</p></td>
                                              <td width="50">
<p>{$r.status}</p></td>
                                            </tr>
                                          </table> {/if}</td>
                                      </tr>
                                      <tr bgcolor="#FFFFFF"> 
                                        <td colspan="5">&nbsp;</td>
                                      </tr>
                                    </table>
									{/foreach}
									</td>
                                </tr>
                                <tr>
                                  <td align="CENTER">
<input type="submit" name="submit2" value="Processar">
                                    <input name="acao" type="hidden" value="amortiza" id="acao">
                                    <input name="total" type="hidden" value="{$smarty.foreach.regs.total}" id="total"> </td>
                                </tr>
                              </table></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                  <p>&nbsp;</p>
                  </form><br><br>
                  </td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="20" align="center" bgcolor="#BCD3C4"><table width="400" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">&copy;
              Mosman Consultoria - Todos os Direitos Reservados</font></div></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
