<!-- cobranca_carnes_faturas.html -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/JavaScript">
{literal}
<!--
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
{/literal}
</script>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<p>{include file='cliente_header.html'} </p>
</td>
              </tr>
              <tr>
                <td align="center" valign="middle">
				
                  <h1>Cobranca </h1>
                  <table width="400" border="0" cellspacing="0" cellpadding="0" bgcolor="#666666">
                    <tr> 
                      <td><table width="400" border="0" cellspacing="1" cellpadding="0">
                          <tr align="CENTER" valign="MIDDLE" bgcolor="#CCCCCC"> 
                            <td height="30"><strong><a href="{$smarty.server.PHP_SELF}?op=cobranca&id_cliente={$id_cliente}">Novo 
                              Contrato</a></strong></td>
                            <td height="30"><strong><a href="{$smarty.server.PHP_SELF}?op=cobranca&id_cliente={$id_cliente}&rotina=resumo&tipo_lista=">Resumo</a></strong></td>
                            <td height="30"><strong><a href="{$smarty.server.PHP_SELF}?op=cobranca&id_cliente={$id_cliente}&rotina=resumo&tipo_lista=tudo">Faturas</a></strong></td>
                            <td><a href="{$smarty.server.PHP_SELF}?op=cobranca&id_cliente={$id_cliente}&rotina=carne"><strong>Carn&ecirc;s</strong></a></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                  <p>&nbsp;</p>
                  <table width="500" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr> 
                            <td bgcolor="#F1F1F1"><table width="100%" border="0" cellspacing="1" cellpadding="0">
                                <tr bgcolor="#CDCDCD"> 
                                  <td colspan="5" align="center" height="20"><strong><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Carn&ecirc;s</font></strong></td>
                                </tr>
                                <tr> 
                                  <td width="100" align="center"> <p><strong>ID</strong></p></td>
                                  <td align="center" width="100"> <p><strong>Data</strong></p></td>
                                  <td width="150" align="CENTER"> <p><strong>Descri&ccedil;&atilde;o</strong></p></td>
                                  <td width="50" align="RIGHT"><p><strong>Valor</strong></p></td>
                                  <td align="center" width="100"> 
                                    <p><strong>Status</strong></p></td>
                                </tr>
                              </table></td>
                          </tr>
                          <tr> 
                            <td> {foreach item=a from=$faturas}
                              <table width="100%" border="0" cellspacing="2" cellpadding="3">
                                <tr> 
                                  <td width="100" align="center"><p>{$a.id_carne}-{$a.id_cliente_produto}</p></td>
                                  <td width="100" align="CENTER"> <p>{$a.data}</p></td>
                                  <td width="150" align="CENTER"> <p>{$a.descricao}</p></td>
                                  <td width="50" align="RIGHT"><p>{$a.valor}</p></td>
                                  <td align="center" width="100"> 
                                    <p>{$a.status}</p></td>
                                  <!--<td width="15" align="center"><img src="template/default/images/viewer.gif" alt="Ver Contrato" width="15" height="15"></td>-->
                                  
                    <td width="15" align="center">{if $a.status == "A"}<a href="javascript:;"><img alt="IMPRIMIR BOLETO" src="template/default/images/boleto.gif" width="15" height="16"  onclick="MM_openBrWindow('clientes.php?op=segunda_via&id_cliente_produto={$a.id_cliente_produto}&data={$a.data}&id_cliente={$id_cliente}','boleto','scrollbars=yes,width=700,height=400')" border="0"></a>{/if}</td>
                                </tr>
                                <tr> 
                                  <td colspan="5" align="center" height="1" bgcolor="#CCCCCC"></td>
                                </tr>
                              </table>
                              {/foreach}</td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                  
    <p>&nbsp; </p>
                  <p>&nbsp;</p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
