<!-- COBRANCA_BLOQUEIOS.HTML -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><h1 align="center">Bloqueio de Clientes</h1>
      {if $relat}
        <form name="form1" method="post" action="{$smarty.server.PHP_SELF}">
          <input type="hidden" name="acao" value="bloquear">
          <input type="hidden" name="op" value="{$op}">
          <table width="600" border="0" cellspacing="0" cellpadding="3">
            <tr bgcolor="#F1F1F1">
              <td width="20"></td>
              <td width="100"align="CENTER"><p>Vencimento</p></td>
              <td width="200"align="LEFT"><p>Cliente</p></td>
              <td width="150"align="LEFT"><p>Produto</p></td>
              <td width="100"align="CENTER"><p>Status</p></td>
              <td align="RIGHT"><p>Valor</p></td>
            </tr>
            {foreach item=a from=$relat}
            <tr bgcolor="#FFFFFF">
              <td width="20"><input type="checkbox" value="{$a.id_cliente_produto}-{$a.tipo}" name="id_bloqueio[]" CHECKED></td>
              <td width="100"align="CENTER"><p>{$a.data}</p></td>
              <td width="200"align="LEFT"><p>{$a.nome_razao}</p></td>
              <td width="150"align="LEFT"><p>{$a.descricao}</p></td>
              <td width="100"align="CENTER"><p>{if $a.status=="A"} Em Aberto{else}{if
                  $a.status=="R"}Pg. Parcial{/if}{/if}</p></td>
              <td align="RIGHT"><p>{$a.valor}</p></td>
            </tr>
            <tr bgcolor="#999999">
              <td colspan="6" height="1"></td>
            </tr>
            {/foreach}
          </table>
          <p>
            <input name="submit" type="submit" value="Bloquear">
            <input name="reset" type="reset" value="Desmarcar Todas">
          </p>
        </form>
        {else} <br>
        <h2>N&atilde;o existem clientes a serem bloqueados</h2>
        {/if}
    <P align="center"></P></td>
  </tr>
</table>
</body>


</html>
