<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>
<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
{ literal }
<script language="JavaScript" type="text/JavaScript">
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
</script>
{ /literal }

 
 </head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>{ include file='menu_principal.html' }</td>
        </tr>
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle">
                  <table width="300" border="0" cellspacing="2" cellpadding="2">
				  { if !$prod }
<!-- 				  INICIO tabela dos produtos  --> 
                   <tr align="center" valign="middle">
                      <td><a href="cobranca.php?op=cadastro&prod=bl"><img src="template/default/images/bt_bandalarga.gif" alt="Cadastrar Banda Larga" border="0"></a></td>
                      <td><a href="cobranca.php?op=cadastro&prod=d"><img src="template/default/images/bt_discado.gif" alt="Cadastrar Discado" border="0"></a></td>
                      <td><a href="cobranca.php?op=cadastro&prod=h"><img src="template/default/images/bt_hospedagem.gif" alt="Cadastrar Hospedagem" border="0"></a></td>
                    </tr>
					<!-- 				  INICIO tabela dos produtos  --> 
					{ /if }
					{ if $prod && $prod == "bl" }
					<!-- 				  INICIO tabela dos produtos  --> 
                   <tr align="center" valign="middle">
                      <td><img src="template/default/images/bt_bandalarga.gif" alt="Cadastramento de Banda Larga" border="0"></td>
                      <td><img src="template/default/images/bt_discado_inativo.gif" border="0"></td>
                      <td><img src="template/default/images/bt_hospedagem_inativo.gif" border="0"></td>
                    </tr>
					<!-- 				  INICIO tabela dos produtos  --> 
					{ /if }
					{ if $prod && $prod == "d" }
					<!-- 				  INICIO tabela dos produtos  --> 
                   <tr align="center" valign="middle">
                      <td><img src="template/default/images/bt_bandalarga_inativo.gif" border="0"></td>
                      <td><img src="template/default/images/bt_discado.gif" alt="Cadastramento de Discado" border="0"></td>
                      <td><img src="template/default/images/bt_hospedagem_inativo.gif" border="0"></td>
                    </tr>
					<!-- 				  INICIO tabela dos produtos  --> 
					{ /if }
					{ if $prod && $prod == "h" }
					<!-- 				  INICIO tabela dos produtos  --> 
                   <tr align="center" valign="middle">
                      <td><img src="template/default/images/bt_bandalarga_inativo.gif"border="0"></td>
                      <td><img src="template/default/images/bt_discado_inativo.gif" border="0"></td>
                      <td><img src="template/default/images/bt_hospedagem.gif" alt="Cadastramento de Hospedagem" border="0"></td>
                    </tr>
					<!-- 				  INICIO tabela dos produtos  --> 
					{ /if }
                  </table>

<p>
	  <div id="divbl" style="position:relative; top:0px; width:500; height:550px; top:0px; z-index:1; { if $prod != "bl" || !$prod }visibility: hidden; { /if }">
	  <form name=dados method="post" action="{$smarty.server.PHP_SELF}">
		<input type="hidden" name="op" value="{$op}">
		<input type="hidden" name="id_produto" value="{$id_produto}">
        <input type="hidden" name="acao" value="{$acao}">
  <input name="prod" type="hidden" id="prod" value="{$prod}">
  <input name="tipo" type="hidden" id="tipo" value="bl">

			<table width="500" border="0" align="center" cellpadding="0" cellspacing="1">
			<tr><td colspan="2"><h1 align="center">{$titulo} de Produto - Banda Larga</h1>
</td></tr>
    <tr> 
      <td width="65%">&nbsp;</td>
      <td width="50%">&nbsp;</td>
    </tr>
    <tr> 
      <td width="65%"><p>Nome do Produto</p></td>
      <td width="50%"><p>Descricao</p></td>
    </tr>
    <tr> 
      <td valign="top"><p> 
          <input  name="nome" value="{$nome}" type="text" id="nome" size="20">
        </p></td>
      <td rowspan=5 valign="top"><p> 
          <textarea name="descricao" rows=5 id="descricao">{$descricao}</textarea>
        </p></td>
    </tr>
    <tr> 
      <td width="65%"><p>Preço</p></td>
    </tr>
    <tr> 
      <td width="65%"><p> 
          <input name="valor" type="text" id="valor" value="{$valor}">
        </p></td>
    </tr>
    <tr> 
      <td width="65%"><p>Disponível para contratação?</p></td>
    </tr>
    <tr> 
      <td valign="top"><p> 
          <SELECT name='disponivel' id="disponivel" >
            <option value="true">Sim</option>
            <option value="false">N&atilde;o</option>
          </SELECT>
        </p></td>
    </tr>
    <tr> 
      <td colspan=2><p>Número de contas de banda larga</p></td>
    </tr>
    <tr> 
      <td colspan=2><p> 
          <input name="numero_contas" type="text" id="numero_contas" value="{$numero_contas}" size=4 maxlenght=4>
        </p></td>
    </tr>
    <tr> 
      <td colspan=2><hr size=1></td>
    </tr>
    <tr> 
      <td width="65%"><p>Download</p></td>
      <td width="50%"><p>Upload</p></td>
    </tr>
    <tr> 
      <td width="65%"><p> 
          <SELECT name='banda_download_kbps' >
            <OPTION VALUE='0' >SEM CONTROLE</OPTION>
            <OPTION VALUE='32' >32</OPTION>
            <OPTION VALUE='64' >64</OPTION>
            <OPTION VALUE='96' >96</OPTION>
            <OPTION VALUE='128' >128</OPTION>
            <OPTION VALUE='192' >192</OPTION>
            <OPTION VALUE='256' >256</OPTION>
            <OPTION VALUE='384' >384</OPTION>
            <OPTION VALUE='512' >512</OPTION>
            <OPTION VALUE='768' >768</OPTION>
            <OPTION VALUE='1024' >1024</OPTION>
          </SELECT>
          Kbps</p></td>
      <td width="50%"><p> 
          <SELECT name='banda_upload_kbps' >
            <OPTION VALUE='0' >SEM CONTROLE</OPTION>
            <OPTION VALUE='32' >32</OPTION>
            <OPTION VALUE='64' >64</OPTION>
            <OPTION VALUE='96' >96</OPTION>
            <OPTION VALUE='128' >128</OPTION>
            <OPTION VALUE='192' >192</OPTION>
            <OPTION VALUE='256' >256</OPTION>
            <OPTION VALUE='384' >384</OPTION>
            <OPTION VALUE='512' >512</OPTION>
            <OPTION VALUE='768' >768</OPTION>
            <OPTION VALUE='1024' >1024</OPTION>
          </SELECT>
          Kbps</p></td>
    </tr>
    <tr> 
      <td width="65%"><p>Franquia Tráfego Mensal (GB)</p></td>
      <td width="50%"><p>Valor GB Adicional</p></td>
    </tr>
    <tr> 
      <td width="65%"> <p> 
          <input type="text" name="franquia_trafego_mensal_gb" value="{$franquia_trafego_mensal_gb}">
          <br>
          <font id=aviso>Ilimitado = 0</font> </p></td>
      <td width="50%"><p> 
          <input name="valor_trafego_adicional_gb" type="text" value="{$valor_trafego_adicional_gb}">
        </p></td>
    </tr>
    <tr> 
      <td colspan=2><hr size=1></td>
    </tr>
    <tr> 
      <td width="65%"><p>No. de Emails</p></td>
      <td width="50%"><p>Quota por conta de e-mail</p></td>
    </tr>
    <tr> 
      <td width="65%"><p> 
          <input name="num_emails" type="text" id="num_emails2" value="{$num_emails}">
        </p></td>
      <td width="50%"><p> 
          <input name="quota_por_conta"type="text" id="quota_por_conta" value="{$quota_por_conta}">
        </p></td>
    </tr>
    <tr> 
      <td width="65%"><p>Email Adicional (R$)</p></td>
      <td width="50%"><p>Permitir outros dominios?</p></td>
    </tr>
    <tr> 
      <td width="65%"><p> 
          <input name="vl_email_adicional"type="text" id="vl_email_adicional" value="{$vl_email_adicional}">
        </p></td>
      <td width="50%"><p> 
          <SELECT name='permitir_outros_dominios' id="permitir_outros_dominios" >
            <option value="true">Sim</option>
            <option value="false">N&atilde;o</option>
          </SELECT>
        </p></td>
    </tr>
    <tr> 
    <tr>
      <td><p>Email Anexado?</p></td>
      <td>&nbsp;</td>
    </tr>
    <tr> 
      <td width="65%"><p>
          <SELECT name='email_anexado' id="email_anexado" >
            <option value="true">Sim</option>
            <option value="false">N&atilde;o</option>
          </SELECT>
        </p></td>
      <td width="50%"><p>&nbsp;</p></td>
    </tr>
    <tr> 
      <td width="65%"><p>&nbsp;</p></td>
      <td width="50%"><p> 
          <input name="submit" type="submit" id="submit2"  style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;" value="{$titulo}">
        </p></td>
    </tr>
  </table>
</form>

	  </div>
	  
	  <div id="divd" style="position:relative; top:-550px; width:500; height:550px; z-index:1; { if $prod != "d" || !$prod } visibility: hidden; { /if }">

<form name=dados method="post" action="{$smarty.server.PHP_SELF}">

		<input type="hidden" name="op" value="{$op}">
		<input type="hidden" name="id_produto" value="{$id_produto}">
        <input type="hidden" name="acao" value="{$acao}">
  <input name="prod" type="hidden" id="prod" value="{$prod}">
  <input name="tipo" type="hidden" id="tipo" value="d">
  <table width="500" border="0" align="center" cellpadding="0" cellspacing="1" class=main>
    <tr>
	<td colspan="2">
		<h1 align="center">{$titulo} de Produto - Discado</h1>
	</td>
	</tr>
	<tr> 
      <td width="65%">&nbsp;</td>
      <td width="50%">&nbsp;</td>
    </tr>
    <tr> 
      <td width="65%"><p>Nome do Produto</p></td>
      <td width="50%"><p>Descricao</p></td>
    </tr>
    <tr> 
      <td valign="top"><p> 
          <input  name="nome" value="{$nome}" type="text" id="nome2" size="20">
        </p></td>
      <td rowspan=5 valign="top"><p> 
          <textarea name="descricao" rows=5>{$descricao}</textarea>
        </p></td>
    </tr>
    <tr> 
      <td width="65%"><p>Preço</p></td>
    </tr>
    <tr> 
      <td width="65%"><p> 
          <input name="valor" type="text" id="rg" value="{$valor}">
        </p></td>
    </tr>
    <tr> 
      <td width="65%"><p>Disponível para contratação?</p></td>
    </tr>
    <tr> 
      <td valign="top"><p> 
          <SELECT name='disponivel' >
            <option value="true" selected>Sim</option>
            <option value="false">N&atilde;o</option>
          </SELECT>
        </p></td>
    </tr>
    <tr> 
      <td colspan=2><p>Número de contas de discado</p></td>
    </tr>
    <tr> 
      <td colspan=2><p> 
          <input type="text" name="numero_contas" value="{$numero_contas}" size=4 maxlenght=4>
        </p></td>
    </tr>
    <tr> 
      <td colspan=2><hr size=1></td>
    </tr>
    <tr> 
      <td width="65%"><p>Permitir Duplicidade</p></td>
      <td width="50%"><p>Franquia em horas</p></td>
    </tr>
    <tr> 
      <td width="65%"><p> 
          <SELECT name='permitir_duplicidade' id="permitir_duplicidade" >
            <option value="true" selected>Sim</option>
            <option value="false">N&atilde;o</option>
          </SELECT>
        </p></td>
      <td width="50%"><p> 
          <input name="franquia_horas" type="text" id="franquia_horas" value="{$franquia_horas }">
        </p></td>
    </tr>
    <tr> 
      <td width="65%"><p>Valor Hora Adicional (R$)</p></td>
      <td width="50%"><p>&nbsp;</p></td>
    </tr>
    <tr> 
      <td width="65%"><p> 
          <input name="valor_hora_adicional" value="{$valor_hora_adicional}"type="text" id="endereco">
        </p></td>
      <td width="50%"><p>&nbsp;</p></td>
    </tr>
    <tr> 
      <td colspan=2><hr size=1></td>
    </tr>
    <tr> 
      <td width="65%"><p>No. de Emails</p></td>
      <td width="50%"><p>Quota por conta de e-mail</p></td>
    </tr>
    <tr> 
      <td width="65%"><p> 
          <input type="text" name="num_emails" value="{$num_emails}">
        </p></td>
      <td width="50%"><p> 
          <input name="quota_por_conta" value="{$quota_por_conta}"type="text" id="email">
        </p></td>
    </tr>
    <tr> 
      <td width="65%"><p>Email Adicional (R$)</p></td>
      <td width="50%"><p>Permitir outros dominios?</p></td>
    </tr>
    <tr> 
      <td width="65%"><p> 
          <input name="vl_email_adicional" value="{$vl_email_adicional}"type="text" id="endereco">
        </p></td>
      <td width="50%"><p> 
          <SELECT name='permitir_outros_dominios' >
            <option value="true" selected>Sim</option>
            <option value="false">N&atilde;o</option>
          </SELECT>
        </p></td>
    </tr>
    <tr> 
    <tr>
      <td><p>E-Mail Anexado?</p></td>
      <td>&nbsp;</td>
    </tr>
    <tr> 
      <td width="65%"><p>
          <SELECT name='email_anexado' id="email_anexado" >
            <option value="true">Sim</option>
            <option value="false">N&atilde;o</option>
          </SELECT>
        </p></td>
      <td width="50%"><p>&nbsp;</p></td>
    </tr>
    <tr> 
      <td width="65%"><p>&nbsp;</p></td>
      <td width="50%"><p> 
          <input name="submit" type="submit" id="cadastro_cliente" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;" value="{$titulo}">
        </p></td>
    </tr>
  </table>
</form>


	  </div>
	  	  <div id="divh" style="position:relative; top:-1100px; width:500; height:550px; z-index:1; { if $prod != "h" || !$prod}visibility: hidden; { /if }">
		  
		  <h1 align="center">{$titulo} de Produto - Hospedagem</h1>
<form name=dados method="post" action="{$smarty.server.PHP_SELF}">
		<input type="hidden" name="op" value="{$op}">
		<input type="hidden" name="id_produto" value="{$id_produto}">
        <input type="hidden" name="acao" value="{$acao}">
  <input name="prod" type="hidden" id="prod" value="{$prod}">
  <input name="tipo" type="hidden" id="tipo" value="h">
  <table width="500" border="0" align="center" cellpadding="0" cellspacing="1" class=main>
    <tr> 
      <td width="65%">&nbsp;</td>
      <td width="50%">&nbsp;</td>
    </tr>
    <tr> 
      <td width="65%"><p>Nome do Produto</p></td>
      <td width="50%"><p>Descricao</p></td>
    </tr>
    <tr> 
      <td valign="top"><p> 
          <input  name="nome" value="{$nome}" type="text" id="nome2" size="20">
        </p></td>
      <td rowspan=5 valign="top"><p> 
          <textarea name="descricao" rows=5>{$descricao}</textarea>
        </p></td>
    </tr>
    <tr> 
      <td width="65%"><p>Preço</p></td>
    </tr>
    <tr> 
      <td width="65%"><p> 
          <input name="valor" type="text" id="rg" value="{$valor}">
        </p></td>
    </tr>
    <tr> 
      <td width="65%"><p>Disponível para contratação?</p></td>
    </tr>
    <tr> 
      <td valign="top"><p> 
          <SELECT name='disponivel' >
            <OPTION VALUE='1'  SELECTED >Sim</OPTION>
            <OPTION VALUE='0' >Não</OPTION>
          </SELECT>
        </p></td>
    </tr>
    <tr> 
      <td colspan=2><p>Número de contas de hospedagem</p></td>
    </tr>
    <tr> 
      <td colspan=2><p> 
          <input type="text" name="numero_contas" value="{$numero_contas}" size=4 maxlenght=4>
        </p></td>
    </tr>
    <tr> 
      <td colspan=2><hr size=1></td>
    </tr>
    <tr> 
      <td width="65%"><p>Dominio</p></td>
      <td width="50%"><p>Franquia em MB</p></td>
    </tr>
    <tr> 
      <td width="65%"><p> 
          <SELECT name='dominio' >
            <OPTION VALUE='1'  SELECTED >Sim</OPTION>
            <OPTION VALUE='0' >Não</OPTION>
          </SELECT>
        </p></td>
      <td width="50%"><p> 
          <input type="text" name="franquia_em_mb" value="{$franquia_em_mb}">
        </p></td>
    </tr>
    <tr> 
      <td width="65%"><p>Valor MB Adicional (R$)</p></td>
      <td width="50%"><p>&nbsp;</p></td>
    </tr>
    <tr> 
      <td width="65%"><p> 
          <input name="valor_mb_adicional" value="{$valor_mb_adicional}"type="text" id="endereco">
        </p></td>
      <td width="50%"><p>&nbsp;</p></td>
    </tr>
    <tr> 
      <td colspan=2><hr size=1></td>
    </tr>
    <tr> 
      <td width="65%"><p>No. de Emails</p></td>
      <td width="50%"><p>Quota por conta de e-mail</p></td>
    </tr>
    <tr> 
      <td width="65%"><p> 
          <input type="text" name="num_emails" value="{$num_emails}">
        </p></td>
      <td width="50%"><p> 
          <input name="quota_por_conta" value="{$quota_por_conta}"type="text" id="email">
        </p></td>
    </tr>
    <tr> 
      <td width="65%"><p>Email Adicional (R$)</p></td>
      <td width="50%"><p>Permitir outros dominios?</p></td>
    </tr>
    <tr> 
      <td width="65%"><p> 
          <input name="vl_email_adicional" value="{$vl_email_adicional}"type="text" id="endereco">
        </p></td>
      <td width="50%"><p> 
          <SELECT name='permitir_outros_dominios' >
            <OPTION VALUE='1'  SELECTED >Sim</OPTION>
            <OPTION VALUE='0' >Não</OPTION>
          </SELECT>
        </p></td>
    </tr>
    <tr> 
    <tr> 
      <td width="65%"><p>&nbsp;</p></td>
      <td width="50%"><p>&nbsp;</p></td>
    </tr>
    <tr> 
      <td width="65%"><p>&nbsp;</p></td>
      <td width="50%"><p> 
          <input name="submit" type="submit" id="cadastro_cliente" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;" value="{$titulo}">
        </p></td>
    </tr>
  </table>
</form>
<h1 align="center">&nbsp;</h1>

		  
		  
		  
		  
		  
		  </div>

	  
	  
	  
</p><p>&nbsp;</p><p></p><br>
                  <p></p>
                  <p>&nbsp;</p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="20" align="center" bgcolor="#BCD3C4"><table width="400" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">&copy;
              Mosman Consultoria - Todos os Direitos Reservados</font></div></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
