<html>
<head>
<!-- <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<title>Main</title>
</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="60"> 
      <table width="100%" height="50" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr> 
          <td width="18%"><div align="center">Logotipo</div></td>
          <td width="82%"> <div align="center"><strong>VIRTEX ADMIN - PAINEL DE 
              CONTROLE </strong> </div></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td colspan="2">{include file='menu_principal.html'}</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p><strong>Clientes Bloqueados</strong></p>
      <table width="750" border="0" cellspacing="0" cellpadding="0">
        <tr align="center"> 
          <td width="59">Cod.</td>
          <td width="195">Nome</td>
          <td colspan="3">&nbsp;</td>
        </tr>
        <tr> 
          <td>100</td>
          <td>Jos&eacute; da Silva</td>
          <td width="213">Hospedagem, BLarga</td>
          <td width="158" colspan="-2">Ficha</td>
          <td width="125" colspan="-2"><a href="desbloquear.html">DESBLOQUEAR</a></td>
        </tr>
        <tr bgcolor="#F4F4F4"> 
          <td>1256</td>
          <td>Maria Jo&atilde;o</td>
          <td>Discado</td>
          <td colspan="-2">Ficha</td>
          <td colspan="-2"><a href="desbloquear.html">DESBLOQUEAR</a></td>
        </tr>
        <tr> 
          <td>588</td>
          <td>Nilton Costa</td>
          <td>Hospedagem</td>
          <td colspan="-2">Ficha</td>
          <td colspan="-2"><a href="desbloquear.html">DESBLOQUEAR</a></td>
        </tr>
        <tr bgcolor="#F4F4F4"> 
          <td>122</td>
          <td>Roberto Carlos</td>
          <td>BLarga, Hospedagem</td>
          <td colspan="-2">Ficha</td>
          <td colspan="-2"><a href="desbloquear.html">DESBLOQUEAR</a></td>
        </tr>
      </table>
      <p>&nbsp;</p>
      </td>
  </tr>
</table>
</body>


</html>
