<!-- configuracao_preferencia_cobranca.html -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="document.form1.tx_juros.focus();">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"> <h1 align="center">Cadastro
                  de Prefer&ecirc;ncias de Cobran&ccedil;a</h1>
                  <p align="center">&nbsp;</p>
                  <form name="form1" method="post" action="">

                  <table width="500" border="0" cellspacing="2" cellpadding="0">
                    <tr>
                      <td width="122"><p><strong>Taxa de Juros</strong></p></td>
                      <td colspan="3"><p><strong>
                          <input name="tx_juros" type="text" id="tx_juros" value="{$prefs.tx_juros}" size="10">
                          </strong>%</p></td>
                    </tr>
                    <tr>
                      <td><p><strong>Multa</strong></p></td>
                      <td colspan="3"><p><strong>
                          <input name="multa" type="text" id="multa" value="{$prefs.multa}" size="10">
                          </strong>%</p></td>
                    </tr>
                    <tr>
                      <td><p><strong>Dia de Vencimento</strong></p></td>
                      <td colspan="3"><p><strong>
                          <input name="dia_venc" type="text" id="dia_venc" value="{$prefs.dia_venc}" size="2">
                          </strong></p></td>
                    </tr>
                    <tr>
                      <td><p><strong>Car&ecirc;ncia</strong></p></td>
                      <td colspan="3"><p><strong>
                          <input name="carencia" type="text" id="carencia" value="{$prefs.carencia}" size="2">
                          </strong>dias </p></td>
                    </tr>
                    <tr>
                      <td><p><strong>Cod. Banco:</strong></p></td>
                      <td colspan="3"><input name="cod_banco" type="text" value="{$prefs.cod_banco}" size="5" id="cod_banco"></td>
                    </tr>
                    <tr>
                      <td height="24"> <p><strong>Carteira:</strong></p></td>
                      <td colspan="3"><input name="carteira" type="text" value="{$prefs.carteira}" size="12" id="carteira"></td>
                    </tr>
                    <tr>
                      <td><p><strong>Ag&ecirc;ncia:</strong></p></td>
                      <td width="148"><input name="agencia" type="text" value="{$prefs.agencia}" size="12" id="agencia"></td>
                      <td width="120"><p><strong>Num. Conta</strong></p></td>
                      <td width="100"><input name="num_conta" type="text" value="{$prefs.num_conta}" size="12" id="num_conta"></td>
                    </tr>
                    <tr>
                      <td><p><strong>Conv&ecirc;nio:</strong></p></td>
                      <td colspan="3"><input name="convenio" type="text" value="{$prefs.convenio}" id="convenio"></td>
                    </tr>
                    <tr>
                      <td><p><strong>Pagamento: </strong></p></td>
                      <td colspan="3"><select name="pagamento">
                          <option value="PRE" {if $prefs.pagamento == "PRE"}SELECTED{/if}>Pr&eacute;-Pago</option>
                          <option value="POS" {if $prefs.pagamento == "POS"}SELECTED{/if}>P&oacute;s-Pago</option>
                        </select></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                      <td valign="TOP"> <p><strong>Formas de Pagamento:</strong></p></td>
                      <td colspan="3"><table width="100%" border="0" cellspacing="3" cellpadding="0">
                          {foreach item=a from=$frm_pagamento}
                          <tr>
                            <td width="9%"><input type="checkbox" name="disponivel[{$a.id_cobranca}]" value="t" class="checkbox" {if $a.disponivel == "t"}CHECKED{/if}></td>
                            <td width="91%"><p>{$a.nome_cobranca}</p></td>
                          </tr>
                          {/foreach} </table></td>
                    </tr>
                    <tr>
                      <td valign="TOP"> <p><strong>Observa&ccedil;&otilde;es</strong></p></td>
                      <td colspan="3"><textarea name="observacoes" id="observacoes" cols="40" rows="5">{$prefs.observacoes}</textarea></td>
                    </tr>
                    <tr>
                      <td><p><strong>Path Contrato</strong></p></td>
                      <td colspan="3"><input name="path_contrato" type="text" value="{$prefs.path_contrato}" size="45" id="path_contrato"></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td colspan="3"><input name="op" type="hidden" id="op" value="{$op}">
                        <input name="id_preferencia" type="hidden" id="id_preferencia" value="{$prefs.id_preferencia}">
                        <input name="acao" type="hidden" id="acao" value="alt"></td>
                    </tr>
                    <tr align="center">
                      <td colspan="4">&nbsp;</td>
                   	</tr>
                   	</table>
                    <table>
                    <tr align="center">
                      <td><input type="button" name="voltar" value="Voltar" onClick="javascript: location='configuracao.php?op=resumo';"></td>
                      <td><input type="submit" name="Submit" value="Cadastrar"></td>
                    </tr>
                  </table>
                  </form>
                  </td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
