<!-- configuracao_pop_cadastro.html -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
<script language="JavaScript">
{literal}
function checaNome(){
	if (formulario.nome.value == ""){
		window.alert('Não é possivel cadastrar POP com nome em branco');
		return false;
	}
	return true;
}
function verificaTipoPop() {
   formulario.id_pop_ap.disabled = formulario.tipo.value != "CL";
}

{/literal}
</script>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle">
<form name="formulario" method="post" action="{$smarty.server.PHP_SELF}" onSubmit="return checaNome();">
                	<input type="hidden" name="op" value="pop">
					<input type="hidden" name="acao" value="{$acao}">
					<input type="hidden" name="id_pop" value="{$id_pop}">


                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" valign="middle"><h1>{$titulo} POP</h1></td>
                      </tr>
                      <tr>
                        <td align="center" valign="top"><table width="300" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                              <td width="47"><p>Nome</p></td>
                              <td colspan="3"><p>
                                  <input name="nome" type="text" id="nome" value="{$nome}" size="40">
                                </p></td>
                            </tr>
                            <tr>
                              <td><p>Info</p></td>
                              <td colspan="3"><p>
                                  <textarea name="info" cols="50" rows="6">{$info}</textarea>
                                </p></td>
                            </tr>
                            <tr>
                              <td><p>Tipo</p></td>
                              <td width="221"><p>
                                  <select name="tipo" onChange='javascript:verificaTipoPop();'>
                                  {foreach key=id item=nome from=$tipo_pop}

                                    <option value='{$id}'{if $id == $tipo}SELECTED{/if}>{$nome}</option>


                                  {/foreach}
                                  </select>
                                </p></td>
                              <td width="31"><p>Ap:</p></td>
                              <td width="191"> <select name="id_pop_ap">
                              <option value=''></option>
                              	{foreach item=b from=$lista_pops2}

                                  <option value='{$b.id_pop}'{if $b.id_pop == $id_pop_ap}SELECTED{/if}>{$b.nome}</option>

                              	{/foreach}


                               </select></td>
                            </tr>
                            <tr>
                              <td colspan="4" align="right"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr> 
                                  <td width="47"> <p>Status:</p></td>
                                  <td><select name="status" id="status">
								  		{foreach key=id item=valor from=$status_pop}
										{if $id != "D"}
                                      <option value="{$id}" {if $id == $status}selected{/if}>{$valor}</option>
									  	{/if}
									  {/foreach}
                                    </select></td>
                                </tr>
                                {if $qtde_cli_pop}
								<tr> 
                                  <td colspan="2"><div align="CENTER">
                                    <p><strong>{$qtde_cli_pop}</strong> clientes 
                                      cadastrados neste pop</p>
                                    </div></td>
                                </tr>
                                {/if}
								<tr> 
                                  <td>&nbsp;</td>
                                  <td>&nbsp;</td>
                                </tr>
                              </table></td>
                            </tr>
                            <tr>
                              <td colspan="4" align="right"><input type="submit" name="Submit" value="{$titulo}">
                              </td>
                            </tr>
                          </table></td>
                      </tr>
                    </table>
                  </form>
                  <p><a href="configuracao.php?op=lista_pop">voltar</a><br>
                  </p>
                  <p>&nbsp;</p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
	    {literal}

	      <script language="JavaScript">
		  		verificaTipoPop();
		</script>
		{/literal}
</body>


</html>
