<!-- configuracao_nas_cadastro.html -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">

<script language="JavaScript">
{literal}

function verificaTipoNAS() {
   formulario.secret.disabled = formulario.tipo_nas.value == "I";
  
}

function mostraPadrao(){

	tB = document.getElementById("tabela");
	
		if (document.formulario.tipo_nas.value == 'P'){
		
			tB.className = "box_aberta";	
			
		}else{
		
			tB.className = "box_fechada";
				
		} 

}
	var regra = new Object();
	
	regra.ip = /^(([0-9]{1,2}|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]{1,2}|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$/;
	
		function valida_ip(){				  
		
			var sel = regra.ip; 
			var ver = sel.exec(document.formulario.ip.value); 
			if(!ver && document.formulario.ip.value !="") 
			{ 
				  alert('o IP '+document.formulario.ip.value+' não é válido.'); 
				  document.formulario.ip.focus();
				  document.formulario.ip.select();
				  return false; 
			} 
			return true; 
			} 



{/literal}
</script>


</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="verificaTipoNAS();">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle">
<form name="formulario" method="post" action="{$smarty.server.PHP_SELF}">
                	<input type="hidden" name="op" value="nas">
					<input type="hidden" name="acao" value="{$acao}">
					<input name="id_nas" type="hidden" id="id_nas" value="{$id_nas}">
					<input type="hidden" name="tipo_nas_up" value="{$tipo_nas}">



                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" valign="middle"><h1>{$titulo} NAS</h1></td>
                      </tr>
                      <tr>
                        <td align="center" valign="top"><table width="422" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                              <td width="122" align="right"> <p>Nome:</p></td>
                              <td width="294" colspan="2"><p>
                                  <input name="nome" type="text" value="{$nome}" size="25">
                              </p></td>
                            </tr>
                            <tr>
                              <td align="right"> <p>Ip:</p></td>
                              <td colspan="2"><p>
                                  <input name="ip" type="text" value="{$ip}" size="25" onBlur="return valida_ip();">
                                </p></td>
                            </tr>
                            <tr>
                              <td align="right"> <p>Secret::</p></td>
                              <td colspan="2"><input name="secret" type="text" value="{$secret}" size="25">
                              </td>
                            </tr>
                            { if !$id_nas }
                            <tr>
                              <td align="right"><p>Tipo:</p></td>
                              <td> <select name="tipo_nas" onChange='javascript:verificaTipoNAS(); mostraPadrao(this.value)'>
							  	{ foreach key=id item=nome from=$ls_tipo_nas }
                                  <option value="{$id}" {if $id==$tipo_nas}SELECTED{/if}>{$nome}</option>
								{ /foreach }
                                </select>
								</td>
								<td>
								<div id="tabela" class="box_fechada"><p>Padrão:
                                <select name="padrao">
                                  <option value="VA" {if $padrao == 'VA'}SELECTED{/if}>VirtexAdmin</option>
                                  <option value="MK" {if $padrao == 'MK'}SELECTED{/if}>Mikrotik</option>
                                </select></p></div>
							  </td>
                            </tr>
                            {/if}
                            { if $id_nas }
							<tr>
							<td align="right"><p>Tipo:</p></td>
							<td {if $id_nas && $tipo_nas == "P"} {else}colspan="2"{/if}> <select name="tipo_nas" onChange='javascript:verificaTipoNAS();' DISABLED>
							{ foreach key=id item=nome from=$ls_tipo_nas }
							<option value="{$id}" {if $id==$tipo_nas}SELECTED{/if}>{$nome}</option>
							{ /foreach }
							</select></td>
							{if $id_nas && $tipo_nas == "P"}
								<td>
									<div id="tabela" class="box_aberta"><p>Padrão:
									<select name="padrao">
									  <option value="VA" {if $padrao =='VA'}SELECTED{/if}>VirtexAdmin</option>
									  <option value="MK" {if $padrao =='MK'}SELECTED{/if}>Mikrotik</option>
									</select></p></div>
								</td>
							{/if}
							</tr>
							{/if}
<tr>
                              <td><p align="right">

 	Monitorado por</p></td>
							<td colspan="2"><p><select name="infoserver" style="width:130px;">
								<option value=""></option>
									{foreach item=h from=$hosts}
										<option value="{$h}" {if $h == $infoserver}SELECTED{/if}>{$h}</option>
									{/foreach}
							</select>
</p></td>
</tr>
                            <tr>
                              <td><p>&nbsp;</p></td>
                              <td colspan="2"><p>&nbsp;</p></td>
                            </tr>
                            <tr>
                              <td colspan="3" align="center"> <input type="submit" name="Submit" value="{$titulo}"></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table>
                  <p>&nbsp;</p>
                  <p></p> </p>
                  </form>
                  <p><a href="javascript:history.go(-1)">voltar</a><br>
                  </p>
                  <p>&nbsp;</p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
    	    {literal}

		  	      <script language="JavaScript">
		  		  		verificaTipoNAS();
		  		</script>
		  		{/literal}
</body>


</html>
