<!-- configuracao_nas_cadastro.html -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">

<script language="JavaScript">
{literal}

function verificaTipoNAS() {
   formulario.secret.disabled = formulario.tipo_nas.value == "I";
}


{/literal}
</script>


</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle">
<form name="formulario" method="post" action="{$smarty.server.PHP_SELF}">
                	<input type="hidden" name="op" value="nas">
					<input type="hidden" name="acao" value="{$acao}">
					<input name="id_nas" type="hidden" id="id_nas" value="{$id_nas}">
					<input type="hidden" name="tipo_nas_up" value="{$tipo_nas}">



                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" valign="middle"><h1>{$titulo} NAS</h1></td>
                      </tr>
                      <tr>
                        <td align="center" valign="top"><table width="350" border="0" cellspacing="2" cellpadding="0">
                            <tr>
                              <td width="84" align="right"> <p>Nome:</p></td>
                              <td width="410"><p>
                                  <input name="nome" type="text" value="{$nome}" size="25">
                                </p></td>
                            </tr>
                            <tr>
                              <td align="right"> <p>Ip:</p></td>
                              <td><p>
                                  <input name="ip" type="text" value="{$ip}" size="25">
                                </p></td>
                            </tr>
                            <tr>
                              <td align="right"> <p>Secret::</p></td>
                              <td><input name="secret" type="text" value="{$secret}" size="25">
                              </td>
                            </tr>
                            { if !$id_nas }
                            <tr>
                              <td align="right"><p>Tipo:</p></td>
                              <td> <select name="tipo_nas" onChange='javascript:verificaTipoNAS();'>
							  	{ foreach key=id item=nome from=$ls_tipo_nas }
                                  <option value="{$id}" {if $id==$tipo_nas}SELECTED{/if}>{$nome}</option>
								{ /foreach }
                                </select></td>
                            </tr>
                            {/if}
                            { if $id_nas }
							<tr>
							<td align="right"><p>Tipo:</p></td>
							<td> <select name="tipo_nas" onChange='javascript:verificaTipoNAS();' DISABLED>
							{ foreach key=id item=nome from=$ls_tipo_nas }
							<option value="{$id}" {if $id==$tipo_nas}SELECTED{/if}>{$nome}</option>
							{ /foreach }
							</select></td>
							</tr>
							{/if}




                            <tr>
                              <td><p>&nbsp;</p></td>
                              <td><p>&nbsp;</p></td>
                            </tr>
                            <tr>
                              <td colspan="2" align="center"> <input type="submit" name="Submit" value="{$titulo}"></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table>
                  <p>&nbsp;</p>
                  <p></p> </p>
                  </form>
                  <p><a href="javascript:history.go(-1)">voltar</a><br>
                  </p>
                  <p>&nbsp;</p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
    	    {literal}

		  	      <script language="JavaScript">
		  		  		verificaTipoNAS();
		  		</script>
		  		{/literal}
</body>


</html>
