<!--CONFIGURACA0_LISTA_BANDA.HTML-->
<html>
<head>
<link rel="stylesheet" type="text/css" href="template/default/estilos1.css"/>
<title>mosman</title>

{literal}
<style>
.box_fechada {
	visibility: hidden;
	display:none;
}

.style7 {

	color: #FF3333;
	size:9px;

}

.box_aberta {
	visibility: visible;
	display:block;
}
.style3 {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #999999;
}
.style4 {color: #FF0000}


.style5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 15px;
}
.style9 {
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.style10 {color: #CCCCCC}
</style>
{/literal}
{literal}
<script>

function mostra_tabela(){

var tT = document.getElementById("tabela_velocidades");
	tV = document.form1.velocidades.value;
	tUm  = document.getElementById("tabela_um");
	tDois  = document.getElementById("tabela_dois");
	tTres  = document.getElementById("tabela_tres");
	tQuatro  = document.getElementById("tabela_quatro");
	tCinco  = document.getElementById("tabela_cinco");
	tSeis  = document.getElementById("tabela_seis");
	tSete  = document.getElementById("tabela_sete");
	tOito  = document.getElementById("tabela_oito");
	tNove  = document.getElementById("tabela_nove");
	tDez  = document.getElementById("tabela_dez");
	tOnze  = document.getElementById("tabela_onze");
	tDoze  = document.getElementById("tabela_doze");
	tTreze  = document.getElementById("tabela_treze");
	tCatorze  = document.getElementById("tabela_catorze");
	tQuinze  = document.getElementById("tabela_quinze");

	tT.className = "box_fechada";
	
	if (tV == "1"){
	
		
		tUm.className = "box_aberta";
		tDois.className = "box_fechada";
		tTres.className = "box_fechada";
		tQuatro.className = "box_fechada";
		tCinco.className = "box_fechada";
		tSeis.className = "box_fechada";
		tSete.className = "box_fechada";
		tOito.className = "box_fechada";
		tNove.className = "box_fechada";
		tDez.className = "box_fechada";
		tOnze.className = "box_fechada";
		tDoze.className = "box_fechada";
		tTreze.className = "box_fechada";
		tCatorze.className = "box_fechada";
		tQuinze.className = "box_fechada";
		tT.className = "box_aberta";
	
	}
		if (tV == "2"){
	
		
		tUm.className = "box_aberta";
		tDois.className = "box_aberta";
		tTres.className = "box_fechada";
		tQuatro.className = "box_fechada";
		tCinco.className = "box_fechada";
		tSeis.className = "box_fechada";
		tSete.className = "box_fechada";
		tOito.className = "box_fechada";
		tNove.className = "box_fechada";
		tDez.className = "box_fechada";
		tOnze.className = "box_fechada";
		tDoze.className = "box_fechada";
		tTreze.className = "box_fechada";
		tCatorze.className = "box_fechada";
		tQuinze.className = "box_fechada";
		tT.className = "box_aberta";
	
	}
		if (tV == "3"){
	
		
		tUm.className = "box_aberta";
		tDois.className = "box_aberta";
		tTres.className = "box_aberta";
		tQuatro.className = "box_fechada";
		tCinco.className = "box_fechada";
		tSeis.className = "box_fechada";
		tSete.className = "box_fechada";
		tOito.className = "box_fechada";
		tNove.className = "box_fechada";
		tDez.className = "box_fechada";
		tOnze.className = "box_fechada";
		tDoze.className = "box_fechada";
		tTreze.className = "box_fechada";
		tCatorze.className = "box_fechada";
		tQuinze.className = "box_fechada";
		tT.className = "box_aberta";
	
	}
		if (tV == "4"){
	
		
		tUm.className = "box_aberta";
		tDois.className = "box_aberta";
		tTres.className = "box_aberta";
		tQuatro.className = "box_aberta";
		tCinco.className = "box_fechada";
		tSeis.className = "box_fechada";
		tSete.className = "box_fechada";
		tOito.className = "box_fechada";
		tNove.className = "box_fechada";
		tDez.className = "box_fechada";
		tOnze.className = "box_fechada";
		tDoze.className = "box_fechada";
		tTreze.className = "box_fechada";
		tCatorze.className = "box_fechada";
		tQuinze.className = "box_fechada";
		tT.className = "box_aberta";
	
	}
		if (tV == "5"){
	
		
		tUm.className = "box_aberta";
		tDois.className = "box_aberta";
		tTres.className = "box_aberta";
		tQuatro.className = "box_aberta";
		tCinco.className = "box_aberta";
		tSeis.className = "box_fechada";
		tSete.className = "box_fechada";
		tOito.className = "box_fechada";
		tNove.className = "box_fechada";
		tDez.className = "box_fechada";
		tOnze.className = "box_fechada";
		tDoze.className = "box_fechada";
		tTreze.className = "box_fechada";
		tCatorze.className = "box_fechada";
		tQuinze.className = "box_fechada";
		tT.className = "box_aberta";
	
	}
		if (tV == "6"){
	
		
		tUm.className = "box_aberta";
		tDois.className = "box_aberta";
		tTres.className = "box_aberta";
		tQuatro.className = "box_aberta";
		tCinco.className = "box_aberta";
		tSeis.className = "box_aberta";
		tSete.className = "box_fechada";
		tOito.className = "box_fechada";
		tNove.className = "box_fechada";
		tDez.className = "box_fechada";
		tOnze.className = "box_fechada";
		tDoze.className = "box_fechada";
		tTreze.className = "box_fechada";
		tCatorze.className = "box_fechada";
		tQuinze.className = "box_fechada";
		tT.className = "box_aberta";
	
	}
		if (tV == "7"){
	
		
		tUm.className = "box_aberta";
		tDois.className = "box_aberta";
		tTres.className = "box_aberta";
		tQuatro.className = "box_aberta";
		tCinco.className = "box_aberta";
		tSeis.className = "box_aberta";
		tSete.className = "box_aberta";
		tOito.className = "box_fechada";
		tNove.className = "box_fechada";
		tDez.className = "box_fechada";
		tOnze.className = "box_fechada";
		tDoze.className = "box_fechada";
		tTreze.className = "box_fechada";
		tCatorze.className = "box_fechada";
		tQuinze.className = "box_fechada";
		tT.className = "box_aberta";
	
	}
		if (tV == "8"){
	
		
		tUm.className = "box_aberta";
		tDois.className = "box_aberta";
		tTres.className = "box_aberta";
		tQuatro.className = "box_aberta";
		tCinco.className = "box_aberta";
		tSeis.className = "box_aberta";
		tSete.className = "box_aberta";
		tOito.className = "box_aberta";
		tNove.className = "box_fechada";
		tDez.className = "box_fechada";
		tOnze.className = "box_fechada";
		tDoze.className = "box_fechada";
		tTreze.className = "box_fechada";
		tCatorze.className = "box_fechada";
		tQuinze.className = "box_fechada";
		tT.className = "box_aberta";
	
	}
		if (tV == "9"){
	
		
		tUm.className = "box_aberta";
		tDois.className = "box_aberta";
		tTres.className = "box_aberta";
		tQuatro.className = "box_aberta";
		tCinco.className = "box_aberta";
		tSeis.className = "box_aberta";
		tSete.className = "box_aberta";
		tOito.className = "box_aberta";
		tNove.className = "box_aberta";
		tDez.className = "box_fechada";
		tOnze.className = "box_fechada";
		tDoze.className = "box_fechada";
		tTreze.className = "box_fechada";
		tCatorze.className = "box_fechada";
		tQuinze.className = "box_fechada";
		tT.className = "box_aberta";
	
	}
		if (tV == "10"){
	
		
		tUm.className = "box_aberta";
		tDois.className = "box_aberta";
		tTres.className = "box_aberta";
		tQuatro.className = "box_aberta";
		tCinco.className = "box_aberta";
		tSeis.className = "box_aberta";
		tSete.className = "box_aberta";
		tOito.className = "box_aberta";
		tNove.className = "box_aberta";
		tDez.className = "box_aberta";
		tOnze.className = "box_fechada";
		tDoze.className = "box_fechada";
		tTreze.className = "box_fechada";
		tCatorze.className = "box_fechada";
		tQuinze.className = "box_fechada";
		tT.className = "box_aberta";
	
	}
		if (tV == "11"){
	
		
		tUm.className = "box_aberta";
		tDois.className = "box_aberta";
		tTres.className = "box_aberta";
		tQuatro.className = "box_aberta";
		tCinco.className = "box_aberta";
		tSeis.className = "box_aberta";
		tSete.className = "box_aberta";
		tOito.className = "box_aberta";
		tNove.className = "box_aberta";
		tDez.className = "box_aberta";
		tOnze.className = "box_aberta";
		tDoze.className = "box_fechada";
		tTreze.className = "box_fechada";
		tCatorze.className = "box_fechada";
		tQuinze.className = "box_fechada";
		tT.className = "box_aberta";
	
	}
		if (tV == "12"){
	
		
		tUm.className = "box_aberta";
		tDois.className = "box_aberta";
		tTres.className = "box_aberta";
		tQuatro.className = "box_aberta";
		tCinco.className = "box_aberta";
		tSeis.className = "box_aberta";
		tSete.className = "box_aberta";
		tOito.className = "box_aberta";
		tNove.className = "box_aberta";
		tDez.className = "box_aberta";
		tOnze.className = "box_aberta";
		tDoze.className = "box_aberta";
		tTreze.className = "box_fechada";
		tCatorze.className = "box_fechada";
		tQuinze.className = "box_fechada";
		tT.className = "box_aberta";
	
	}
		if (tV == "13"){
	
		
		tUm.className = "box_aberta";
		tDois.className = "box_aberta";
		tTres.className = "box_aberta";
		tQuatro.className = "box_aberta";
		tCinco.className = "box_aberta";
		tSeis.className = "box_aberta";
		tSete.className = "box_aberta";
		tOito.className = "box_aberta";
		tNove.className = "box_aberta";
		tDez.className = "box_aberta";
		tOnze.className = "box_aberta";
		tDoze.className = "box_aberta";
		tTreze.className = "box_aberta";
		tCatorze.className = "box_fechada";
		tQuinze.className = "box_fechada";
		tT.className = "box_aberta";
	
	}
		if (tV == "14"){
	
		
		tUm.className = "box_aberta";
		tDois.className = "box_aberta";
		tTres.className = "box_aberta";
		tQuatro.className = "box_aberta";
		tCinco.className = "box_aberta";
		tSeis.className = "box_aberta";
		tSete.className = "box_aberta";
		tOito.className = "box_aberta";
		tNove.className = "box_aberta";
		tDez.className = "box_aberta";
		tOnze.className = "box_aberta";
		tDoze.className = "box_aberta";
		tTreze.className = "box_aberta";
		tCatorze.className = "box_aberta";
		tQuinze.className = "box_fechada";
		tT.className = "box_aberta";
	
	}
		if (tV == "15"){
		
		tUm.className = "box_aberta";
		tDois.className = "box_aberta";
		tTres.className = "box_aberta";
		tQuatro.className = "box_aberta";
		tCinco.className = "box_aberta";
		tSeis.className = "box_aberta";
		tSete.className = "box_aberta";
		tOito.className = "box_aberta";
		tNove.className = "box_aberta";
		tDez.className = "box_aberta";
		tOnze.className = "box_aberta";
		tDoze.className = "box_aberta";
		tTreze.className = "box_aberta";
		tCatorze.className = "box_aberta";
		tQuinze.className = "box_aberta";
		tT.className = "box_aberta";
	
	}
	

	

}
</script>
{/literal}
</head>

<body {if $alterar}onLoad="mostra_tabela();"{/if} topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
<table width="100%" height="100%" cellpadding="0" cellspacing="0"> 
<form name="form1">
	<tr> 
		<td></td>
	</tr>
	<tr>
	  <td valign="top" bgcolor="#FEFEFE">{if $alterar}
		  <table align="center">
			<tr>
			  <td valign="top"><p align="center"><span class="style9">Selecione o número de velocidades que voce deseja habilitar:</span>
				<select name="velocidades" onChange="javascript: mostra_tabela();" style="width:50px; " >
					<option value=""></option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
			    </select>
				</p></td>
		    </tr>
			 <tr>
				<td><p class="style7" align="center">atenção: ao executar essa opera&ccedil;&atilde;o todas as outras velocidades cadastradas anteriormente serão apagadas.<br>
				    <a href="javascript: history.back();">&laquo; voltar</a>				</p></td>
			 </tr>
		  </table>
				<br>
				<div id="tabela_velocidades">
					<div align="center">
					  <table width="253">
					  	<tr>
						  <td width="103"><p align="center" class="style4">Velocidade</p></td><td width="156"><p align="center" class="style4">Descrição</p></td>
						</tr>
				      </table>
				  
					  <div id="tabela_um">
							<input type="text"  size="15" name="velocidade_um_down"  />
						    <span class="style3"><strong>kbps
									    <input type="text"  size="15" name="velocidade_um_desc" />
						<span class="style3">kbps		</span>					</strong></span></div>
						<div class="style3" id="tabela_dois"><strong>
						  <input type="text"  size="15" name="velocidade_dois_down" />
						 <span class="style3"> kbps</span>
						  <input type="text"  size="15" name="velocidade_dois_desc" />
					<span class="style3"> kbps</span></strong></div>
						<div class="style3" id="tabela_tres"><strong>
						  <input type="text"  size="15" name="velocidade_tres_down" />
						<span class="style3">  kbps</span>
						  <input type="text"  size="15" name="velocidade_tres_desc" />
					 <span class="style3"> kbps</span></strong></div>
						<div class="style3" id="tabela_quatro"><strong>
						  <input type="text"  size="15" name="velocidade_quatro_down" />
						<span class="style3">  kbps </span>
						  <input type="text"  size="15" name="velocidade_quatro_desc" />
					<span class="style3">  kbps </span></strong></div>
						<div class="style3" id="tabela_cinco"><strong>
						  <input type="text"  size="15" name="velocidade_cinco_down" />
						<span class="style3">  kbps </span>
						  <input type="text"  size="15" name="velocidade_cinco_desc" />
					 <span class="style3"> kbps </span></strong></div>
						<div class="style3" id="tabela_seis"><strong>
						  <input type="text"  size="15" name="velocidade_seis_down" />
						<span class="style3">  kbps </span>
						  <input type="text"  size="15" name="velocidade_seis_desc" />
					 <span class="style3"> kbps </span></strong></div>
						<div class="style3" id="tabela_sete"><strong>
						  <input type="text"  size="15" name="velocidade_sete_down" />
					<span class="style3">	  kbps </span>
						  <input type="text"  size="15" name="velocidade_sete_desc" />
					 <span class="style3"> kbps </span></strong></div>
						<div class="style3" id="tabela_oito"><strong>
						  <input type="text"  size="15" name="velocidade_oito_down" />
					<span class="style3">	  kbps </span>
						  <input type="text"  size="15" name="velocidade_oito_desc" />
					 <span class="style3"> kbps </span></strong></div>
					  <div class="style3" id="tabela_nove"><strong>
						  <input type="text"  size="15" name="velocidade_nove_down" />
					<span class="style3">	  kbps </span>
						  <input type="text"  size="15" name="velocidade_nove_desc" />
					 <span class="style3"> kbps </span></strong></div>
						<div class="style3" id="tabela_dez"><strong>
						  <input type="text"  size="15" name="velocidade_dez_down" />
					<span class="style3">	  kbps </span>
						  <input type="text"  size="15" name="velocidade_dez_desc" />
					 <span class="style3"> kbps </span></strong></div>
						<div class="style3" id="tabela_onze"><strong>
						  <input type="text"  size="15" name="velocidade_onze_down" />
					<span class="style3">	  kbps </span>
						  <input type="text"  size="15" name="velocidade_onze_desc" />
					  <span class="style3"> kbps </span></strong></div>
						<div class="style3" id="tabela_doze"><strong>
						  <input type="text"  size="15" name="velocidade_doze_down" />
					<span class="style3">	  kbps </span>
						  <input type="text"  size="15" name="velocidade_doze_desc" />
					 <span class="style3"> kbps </span></strong></div>
						<div class="style3" id="tabela_treze"><strong>
						  <input type="text"  size="15" name="velocidade_treze_down" />
						<span class="style3">  kbps </span>
						  <input type="text"  size="15" name="velocidade_treze_desc" />
						</strong><strong><span class="style3">kbps</span></strong></div>
						<div class="style3" id="tabela_catorze"><strong>
						  <input type="text"  size="15" name="velocidade_catorze_down" />
					<span class="style3">	  <span class="style3">kbps</span> </span>
						  <input type="text"  size="15" name="velocidade_catorze_desc" />
					  </strong><strong><span class="style3">kbps</span></strong></div>
						<div class="style3" id="tabela_quinze"><strong>
						  <input type="text"  size="15" name="velocidade_quinze_down" />
					<span class="style3">	  kbps </span>
						  <input type="text"  size="15" name="velocidade_quinze_desc" />
					  </strong><strong> <span class="style3">kbps</span></strong></div>
					
										  <table width="253">
					  	<tr>
						  <td width="97"><p align="center" class="style4"><input type="submit" value="Cadastrar" /></p></td><td width="144"><p align="center" class="style4"><input type="reset" value="Cancelar" /></p></td>
						</tr>
				      </table>				  
	                                     <br> <p class="style10">0 = sem controle</p>
	                                        <input type="hidden" value="cadastrar" name="acao"/>
	                                        <input type="hidden" value="listar_bandas" name="op"/>
	                                        <input type="hidden" value="fazer" name="sop">
				  </div>	
				</div>		
				<p>{if $mostrar=='true'}
				{elseif $relatorio_banda}				</p>
				<p align="center" class="style5">Velocidades que o seu sistema usa atualmente: </p>
				<table width="180" align="center" style="border:1px solid #CCCCCC;">
					<tr>
						<td bgcolor="#EEEEEE" width="80"><p><strong>Velocidade</strong></p></td><td bgcolor="#EEEEEE" width="80"><p><strong>Descrição</strong></p></td><td bgcolor="#EEEEEE" width="20">&nbsp;</td> 
					</tr>
					{foreach item=a from=$relatorio_banda}
					<tr>
						<td bgcolor="#FDFDFD"><div align="center">
						  <p><a href="configuracao.php?op=listar_bandas&acao=cadastrar&sop=fazer">{$a.id}</a></p>
						</div></td><td bgcolor="#FDFDFD"><div align="center">
						  <p><a href="configuracao.php?op=listar_bandas&acao=cadastrar&sop=fazer">{$a.banda}</a></p>
						</div></td>
						<td bgcolor="#FDFDFD"><div align="center"><a href="configuracao.php?op=listar_bandas&acao=cadastrar&sop=fazer"><img src="template/default/images/gif_alterar.gif" alt="ALTERAR VELOCIDADES" width="14" height="14" border="0"></a></div></td>
					</tr>
					{/foreach}
		  </table>
	            {/if}
	             {elseif $mostrar=='false'}
        <div align="center"><br>
			<p align="center">Não há bandas cadastradas no seu sistema atualmente.</p>
			<br>
			<input type="button" value="&laquo; voltar" onClick="javascript:history.back();">
		</div>
		{/if}
		</td>
	</tr>


</form>
</table>
</body>
</html>

