<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>{ include file='menu_principal.html' }</td>
        </tr>
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"><p>&nbsp; </p>
                  <table class=table_main width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F0f0f0">
                    <tr> 
                      <th align="left" bgcolor="#FFFFFF" class=th_main>
<h1 align="center"><b><b>Pontos de Presença (POPs)</b></b></h1></th>
                    </tr>
                  </table>
                  <table class=table_main width="90%" border="0" align="center" cellpadding="0" cellspacing="0" >
                    <tr> 
                      <td class=td_main > <table width="97%" border="0" align="center" cellpadding="0" cellspacing="1" class=main>
                          <tr> 
                            <td colspan="2"><p align="center"> [ <a href="configuracao.php?op=pop&acao=cad">CADASTRAR 
                                POP </a>] </p>
                              <div align="center"> 
                                <table border=0 width="632" cellspacing=0 cellpadding=0>
                                  <tr bgcolor="#FAFAFA"> 
                                    <td width=240 align="left"><b>..nome..</b></td>
                                    <td width=310 align="left"><b>..info..</b></td>
                                    <td width=82 align="center"><b>..tipo..</b></td>
                                    <td width=82 align="center">&nbsp;</td>
                                  </tr>
                                  <tr> 
                                    <td colspan=4 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
                                  </tr>
                                  <tr bgcolor="#FFFFFF"> 
                                    <td align="left">AP - Associacao</td>
                                    <td align="left">SSID : virteX_jat IP : 10.10.0.3 
                                      Canal: 1 ---------- ROR canal 11 </td>
                                    <td align="center">AP</td>
                                    <td align="center"><a href="configuracao.php?op=altpop"><img src="template/default/images/gif_alterar.gif" border="0"></a></td>
                                  </tr>
                                  <tr bgcolor="#F1F1F1"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=4">AP 
                                      - BOMBA</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=4">SSID 
                                      : virteX_wireless_network_amd IP : 10.10.0.10 
                                      Canal: 11 </a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=4">AP</a></td>
                                    <td align="center"><a href="configuracao.php?op=altpop"><img src="template/default/images/gif_alterar.gif" border="0"></a></td>
                                  </tr>
                                  <tr bgcolor="#FFFFFF"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=30">AP 
                                      - CANOPY</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=30">10.10.0.2 
                                      - AP 2000 - CENTRO 10.10.0.3 - AP Associacao 
                                      10.10.0.4 - AP Tecnografica 10.10.0.5 - 
                                      CANOPY AP HOTEL-BOMBA 10.10.0.6 - CANOPY 
                                      JUNCO 10.10.0.7 - CANOPY BOMBA 10.10.0.8 
                                      - CANOPY AP HOTEL-JUNCO 10.10.0.9 - COR 
                                      10.10.0.10- AP BOMBA 10.10.0.11- AP JUNCO 
                                      10.10.0.12- CANOPY TECNOGRAFICA 10.10.0.13- 
                                      AP - COHAB</a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=30">AP</a></td>
                                    <td align="center"><a href="configuracao.php?op=altpop"><img src="template/default/images/gif_alterar.gif" border="0"></a></td>
                                  </tr>
                                  <tr bgcolor="#F1F1F1"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=33">AP 
                                      - COHAB</a></td>
                                    <td align="left">&nbsp;</td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=33">AP</a></td>
                                    <td align="center"><a href="configuracao.php?op=altpop"><img src="template/default/images/gif_alterar.gif" border="0"></a></td>
                                  </tr>
                                  <tr bgcolor="#FFFFFF"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=1">AP 
                                      - DVD</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=1">SSID 
                                      : virteX_dvd IP : 10.10.0.12 Canal: 4 </a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=1">AP</a></td>
                                    <td align="center"><a href="configuracao.php?op=altpop"><img src="template/default/images/gif_alterar.gif" border="0"></a> 
                                    </td>
                                  </tr>
                                  <tr bgcolor="#F1F1F1"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=3">AP 
                                      - Junco</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=3">SSID 
                                      : virteX_wireless_network_flp IP : 10.10.0.11 
                                      Canal: 6 </a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=3">AP</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#FFFFFF"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=28">AP 
                                      - KLN</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=28">Ap_tecnografica 
                                      SSID : virteX_kln IP : 10.10.0.4 Canal: 
                                      7 </a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=28">AP</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#F1F1F1"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=2">AP 
                                      - Wireless Network</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=2">SSID 
                                      : virteX_wireless_network IP : 10.10.0.12 
                                      Canal: 9 </a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=2">AP</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#FFFFFF"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=34">AP 
                                      TCV</a></td>
                                    <td align="left">&nbsp;</td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=34">AP</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#F1F1F1"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=24">CABO</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=24">Cabos 
                                      ligados diretamente no switch.</a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=24">C 
                                      </a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#FFFFFF"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=31">IP 
                                      - POPS</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=31">10.11.0.4 
                                      - Maria das Dores 10.11.0.5 - Lan House 
                                      10.11.0.7 - Notebook Hiran 10.11.0.10 - 
                                      Galeria Tininha de Sá 10.11.0.11 - Fiat 
                                      Guaribas 10.11.0.12 - Geraldinho 10.11.0.13 
                                      - Honda 10.11.0.14 - Valderi 10.11.0.15 
                                      - Esc .Luis 10.11.0.16 - Mario Monteiro 
                                      10.11.0.17 - Firme.com 10.11.0.18 - Decon 
                                      10.11.0.19 - Marmoraria Moura 10.11.0.20 
                                      - Valmir Contador 10.11.0.21 - Pamplona 
                                      10.11.0.22 - Jocile 10.11.0.23 - Odorico 
                                      10.11.0.24 - Carlos Luis 10.11.0.25 - Joleno 
                                      (Fale.com) 10.11.0.26 - Ze Airton 10.11.0.27 
                                      - Alberto 10.11.0.28 - BOSCO JUNCO 10.11.0.29 
                                      - Rego Neto 10.11.0.30 - Realeira 10.11.0.31 
                                      - Albino 10.11.0.32 - Liborio 10.11.0.33 
                                      - Dep.Sá Urtiga 10.11.0.34 - Josio 10.11.0.35 
                                      - Diocese 10.11.0.36 - Vidal 10.11.0.37 
                                      - Josinaldo (Fredson) 10.11.0.38 - Ney Luz 
                                      (P.daSilva) 10.11.0.39 - Radio Grande Picos 
                                      10.11.0.40 - Aecio 10.11.0.41 - Getulio 
                                      Ovis 10.11.0.42 - Itapemirim 10.11.0.43 
                                      - Educandario 10.11.0.44 - Tontonho 10.11.0.45 
                                      - Jonas Auto Peças 10.11.0.46 - Gilson 10.11.0.47 
                                      - Ovis São Benedito 10.11.0.48 - Oticas 
                                      Riveliny 10.11.0.49 - Bec 10.11.0.50 - Ovis 
                                      VAVA 10.11.0.51 - Isnaldo 10.11.0.52 - Salustiano 
                                      10.11.0.53 - Fabio 10.11.0.54 - Gadelha 
                                      10.11.0.55 - Seu Zeze 10.11.0.57 - APIAGRO 
                                      10.11.0.58 - Walkercia 10.11.0.59 - Tropical 
                                      FM 10.11.0.60 - Erivelton 10.11.0.61 - Ant 
                                      de Padua 10.11.0.62 - Dr Moura 10.11.0.63 
                                      - Sao Raimundo 10.11.0.64 - Sao Raimundo 
                                      10.11.0.65 - Sao Raimundo 10.11.0.66 - Sao 
                                      Raimundo 10.11.0.67 - Sao Raimundo 10.11.0.68 
                                      - Sebastião 10.11.0.69 - Evilasio 10.11.0.70 
                                      - Borges 10.11.0.71 - Viviane 10.11.0.72 
                                      - Mercantil Sertanejo 10.11.0.73 - HORTIFRIOS 
                                      10.11.0.74 - Lan House Junc0 10.11.0.75 
                                      - Tiago Melnor 10.11.0.76 - Jeane 10.11.0.77 
                                      - Sertanejo Motos 10.11.0.78 - Alcolicos 
                                      Anonimos 10.11.0.79 - Jonas Leopoldo </a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=31">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#F1F1F1"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=7">POP 
                                      - Liborio Novo</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=7">SSID 
                                      : virteX_wireless_network IP : 192.168.5.158 
                                      MAC : 00:0C:41:B6:BD:54 </a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=7">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#FFFFFF"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=26">POP 
                                      - ANTARES</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=26">SSID 
                                      : virteX_wireless_network IP : 192.168.6.158 
                                      MAC : 00-0C-41-C9-90-57</a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=26">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#F1F1F1"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=18">POP 
                                      - Alberto</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=18">SSID 
                                      : virteX_dvd IP : 192.168.3.106 MAC : 00:06:25:45:30:4B</a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=18">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#FFFFFF"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=12">POP 
                                      - Bosco</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=12">SSID 
                                      : virteX_wireless_network_flp IP : 192.168.3.54 
                                      MAC : 00:06:25:45:11:F2</a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=12">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#F1F1F1"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=6">POP 
                                      - DECON</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=6">SSID 
                                      : virteX_dvd IP : 192.168.2.6 MAC : 00:e0:98:c5:a5:e2 
                                      </a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=6">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#FFFFFF"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=21">POP 
                                      - Diocese</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=21">SSID 
                                      : virteX_dvd IP : 192.168.3.102 MAC : 00:0C:41:B6:BD:55 
                                      </a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=21">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#F1F1F1"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=14">POP 
                                      - Educandario</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=14">SSID 
                                      : virteX_dvd IP : 192.168.7.250 MAC : 00:02:2d:66:9e:ab</a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=14">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#FFFFFF"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=8">POP 
                                      - Esc.Luis</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=8">SSID: 
                                      virteX_dvd IP : 192.168.5.138 MAC : 00:0C:41:B6:B7:66</a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=8">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#F1F1F1"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=15">POP 
                                      - Firme</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=15">SSID 
                                      : virteX_wireless_network IP : 192.168.6.182 
                                      MAC : 00:0C:41:C9:6B:91 </a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=15">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#FFFFFF"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=17">POP 
                                      - Galeria Dep.Sa Urtiga</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=17">SSID 
                                      : virteX_dvd IP : 192.168.6.246 MAC : 00:0C:41:BE:DF:72</a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=17">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#F1F1F1"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=23">POP 
                                      - Galeria Tininha de Sa</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=23">SSID 
                                      : virteX_dvd IP : 192.168.5.150 MAC : 00:e0:98:c5:a9:b1</a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=23">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#FFFFFF"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=19">POP 
                                      - Geraldinho</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=19">SSID 
                                      : virteX_kln IP : 10.11.0.12 MAC : 00:0C:41:B6:BD:59 
                                      </a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=19">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#F1F1F1"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=16">POP 
                                      - Jocile</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=16">SSID 
                                      : virteX_wireless_network_amd IP : 192.168.5.202 
                                      MAC : 00:06:25:AC:EC:65</a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=16">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#FFFFFF"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=25">POP 
                                      - Josio</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=25">SSID 
                                      : virteX_wireless_network_amd IP : 192.168.5.90 
                                      MAC : 00:0c:41:b6:c7:41 </a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=25">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#F1F1F1"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=10">POP 
                                      - LanHouse</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=10">SSID 
                                      : virteX_wireless_network IP : 192.168.3.82 
                                      MAC : 00:0C:41:B6:B7:6B</a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=10">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#FFFFFF"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=11">POP 
                                      - Pamplona</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=11">SSID 
                                      : virteX_dvd IP : 192.168.3.58 MAC : 00:0C:41:B6:B7:69</a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=11">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#F1F1F1"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=36">POP 
                                      - Picos Hotel</a></td>
                                    <td align="left">&nbsp;</td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=36">AP</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#FFFFFF"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=32">POP 
                                      - Rego Neto</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=32">10.11.0.29</a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=32">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#F1F1F1"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=9">POP 
                                      - Salustiano</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=9">SSID 
                                      : virteX_jat IP : 192.168.2.150 MAC : 00:06:25:AC:D6:5C</a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=9">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#FFFFFF"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=29">POP 
                                      - TVSAT</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=29">SSID 
                                      : virteX_wireless_network_amd IP : 192.168.7.114 
                                      MAC : 00-0c-41-be-bc-1a</a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=29">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#F1F1F1"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=22">POP 
                                      - Vidal</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=22">SSID 
                                      : virteX_wireless_network_amd IP : 192.168.3.110 
                                      MAC : 00:0F:66:26:F1:5A </a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=22">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#FFFFFF"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=27">POP 
                                      - Viturino</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=27">SSID 
                                      : virteX_wireless_network IP : 192.168.6.158 
                                      MAC : 00-0C-41-C9-90-57</a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=27">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#F1F1F1"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=13">POP 
                                      - Viviane</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=13">SSID 
                                      : virteX_wireless_network_amd IP : 192.168.6.122 
                                      MAC : 00:0C:41:C9:6B:8F </a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=13">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#FFFFFF"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=20">POP 
                                      - Ze Maia</a></td>
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=20">SSID 
                                      : virteX_jat IP : 192.168.2.10 MAC : 00:e0:98:c5:a5:cd</a></td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=20">CL</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr bgcolor="#F1F1F1"> 
                                    <td align="left"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=35">Sao 
                                      Raimundo Nonato</a></td>
                                    <td align="left">&nbsp;</td>
                                    <td align="center"><a href="/~virtsys/admin.php?sessao=config&subsess=pop&oper=cadastro&id_pop=35">AP</a></td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                </table>
                              </div></td>
                          </tr>
                        </table>
                        altpopassoc</td>
                    </tr>
                    <tr> 
                      <td class=td_main >&nbsp;</td>
                    </tr>
                  </table>
                  <p>&nbsp;</p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="20" align="center" bgcolor="#BCD3C4"><table width="400" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">&copy; 
              Mosman Consultoria - Todos os Direitos Reservados</font></div></td>
        </tr>
      </table></td>
  </tr>
</table>
<a href="configuracao.php?op=altpop"><img src="template/default/images/gif_alterar.gif" border="0"></a>
</body>


</html>
