<!-- configuracao_pop_lista.html -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
{literal}<style type="text/css">
<!--
.style1 {
	color: #C5C3C3;
	font-weight: bold;
}
-->
</style>
{/literal}
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" {if $a.nivel!='0'} valign="top" {/if} height='26'><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"><p>&nbsp; </p>
                  <table class=table_main width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F0f0f0">
                    <tr>
                      <th align="left" bgcolor="#FFFFFF" class=th_main>
<h1 align="center"><b><b>Pontos de Presença (POPs)</b></b></h1></th>
                    </tr>
                  </table>
                  <table class=table_main width="90%" border="0" align="center" cellpadding="0" cellspacing="0" >
                    <tr>
                      <td class=td_main > <table width="97%" border="0" align="center" cellpadding="0" cellspacing="1" class=main>
                          <tr>
                            <td colspan="2"><p align="center"> <a href="configuracao.php?op=pop"><img src="template/default/images/bt_pop.gif" width="77" height="73" border="0"></a></p>
                              <div align="center">

                              <table border=0 width="650" cellspacing=0 cellpadding=0>
                                <tr bgcolor="#FAFAFA">
                                  <td width=260 align="left"><font face="Arial, Helvetica, sans-serif"><b>..nome..</b></font></td>
								  <td width=200 align="center"><font face="Arial, Helvetica, sans-serif"><b>...ip...</b></font></td>
                                  <td width=95 align="center"><font face="Arial, Helvetica, sans-serif"><b>..tipo..</b></font></td>
                                  <td align="center" colspan="3"><font face="Arial, Helvetica, sans-serif"><b>..::..&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></font></td>
                                </tr>
                                <tr>
                                  <td colspan=7 bgcolor="000000"><img src="template/default/menu/spacer.gif" width=1 height=1 border=0></td>
                                </tr>
								<tr>
									<td height="5"></td>
								</tr>
							{foreach item=a from=$lista_pop}
                                <tr bgcolor="#FFFFFF">
                                  <td align="left" nowrap="nowrap" style="border-bottom: 1px solid #C5C3C3;" {if $a.nivel!='0'} valign="top" {/if} height='26' ><p>
								 	{if $a.nivel=='0'}
										<span class="style1">•</span>
									{/if}
									{if $a.nivel=='1'}
										<img src="template/default/images/conector.gif" alt="NÍVEL DE DEPENDÊNCIA 1"><span class="style1">•</span>
									{/if} 
									{if $a.nivel=='2'}
										<img src="template/default/images/menu/spacer.gif" width="18"><img src="template/default/images/conector.gif" alt="NÍVEL DE DEPENDÊNCIA 2"><span class="style1">•</span>
									{/if}
									{if $a.nivel=='3'}<img src="template/default/images/menu/spacer.gif" width="35" height="1"><img src="template/default/images/conector.gif" alt="NÍVEL DE DEPENDÊNCIA 3"><span class="style1">•</span>
									{/if}
									{if $a.nivel=='4'}<img src="template/default/images/menu/spacer.gif" width="53" height="1"><img src="template/default/images/conector.gif" alt="NÍVEL DE DEPENDÊNCIA 4"><span class="style1">•</span>
									{/if} 
									{if $a.nivel=='5'}<img src="template/default/images/menu/spacer.gif" width="71" height="1"><img src="template/default/images/conector.gif" alt="NÍVEL DE DEPENDÊNCIA 5"><span class="style1">•</span>
									{/if} 
									{if $a.nivel=='6'}<img src="template/default/images/menu/spacer.gif" width="87" height="1"><img src="template/default/images/conector.gif" alt="NÍVEL DE DEPENDÊNCIA 6"><span class="style1">•</span>
									{/if} 
								   
								  
								 
									  <a href="configuracao.php?op=pop&id_pop={$a.id_pop}">
										  
										  {if $a.nivel == "0"}
											<font color="#002200"><b>
										  {/if}
										  {if $a.nivel != "0"}
											<font color="#333333">
										  {/if}
										  {if $a.status == "N"}
											<font color="#CDCDCD"><b>
										  {/if}
											{$a.tipo} - {$a.nome}
										  {if $a.status == "N"}
										  	</b></font>
										  {/if}
										  </a>
									  </p>
									  
								  </td>
								
								  <td style="border-bottom: 1px solid #C5C3C3;" height='26'>
									  <div align="center">
										<p><a href="configuracao.php?op=pop&id_pop={$a.id_pop}">{if !$a.ipaddr}&nbsp;{else}{$a.ipaddr}{/if}</a></p>
									  </div>
								  </td>
                                  <td align="center" style="border-bottom: 1px solid #C5C3C3;"  height='26'>
								  	<p><a href="configuracao.php?op=pop&id_pop={$a.id_pop}">{$a.tipo}</a></p>
								  </td>
                                  <td align="center" width="33" style="border-bottom: 1px solid #C5C3C3;" height='26'>
                                    <p><a href="configuracao.php?op=pop&id_pop={$a.id_pop}">
									 <img src="template/default/images/gif_alterar.gif" alt="ALTERAR POP" border="0">
									</a></p>
								  </td>
                                  <td align="center" width="23" style="border-bottom: 1px solid #C5C3C3;" height='26'>
								  	<a href="configuracao.php?op=pop&rotina=desativar&id_pop={$a.id_pop}">
								  	<img alt="DESATIVAR POP" src="template/default/images/delete.gif" width="15" height="15" border="0"></a>
								  </td>
								  <td style="border-bottom: 1px solid #C5C3C3;" height='26'>
									<a href="relatorio.php?op=lista&tipo=POP&id={$a.id_pop}">
									<img src="template/default/images/user.gif" alt="Usuários no POP " border="0" >
								 	</a> 
								  </td>
                                </tr>
                                {/foreach}
                              </table>
                              </div></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                    <tr>
                      <td class=td_main >&nbsp;</td>
                    </tr>
                  </table>
                  <p>&nbsp;</p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
