<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>{ include file='menu_principal.html' }</td>
        </tr>
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"><h1>Contratos</h1>
                  <table width="600" border="0" cellspacing="2" cellpadding="2">
                    <tr align="center" valign="middle"> 
                      <td><h2>..Modelo..</h2></td>
                      <td><h2>..Data da Atualiza&ccedil;&atilde;o..</h2></td>
                      <td colspan="2"><h2>..A&ccedil;&otilde;es..</h2></td>
                    </tr>
                    <tr> 
                      <td><table width="100%" border="0" cellspacing="1" cellpadding="0">
                          <tr> 
                            <td align="center">GIF</td>
                            <td align="center">Discado</td>
                          </tr>
                        </table></td>
                      <td align="center">2006/03/02 11:30:25</td>
                      <td align="center">VER</td>
                      <td align="center">ALT</td>
                    </tr>
                    <tr> 
                      <td><table width="100%" border="0" cellspacing="1" cellpadding="0">
                          <tr> 
                            <td align="center">GIF</td>
                            <td align="center">Banda Larga</td>
                          </tr>
                        </table></td>
                      <td align="center">2006/03/02 11:30:25</td>
                      <td align="center" valign="middle">VER</td>
                      <td align="center" valign="middle">ALT</td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="1" cellpadding="0">
                          <tr> 
                            <td align="center">GIF</td>
                            <td align="center">Hospedagem</td>
                          </tr>
                        </table></td>
                      <td align="center">2006/03/02 11:30:25</td>
                      <td align="center" valign="middle">VER</td>
                      <td align="center" valign="middle">ALT</td>
                    </tr>
                  </table>
                  <p><br>
                  </p>
                  <p>&nbsp;</p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="20" align="center" bgcolor="#BCD3C4"><table width="400" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">&copy; 
              Mosman Consultoria - Todos os Direitos Reservados</font></div></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
