<!-- configuracao_pop_lista.html -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"><p>&nbsp; </p>
                  <table class=table_main width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F0f0f0">
                    <tr>
                      <th align="left" bgcolor="#FFFFFF" class=th_main>
<h1 align="center"><b><b>Pontos de Presença (POPs)</b></b></h1></th>
                    </tr>
                  </table>
                  <table class=table_main width="90%" border="0" align="center" cellpadding="0" cellspacing="0" >
                    <tr>
                      <td class=td_main > <table width="97%" border="0" align="center" cellpadding="0" cellspacing="1" class=main>
                          <tr>
                            <td colspan="2"><p align="center"> <a href="configuracao.php?op=pop"><img src="template/default/images/bt_pop.gif" width="77" height="73" border="0"></a></p>
                              <div align="center">

                              <table border=0 width="632" cellspacing=0 cellpadding=0>
                                <tr bgcolor="#FAFAFA">
                                  <td width=239 align="left"><h2><b>..nome..</b></h2></td>
                                  <td width=148 align="left"><h2><b>..info..</b></h2></td>
								  <td width=124 align="left"><h2 align="center"><b>...ip...</b></h2></td>
                                  <td width=65 align="center"><h2><b>..tipo..</b></h2></td>
                                  <td align="center" colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td colspan=7 bgcolor="000000"><img src="template/default/menu/spacer.gif" width=1 height=1 border=0></td>
                                </tr>
								<tr>
									<td height="5"></td>
								</tr>
                                {foreach item=a from=$lista_pop}
                                <tr bgcolor="#FFFFFF">
                                  <td align="left"><p>{if $a.status != "A"}<font color="red"><b>{/if}<a href="configuracao.php?op=pop&id_pop={$a.id_pop}">{$a.tipo}
                                      - {$a.nome}</a><a href="configuracao.php?op=pop&id_pop={$a.id_pop}">{if $a.status != "A"}</a></b></font>{/if}</p></td>
									  
                                  <td align="left"><p><a href="configuracao.php?op=pop&id_pop={$a.id_pop}">{$a.info|nl2br}</a></p></td>
								  <td><div align="center">
								    <p><a href="configuracao.php?op=pop&id_pop={$a.id_pop}">{$a.ipaddr}</a></p>
								  </div></td>
                                  <td align="center"><p><a href="configuracao.php?op=pop&id_pop={$a.id_pop}">{$a.tipo}</a></p></td>
                                  <td align="center" width="33">
                                    <p><a href="configuracao.php?op=pop&id_pop={$a.id_pop}"><img src="template/default/images/gif_alterar.gif" alt="ALTERAR POP" border="0"></a></p></td>
                                  <td align="center" width="23"><a href="configuracao.php?op=pop&rotina=desativar&id_pop={$a.id_pop}"><img alt="DESATIVAR POP" src="template/default/images/delete.gif" width="15" height="15" border="0"></a> </td><td>
								<a href="relatorio.php?op=lista&tipo=POP&id={$a.id_pop}"><img src="template/default/images/user.gif" alt="Usuários no POP " border="0" >
								 </a> 
								 </td>
                                </tr>
                                <tr>
                                  <td colspan="7"><hr size="1"> </td>
                                </tr>
                                {/foreach}
                              </table>
                              </div></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                    <tr>
                      <td class=td_main >&nbsp;</td>
                    </tr>
                  </table>
                  <p>&nbsp;</p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
