<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>{ include file='menu_principal.html' }</td>
        </tr>
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"><p>&nbsp; </p>
                  <table class=table_main width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F0f0f0">
                    <tr> <th align="left" bgcolor="#FFFFFF" class=th_main> <h1 align="center"><b>NAS::Endere&ccedil;os 
                      Externos - {$nas.nome} ({if $nas.tipo_nas =="P"}PPPoE {/if}{if 
                      $nas.tipo_nas=="I"}IP{/if} /{$nas.ip})</b></h1></th></tr>
                  </table>
                  <table class=table_main width="90%" border="0" align="center" cellpadding="0" cellspacing="0" >
                    <tr> 
                      <td class=td_main > <table width="97%" border="0" align="center" cellpadding="0" cellspacing="1" class=main>
                          <tr> 
                            <td colspan="2"><table align="CENTER" width="450" border="0" cellspacing="2" cellpadding="0">
                                <tr align="CENTER"> 
                                  <td width="150"><a href="configuracao.php?op=rede&id_nas={$nas.id_nas}&tipo_nas={$nas.tipo_nas}"><img src="template/default/images/bt_rede.gif" width="77" height="73" border="0"></a></td>
                                  <td width="150"><a href="configuracao.php?op=externo&id_nas={$nas.id_nas}&tipo_nas={$nas.tipo_nas}"><img src="template/default/images/bt_externo.gif" width="77" height="73" border="0"></a></td>
                                  <td width="150"><a href="configuracao.php?op=externo&id_nas={$nas.id_nas}&tipo_nas={$nas.tipo_nas}&acao=novo"><img src="template/default/images/bt_externo_novo.gif" width="77" height="73" border="0"></a></td>
                                </tr>
                              </table>
                              <p align="center">&nbsp; </p>
                              <div align="center"> 
                                
                              <table border=0 width="500" cellspacing=0 cellpadding=0>
                                <tr bgcolor="#FAFAFA"> 
                                  <td width=188 align="left"><h2><b>..Id..</b></h2></td>
                                  <td width=306 align="left"><h2><b>..Rede..</b></h2></td>
                                  <td width=1 align="center">&nbsp;</td>
                                  <td width=69 align="center" colspan=2><h2>..Operações..</h2></td>
                                </tr>
                                <tr> 
                                  <td colspan=5 bgcolor="000000"><img src="template/default/menu/spacer.gif" width=1 height=1 border=0></td>
                                </tr>
                                {foreach item=a from=$externos} 
                                <tr bgcolor="#FFFFFF"> 
                                  <td align="left"><p>{$a.id_nas}</p></td>
                                  <td align="left"><p>{$a.ip_redirec}</p></td>
                                  <td align="center" width="1">&nbsp;</td>
                                  <td align="center" colspan=2><p><img src="template/default/images/gif_alterar.gif" border="0"></p></td>
                                </tr>
                                <tr> 
                                  <td colspan="5"><hr size="1"></td>
                                </tr>
                                {/foreach} 
                              </table>
                              </div></td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr> 
                      <td class=td_main >&nbsp;</td>
                    </tr>
                    <tr>
                      <td align="center" valign="middle" class=td_main ><table width="300" border="0" cellspacing="2" cellpadding="0">
                          <tr align="center" valign="middle"> 
                            <td><a href="configuracao.php?op=lista_nas">Voltar</a></td>
                            <td><a href="#">Topo</a></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                  <p>&nbsp;</p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="20" align="center" bgcolor="#BCD3C4"><table width="400" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">&copy;
              Mosman Consultoria - Todos os Direitos Reservados</font></div></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
