<html>
<head>
<title>Main</title>
</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="102"> 
<table width="100%" height="50" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
  <tr>
    <td width="18%"><div align="center">Logotipo</div></td>
    <td width="82%">
      <div align="center"><strong>VIRTEX ADMIN - PAINEL DE CONTROLE </strong> </div></td>
  </tr>
</table>      
{include file='menu_principal.html'}</td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p>Configura&ccedil;&otilde;es/ Monitramento </p>
      <p>&nbsp;</p> </td>
  </tr>
</table>
</body>


</html>
