<!-- configuracao_preferencia_cobranca.html -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="document.form1.tx_juros.focus();">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"> <h1 align="center">Cadastro
                    de Prefer&ecirc;ncias de Cobran&ccedil;a</h1>
                  <form name="form1" method="post" action="">
                    <table width="618" border="0">
                      <tr>
                        <td width="146"><p><strong>Taxa de Juros</strong></p></td>
                        <td width="182"><strong>
                          <input name="tx_juros" type="text" id="tx_juros" value="{$prefs.tx_juros}" size="10">
                          </strong>%</td>
                        <td width="95"><p><strong>Multa</strong></p></td>
                        <td width="177"><strong>
                          <input name="multa" type="text" id="multa3" value="{$prefs.multa}" size="10">
                          </strong>%</td>
                      </tr>
                      <tr>
                        <td><p><strong>Dia de Vencimento</strong></p></td>
                        <td><strong>
                          <input name="dia_venc" type="text" id="dia_venc3" value="{$prefs.dia_venc}" size="2">
                          </strong></td>
                        <td><p><strong>Car&ecirc;ncia</strong></p></td>
                        <td><strong>
                          <input name="carencia" type="text" id="carencia4" value="{$prefs.carencia}" size="2">
                          </strong>dias </td>
                      </tr>
                      <tr>
                        <td><p><strong>Cod. Banco:</strong></p></td>
                        <td><strong>
                          <input name="cod_banco" type="text" value="{$prefs.cod_banco}" size="5" id="cod_banco3">
                          </strong></td>
                        <td><p><strong>Carteira:</strong></p></td>
                        <td><input name="carteira" type="text" value="{$prefs.carteira}" size="12" id="carteira4"></td>
                      </tr>
                      <tr>
                        <td><p><strong>Ag&ecirc;ncia:</strong></p></td>
                        <td><input name="agencia" type="text" value="{$prefs.agencia}" size="12" id="agencia3"></td>
                        <td><p><strong>Num. Conta:</strong></p></td>
                        <td><strong>
                          <input name="num_conta" type="text" value="{$prefs.num_conta}" size="12" id="num_conta4">
                          </strong></td>
                      </tr>
                      <tr>
                        <td><p><strong>Conv&ecirc;nio:</strong></p></td>
                        <td><input name="convenio" type="text" value="{$prefs.convenio}" id="convenio3"></td>
                        <td><p><strong>Pagamento:</strong></p></td>
                        <td><select name="pagamento">
                            <option value="PRE" {if $prefs.pagamento == "pre"}selected{/if}>Pr&eacute;-Pago</option>
                            <option value="POS" {if $prefs.pagamento == "pos"}selected{/if}>P&oacute;s-Pago</option>
                          </select></td>
                      </tr>
                      <tr>
                        <td><p><strong>Formas de Pagamento:</strong></p></td>
                        <td colspan="3"><table width="100%" border="0" cellspacing="3" cellpadding="0">
                            {foreach item=a from=$frm_pagamento}
                            <tr>
                              <td width="9%"><input type="checkbox" name="disponivel[{$a.id_cobranca}]" value="t" class="checkbox" {if $a.disponivel == "t"}CHECKED{/if}></td>
                              <td width="91%"><p>{$a.nome_cobranca}</p></td>
                            </tr>
                            {/foreach} </table></td>
                      </tr>
                      <tr>
                        <td><p><strong>Observa&ccedil;&otilde;es
                            <input name="op" type="hidden" id="op6" value="{$op}">
                            <input name="id_preferencia" type="hidden" id="id_preferencia6" value="{$prefs.id_preferencia}">
                            <input name="acao" type="hidden" id="acao6" value="alt">
                            </strong></p></td>
                        <td colspan="3"> <strong>
                          <textarea name="observacoes" id="textarea" cols="40" rows="5">{$prefs.observacoes}</textarea>
                          </strong></td>
                      </tr>
                      <tr>
                        <td><p><strong>Path Contrato</strong></p></td>
                        <td colspan="3"><input name="path_contrato" type="text" value="{$prefs.path_contrato}" size="45" id="path_contrato2"></td>

                      </tr>
                    </table>
                    <table width="128" align="center">
                      <tr align="center">
                        <td><input type="button" name="voltar" value="Voltar" onClick="javascript: location='configuracao.php?op=resumo';"></td>
                        <td><input type="submit" name="Submit" value="Cadastrar"></td>
                      </tr>
                    </table>

                    </form>
                  </td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
