<html>
<head>
<!-- <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<title>Main</title>
</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="60"> 
      <table width="100%" height="50" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr> 
          <td width="18%"><div align="center">Logotipo</div></td>
          <td width="82%"> <div align="center"><strong>VIRTEX ADMIN - PAINEL DE 
              CONTROLE </strong> </div></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td colspan="2">{include file='menu_principal.html'}</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><table class=table_main width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F0f0f0">
  <tr>
    <th class=th_main ><font face="Arial" size="+1"><b>Eliminar Cliente</b></font></th>
  </tr>
</table>
<table class=table_main width="75%" border="0" align="center" cellpadding="0" cellspacing="0" >
  <tr>
    <td class=td_main >
	<form name=dados method="get" action="/~virtsys/admin.php">
		<table width="90%" border="0" align="center" cellpadding="0" cellspacing="1" class=main>
          <tr> 
            <td height="33" colspan="2">&nbsp;</td>
            </tr>

          <tr> 
            <td colspan="2"><table width="100%" border="0" cellspacing="1" cellpadding="0">
                <tr> 
                  <td>Código do Cliente: <input  name="id_cliente" value="0" type="text" class=input1 id="nome_razao" size="5" maxlength=5> &nbsp; <input name="cadastro_cliente" type="submit" class=input2 id="cadastro_cliente2" value="Eliminar &gt;&gt;" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;"></td>
                </tr>
              </table></td>
          </tr>
        </table>
      </form></td>
  </tr>
</table>
</p> </td>
  </tr>
</table>
</body>


</html>
