#menu A {
	COLOR: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; TEXT-DECORATION: none;
	}
#menu A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
#menu A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
#menu A:hover {
	COLOR: #000000; TEXT-DECORATION: underline;
}
#menu2 A {
	COLOR: #003366; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; TEXT-DECORATION: none;
	}
#menu2 A:link {
	COLOR: #003366; TEXT-DECORATION: none
}
#menu2 A:visited {
	COLOR: #003366; TEXT-DECORATION: none
}
#menu2 A:hover {
	COLOR: #003366; TEXT-DECORATION: underline;
}
#baixo A {
	COLOR: white; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; TEXT-DECORATION: none;
	}
#baixo A:link {
	COLOR: white; TEXT-DECORATION: none
}
#baixo A:visited {
	COLOR: white; TEXT-DECORATION: none
}
#baixo A:hover {
	COLOR: white; TEXT-DECORATION: underline;
}
INPUT.campos {
	background: white;
	font-family : Verdana;
	font-size : 10px;
	border : 1 solid #000000;
}
select.campos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	background: white; 
	border: 1 solid #000000;
}
#painel1 A {
	COLOR: #7894A0; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; TEXT-DECORATION: none;
	}
#painel1 A:link {
	COLOR: #7894A0; TEXT-DECORATION: none
}
#painel1 A:visited {
	COLOR: #7894A0; TEXT-DECORATION: none
}
#painel1 A:hover {
	COLOR: #000000; TEXT-DECORATION: underline;
}
#painel2 A {
	COLOR: #003366; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; TEXT-DECORATION: none; WEIGHT: bold;
	}
#painel2 A:link {
	COLOR: #003366; TEXT-DECORATION: none
}
#painel2 A:visited {
	COLOR: #003366; TEXT-DECORATION: none
}
#painel2 A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none;
}
 A {
	COLOR: #ffffff; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; TEXT-DECORATION: none;
	}
A:link {
	COLOR: #FFFFFF; TEXT-DECORATION: none
}
A:visited {
	COLOR: #FFFFFF; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline;
}