<html>
<head>
<!-- <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="60"> 
      <table width="100%" height="50" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr> 
          <td width="18%"><div align="center">Logotipo</div></td>
          <td width="82%"> <div align="center"><strong>VIRTEX ADMIN - PAINEL DE 
              CONTROLE </strong> </div></td>
        </tr>
        <tr> 
          <td colspan="2"><table width="100%" border="0" cellspacing="2" cellpadding="0">
              <tr align="center" valign="top" bgcolor="#F4F4F4"> 
                <td><strong>Clientes</strong><br> &raquo; <a href="search_clientes.html">Pesquisa</a><br> 
                  &raquo; <a href="cadastro_clientes.html">Cadastro</a><br> &raquo; 
                  Relatorios<br> &raquo; Eliminar Reg.</td>
                <td><strong>Cobranca</strong><br> &raquo; Bloqueados<br> &raquo; 
                  Produtos/Planos<br> &raquo; Relatorios</td>
                <td><strong>Suporte</strong><br> &raquo; Graficos<br> &raquo; 
                  Log Radius<br> &raquo; Monitoramento<br> &raquo; Calculadora 
                  IP<br> &raquo; ARP</td>
                <td><strong>Configura&ccedil;&otilde;es<br>
                  </strong>&raquo; POPs<br> &raquo; NAS<br> &raquo; Monitoramento<br> 
                  &raquo; Relatorios</td>
                <td><strong>Administradores</strong><br> &raquo; Alterar Senha<br> 
                  &raquo; Cadastro<br> &raquo; Listagem</td>
                <td><a href="main.html">home</a></td>
                <td>suporte</td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p><H1>Análise de Tráfego Wireless</H1> <TABLE> <TR><TD>Sistema:</TD><TD>10.10.10.71 (renovar) Marabá, Pará, Brasil</TD></TR> <!--TR><TD>Responsável: </TD><TD>{responsavel_link}</TD></TR--> <TR><TD>Interface:  </TD><TD>Wireless 802.11</TD></TR> <TR><TD>Velocidade: </TD><TD>Medida em Kbps</TD></TR> <TR><TD>Banda alocada: </TD><TD> UP: 100K/DOWN: 100K </TD></TR> <TR><TD>Status: </TD><TD> Ativo </TD></TR> </TABLE><BR>
<HR>
&Uacute;ltima atualiza&ccedil;&atilde;o das estat&iacute;sticas: <B>Quarta, 1 de Fevereiro de  2006  &agrave;s  10:05</B>
<!-- Begin `Daily' Graph (5 Minute -->
<HR>
<B>Gr&aacute;fico `Di&aacute;rio' (5 minutos - m&eacute;dia)</B><BR>
<img src="10.10.10.71-day.png" width="470" height="135">
</p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td align="right">M&aacute;x &nbsp;in: </td>
    <td align="right">52.5 kb/s (52.5%) </td>
    <td width="5"></td>
    <td align="right">M&eacute;dia &nbsp;in: </td>
    <td align="right">12.6 kb/s (12.6%) </td>
    <td width="5"></td>
    <td align="right">Atual &nbsp;in: </td>
    <td align="right">0.0 b/s (0.0%) </td>
  </tr>
  <tr>
    <td align="right">M&aacute;x &nbsp;out: </td>
    <td align="right">50.2 kb/s (50.2%) </td>
    <td width="5"></td>
    <td align="right">M&eacute;dia &nbsp;out: </td>
    <td align="right">12.0 kb/s (12.0%) </td>
    <td width="5"></td>
    <td align="right">Atual &nbsp;out: </td>
    <td align="right">0.0 b/s (0.0%) </td>
  </tr>
</table><p>&nbsp;</p>
    </td>
  </tr>
</table>
</body>


</html>
