<table width="500" border="0" align="center" cellpadding="3" cellspacing="3">
  <tr align="CENTER" valign="MIDDLE">
    <td colspan="3" bgcolor="#f1f1f1"><font face="Arial, Helvetica, sans-serif" size="5" color="#666666"><strong><font size="4">Menu
            Principal</font><br>
      </strong><font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#000000">Voc&ecirc; 
        est&aacute; logado com o usu&aacute;rio <strong>{$admin} </strong></font></font></td>
  </tr>
  <tr align="CENTER" valign="MIDDLE">
    <td><img src="images/cadastrar.gif" alt="." width="77" height="73"></td>
    <td><img src="images/bt_cadastrar_novo.gif" alt="." width="77" height="73"></td>
    <td><img src="images/bt_cobranca.gif" alt="." width="77" height="73"></td>
  </tr>
  <tr align="CENTER" valign="MIDDLE">
    <td><img src="images/bt_nas.gif" alt="." width="77" height="73"></td>
    <td><img src="images/bt_pop.gif" alt="." width="77" height="73"></td>
    <td><img src="images/bt_helpdesk.gif" alt="." width="77" height="73"></td>
  </tr>
  <tr align="CENTER" valign="MIDDLE">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
