<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
<div align="center">{if $status == "expirado"}
  <table width="450" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#000000">
    <tr>
      <td width="504"><table width="100%" border="0" cellspacing="1" cellpadding="0">
          <tr>
            <td width="477" height="150" align="center" valign="middle" bgcolor="#D9E8DD"><font size="2" face="Arial, Helvetica, sans-serif"><strong><br>
              SR. USU&Aacute;RIO</strong><br>
              <br>
              <strong><font size="3" color="#006600">SUA LICEN&Ccedil;A EXPIROU
              </font></strong><font color="#006600"><br>
              </font><br>
              SISTEMA CONGELAR&Aacute; EM <font color="#990000"><strong>{$licenca.geral.congela_em|date_format:"%d/%m/%Y"}</strong></font><br>
              <br>
              ENTRE EM CONTATO ANTES DO PRAZO PARA N&Atilde;O HAVER<br>
              INTERRUP&Ccedil;&Otilde;ES DE TRABALHO<br>
              <br>
              <a href="configuracao.php?op=registro">Tela de Registro</a><br>
              <br>
              </font></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td height="24" bgcolor="#FFFFFF"> <div align="center">
          <p>&nbsp;</p>
          <p>{if $num_cli}</p>
          <p>{if $privilegio_cliente =="nao" && $privilegio_radius =="nao"}</p>
          <p>{else} </p>
          <table width="100%" border="0">
            <tr>
              <td> <table width="100%" border="0" cellpadding="0" cellspacing="1" bordercolor="#000000" bgcolor="#000000">
                  <tr>
                    <td height="100" align="center" valign="middle" bordercolor="#FFFFFF" bgcolor="#FFFFFF"> 
                      <p>{if $privilegio_cliente == 'sim'} {assign var="num_ctt" 
                        value=0} {foreach item=v from=$lista_contrato} {if $v.nome_razao} 
                        {assign var="num_ctt" value=$num_ctt+1} {/if} {/foreach}{if 
                        $lista_contrato}<a href="home.php?op=renovacao_contrato"><strong>Existem 
                        {$num_ctt} clientes para renovaçao de contrato. </strong></a>{/if} 
                      </p>
                      <p><strong>No momento existem {$num_cli} <a href="cobranca.php?op=bloqueados">clientes 
                        passíveis de <font color="#FF0000">bloqueio. </font></a></strong></p>{/if}
						{if $privilegio_radius == 'sim'}
                      <p><strong><a href="suporte.php?op=log">Log do Radius (discado 
                        e PPPoE</a></strong><strong><a href="suporte.php?op=log">)</a></strong></p>{/if}
                      </td>
                  </tr>
                </table></td>
            </tr>
          </table>
        </div>
        <div align="center">
          <p>{/if} </p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
        <div align="center"></div>
        <div align="center"> </div></tr>
     {/if} </tr>
  </table>
  {/if} </div>
