<!--INICIO DO HEADER.HTML-->
<html>
<head>
<script language="JavaScript1.2" type="text/javascript" src="template/default/mm_css_menu.js"></script>
<style type="text/css" media="screen">
	@import url("template/default/menu.css");
</style>
<title>Virtex Admin - Área de Gerenciamento </title>
{literal}
<style type="text/css">
<!--
.style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006633;
}
-->
</style>
{/literal}
{literal}
<script>
function Tecla(e)
{

	frm = document.form_pesquisa;

	if (document.all) // Internet Explorer
		var tecla = event.keyCode;
	else if(document.layers) // Nestcape
		var tecla = e.which;
		if (tecla != 13 ){
			return true;}
		else
			{
			//alert("Clique no botão 'Pesquisar'");
				if( pesquisaUsuario() ) {
					frm.submit();
				}

				if (tecla != 8) // backspace
					event.keyCode = 0;
					//return false;
				else
					return true;
			}
}
</script>
{/literal}

</head>
<base target="CONTEUDO">
<body topmargin=0 leftmargin=0 {if $privilegio_cliente == "sim"}onLoad="document.form_pesquisa.texto_pesquisa.focus();"{/if}>
<!-- INICIO DO MENU -->
<table width="100%" height="100%" cellspacing=0 cellpadding=0 border=0>
 <tr>
  <!--<td colspan=2 background="template/default/images/pixel_top.gif" height="51">-->
  <td colspan=2 background="template/default/images/top_pixel.gif" height="51">
	 <table width="100%" border="0" cellspacing="0" cellpadding="0">
		<!--<tr>
			<td width="194"><img src="template/default/images/logo.gif" width="194" height="51"></td>
			<td align="center"><img src="template/default/images/titulo.gif" width="211" height="51"></td>
		</tr>-->
		<tr>
			<td width="400"><img src="template/default/images/logo_top.gif"></td>
			<td></td>
		</tr>
	</table>
  </td>
 </tr>
 <tr>
    <td width=150 align="center" valign="top" bgcolor="#BCD3C4">
      <!-- INICIO DA BARRA LATERAL -->
<table height="100%" border=0 cellspacing=0 cellpadding=0>
<tr><td width="100%" align="center" valign="top" bgcolor="#BCD3C4">
      <img src="template/default/images/menu/menu_r2_c1.gif" width="150" height="6"> <br>


<script type="text/javascript" src="template/default/ajax.js"></script>
<script language="JavaScript" src="template/default/atalhos_pesquisa.js"></script>
<link href="template/default/atalhos_pesquisa.css" rel="stylesheet" type="text/css"></link>

<form name="form_pesquisa" onSubmit="return pesquisaUsuario();">
{if $privilegio_cliente == "sim"}
<fieldset style="height:115px; width:130; border:1px solid #004411"><legend><span class="style1">Procurar Cliente</span></legend>
<div name="box_pesquisa" id="box_pesquisa" style="height:97px; width:120;">

	<table width="120" border="0" cellspacing="0" cellpadding="0" >
		<tr align="left">
			<td><input name="texto_pesquisa" id="texto_pesquisa" value="" type="text" onKeyPress="return Tecla(event);" size="15" class="campos" onFocus="this.style.backgroundColor='#E7EFEA'" onBlur="this.style.backgroundColor='#FFFFFF'"> </td>
		</tr>
		<tr>
			<td>
				<table width="120" border="0" cellspacing="2" cellpadding="0" align="center">
					<tr>
						<td align="left"> <p>
							<label class="label_pesquisa">
							<input type="radio" name="tipo_pesquisa" value="NOME" class="checkbox" {if $tipo_pesquisa=="NOME"}CHECKED{/if} checked="checked">
							Nome</label>
							</p>
						</td>
						<td> <p>
							<label class="label_pesquisa">
							<input type="radio" name="tipo_pesquisa" value="DOCTOS" class="checkbox" {if $tipo_pesquisa=="DOCTOS"}CHECKED{/if}>
							Doctos</label>
							</p>
						</td>
					</tr>
					<tr>
						<td> <p>
							<label class="label_pesquisa">
							<input type="radio" name="tipo_pesquisa" value="CONTA" class="checkbox" {if $tipo_pesquisa=="CONTA"}CHECKED{/if}>
							Conta</label>
							</p>
						</td>
						{if $lic_email =="sim"}<td> <p>
							<label class="label_pesquisa">
							<input type="radio" name="tipo_pesquisa" value="EMAIL" class="checkbox" {if $tipo_pesquisa=="EMAIL"}CHECKED{/if}>
							E-Mail</label>
							</p>
						</td>
						{/if}
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center">
				<input type="button" name="Submit" value="Pesquisa" class="campos" onClick="javascript:pesquisaUsuario();" style="height:20px; font-size:10px">
				<input name="op" type="hidden" id="op" value="pesquisa"> <input name="a" type="hidden" id="a" value="pesquisa">
			</td>
		</tr>
	</table>
	</div>
</fieldset>
{/if}
<div align="center">
<fieldset style="height:112; width:130; border:1px solid #004411"><legend><span class="style1">Monitoramento</span></legend>
<table align="center" border="0" width="123" bgcolor="#A6C4B0" height="60">
  <tr>
    <td width="115" align="center">
      <table width="115" height="60"  border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><iframe src="suporte.php?op=monitoramento_barra" height="60" width="116" scrolling="auto"></iframe></td>
        </tr>
        <tr>
          <td height="4px"><img src="template/default/images/menu/spacer.gif" height="4px"></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center"><input name="button" type="button" style="height:20px; font-size:10px" onClick="javascript: frames['CONTEUDO'].location='configuracao.php?op=monitoramento' ;" value="detalhes &raquo;"></td>
  </tr>
</table>

</fieldset>
</div>
	<div name="caixa_pesquisa" id="caixa_pesquisa" class="box_fechada">
		<table width="100%" class="barra_pequisa" bgcolor="#7BA88B" cellspacing=1 cellpadding=0>
			<tr>
				<td width="90%">&nbsp;<span style="font-family: arial; font-size: 12px; color: ffffff; text-decoration: none"><b>Resultado da Pesquisa</b></span></td>
				<td width="10%" align="right"><a href="javascript:fechaPesquisa();" target="_top"><IMG src="template/default/images/bt_fechar.gif" border="0"></a>&nbsp;</td>
			</tr>
		</table>
		<table width="100%" height="100%" bgcolor="#7BA88B">
			<tr>
				<td rowspan=3 width="315" valign="top">
					<div name="pesquisa" id="resultado_pesquisa" border=1>&nbsp;</div>
				</td>
				<td width=10 valign="top">
					<a href="javaScript:scrollUpPesquisa();" target="_top"><img src="template/default/images/seta_acima.gif" border="0"></a>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width=10 valign="bottom">
					<a href="javaScript:scrollDownPesquisa();" target="_top"><img src="template/default/images/seta_abaixo.gif" border="0"></a>
				</td>
			</tr>
		</table>
	</div>


</div>
<table cellpadding="0" cellspacing="0">
	<tr>
	{if $privilegio_gravar_cliente == "sim" }
		          <td> <a href="clientes.php?op=cadastro"><img src="template/default/images/bt_cadastro_clientes_barra.gif" border="0"></a>                  </td>
	{/if}
	</tr>
	<tr>
	{if $privilegio_radius == "sim"}
		          <td> <a href="suporte.php?op=log"><img src="template/default/images/bt_log_radius_barra.gif" border="0"></a>                  </td>
	{/if}
	</tr>
	<tr>
	{if $privilegio_cobranca == "sim" and $boleto}

                <td> <a href="cobranca.php?op=mensal"><img src="template/default/images/bt_faturas_barra.gif" border="0"></a>                </td>
	{/if}
	</tr>
	<!--tr>
	{if $privilegio_config == "sim"}
		          <td> <a href="configuracao.php?op=resumo"><img src="template/default/images/bt_preferencias.gif" border="0"></a>
                  </td>
	{/if}
	</tr-->
	<tr>
	{if $privilegio_radius == "sim"}
    	          <td> <a href="suporte.php?op=graf"><img src="template/default/images/bt_graficos_barra.gif" border="0"></a>                  </td>
    {/if}
	</tr>
	
</table>

</form>
</td></tr>
<tr><td align="center" valign="top"></td></tr>
</table>

    </td>
    <td height="100%" bgcolor="#FFFFFF" valign="top" width="100%">
		<table border=0 width="100%" height="100%" cellspacing=0 cellpadding=0>
		<tr><td height=15>
		  	<!-- INICIO DO MENU -->
{include file="menu_principal.html"}
			<!-- FIM DO MENU -->

			</td>
		 </tr>
		 <tr>
			<td valign="top" align="CENTER"><div align="left"><img src="template/default/images/canto.gif" width="10" height="11"><br>
		      <!--FIM DO HEADER.HTML-->


			  </div>
			  <iframe src="home.php?op=home" id="CONTEUDO" name = "CONTEUDO" align="top" frameborder="0" height="90%" scrolling="auto" width="100%" hspace="10"  marginheight="0" marginwidth="0" vspace="10"></iframe>



			  <!--INICIO DO FOOTER.HTML-->
		   </td>
		 </tr>
		</table>
	</td>
 </tr>
  <tr bgcolor="#BCD3C4">
    <td colspan=2 height='20'>
<div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">&copy;
        Mosman Consultoria - Todos os Direitos Reservados</font></div></td>
 </tr>
</table>
</body>
</html>
<!--FIM DO FOOTER.HTML-->
