<html>
<head>
<link type="text/css" rel="stylesheet" href="template/default/estilos1.css" />
<title>lista emails cobrança</title>
{literal}
<style type="text/css">
<!--
.style8 {color: #779977}
.style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.style7 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; font-weight: bold; font-size: 12px; }
-->
</style>
{/literal}
</head>

<body style="x-overflow:hidden;">
<br />
{if $mostrar=='true'}
{if !$lista_dias }
<table border="0" align="center" cellpadding="1" cellspacing="1" style="border:1px solid #779977;">
  <tr>
    <td colspan="2" class="style1 style8" style="border-bottom:1px solid #779977;">Lista de Emails de Cobrança Enviados</td>
  </tr>
  <tr>
    <td bgcolor="779977" style="border:1px solid #779977;"><div align="center" class="style7">Emails enviados</div></td>
    <td bgcolor="779977" style="border:1px solid #779977;"><div align="center" class="style7">Data do envio</div></td>
  </tr> 
  <tr>
    <td colspan="2" height="4px"></td>
  </tr>
  	{foreach item=b from=$emails_lista}
	  <tr>
		<td style="padding-left:15px; padding-bottom:3px;"><a href="cobranca.php?op=amortizacao&id_cliente_produto={$b.id_cliente_produto}&data={$b.data}&id_cliente={$b.id_cliente}&tipo={$b.tipo_conta}">{$b.email}</a></td>
		<td style="padding-left:28px; padding-bottom:4px;"><a href="cobranca.php?op=amortizacao&id_cliente_produto={$b.id_cliente_produto}&data={$b.data}&id_cliente={$b.id_cliente}&tipo={$b.tipo_conta}">{$b.hora_envio|date_format:"%H:%M:%S %d/%m/%Y"}</a></td>
	  </tr>
	{/foreach}
</table><br />
<div align="center">
<a href="home.php?op=index_email">&laquo; voltar</a></div><br />
{else}
<div align="center" >
<span class="style1 style8">Escolha o dia em que foi enviado o email</span>
	<form name="form">
		<select name="data">
			{foreach item=a from=$lista_dias}
				<option value="{$a.ano}-{$a.mes}-{$a.dia}" >{$a.dia}/{$a.mes}/{$a.ano}</option>
			{/foreach}
		</select>
		<input type="submit" value="Ok" />
		<input type="hidden" name="op" value="index_email" />
		<input type="hidden" name="acao" value="pesquisar" />
	</form>
</div>

  {/if}
    {else}
<div align="center">
  <span class="style1">Até o momento nao foi enviado nenhum email de cobrança.</span><br /><br />
      <input type="button" name="button" value="&laquo; voltar" onClick="javascript:history.back();"/>
  {/if} 
</div>
</body>
</html>
