<link href="template/default/estilos1.css" rel="stylesheet" type="text/css"> 
{literal}
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
</script>
{/literal}
<div align="center">{if $status == "expirado"} 
  <table width="500" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#000000">
    <tr> 
      <td><table width="500" border="0" cellspacing="1" cellpadding="0">
          <tr> 
            <td height="150" align="center" valign="middle" bgcolor="#D9E8DD"><font size="2" face="Arial, Helvetica, sans-serif"><strong><br>
              SR. USU&Aacute;RIO</strong><br>
              <br>
              <strong><font size="3" color="#006600">SUA LICEN&Ccedil;A EXPIROU 
              </font></strong><font color="#006600"><br>
              </font><br>
              SISTEMA CONGELAR&Aacute; EM <font color="#990000"><strong>{$licenca.geral.congela_em|date_format:"%d/%m/%Y"}</strong></font><br>
              <br>
              ENTRE EM CONTATO ANTES DO PRAZO PARA N&Atilde;O HAVER<br>
              INTERRUP&Ccedil;&Otilde;ES DE TRABALHO<br>
              <br>
              <a href="configuracao.php?op=registro">Tela de Registro</a><br>
              <br>
              </font></td>
          </tr>
        </table></td>
    </tr>
    <tr> 
	{assign var="num_bloq" value="0"}
	{foreach item=b from=$lista_bloqueios}
	{if $b.nome_razao}
	{assign var="num_bloq" value=$num_bloq+1}
	{/if}
	{/foreach}
      <td height="24" bgcolor="#FFFFFF"> <div align="center">
          <p>&nbsp;</p>
          <p>{if $lista_bloqueios}</p>
          <table width="69%" border="0">
            <tr> 
              <td> <table width="339" border="0" cellpadding="0" cellspacing="1" bordercolor="#000000" bgcolor="#000000">
                  <tr> 
                    <td height="100" align="center" valign="middle" bordercolor="#FFFFFF" bgcolor="#FFFFFF"> 
                      <p><strong>No momento existem {$num_bloq} <a href="cobranca.php?op=bloqueados">clientes 
                        passíveis de <font color="#FF0000">bloqueio. </font></a></strong></p></td>
                  </tr>
                </table></td>
            </tr>
          </table>
        </div>
        <div align="center">
          {/if}
          {if $lista_contrato}
          <p>&nbsp;</p>
        </div>
        <div align="center"></div>
        <div align="center">
          <table width="83%" border="0">
            <tr> 
              <td> <table width="420" border="0" cellpadding="0" cellspacing="1" bordercolor="#000000" bgcolor="#000000">
                  <tr> 
                    <td align="center" valign="middle" bordercolor="#FFFFFF" bgcolor="#FFFFFF"> 
                      <table width="419" bordercolor="#CCCCCC">
                        <tr> 
                          <td colspan="5" bgcolor="#EAF4EE"> <p align="center"><font size="2" face="Arial, Helvetica, sans-serif"><strong>Contratos 
                              que vencer&atilde;o em at&eacute; 30 dias:</strong></font></p></td>
                        </tr>
                        <tr> 
                          <td bgcolor="#f1f1f1"> <p align="center"><strong>Cliente 
                              </strong></p></td>
                          <td bgcolor="#f1f1f1"> <p align="center"><strong>Descrição</strong></p></td>
                          <td bgcolor="#f1f1f1"> <p align="center"><strong>Vencimento</strong></p></td>
                          <td bgcolor="#f1f1f1"> <p align="center"><strong>Valor</strong></p></td>
                        </tr>
                        {foreach item=c from=$lista_contrato} 
                        <tr> 
                          <td><div align="center"><a href="javascript:;" onclick="MM_openBrWindow('clientes.php?op=imprime_contrato&id_cliente_produto={$c.id_cliente_produto}&id_cliente={$c.id_cliente}','contrato','scrollbars=yes,width=500,height=600')">{$c.nome_razao}</a></div></td>
                          <td><div align="center"><a href="javascript:;" onclick="MM_openBrWindow('clientes.php?op=imprime_contrato&id_cliente_produto={$c.id_cliente_produto}&id_cliente={$c.id_cliente}','contrato','scrollbars=yes,width=500,height=600')">{$c.nome}</a></div></td>
                          <td><div align="center"><a href="javascript:;" onclick="MM_openBrWindow('clientes.php?op=imprime_contrato&id_cliente_produto={$c.id_cliente_produto}&id_cliente={$c.id_cliente}','contrato','scrollbars=yes,width=500,height=600')"><font size="1">{$c.data_renovacao|date_format:"%d/%m/%Y"}</font></a></div></td>
                          <td><div align="center"><a href="javascript:;" onclick="MM_openBrWindow('clientes.php?op=imprime_contrato&id_cliente_produto={$c.id_cliente_produto}&id_cliente={$c.id_cliente}','contrato','scrollbars=yes,width=500,height=600')">{$c.valor_contrato}</a></div></td>
                        </tr>
                        {/foreach} </table>
                    </td>
                  </tr>
                </table></td>
            </tr>
          </table>
        </div></tr>
     {/if} </tr> 
  </table>
  {/if} </div>
