<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td bgcolor="#F4F4F4"><table width="750" border="0" cellspacing="2" cellpadding="0">
        <tr align="center"> 
          <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a href="main.html">Home</a></font></td>
          <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a href="javascript:;" name="link2" id="link1" onMouseOver="MM_showMenu(window.mm_menu_0201094658_0,0,19,null,'link2')" onMouseOut="MM_startTimeout();">Clientes</a></font></td>
          <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a href="javascript:;" name="link6" id="link3" onMouseOver="MM_showMenu(window.mm_menu_0201095353_0,0,19,null,'link6')" onMouseOut="MM_startTimeout();">Cobran&ccedil;a</a></font></td>
          <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a href="javascript:;" name="link7" id="link4" onMouseOver="MM_showMenu(window.mm_menu_0201095704_0,0,19,null,'link7')" onMouseOut="MM_startTimeout();">Suporte</a></font></td>
          <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a href="javascript:;" name="link5" id="link5" onMouseOver="MM_showMenu(window.mm_menu_0201100450_0,0,19,null,'link5')" onMouseOut="MM_startTimeout();">Configura&ccedil;&otilde;es</a></font></td>
          <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a href="javascript:;" name="link8" id="link8" onMouseOver="MM_showMenu(window.mm_menu_0201100725_0,0,19,null,'link8')" onMouseOut="MM_startTimeout();">Administradores</a></font></td>
          <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a href="javascript:;" name="link9" id="link9" onMouseOver="MM_showMenu(window.mm_menu_0201100941_0,0,19,null,'link9')" onMouseOut="MM_startTimeout();">Relat&oacute;rios</a></font></td>
          <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><a href="javascript:;" onClick="MM_popupMsg('Em Breve!!!\rHelp Desk Mosman Consultoria')">Help 
            Desk</a></font></td>
        </tr>
      </table></td>
  </tr>
</table>