<HTML>
<HEAD>
<TITLE>
Trafego teste</TITLE>
<!-- maxin d nan -->
<!-- avin d nan -->
<!-- cuin d nan -->
<!-- maxout d nan -->
<!-- avout d nan -->
<!-- cuout d nan -->
</HEAD>
<BODY BGCOLOR=#ffffff>
{literal}
<style> h1 { font-family: Arial; font-size: 20px; font-style: bold; line-height: normal; font-weight: strong; font-variant: normal; text-transform: none; color: #000000; text-decoration: none; } td { font-family: Arial; font-size: 12px; } body { font-family: Arial; font-size: 12px; } </style> {/literal}<H1>Analise de Trafego - Cliente BandaLarga</H1> <TABLE> <TR><TD>Usuario:</TD>

    <TD>TESTE</TD>
  </TR> <TR><TD>Velocidade:</TD><TD>Medida em kbps</TD></TR> <TR><TD>Banda Alocada:</TD><TD>Up: 256/Dn: 256</TD></TR> <TR><TD>Status: </TD><TD> </TD></TR> </TABLE><HR>
The statistics were last updated <B>Saturday, 08 April, 15:07:29 BRT</B>
<HR>
<B>Grafico Diario (Media de 5 Minutos)</B><BR>
<IMG SRC="template/default/images/demonstracao_grafico.png" WIDTH=497 HEIGHT=154 ALT="Diario Graph" VSPACE=10 ALIGN=TOP><BR>
<TABLE CELLPADDING=0 CELLSPACING=0>    <TR>
	<TD ALIGN=RIGHT><SMALL>Max <FONT COLOR="#00cc00">&nbsp;in:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;0.0 b/s (0.0%)</SMALL></TD>
	<TD WIDTH=5></TD>
	<TD ALIGN=RIGHT><SMALL>Average <FONT COLOR="#00cc00">&nbsp;in:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;0.0 b/s (0.0%)</SMALL></TD>
	<TD WIDTH=5></TD>
	<TD ALIGN=RIGHT><SMALL>Current <FONT COLOR="#00cc00">&nbsp;in:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;0.0 b/s (0.0%)</SMALL></TD>
    </TR>
    <TR>
	<TD ALIGN=RIGHT><SMALL>Max <FONT COLOR="#0000ff">&nbsp;out:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;0.0 b/s (0.0%)</SMALL></TD>
	<TD WIDTH=5></TD>
	<TD ALIGN=RIGHT><SMALL>Average <FONT COLOR="#0000ff">&nbsp;out:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;0.0 b/s (0.0%)</SMALL></TD>
	<TD WIDTH=5></TD>
	<TD ALIGN=RIGHT><SMALL>Current <FONT COLOR="#0000ff">&nbsp;out:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;0.0 b/s (0.0%)</SMALL></TD>
    </TR>
</TABLE>
<HR>
<B>Grafico Semanal (Media de 30 Minutos)</B><BR>
<IMG SRC="template/default/images/demonstracao_grafico.png" WIDTH=497 HEIGHT=154 ALT="Semanal Graph" VSPACE=10 ALIGN=TOP><BR>
<TABLE CELLPADDING=0 CELLSPACING=0>    <TR>
	<TD ALIGN=RIGHT><SMALL>Max <FONT COLOR="#00cc00">&nbsp;in:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;b/s</SMALL></TD>
	<TD WIDTH=5></TD>
	<TD ALIGN=RIGHT><SMALL>Average <FONT COLOR="#00cc00">&nbsp;in:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;b/s</SMALL></TD>
	<TD WIDTH=5></TD>
	<TD ALIGN=RIGHT><SMALL>Current <FONT COLOR="#00cc00">&nbsp;in:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;b/s</SMALL></TD>
    </TR>
    <TR>
	<TD ALIGN=RIGHT><SMALL>Max <FONT COLOR="#0000ff">&nbsp;out:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;b/s</SMALL></TD>
	<TD WIDTH=5></TD>
	<TD ALIGN=RIGHT><SMALL>Average <FONT COLOR="#0000ff">&nbsp;out:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;b/s</SMALL></TD>
	<TD WIDTH=5></TD>
	<TD ALIGN=RIGHT><SMALL>Current <FONT COLOR="#0000ff">&nbsp;out:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;b/s</SMALL></TD>
    </TR>
</TABLE>
<HR>
<B>Grafico Mensal (Media de 2 Horas)</B><BR>
<IMG SRC="template/default/images/demonstracao_grafico.png" WIDTH=497 HEIGHT=154 ALT="Mensal Graph" VSPACE=10 ALIGN=TOP><BR>
<TABLE CELLPADDING=0 CELLSPACING=0>    <TR>
	<TD ALIGN=RIGHT><SMALL>Max <FONT COLOR="#00cc00">&nbsp;in:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;b/s</SMALL></TD>
	<TD WIDTH=5></TD>
	<TD ALIGN=RIGHT><SMALL>Average <FONT COLOR="#00cc00">&nbsp;in:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;b/s</SMALL></TD>
	<TD WIDTH=5></TD>
	<TD ALIGN=RIGHT><SMALL>Current <FONT COLOR="#00cc00">&nbsp;in:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;b/s</SMALL></TD>
    </TR>
    <TR>
	<TD ALIGN=RIGHT><SMALL>Max <FONT COLOR="#0000ff">&nbsp;out:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;b/s</SMALL></TD>
	<TD WIDTH=5></TD>
	<TD ALIGN=RIGHT><SMALL>Average <FONT COLOR="#0000ff">&nbsp;out:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;b/s</SMALL></TD>
	<TD WIDTH=5></TD>
	<TD ALIGN=RIGHT><SMALL>Current <FONT COLOR="#0000ff">&nbsp;out:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;b/s</SMALL></TD>
    </TR>
</TABLE>
<HR>
<B>Grafico Anual (Media de 1 Dia)</B><BR>
<IMG SRC="template/default/images/demonstracao_grafico.png" WIDTH=497 HEIGHT=154 ALT="Anual Graph" VSPACE=10 ALIGN=TOP><BR>
<TABLE CELLPADDING=0 CELLSPACING=0>    <TR>
	<TD ALIGN=RIGHT><SMALL>Max <FONT COLOR="#00cc00">&nbsp;in:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;b/s</SMALL></TD>
	<TD WIDTH=5></TD>
	<TD ALIGN=RIGHT><SMALL>Average <FONT COLOR="#00cc00">&nbsp;in:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;b/s</SMALL></TD>
	<TD WIDTH=5></TD>
	<TD ALIGN=RIGHT><SMALL>Current <FONT COLOR="#00cc00">&nbsp;in:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;b/s</SMALL></TD>
    </TR>
    <TR>
	<TD ALIGN=RIGHT><SMALL>Max <FONT COLOR="#0000ff">&nbsp;out:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;b/s</SMALL></TD>
	<TD WIDTH=5></TD>
	<TD ALIGN=RIGHT><SMALL>Average <FONT COLOR="#0000ff">&nbsp;out:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;b/s</SMALL></TD>
	<TD WIDTH=5></TD>
	<TD ALIGN=RIGHT><SMALL>Current <FONT COLOR="#0000ff">&nbsp;out:</FONT></SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>&nbsp;b/s</SMALL></TD>
    </TR>
</TABLE>

</body>
</html>
