<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">

</head>

<body>
<form name=prefs method="post" action="{$smarty.server.PHP_SELF}">
  <input type="hidden" name="op" id="op" value="resumo">
</form>
<div align="center">
<H1><strong>Resumo de Prefer&ecirc;ncias </strong> </H1>
<br>
  <table width="710" border="0" align="center" cellpadding="0" cellspacing="1" style="border:1px solid #DDDDDD;">
    <tr bgcolor="#CDCDCD">
		<td colspan="6" align="center" height="20"><strong><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Prefer&ecirc;ncia Geral</font></strong></td>
	</tr>
	<tr bgcolor="#EFEFEF">
      <td width="155" align="center"><p><strong>Dominio Padr&atilde;o</strong></p></td>
      <td width="94" align="center"><p><strong>Nome</strong></p></td>
      <td width="137" align="center"><p><strong>Radius Server</strong></p></td>
      <td width="130" align="center"><p><strong>Servidor de Hospedagem</strong></p></td>
      <td width="160" align="center"><p><strong>Servidor de E-Mail</strong></p></td>
	  <td align="center">&nbsp;</td>
    </tr>
    <tr> 
      <td width="155" align="center"><p><a href="configuracao.php?op=preferencia">{$geral.dominio_padrao}</a></p></td>
      <td width="94" align="center"><p><a href="configuracao.php?op=preferencia">{$geral.nome}</a></p></td>
      <td width="137" align="center"><p><a href="configuracao.php?op=preferencia">{$geral.radius_server}</a></p></td>
      <td width="130" align="center"><p><a href="configuracao.php?op=preferencia">{$geral.hosp_server}</a></p></td>
      <td width="160" align="center"><p><a href="configuracao.php?op=preferencia">{$geral.mail_server}</a></p></td>
	  <td  width="27" align="center"><a href="configuracao.php?op=preferencia"><img src="template/default/images/gif_alterar.gif" width="16" height="16" border="0"></a></td>
    </tr>
  </table>
  <br>
  <table width="710" border="0" align="center" cellpadding="0" cellspacing="1" style="border:1px solid #DDDDDD;">
   <tr bgcolor="#CDCDCD">
		<td colspan="6" align="center" height="20"><strong><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Prefer&ecirc;ncia do Provedor</font></strong></td>
	</tr>
    <tr bgcolor="#EFEFEF"> 
      <td width="100" align="center"><p><strong>Endere&ccedil;o</strong></p></td>
      <td width="100" align="center"><p><strong>Localidade</strong></p></td>
      <td width="080" align="center"><p><strong>CEP</strong></p></td>
      <td width="100" align="center"><p><strong>Cnpj</strong></p></td>
	  <td width="100" align="center"><p><strong>Fone</strong></p></td>
	  <td align="center">&nbsp;</td>
    </tr>
    <tr> 
      <td align="center"><p><a href="configuracao.php?op=preferencia_provedor">{$provedor.endereco}</a></p></td>
      <td align="center"><p><a href="configuracao.php?op=preferencia_provedor">{$provedor.localidade}</a></p></td>
      <td align="center"><p><a href="configuracao.php?op=preferencia_provedor">{$provedor.cep}</a></p></td>
      <td align="center"><p><a href="configuracao.php?op=preferencia_provedor">{$provedor.cnpj}</a></p></td>
	  <td align="center"><p><a href="configuracao.php?op=preferencia_provedor">{$provedor.fone}</a></p></td>
	  <td  width="27" align="center"><a href="configuracao.php?op=preferencia_provedor"><img src="template/default/images/gif_alterar.gif" width="16" height="16" border="0"></a></td>
    </tr>
  </table>
  <br>
  <table width="710" border="0" align="center" cellpadding="0" cellspacing="1" style="border:1px solid #DDDDDD;">
  <tr bgcolor="#CDCDCD">
		<td colspan="8" align="center" height="20"><strong><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Prefer&ecirc;ncia de Cobran&ccedil;a</font></strong></td>
	</tr>
    <tr bgcolor="#EFEFEF"> 
      <td width="115" align="center"><p><strong>Dia de Vencimento</strong></p></td>
      <td width="115" align="center"><p><strong>Car&ecirc;ncia</strong></p></td>
	  <td width="115" ><p><strong>Enviar E-Mail </strong></p></td>
      <td width="115" align="center"><p><strong>Taxa de Juros</strong></p></td>
      <td width="115" align="center"><p><strong>Multa</strong></p></td>
      <td width="115" align="center"><p align="center"><strong>Pagamento</strong></p></td>
	  <td align="center">&nbsp;</td>
    </tr>
    <tr> 
      <td align="center"><p><a href="configuracao.php?op=preferencia_cobranca">{$cobranca.dia_venc}</a></p></td>
      <td align="center"><p><a href="configuracao.php?op=preferencia_cobranca">{$cobranca.carencia} dias </a></p></td>
	  <td align="center"><p><a href="configuracao.php?op=preferencia_cobranca">{if $cobranca.enviar_email == 't'}Sim{else}Não{/if} </a></p>
	  <td align="center"><p><a href="configuracao.php?op=preferencia_cobranca">{$cobranca.tx_juros} % </a></p></td>
      <td align="center"><p><a href="configuracao.php?op=preferencia_cobranca">{$cobranca.multa} % </a></p></td>
      <td align="center"><p><a href="configuracao.php?op=preferencia_cobranca">{if $cobranca.pagamento=="PRE"}Pr&eacute;-Pago{elseif $cobranca.pagamento=="POS"}P&oacute;s-Pago{/if}</a></p></td>
	  <td  width="24" align="center"><a href="configuracao.php?op=preferencia_cobranca"><img src="template/default/images/gif_alterar.gif" width="16" height="16" border="0" ></a></td>
    </tr>
    <tr>
      <td align="center" colspan="8"><table width="100%" border="0" cellpadding="0" cellspacing="0"  style="border:1px solid #EEEEEE;" >
	  <tr>
	  	<td colspan="3" align="center" bgcolor="#EFEFEF"><strong><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Formas de pagamento <font color="#999999">(Cobran&ccedil;a)</font> </font></strong></td>
	  </tr>
        <tr>
							{assign var=boleto value=0}
							{assign var=carne value=0}
							{assign var=outros value=0}
								{foreach item=b from=$forma_pag}
					
									{if $b.id_cobranca == 1}
										{assign var=boleto value=$b.disponivel}
									{/if}
					
									{if $b.id_cobranca == 2}
										{assign var=carne value=$b.disponivel}									
									{/if}
					
									{if $b.id_cobranca == 3}
										{assign var=outros value=$b.disponivel}									
									{/if}
								
								{/foreach}	
          <td><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td bgcolor="#F7F9F9"><p><strong><a href="configuracao.php?op=preferencia_cobranca">Carn&ecirc;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {if $carne=='f'}<font color="#999999">(n&atilde;o disponivel)</font>{/if}</strong></p></td>
            </tr>
            <tr>
              <td><table width="250" height="100%" align="center">
                  <tr>
                    <td>{if $carne=='t'}<font style="font-size:10px;" face="Verdana, Arial, Helvetica, sans-serif"><a href="configuracao.php?op=preferencia_cobranca">Op&ccedil;&otilde;es
                      de Carn&ecirc;</a></font>							
                     <table width="260" dwcopytype="CopyTableRow">
                          <tr>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p><strong>Cod. Banco: </strong></p></a></td>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p>{$cobranca.cod_banco}</p></a></td>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p><strong>Carteira: </strong></p></a></td>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p>{$cobranca.carteira}</p></a></td>
                          </tr>
                          <tr>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p><strong>Ag&ecirc;ncia: </strong></p></a></td>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p>{$cobranca.agencia}</p></a></td>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p><strong>Num. Conta: </strong></p></a></td>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p>{$cobranca.num_conta}</p></a></td>
                          </tr>
                          <tr>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p><strong>Conv&ecirc;nio:</strong></p></a></td>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p>{$cobranca.convenio}</p></a></td>
                          </tr>
                      </table>{/if}</td>
                  </tr>
              </table></td>
            </tr>
          </table></td>
          <td><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td bgcolor="#F7F9F9"><p><strong><a href="configuracao.php?op=preferencia_cobranca">Boleto</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {if $boleto=='f'}<font color="#999999">(n&atilde;o disponivel)</font>{/if}</strong></p></td>
            </tr>
            <tr>
              <td><table width="250" height="100%" align="center">
                  <tr>
                    <td>{if $boleto=='t'}<font style="font-size:10px;" face="Verdana, Arial, Helvetica, sans-serif"><a href="configuracao.php?op=preferencia_cobranca">Op&ccedil;&otilde;es
                      de Boleto</a></font>
					   <table width="" border="0" dwcopytype="CopyTableRow">
                          <tr>
					  
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p><strong>Cod. Banco: </strong></p></a></td>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p>{$cobranca.cod_banco_boleto}</p></a></td>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p><strong>Carteira:</strong></p></a></td>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p>{$cobranca.carteira_boleto}</p></a></td>
                          </tr>
                          <tr>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p><strong>Ag&ecirc;ncia:</strong></p></a></td>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p>{$cobranca.agencia_boleto}</p></a></td>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p><strong>Num. Conta:</strong></p></a></td>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p>{$cobranca.conta_boleto}</p></a></td>
                          </tr>
                          <tr>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p><strong>Conv&ecirc;nio:</strong></p></a></td>
                            <td><a href="configuracao.php?op=preferencia_cobranca"><p>{$cobranca.convenio_boleto}</p></a></td>
							<td>
							</td>
                          </tr>
                      </table>
                        {/if}</td>
                  </tr>
              </table></td>
            </tr>
          </table></td>
          <td valign="top"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td bgcolor="#F7F9F9"><p><strong><a href="configuracao.php?op=preferencia_cobranca">Outras Formas</a> </strong></p></td>
            </tr>
            <tr>
              <td valign="top" >
			  	{if $outros=='f'}
			  		<p><strong><font color="#999999">(n&atilde;o disponivel)</font></strong></p>
				{/if}
			  </td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
  </table>
</div>
</body>
</html>
