<html>
<head>
<!-- <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<title>Main</title>
</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="60"> 
      <table width="100%" height="50" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr> 
          <td width="18%"><div align="center">Logotipo</div></td>
          <td width="82%"> <div align="center"><strong>VIRTEX ADMIN - PAINEL DE 
              CONTROLE </strong> </div></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td colspan="2">{include file='menu_principal.html'}</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p><strong><font size="5">Produtos Cadastrados<br>
        </font></strong><a href="cobranca.php?op=novo">Cadastrar novo</a></p>
      <table border=0 width="100%" cellspacing=0>
        <tr bgcolor="#FAFAFA"> 
          <td width=40 align="center"><b>&nbsp;</b></td>
          <td width=150><b>Produto</b></td>
          <td><b>Descri&ccedil;&atilde;o</b></td>
          <td width="60" align="right"><b>R$</b></td>
          <td width="100" align="center"><b>Disponivel</b></td>
        </tr>
        <tr> 
          <td colspan=5><hr size=1></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td align="center" width=40><a href="alterarproduto.html">alt</a></td>
          <td>Discado - Local</td>
          <td>Acessso discado Picos</td>
          <td align="right" width=60>30.00</td>
          <td align="center" width=100>sim</td>
        </tr>
        <tr bgcolor="#F1F1F1"> 
          <td align="center" width=40><a href="alterarproduto.html">alt</a></td>
          <td>Discado 2 por 40</td>
          <td>2 Usuários por 40 reais.</td>
          <td align="right" width=60>40.00</td>
          <td align="center" width=100>sim</td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td align="center" width=40><a href="alterarproduto.html">alt</a></td>
          <td>Discado Cortesia</td>
          <td>Cortesia</td>
          <td align="right" width=60>0.00</td>
          <td align="center" width=100>sim</td>
        </tr>
        <tr bgcolor="#F1F1F1"> 
          <td align="center" width=40><a href="alterarproduto.html">alt</a></td>
          <td>Discado Interior</td>
          <td>Acesso discado interior</td>
          <td align="right" width=60>33.00</td>
          <td align="center" width=100>sim</td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td align="center" width=40><a href="alterarproduto.html">alt</a></td>
          <td>Dominios - Provedor</td>
          <td>Hospedagem de domínios do provedor</td>
          <td align="right" width=60>0.00</td>
          <td align="center" width=100>não</td>
        </tr>
        <tr bgcolor="#F1F1F1"> 
          <td align="center" width=40><a href="alterarproduto.html">alt</a></td>
          <td>Hospedagem</td>
          <td>Hospedagenm de Pagina</td>
          <td align="right" width=60>30.00</td>
          <td align="center" width=100>sim</td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td align="center" width=40><a href="alterarproduto.html">alt</a></td>
          <td>Hospedagem Gratuita</td>
          <td>Hospedagem Gratuita</td>
          <td align="right" width=60>0.00</td>
          <td align="center" width=100>sim</td>
        </tr>
        <tr bgcolor="#F1F1F1"> 
          <td align="center" width=40><a href="alterarproduto.html">alt</a></td>
          <td>IP VALIDO</td>
          <td>IP VALIDO</td>
          <td align="right" width=60>30.00</td>
          <td align="center" width=100>sim</td>
        </tr>
      </table>
      <p>&nbsp;</p>
      </td>
  </tr>
</table>
</body>


</html>
