<html>
<head>
<!-- <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<title>Main</title>
</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="60"> 
      <table width="100%" height="50" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr> 
          <td width="18%"><div align="center">Logotipo</div></td>
          <td width="82%"> <div align="center"><strong>VIRTEX ADMIN - PAINEL DE 
              CONTROLE </strong> </div></td>
        </tr>
        <tr> 
          <td colspan="2"><table width="100%" border="0" cellspacing="2" cellpadding="0">
              <tr align="center" valign="top" bgcolor="#F4F4F4"> 
                <td><strong>Clientes</strong><br> &raquo; <a href="search_clientes.html">Pesquisa</a><br>
                  &raquo; <a href="cadastro_clientes.html">Cadastro</a><br>
                  &raquo; <a href="elimina_clientes.html">Eliminar Reg</a>.</td>
                <td><strong>Cobranca</strong><br>
                  &raquo; <a href="cobr_bloqueados.html">Bloqueados</a><br>
                  &raquo; <a href="produtos.html">Produtos/Planos</a><br>
                </td>
                <td><strong>Suporte</strong><br>
                  &raquo; <a href="sup_graficos.html">Graficos</a><br>
                  &raquo; <a href="suporte_radius.html">Log Radius</a><br>
                  &raquo; <a href="suporte_monitor.html">Monitoramento</a><br>
                  &raquo; <a href="suporte_calc.html">Calculadora IP</a><br>
                  &raquo; <a href="suporte_arp.html">ARP</a></td>
                <td><strong>Configura&ccedil;&otilde;es<br>
                  </strong>&raquo; <a href="conf_pop.html">POPs</a><br>
                  &raquo; <a href="conf_nas.html">NAS</a><br>
                  &raquo; <a href="conf_monitor.html">Monitoramento</a></td>
                <td><strong>Administradores</strong><br>
                  &raquo; <a href="admin_senha.html">Alterar Senha</a><br>
                  &raquo; <a href="admin_cadastro.html">Cadastro</a></td>
                <td><p><strong>Relat&oacute;rios</strong><br>
                    &raquo; Cobran&ccedil;a &gt;<br>
                    - <a href="relat_faturas.html">Faturas</a><br>
                    - <a href="relat_cobcortesias.html">Cortesias</a><br>
                    &raquo; Clientes &gt;<br>
                    - <a href="relat_clientesgeral.html">Lista Geral</a><br>
                    - <a href="relat_clientesestatisticas.html">Estat&iacute;sticas</a><br>
                    - <a href="relat_clientes_filtros.html">Filtros</a><br>
                    &raquo; Configura&ccedil;&otilde;es<br>
                    - <a href="relat_confap.html">Carga por AP</a><br>
                    - <a href="relat_confpop.html">Carga por POP</a><br>
                    - <a href="relat_confnas.html">Carga por NAS</a><br>
                    &raquo; Administradores<br>
                    - <a href="admin_lista.html">Listagem</a></p></td>
                <td><a href="main.html">home</a></td>
                <td><a href="http://www.mosman.com.br/helpdesk.php" target="_blank">suporte</a></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p><strong><font size="5">Produtos Cadastrados<br>
        </font></strong><a href="produtos_novo.html">Cadastrar novo</a></p>
      <table border=0 width="100%" cellspacing=0>
        <tr bgcolor="#FAFAFA"> 
          <td width=40 align="center"><b>&nbsp;</b></td>
          <td width=150><b>Produto</b></td>
          <td><b>Descri&ccedil;&atilde;o</b></td>
          <td width="60" align="right"><b>R$</b></td>
          <td width="100" align="center"><b>Disponivel</b></td>
        </tr>
        <tr> 
          <td colspan=5><hr size=1></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td align="center" width=40><a href="alterarproduto.html">alt</a></td>
          <td>Discado - Local</td>
          <td>Acessso discado Picos</td>
          <td align="right" width=60>30.00</td>
          <td align="center" width=100>sim</td>
        </tr>
        <tr bgcolor="#F1F1F1"> 
          <td align="center" width=40><a href="alterarproduto.html">alt</a></td>
          <td>Discado 2 por 40</td>
          <td>2 Usuários por 40 reais.</td>
          <td align="right" width=60>40.00</td>
          <td align="center" width=100>sim</td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td align="center" width=40><a href="alterarproduto.html">alt</a></td>
          <td>Discado Cortesia</td>
          <td>Cortesia</td>
          <td align="right" width=60>0.00</td>
          <td align="center" width=100>sim</td>
        </tr>
        <tr bgcolor="#F1F1F1"> 
          <td align="center" width=40><a href="alterarproduto.html">alt</a></td>
          <td>Discado Interior</td>
          <td>Acesso discado interior</td>
          <td align="right" width=60>33.00</td>
          <td align="center" width=100>sim</td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td align="center" width=40><a href="alterarproduto.html">alt</a></td>
          <td>Dominios - Provedor</td>
          <td>Hospedagem de domínios do provedor</td>
          <td align="right" width=60>0.00</td>
          <td align="center" width=100>não</td>
        </tr>
        <tr bgcolor="#F1F1F1"> 
          <td align="center" width=40><a href="alterarproduto.html">alt</a></td>
          <td>Hospedagem</td>
          <td>Hospedagenm de Pagina</td>
          <td align="right" width=60>30.00</td>
          <td align="center" width=100>sim</td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td align="center" width=40><a href="alterarproduto.html">alt</a></td>
          <td>Hospedagem Gratuita</td>
          <td>Hospedagem Gratuita</td>
          <td align="right" width=60>0.00</td>
          <td align="center" width=100>sim</td>
        </tr>
        <tr bgcolor="#F1F1F1"> 
          <td align="center" width=40><a href="alterarproduto.html">alt</a></td>
          <td>IP VALIDO</td>
          <td>IP VALIDO</td>
          <td align="right" width=60>30.00</td>
          <td align="center" width=100>sim</td>
        </tr>
      </table>
      <p>&nbsp;</p>
      </td>
  </tr>
</table>
</body>


</html>
