<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
<script language="JavaScript">ready = "yes";</script>
<script>
{literal}
var estado=false;

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}
var da = (document.all) ? 1 : 0;
var pr = (window.print) ? 1 : 0;
var mac = (navigator.userAgent.indexOf("Mac") != -1);

function printPage() {
  if (pr) // NS4, IE5
    window.print()
  else if (da && !mac) // IE4 (Windows)
       vbPrintPage()
  else // other browsers
    alert("Desculpe seu browser não suporta esta função. Por favor utilize a barra de trabalho para imprimir a página.");
}

if (da && !pr && !mac) with (document) {
  writeln('<OBJECT ID="WB" WIDTH="0" HEIGHT="0" CLASSID="clsid:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>');
  writeln('<' + 'SCRIPT LANGUAGE="VBScript">');
  writeln('Sub window_onunload');
  writeln('  On Error Resume Next');
  writeln('  Set WB = nothing');
  writeln('End Sub');
  writeln('Sub vbPrintPage');
  writeln('  OLECMDID_PRINT = 6');
  writeln('  OLECMDEXECOPT_DONTPROMPTUSER = 1');
  writeln('  OLECMDEXECOPT_PROMPTUSER = 1');
  writeln('  On Error Resume Next');
  writeln('  WB.ExecWB OLECMDID_PRINT, OLECMDEXECOPT_DONTPROMPTUSER');
  writeln('End Sub');
  writeln('<' + '/SCRIPT>');
}
{/literal}
</script>

</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"> <h1 align="center">Relat&oacute;rio</h1><h2 align="center"><font size="2">Cancelamentos-{$acao}</font></h2>{if 
                  $acao == "geral"} <form action="{$smarty.server.PHP_SELF}" method="GET"> 
                  <input type="HIDDEN" name="acao" value="{$acao}">
                		<input type="HIDDEN" name="op" value="{$op}">

                		<table width="200" border="0" cellspacing="0" cellpadding="0">

						  <tr height="60">
						  	<td align="center"><p><strong>Per&iacute;odo</strong></a></td>
						  	<td>
								<select name="periodo">
									{foreach key=id item=nome from=$tpconsulta}
										<option value="{$id}" {if $id==$periodo} SELECTED {/if}>{$nome}</option>
									{/foreach}

								</select>
							</td>

						  	<td><p><input type="submit" value="OK"></p></td>
						  </tr>
						</table> </form>{if !$relat}
<p><strong>Não 
                    Existe Cancelamentos no periodo</strong></p>{/if}<br>
                  {if $relat }<img src="{$smarty.server.PHP_SELF}?{$smarty.server.QUERY_STRING}&extra=grafico"><br>
                  
					    <table width="450" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td><table width="450" border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td bgcolor="#F1F1F1"><table width="450" border="0" cellspacing="2" cellpadding="0">
									  <tr>
										<td width="225" align="CENTER"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Per&iacute;odo</font></td>
										<td align="CENTER"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Cancelamentos</font></td>
									  </tr>
									</table></td>
								</tr>
								<tr>
								  <td>

								{foreach item=a from=$relat}
								  <table width="450" border="0" cellspacing="2" cellpadding="0">
									  <tr>
										<td width="225" align="CENTER"><p><a href="relatorio.php?op={$op}&acao=sub_ade&ano={$a.ano}&mes={$a.mes}">{$a.mes}/{$a.ano}</a></p></td>
										<td align="CENTER"><p><a href="relatorio.php?op={$op}&acao=sub_ade&ano={$a.ano}&mes={$a.mes}">{$a.num_contratos}</a></p></td>
									  </tr>
									  <tr bgcolor="#999999">
										<td colspan="5" height="1"></td>
									  </tr>
									</table>
								 {/foreach}

								  </td>
								</tr>
							  </table></td>
						  </tr>
                  	  </table>

					{/if} {if $acao == "sub_ade"}BOSTA 
                  <table width="500" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td><table width="500" border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td bgcolor="#F1F1F1"><table width="500" border="0" cellspacing="2" cellpadding="0">
									  <tr>
									  	<td width="80" align="CENTER"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Data</font></td>
										<td width="200" align="LEFT"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Cliente</font></td>
										<td align="CENTER"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Tipo</font></td>
										<td width="150" align="LEFT"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Produto</font></td>


									  </tr>
									</table></td>
								</tr>
								<tr>
								  <td>

								{foreach item=a from=$relat}
								  <table width="500" border="0" cellspacing="2" cellpadding="0">
									  <tr>
										<td width="80" align="CENTER"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><p>{$a.dia}-{$a.mes}-{$a.ano}</p></font></td>
										<td width="200" align="LEFT"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><p><a href="clientes.php?op=cadastro&id_cliente={$a.id_cliente}">{$a.nome_razao}</a></p></font></td>
										<td align="CENTER"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><p><img src="template/default/images/{$a.tipo|lower|trim}.gif" width="24" height="24"></p></font></td>
										<td width="150" align="LEFT"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><p>{$a.nome}</p></font></td>

									  </tr>
									  <tr bgcolor="#999999">
									  	<td colspan="5" height="1"></td>
									  </tr>
								  </table>
								 {/foreach}

								  </td>
								</tr>
							  </table></td>
						  </tr>
                  	  </table>
                  	  <p><a href="#" onClick="javascript:history.back()">Voltar</a></p>
					{/if}





                  {/if}
					<p id="imprimir" align="center"><a href="javascript:;" onClick="return printPage();">IMPRIMIR</a></p>
                    <P align="center">&nbsp;</P>
				</td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
