<html>
<head>
<title>Main</title>
</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="60"> 
      <table width="687" height="50" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr> 
          <td width="18%"><div align="center">Logotipo</div></td>
          <td width="82%"> <div align="center"><strong>VIRTEX ADMIN - PAINEL DE 
              CONTROLE </strong> </div></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td colspan="2">{ include file= 'menu_principal.html' }
</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p>&nbsp;</p>
      <p><table class=table_main width="100%" border="0" align="center" cellpadding="0" cellspacing="0" >
  <tr>
    <td class=td_main >
        <table width="97%" border="0" align="center" cellpadding="0" cellspacing="1" class=main>
          <tr>
            <td colspan="2">

<table border=0 width=90% align="center">
  <tr>
    <td align="right" valing="bottom" bgcolor="#E0E0E0">
       Filtro: 
    </td>
    <td valing="bottom">
       <SELECT name='tipo_relatorio' >
<OPTION VALUE='' >TODOS</OPTION>
<OPTION VALUE='D' >Acesso Discado</OPTION>
<OPTION VALUE='BL' >Banda Larga</OPTION>
<OPTION VALUE='E' >E-Mail</OPTION>
<OPTION VALUE='H' >Hospedagem</OPTION>
</SELECT>

       <input type="submit" class=input2 id="cadastro_cliente" value="&gt;&gt;" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;">
    </td>
  </tr>
</table>
<hr size=1>

<font size=2 color="#000000"><b>TODAS AS CORTESIAS</b></font><br><br>


<table border=0 width="480" cellspacing=1 cellpadding=1 bgcolor="#000000">
   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4>CLIENTE</td>
   </tr>
   <tr bgcolor="#F0F0F0">
      <td align="center" width="80">Data</td>
      <td align="center" width="150">Produto</td>
      <td align="center" width="30">Tp</td>
      <td align="center" width="200">Conta Principal</td>
   </tr>
   <tr bgcolor="#000000">
      <td colspan=4><img src="img/nada.gif" width=1 height=1></td>
   </tr>
</table>
<br>
<table border=0 width="480" cellspacing=1 cellpadding=1 bgcolor="#000000">


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=292" target="_parent">3 BATALHAO DE ENG. DE CONSTRUCAO</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=292" target="_parent">13/12/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=292" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=292" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=292" target="_parent">3bec2@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=292" target="_parent">3 BATALHAO DE ENG. DE CONSTRUCAO</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=292" target="_parent">24/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=292" target="_parent">Hospedagem Gratuita</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=292" target="_parent">H</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=292" target="_parent">ftp_3becnst@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=292" target="_parent">3 BATALHAO DE ENG. DE CONSTRUCAO</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=292" target="_parent">25/06/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=292" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=292" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=292" target="_parent">3bec@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1009" target="_parent">4° BATALHAO DE POLICIA MILITAR</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1009" target="_parent">03/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1009" target="_parent">Radio Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1009" target="_parent">BL</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1009" target="_parent">4batalhao@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=327" target="_parent">A. J. SANTOS & CIA LTDA - HORTYFRIOS</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=327" target="_parent">03/08/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=327" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=327" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=327" target="_parent">hortyfrios@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1143" target="_parent">ADAO NONATO DE OLIVEIRA FILHO</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1143" target="_parent">31/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1143" target="_parent">e-mail cortesias</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1143" target="_parent">E</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1143" target="_parent">tir-picos@virtex.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1482" target="_parent">ADEILTON RODRIGUES CARDOSO</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1482" target="_parent">24/08/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1482" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1482" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1482" target="_parent">tito.cardoso@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">AECIO LUIS DE BARROS</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">01/08/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">Radio Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">BL</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">aeciomae@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">AECIO LUIS DE BARROS</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">24/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">Hospedagem Gratuita</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">H</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">bandadandi@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">AECIO LUIS DE BARROS</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">17/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">Radio Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">BL</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">aecioradio@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">AECIO LUIS DE BARROS</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">13/05/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=366" target="_parent">aecio@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=683" target="_parent">ALBERTO CORRETORA DE SEGURO LTDA</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=683" target="_parent">30/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=683" target="_parent">e-mail cortesias</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=683" target="_parent">E</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=683" target="_parent">firmeseguros@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=683" target="_parent">ALBERTO CORRETORA DE SEGURO LTDA</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=683" target="_parent">31/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=683" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=683" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=683" target="_parent">acs@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=767" target="_parent">ALBINO ANTONIO DE MOURA</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=767" target="_parent">13/06/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=767" target="_parent">Radio Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=767" target="_parent">BL</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=767" target="_parent">williany@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">ALENCAUTO-ALENCAR AUTO LTDA</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">24/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">Hospedagem Gratuita</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">H</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">alencauto@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">ALENCAUTO-ALENCAR AUTO LTDA</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">05/05/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">Hospedagem Gratuita</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">H</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">carlaoveiculos@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">ALENCAUTO-ALENCAR AUTO LTDA</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">31/10/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">aal@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">ALENCAUTO-ALENCAR AUTO LTDA</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">08/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=595" target="_parent">danielalencar@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">ANDREI DE OLIVEIRA MOSMAN</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">04/01/2006</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">Hospedagem Gratuita</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">H</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">mosman-teste01@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">ANDREI DE OLIVEIRA MOSMAN</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">26/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">Hospedagem Gratuita</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">H</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">tvinsana@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">ANDREI DE OLIVEIRA MOSMAN</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">26/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">Hospedagem Gratuita</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">H</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">ninjamanco@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">ANDREI DE OLIVEIRA MOSMAN</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">11/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">Radio Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">BL</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">mosman@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">ANDREI DE OLIVEIRA MOSMAN</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">17/10/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">Hospedagem Gratuita</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">H</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">mosman-arqs@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">ANDREI DE OLIVEIRA MOSMAN</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">23/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">Hospedagem Gratuita</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">H</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1031" target="_parent">mosman@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1097" target="_parent">ANTENOR DANTAS NOGUEIRA LEOPOLDINO</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1097" target="_parent">12/09/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1097" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1097" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1097" target="_parent">antenor1@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=285" target="_parent">ANTONIO B.DOS SANTOS(ERIVAN)</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=285" target="_parent">03/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=285" target="_parent">Radio Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=285" target="_parent">BL</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=285" target="_parent">erivanradio@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=302" target="_parent">ANTONIO MOURA LEAL</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=302" target="_parent">14/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=302" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=302" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=302" target="_parent">lealveiculos@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1014" target="_parent">AROLDO DE MOURA SANTOS</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1014" target="_parent">04/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1014" target="_parent">Radio Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1014" target="_parent">BL</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1014" target="_parent">aroldoradio@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1014" target="_parent">AROLDO DE MOURA SANTOS</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1014" target="_parent">07/12/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1014" target="_parent">Hospedagem Gratuita</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1014" target="_parent">H</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1014" target="_parent">ftp_elista@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=774" target="_parent">ASS. COM. DE RADIO DE SAO JOAO</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=774" target="_parent">04/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=774" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=774" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=774" target="_parent">malhada@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=16" target="_parent">ASS. COM. IND. DA GRANDE PICOS</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=16" target="_parent">04/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=16" target="_parent">Radio Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=16" target="_parent">BL</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=16" target="_parent">associacaoradio@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=537" target="_parent">ASS.DE RADIOFUSAO C. DE PAULISTANA</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=537" target="_parent">04/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=537" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=537" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=537" target="_parent">fmdopovo@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1133" target="_parent">AURIESTES SOUSA PEREIRA</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1133" target="_parent">29/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1133" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1133" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1133" target="_parent">infotecnica@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=139" target="_parent">BIT BYTES</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=139" target="_parent">13/04/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=139" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=139" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=139" target="_parent">bitbytes@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1111" target="_parent">BLOCO ABAGACEIRA</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1111" target="_parent">24/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1111" target="_parent">Hospedagem Gratuita</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1111" target="_parent">H</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1111" target="_parent">blocoabagaceira@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=963" target="_parent">BOA SORTE COMERCIAL LTDA - BSCARTUCHOS</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=963" target="_parent">09/05/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=963" target="_parent">Hospedagem Gratuita</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=963" target="_parent">H</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=963" target="_parent">ftp_bs@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1017" target="_parent">CARLA APARECIDA SANTOS ALENCAR</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1017" target="_parent">16/12/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1017" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1017" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1017" target="_parent">carla@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=132" target="_parent">CARLOS LUIS NUNES DE BARROS</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=132" target="_parent">15/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=132" target="_parent">Radio Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=132" target="_parent">BL</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=132" target="_parent">carlosluis3@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=132" target="_parent">CARLOS LUIS NUNES DE BARROS</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=132" target="_parent">14/07/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=132" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=132" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=132" target="_parent">carluis@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=132" target="_parent">CARLOS LUIS NUNES DE BARROS</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=132" target="_parent">15/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=132" target="_parent">Radio Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=132" target="_parent">BL</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=132" target="_parent">carlosluis2@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1018" target="_parent">CASA DE SAUDE SAO JOSE LTDA</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1018" target="_parent">04/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1018" target="_parent">Radio Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1018" target="_parent">BL</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1018" target="_parent">peterradio@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=363" target="_parent">CLAUDINEI BORGES LEAL</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=363" target="_parent">16/04/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=363" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=363" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=363" target="_parent">micropoint@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=760" target="_parent">CLAUDIOMAR CARVALHO DE ALMEIDA</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=760" target="_parent">18/08/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=760" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=760" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=760" target="_parent">claudiomar@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=51" target="_parent">CORREIOS JUNCO(BORGES)</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=51" target="_parent">05/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=51" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=51" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=51" target="_parent">correiosjunco@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1076" target="_parent">DALVA MARIA JANUARIO FEITOSA</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1076" target="_parent">15/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1076" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1076" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1076" target="_parent">dalvafeitosa@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=86" target="_parent">DECOM PICOS-PI</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=86" target="_parent">21/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=86" target="_parent">Radio Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=86" target="_parent">BL</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=86" target="_parent">wet11decon@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=305" target="_parent">DELEGACIA REGIONAL DE OEIRAS</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=305" target="_parent">15/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=305" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=305" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=305" target="_parent">marcelino@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=305" target="_parent">DELEGACIA REGIONAL DE OEIRAS</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=305" target="_parent">15/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=305" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=305" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=305" target="_parent">droeiras@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=365" target="_parent">DIOCESE DE PICOS</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=365" target="_parent">01/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=365" target="_parent">Radio Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=365" target="_parent">BL</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=365" target="_parent">diocese1@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=102" target="_parent">EDILBERTO JOSE DA LUZ</a></font></td>
   </tr>
   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=43" target="_parent">TV SAT LTDA</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=43" target="_parent">11/03/2005</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=43" target="_parent">Radio Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=43" target="_parent">BL</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=43" target="_parent">tvsatltda1@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=880" target="_parent">UNIMED REGIONAL DE PICOS</a></font></td>
   </tr>
   <tr bgcolor="#FFFFFF">
      <td align="center" width="80"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=880" target="_parent">11/01/2006</a></font></td>
      <td align="left" width="150"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=880" target="_parent">Discado Cortesia</a></font></td>
      <td align="center" width="30"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=880" target="_parent">D</a></font></td>
      <td align="center" width="200"><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=880" target="_parent">unimed@firme.com.br</a></font></td>
   </tr>


   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=4><font face="arial" size=-2><a href="?sessao=clientes&subsess=pesquisa&id_cliente=1" target="_parent">USUARIO PROVEDOR</a></font></td>
   </tr>
</table>
<br>
<table border=0 width="480" cellspacing=1 cellpadding=1 bgcolor="#000000">
   <tr bgcolor="#F0F0F0">
      <td align="left" colspan=5><B>TOTAIS</B></td>
   </tr>
   <tr bgcolor="#F0F0F0">
      <td align="center" width="20%">Banda Larga</td>
      <td align="center" width="20%">Discado</td>
      <td align="center" width="20%">Email</td>
      <td align="center" width="20%">Hospedagem</td>
      <td align="center" width="20%"># TOTAL</td>
   </tr>
   <tr bgcolor="#F0F0F0">
      <td align="center" width="20%">64</td>
      <td align="center" width="20%">78</td>
      <td align="center" width="20%">5</td>
      <td align="center" width="20%">30</td>
      <td align="center" width="20%">177</td>
   </tr>
   <tr bgcolor="#000000">
      <td colspan=5><img src="img/nada.gif" width=1 height=1></td>
   </tr>
</table>





            </td>
          </tr>
        </table>
</p> </td>
  </tr>
</table>
</body>


</html>
