<!-- nhaaaaaaaaaaaaaaa relatorio_config_cliente.html-->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
<script language="JavaScript">ready = "yes";</script>
<script>
{literal}
var estado=false;

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}
var da = (document.all) ? 1 : 0;
var pr = (window.print) ? 1 : 0;
var mac = (navigator.userAgent.indexOf("Mac") != -1);

function printPage() {
  if (pr) // NS4, IE5
    window.print()
  else if (da && !mac) // IE4 (Windows)
       vbPrintPage()
  else // other browsers
    alert("Desculpe seu browser não suporta esta função. Por favor utilize a barra de trabalho para imprimir a página.");
}

if (da && !pr && !mac) with (document) {
  writeln('<OBJECT ID="WB" WIDTH="0" HEIGHT="0" CLASSID="clsid:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>');
  writeln('<' + 'SCRIPT LANGUAGE="VBScript">');
  writeln('Sub window_onunload');
  writeln('  On Error Resume Next');
  writeln('  Set WB = nothing');
  writeln('End Sub');
  writeln('Sub vbPrintPage');
  writeln('  OLECMDID_PRINT = 6');
  writeln('  OLECMDEXECOPT_DONTPROMPTUSER = 1');
  writeln('  OLECMDEXECOPT_PROMPTUSER = 1');
  writeln('  On Error Resume Next');
  writeln('  WB.ExecWB OLECMDID_PRINT, OLECMDEXECOPT_DONTPROMPTUSER');
  writeln('End Sub');
  writeln('<' + '/SCRIPT>');
}
{/literal}
</script>

</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"><h1>Relat&oacute;rio de Clientes 
                    sem MAC Cadastrado</h1>
                  <p>&nbsp;</p>
                  <table width="600" border="0" cellspacing="2" cellpadding="0">
                    <tr bgcolor="#E4E4E4"> 
                      <td height="20"> 
                        <p><strong>Nome</strong></p></td>
                      <td height="20"> 
                        <p><strong>Username</strong></p></td>
                      <td height="20" bgcolor="#E4E4E4"> 
                        <p>&nbsp;</p></td>
                    </tr>
                    {foreach item=v name=links from=$lista} 
                    <tr bgcolor="{cycle values="#ffffff,#f1f1f1"}"> 
                      <td><p><a href="clientes.php?op=conta&id_cliente={$v.id_cliente}&username={$v.username}&dominio={$v.dominio}&tipo_conta=BL">{$v.nome_razao}</a></p>
                      </td>
                      <td><p><a href="clientes.php?op=conta&id_cliente={$v.id_cliente}&username={$v.username}&dominio={$v.dominio}&tipo_conta=BL">{$v.username}</a></p></td>
                      <td><p><a href="clientes.php?op=conta&id_cliente={$v.id_cliente}&username={$v.username}&dominio={$v.dominio}&tipo_conta=BL">{if 
                          $v.tipo_bandalarga == "P"}{$v.ipaddr}{else}{$v.rede}{/if}</a></p></td>
                    </tr>
                    {/foreach} 
					
                  </table>
				  <br>
                  <table width="600" border="0" cellpadding="0" cellspacing="0" bgcolor="#E4E4E4">
                    <tr>
                      <td><table width="300" border="0" cellspacing="2" cellpadding="0">
                          <tr> 
                            <td width="150"> <p>Total de Clientes s/ MAC:</p></td>
                            <td align="left" valign="middle"> <p><strong>{$smarty.foreach.links.total}</strong></p></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                  <p>&nbsp;</p>
                  <p id="imprimir" align="center"><a href="javascript:;" onClick="return printPage();">IMPRIMIR</a></p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
