<!-- RELATORIO_FATURAMENTO.HTML -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"> <h1 align="center">Relat&oacute;rio</h1>
                <h2 align="center"><font size="2">
                {if $acao=="geral"}Faturamento nos últimos 12 meses{/if}
                {if $acao=="sub_mes"}Faturamento no período de {$mes_periodo}{/if}
                {if $acao=="sub_dia"}Faturamento no dia {$mes_periodo}{/if}
                </font></h2>


					{if $acao != "sub_dia"}
                	<form action="{$smarty.server.PHP_SELF}" method="GET">
                		<input type="HIDDEN" name="acao" value="sub_mes">
                		<input type="HIDDEN" name="op" value="{$op}">

                		<table width="200" border="0" cellspacing="0" cellpadding="0">

						  <tr height="60">
						  	<td align="center"><p><strong>Per&iacute;odo</strong></a></td>
						  	<td>
								<select name="periodo">
									<option value="total" SELECTED></option>
									{foreach item=a from=$ls_ultimos_meses}
										<option value='{$a.valor}' {if $a.valor == $periodo}SELECTED{/if}>{$a.texto}</option>
									{/foreach}
								</select>
							</td>

						  	<td><p><input type="submit" value="OK"></p></td>
						  </tr>
						<table>
                	</form>


					<p>{if $relat}<img src="{$smarty.server.PHP_SELF}?{$smarty.server.QUERY_STRING}&extra=grafico">{/if}</p>

					{/if}



					{if $acao == "geral"}

					  <table width="500" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td><table width="500" border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td bgcolor="#F1F1F1"><table width="500" border="0" cellspacing="2" cellpadding="0">
									  <tr>
										<td width="100" align="LEFT"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Per&iacute;odo</font></td>
										<td width="140" align="RIGHT"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Valor Documento</font></td>
										<td width="80" align="RIGHT"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Acrescimo</font></td>
										<td width="80" align="RIGHT"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Desconto</font></td>
										<td align="RIGHT"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Faturamento</font></td>
									  </tr>
									</table></td>
								</tr>
								<tr>
								  <td>

								{foreach item=a from=$relat}
								  <table width="500" border="0" cellspacing="2" cellpadding="0">
									  <tr>
										<td width="100" align="LEFT"><p><a href="cobranca.php?op={$op}&acao=sub_mes&periodo={$a.ano}-{$a.mes}">{$meses_ano[$a.mes]}/{$a.ano}</a></p></td>
										<td width="140" align="RIGHT"><p><a href="cobranca.php?op={$op}&acao=sub_mes&periodo={$a.ano}-{$a.mes}">{$a.valor}</a></p></td>
										<td width="80" align="RIGHT"><p><a href="cobranca.php?op={$op}&acao=sub_mes&periodo={$a.ano}-{$a.mes}">{$a.acrescimo}</a></p></td>
										<td width="80" align="RIGHT"><p><a href="cobranca.php?op={$op}&acao=sub_mes&periodo={$a.ano}-{$a.mes}">{$a.desconto}</a></p></td>
										<td align="RIGHT"><p><a href="cobranca.php?op={$op}&acao=sub_mes&periodo={$a.ano}-{$a.mes}">{$a.faturamento}</a></p></td>

									  </tr>
									  <tr bgcolor="#999999">
										<td colspan="5" height="1"></td>
									  </tr>
									</table>
								 {/foreach}

								  </td>
							  </tr>

								<tr height="20"><td></td></tr>

								  <tr>
								 <td>
								    <table width="500" border="0" cellspacing="0" cellpadding="1">
									  <tr bgcolor="#F1F1F1">
										<td align="LEFT" width="100"><p>Totalização</p></td>
										<td align="RIGHT" width="140"><p>Estimativa</p></td>
										<td align="RIGHT" width="80"><p>Acrescimos</p></td>
										<td align="RIGHT" width="80"><p>Descontos</p></td>
										<td align="RIGHT"><p>Arrecadado</p></td>
									  </tr>


									  <tr>
										<td></td>
										<td align="RIGHT"><p>{if !$fat.valor}0{else}{$fat.valor}{/if}</p></td>
										<td align="RIGHT"><p>{if !$fat.acrescimo}0{else}{$fat.acrescimo}{/if}</p></td>
										<td align="RIGHT"><p>{if !$fat.desconto}0{else}{$fat.desconto}{/if}</p></td>
										<td align="RIGHT"><p>{if !$fat.faturamento}0{else}{$fat.faturamento}{/if}</p></td>
									  </tr>

									  <tr bgcolor="#999999">
										<td colspan="5" height="1"></td>
									  </tr>
								   </table>


								  </td>
								</tr>
							  </table></td>
						  </tr>
                  	  </table>

					{/if}



					{if $acao == "sub_mes"}
					  <table width="550" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td><table width="550" border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td bgcolor="#F1F1F1"><table width="550" border="0" cellspacing="2" cellpadding="0">
									  <tr>
									  	<td width="80" align="CENTER"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Data</font></td>
										<td width="120" align="RIGHT"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Valor Documento</font></td>
										<td width="100" align="RIGHT"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Acrescimo</font></td>
										<td width="100" align="RIGHT"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Desconto</font></td>
										<td width="100" align="RIGHT"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Faturamento</font></td>
									  </tr>
									</table></td>
								</tr>
								<tr>
								  <td>

								{foreach item=a from=$relat}
								  <table width="550" border="0" cellspacing="2" cellpadding="0">
									  <tr>
										<td width="80" align="CENTER"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><p><a href="cobranca.php?op={$op}&acao=sub_dia&periodo={$a.ano}-{$a.mes}-{$a.dia}">{$a.dia}-{$a.mes}-{$a.ano}</a></p></font></td>
										<td width="120" align="RIGHT"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="cobranca.php?op={$op}&acao=sub_dia&periodo={$a.ano}-{$a.mes}-{$a.dia}">{$a.valor}</a></font></td>
										<td width="100" align="RIGHT"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="cobranca.php?op={$op}&acao=sub_dia&periodo={$a.ano}-{$a.mes}-{$a.dia}">{$a.acrescimo}</a></font></td>
										<td width="100" align="RIGHT"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="cobranca.php?op={$op}&acao=sub_dia&periodo={$a.ano}-{$a.mes}-{$a.dia}">{$a.desconto}</a></font></td>
										<td align="RIGHT"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="cobranca.php?op={$op}&acao=sub_dia&periodo={$a.ano}-{$a.mes}-{$a.dia}">{$a.faturamento}</a></font></td>

									  </tr>
									  <tr bgcolor="#999999">
									  	<td colspan="5" height="1"></td>
									  </tr>
								  </table>
								 {/foreach}

								  </td>
								</tr>

								<tr height="20"><td></td></tr>

								<tr>
								  <td>


								    <table width="550" border="0" cellspacing="0" cellpadding="1">
									  <tr bgcolor="#F1F1F1">
										<td align="LEFT" width="80"><p>Totalização</p></td>
										<td align="RIGHT" width="120"><p>Estimativa</p></td>
										<td align="RIGHT" width="100"><p>Acrescimos</p></td>
										<td align="RIGHT" width="100"><p>Descontos</p></td>
										<td align="RIGHT"><p>Arrecadado</p></td>
									  </tr>


									  <tr>
										<td width="80"></td>
										<td align="RIGHT" width="120"><p>{if !$fat.valor}0{else}{$fat.valor}{/if}</p></td>
										<td align="RIGHT" width="100"><p>{if !$fat.acrescimo}0{else}{$fat.acrescimo}{/if}</p></td>
										<td align="RIGHT" width="100"><p>{if !$fat.desconto}0{else}{$fat.desconto}{/if}</p></td>
										<td align="RIGHT" ><p>{if !$fat.faturamento}0{else}{$fat.faturamento}{/if}</p></td>
									  </tr>

									  <tr bgcolor="#999999">
										<td colspan="5" height="1"></td>
									  </tr>
								   </table>

								  </td>
								</tr>
							  </table></td>
						  </tr>
                  	  </table>
                  	  <p><a href="#" onClick="javascript:history.back()">Voltar</a></p>
					{/if}


					{if $acao == "sub_dia"}
					  <table width="700" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td><table width="700" border="0" cellspacing="0" cellpadding="0">
								<tr>
								  <td bgcolor="#F1F1F1"><table width="700" border="0" cellspacing="2" cellpadding="0">
									  <tr>
										<td  align="LEFT"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Cliente</font></td>
										<td width="100" align="LEFt"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Produto</font></td>
										<td width="80" align="LEFT"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Username</font></td>
										<td width="100" align="RIGHT"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Valor Documento</font></td>
										<td width="70" align="RIGHT"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Acrescimo</font></td>
										<td width="70" align="RIGHT"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Desconto</font></td>
										<td width="80" align="RIGHT"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Valor Pago</font></td>
									  </tr>
									</table></td>
								</tr>
								<tr>
								  <td>

								{foreach item=a from=$relat}
								  <table width="700" border="0" cellspacing="2" cellpadding="0">
									  <tr>
										<td  align="LEFT"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="clientes.php?op=cobranca&id_cliente={$a.id_cliente}&rotina=resumo">{$a.nome_razao}</a></font></td>
										<td width="100" align="LEFt"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="clientes.php?op=cobranca&id_cliente={$a.id_cliente}&rotina=resumo">{$a.nome}</a></font></td>
										<td width="80" align="LEFT"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="clientes.php?op=cobranca&id_cliente={$a.id_cliente}&rotina=resumo">{$a.username}</a></font></td>
										<td width="100" align="RIGHT"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="clientes.php?op=cobranca&id_cliente={$a.id_cliente}&rotina=resumo">{$a.valor}</a></font></td>
										<td width="70" align="RIGHT"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="clientes.php?op=cobranca&id_cliente={$a.id_cliente}&rotina=resumo">{$a.acrescimo}</a></font></td>
										<td width="70" align="RIGHT"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="clientes.php?op=cobranca&id_cliente={$a.id_cliente}&rotina=resumo">{$a.desconto}</a></font></td>
										<td width="80" align="RIGHT"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="clientes.php?op=cobranca&id_cliente={$a.id_cliente}&rotina=resumo">{$a.valor_pago}</a></font></td>
									  </tr>
									  <tr bgcolor="#999999">
										<td colspan="7" height="1"></td>
									  </tr>
								  </table>
								 {/foreach}

								  </td>
								</tr>

								<tr height="20"><td></td></tr>

								<tr>
								  <td>


									<table width="700" border="0" cellspacing="0" cellpadding="1">
									  <tr bgcolor="#F1F1F1">
										<td align="LEFT"><p>Totalização</p></td>
										<td align="LEFT" width="100"><p></p></td>
										<td align="LEFT" width="80"><p></p></td>
										<td align="RIGHT" width="100"><p>Estimativa</p></td>
										<td align="RIGHT" width="70"><p>Acrescimos</p></td>
										<td align="RIGHT" width="70"><p>Descontos</p></td>
										<td align="RIGHT" width="80"><p>Arrecadado</p></td>
									  </tr>


									  <tr>
										<td></td>
										<td width="100"></td>
										<td width="80"></td>
										<td align="RIGHT" width="100"><p>{if !$fat.valor}0{else}{$fat.valor}{/if}</p></td>
										<td align="RIGHT" width="70"><p>{if !$fat.acrescimo}0{else}{$fat.acrescimo}{/if}</p></td>
										<td align="RIGHT" width="70"><p>{if !$fat.desconto}0{else}{$fat.desconto}{/if}</p></td>
										<td align="RIGHT" width="80"><p>{if !$fat.faturamento}0{else}{$fat.faturamento}{/if}</p></td>
									  </tr>

									  <tr bgcolor="#999999">
										<td colspan="7" height="1"></td>
									  </tr>
								   </table>


								  </td>
								</tr>


							  </table></td>
						  </tr>
					  </table>
					  <p><a href="#" onClick="javascript:history.back()">Voltar</a></p>
					{/if}
					<script language="JavaScript">ready = "yes";</script>
<script>
{literal}
var estado=false;

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}
var da = (document.all) ? 1 : 0;
var pr = (window.print) ? 1 : 0;
var mac = (navigator.userAgent.indexOf("Mac") != -1);

function printPage() {
  if (pr) // NS4, IE5
    window.print()
  else if (da && !mac) // IE4 (Windows)
       vbPrintPage()
  else // other browsers
    alert("Desculpe seu browser não suporta esta função. Por favor utilize a barra de trabalho para imprimir a página.");
}

if (da && !pr && !mac) with (document) {
  writeln('<OBJECT ID="WB" WIDTH="0" HEIGHT="0" CLASSID="clsid:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>');
  writeln('<' + 'SCRIPT LANGUAGE="VBScript">');
  writeln('Sub window_onunload');
  writeln('  On Error Resume Next');
  writeln('  Set WB = nothing');
  writeln('End Sub');
  writeln('Sub vbPrintPage');
  writeln('  OLECMDID_PRINT = 6');
  writeln('  OLECMDEXECOPT_DONTPROMPTUSER = 1');
  writeln('  OLECMDEXECOPT_PROMPTUSER = 1');
  writeln('  On Error Resume Next');
  writeln('  WB.ExecWB OLECMDID_PRINT, OLECMDEXECOPT_DONTPROMPTUSER');
  writeln('End Sub');
  writeln('<' + '/SCRIPT>');
}
{/literal}
</script>
<p id="imprimir" align="center"><a href="javascript:;" onClick="return printPage();">IMPRIMIR</a></p>

					</td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
