<!-- RELATORIO_FATURAS.HTML -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"><h1>Faturas</h1>
                  <table width="97%" border="0" align="center" cellpadding="0" cellspacing="1" class=main>
                    <tr>
                      <td colspan="2" align="center" valign="top">

                        <form method="post" action="{$smarty.server.PHP_SELF}">
                        	<input type="hidden" name="acao" value="consultar">
                        	<input type="hidden" name="op" value="fatura">
							<table border=0 width=350 align="center">
							  <tr>
								<td align="right" valing="bottom" bgcolor="#FFFFFF">
								  Período: </td>
								<td valing="bottom"> Entre
								  
                              <input type="text" name="data_ini" value="{$data_ini}" size=13 maxlenght="10">
								  e
								  
                              <input type="text" name="data_fim" value="{$data_fim}" size=13 maxlenght="10">
								</td>
							  </tr>
							  <tr>
								<td align="right" valing="bottom" bgcolor="#FFFFFF">
								  Faturas: </td>
								<td valing="bottom"> <SELECT name='tipo_relatorio'>
									<OPTION VALUE='PG' {if $tipo_relatorio == "PG"} SELECTED {/if}>Pagas</OPTION>
									<OPTION VALUE='PG+' {if $tipo_relatorio == "PG+"} SELECTED {/if}>Pagas (incluindo adesões)</OPTION>
									<OPTION VALUE='PD'{if $tipo_relatorio == "PD"} SELECTED {/if} >Pagas (com desconto)</OPTION>
									<OPTION VALUE='AT' {if $tipo_relatorio == "AT"} SELECTED {/if}>Em atrazo</OPTION>
									<OPTION VALUE='AD' {if $tipo_relatorio == "AD"} SELECTED {/if}>Adesões</OPTION>
									<OPTION VALUE='AB' {if $tipo_relatorio == "AB"} SELECTED {/if} >Em aberto (incluindo atrazadas)</OPTION>
									<OPTION VALUE='AB-' {if $tipo_relatorio == "AB-"} SELECTED {/if}>Em aberto (excluindo atrazadas)</OPTION>
								  </SELECT> <input name="submit" type="submit"value="OK">
								</td>
							  </tr>
							</table>
						</form>

                        <p>&nbsp;</p>
                        {if !$acao} <p><strong>AINDA NÃO FORAM DEFINIDOS OS PARÂMETROS DE PESQUISA</strong></p> {/if}
                        <table width="75%" border="0" cellpadding="2" cellspacing="2">
                          <tr align="center" valign="middle" bgcolor="#FAFAFA"> 
                            <td colspan="7"><h2><strong>SACADO</strong></h2></td>
                          </tr>
                          <tr bgcolor="#DFDFDF"> 
                            <td width="14%"><p align="center" >Vencimento</p></td>
                            <td width="14%"><p align="center" >Data_Pagamento</p></td>
                            <td width="14%"><p align="center" >Valor Fatura</p></td>
                            <td width="14%"><p align="center" >Desconto</p></td>
                            <td width="14%"><p align="center" >Acrescimo</p></td>
                            <td width="14%"><p align="center" >Reagendamento</p></td>
                            <td width="14%"><p align="center" >Valor Pago</p></td>
                          </tr>
                          {foreach item=rel_fatura from=$rel_faturas} 
							  <tr bgcolor="#FFFFFF"> 
								<td colspan=7><p>{$rel_fatura.nome_razao}</p></td>
							  </tr>
							  <tr bgcolor="#F0F0F0"> 
								<td align="center"> <p><a href="cobranca.php?op=amortizacao&id_cliente_produto={$rel_fatura.id_cliente_produto}&data={$rel_fatura.data}&id_cliente={$rel_fatura.id_cliente}">{$rel_fatura.data}</a></p></td>
								<td align="center"> <p><a href="cobranca.php?op=amortizacao&id_cliente_produto={$rel_fatura.id_cliente_produto}&data={$rel_fatura.data}&id_cliente={$rel_fatura.id_cliente}">{$rel_fatura.data_pagamento}</a></p></td>
								<td align="center"> <p><a href="cobranca.php?op=amortizacao&id_cliente_produto={$rel_fatura.id_cliente_produto}&data={$rel_fatura.data}&id_cliente={$rel_fatura.id_cliente}">{$rel_fatura.valor}</a></p></td>
								<td align="center"> <p><a href="cobranca.php?op=amortizacao&id_cliente_produto={$rel_fatura.id_cliente_produto}&data={$rel_fatura.data}&id_cliente={$rel_fatura.id_cliente}">{$rel_fatura.desconto}</a></p></td>
								<td align="center"> <p><a href="cobranca.php?op=amortizacao&id_cliente_produto={$rel_fatura.id_cliente_produto}&data={$rel_fatura.data}&id_cliente={$rel_fatura.id_cliente}">{$rel_fatura.acrescimo}</a></p></td>
								<td align="center"> <p><a href="cobranca.php?op=amortizacao&id_cliente_produto={$rel_fatura.id_cliente_produto}&data={$rel_fatura.data}&id_cliente={$rel_fatura.id_cliente}">{$rel_fatura.reagendamento}</a></p></td>
								<td align="center"> <p><a href="cobranca.php?op=amortizacao&id_cliente_produto=($rel_fatura.id_cliente_produto}&data={$rel_fatura.data}&id_cliente={$rel_fatura.id_cliente}">{$rel_fatura.valor_pago}</a></p></td>
							  </tr>
                          {/foreach} 
                        </table>
						
						<br><br>
						
						<table width="75%" border="0" cellpadding="2" cellspacing="2">
                          <tr align="center" valign="middle" bgcolor="#FAFAFA"> 
                            <td colspan="7"><h2><strong>TOTAIS</strong></h2></td>
                          </tr>
                          <tr bgcolor="#DFDFDF"> 
                            <td width="14%"><p align="center" >#Faturas</p></td>
                            <td width="14%"><p align="center" >&nbsp;</p></td>
                            <td width="14%"><p align="center" >Estimtiva</p></td>
                            <td width="14%"><p align="center" >Descontos</p></td>
                            <td width="14%"><p align="center" >Acrescimos</p></td>
                            <td width="14%"><p align="center" >Reagendamentos</p></td>
                            <td width="14%"><p align="center" >Recebido</p></td>
                          </tr>

                          <tr bgcolor="#F0F0F0"> 
                            <td align="center"> <p>{$rel_totais.faturas}</p></td>
                            <td align="center"> <p></p></td>
                            <td align="center"> <p>{$rel_totais.estimativa}</p></td>
                            <td align="center"> <p>{$rel_totais.descontos}</p></td>
                            <td align="center"> <p>{$rel_totais.acrescimos}</p></td>
                            <td align="center"> <p>{$rel_totais.reagendamentos}</p></td>
                            <td align="center"> <p>{$rel_totais.recebido}</p></td>
                          </tr>

                        </table>

                      </td>
                    </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</table></body>


</html>
