<!-- RELATORIO_FILTRO.HTML -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"><h1>Gerador de Relat&oacute;rios</h1>
                  <form action="{$smarty.server.PHP_SELF}" method="post" name="formulario" id="formulario">
                    <p>&nbsp;</p>
                    <table width="414" border="0">
                      <tr> 
                        <td width="71"><p align="center"><strong>Produtos</strong></p></td>
                        <td width="90"> <p> 
                            <select name="prod" class="campos" id="prod">
                              <option value="*">Todos</option>
                              <option value="BL">Banda Larga</option>
                              <option value="D">Discado</option>
                              <option value="H">Hospedagem</option>
                            </select>
                          </p></td>
                        <td width="72"><p align="center"><strong>Cliente</strong></p></td>
                        <td width="163"> <p> 
                            <select name="cli" class="campos" id="cli">
                              <option value="t">Ativo</option>
                              <option value="f">Inativo</option>
                            </select>
                          </p></td>
                      </tr>
                      <tr> 
                        <td><p align="center"><strong>Per&iacute;odo:</strong> 
                          </p></td>
                        <td> <p> 
                            <input name="dt_inicio" type="text" class="campos" id="dt_inicio" size="20">
                          </p></td>
                        <td><div align="center"> 
                            <p><strong>at&eacute;</strong> </p>
                          </div></td>
                        <td> <p> 
                            <input name="dt_final" type="text" class="campos" id="dt_final" size="20">
                          </p></td>
                      </tr>
                      <tr align="center"> 
                        <td colspan="4"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"> 
                          <input name="op" type="hidden" id="op" value="{$op}">
                          <input type="submit" name="Submit" value="Gerar Relat&oacute;rio" class="campos">
                          </font></td>
                      </tr>
                    </table>
                  </form>
<script language="JavaScript">ready = "yes";</script>
<script>
{literal}
var estado=false;

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}
var da = (document.all) ? 1 : 0;
var pr = (window.print) ? 1 : 0;
var mac = (navigator.userAgent.indexOf("Mac") != -1);

function printPage() {
  if (pr) // NS4, IE5
    window.print()
  else if (da && !mac) // IE4 (Windows)
       vbPrintPage()
  else // other browsers
    alert("Desculpe seu browser não suporta esta função. Por favor utilize a barra de trabalho para imprimir a página.");
}

if (da && !pr && !mac) with (document) {
  writeln('<OBJECT ID="WB" WIDTH="0" HEIGHT="0" CLASSID="clsid:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>');
  writeln('<' + 'SCRIPT LANGUAGE="VBScript">');
  writeln('Sub window_onunload');
  writeln('  On Error Resume Next');
  writeln('  Set WB = nothing');
  writeln('End Sub');
  writeln('Sub vbPrintPage');
  writeln('  OLECMDID_PRINT = 6');
  writeln('  OLECMDEXECOPT_DONTPROMPTUSER = 1');
  writeln('  OLECMDEXECOPT_PROMPTUSER = 1');
  writeln('  On Error Resume Next');
  writeln('  WB.ExecWB OLECMDID_PRINT, OLECMDEXECOPT_DONTPROMPTUSER');
  writeln('End Sub');
  writeln('<' + '/SCRIPT>');
}
{/literal}
</script>
<p id="imprimir" align="center"><a href="javascript:;" onClick="return printPage();">IMPRIMIR</a></p>

</td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
