<!-- RELATORIO_CLIENTES.HTML -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"><h1>Lista Geral de Clientes</h1>
                  <table width="632" border="0" align="center">
                    <tr>
                      <td><div align="center" class="style6 style8">
                          <p><a href="relatorio.php?op=geral&inicial=A">A</a></p>
                        </div></td>
                      <td><div align="center" class="style6 style8">
                          <p><a href="relatorio.php?op=geral&inicial=B">B</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=C">C</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=D">D</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=E">E</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=F">F</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=G">G</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=H">H</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=I">I</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=J">J</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=K">K</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=L">L</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=M">M</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=N">N</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=O">O</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=P">P</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=Q">Q</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=R">R</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=S">S</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=T">T</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <div align="center">
                            <p><a href="relatorio.php?op=geral&inicial=U">U</a></p>
                          </div>
                        </div></td>
                      <td><div align="center" class="style8">
                          <p><a href="relatorio.php?op=geral&inicial=V">V</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <div align="center">
                            <p><a href="relatorio.php?op=geral&inicial=W">W</a></p>
                          </div>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=X">X</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=Y">Y</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=Z">Z</a></p>
                        </div></td>
                    </tr>
                  </table>
                  <table width="279" border="0">
                    <tr>
                      <td width="169"><div align="center" class="style8">
                          <p>[ <a href="relatorio.php?op=geral">&Uacute;ltimos Cadastrados</a> ] </p>
                        </div></td>
                      <td width="100"><div align="center" class="style8">
                          <p>[ <a href="relatorio.php?op=geral&acao=TODOS">Todos</a> ]</p>
                        </div></td>
                    </tr>
                  </table>
                  <hr width="500">
                  { if !$ult_cli }
                  	<font face="arial" size=2 color="gray"><p align="center"><b>Nenhum Registro Encontrado</b></p></font>
                  { /if }


                  { if $ult_cli }
                  <p>{foreach item=v from=$ult_cli} </p>
                  <table width="300" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
                    <tr>
                      <td><table width="300" border="0" cellspacing="1" cellpadding="0">
                          <tr>
                            <td bgcolor="#FFFFFF"><table width="716" border="0">
                                <tr bgcolor="#E4E4E4">
                                  <td width="93" colspan="2"><p><strong>ID</strong></p></td>
                                  <td width="322"><p><strong>Nome/Raz&atilde;o</strong></p></td>
                                  <td width="287"><p><strong>CPF</strong></p></td>
                                </tr>
                                <tr bgcolor="#FFFFFF">
                                  <td height="15"><a href="clientes.php?op=cadastro&id_cliente={$v.id_cliente}"><img src="template/default/images/bt_ficha_cliente_peq.gif" border="0" alt="Ficha do cliente"></a></td>
                                  <td height="5"><p>{$v.id_cliente}</p></td>
                                  <td height="15"><p>{$v.nome_razao}</p></td>
                                  <td height="15"><p>{$v.cpf_cnpj}</p></td>
                                </tr>
                              </table>
                              <table width="716" border="0">
                                <tr bgcolor="#E4E4E4">
                                  <td width="293"><p><strong>Rua</strong></p></td>
                                  <td width="225"><p><strong>Cidade</strong></p></td>
                                  <td width="184"><p><strong>Bairro</strong></p></td>
                                </tr>
                                <tr bgcolor="#FFFFFF">
                                  <td height="15"><p>{$v.endereco}</p></td>
                                  <td height="15"><p>{$v.cidade}</p></td>
                                  <td height="15"><p>{$v.bairro}</p></td>
                                </tr>
                              </table></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                  <p>{ /foreach } </p>
                  { /if }</td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>

</table>
</body>


</html>
