<html>
<head>
<title>Main</title>
</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="60"> 
      <table width="689" height="50" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr> 
          <td width="18%"><div align="center">Logotipo</div></td>
          <td width="82%"> <div align="center"><strong>VIRTEX ADMIN - PAINEL DE 
              CONTROLE </strong> </div></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td colspan="2">{include file='menu_principal.html'}
</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p><table class=table_main width="90%" border="0" align="center" cellpadding="0" cellspacing="0" >
  <tr>
    <td class=td_main >
        <table width="97%" border="0" align="center" cellpadding="0" cellspacing="1" class=main>
          <tr>
            <td colspan="2">
<br>
<table width="450" border=0 align="center" cellpadding=0 cellspacing=0>
   <tr bgcolor="#F0F0F0">
      <td width=240 align="center"><font face="arial" size="-1"><b>AP</b></td>
      <td colspan=3  align="center"><font face="arial" size="-1"><b>CARGA</b></td>
   </tr>
   <tr bgcolor="#FAFAFA">
      <td width=290 align="left"><font face="arial" size="-1"><b>..nome..</b></td>
      <td width=100 align="center"><font face="arial" size="-1"><b>..clientes..</b></td>
      <td width=170 align="center"><font face="arial" size="-1"><b>..up (kbps)..</b></font></td>
      <td width=170 align="center"><font face="arial" size="-1"><b>..down (kbps)..</b></font></td>
   </tr>
   <tr>
      <td colspan=4 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#FFFFFF">
      <td align="left"><font face="arial" size=-1>AP - Associacao</font></td>
      <td align="center"><font face="arial" size=-1>158</font></td>
      <td align="center"><font face="arial" size=-1>25280</font></td>
      <td align="center"><font face="arial" size=-1>27072</font></td>
   </tr>

   <tr bgcolor="#F1F1F1">
      <td align="left"><font face="arial" size=-1>AP - BOMBA</font></td>
      <td align="center"><font face="arial" size=-1>103</font></td>
      <td align="center"><font face="arial" size=-1>18688</font></td>
      <td align="center"><font face="arial" size=-1>19520</font></td>
   </tr>

   <tr bgcolor="#FFFFFF">
      <td align="left"><font face="arial" size=-1>AP - CANOPY</font></td>
      <td align="center"><font face="arial" size=-1>0</font></td>
      <td align="center"><font face="arial" size=-1>-</font></td>
      <td align="center"><font face="arial" size=-1>-</font></td>
   </tr>

   <tr bgcolor="#F1F1F1">
      <td align="left"><font face="arial" size=-1>AP - COHAB</font></td>
      <td align="center"><font face="arial" size=-1>19</font></td>
      <td align="center"><font face="arial" size=-1>4096</font></td>
      <td align="center"><font face="arial" size=-1>4352</font></td>
   </tr>

   <tr bgcolor="#FFFFFF">
      <td align="left"><font face="arial" size=-1>AP - DVD</font></td>
      <td align="center"><font face="arial" size=-1>156</font></td>
      <td align="center"><font face="arial" size=-1>22912</font></td>
      <td align="center"><font face="arial" size=-1>24256</font></td>
   </tr>

   <tr bgcolor="#F1F1F1">
      <td align="left"><font face="arial" size=-1>AP - Junco</font></td>
      <td align="center"><font face="arial" size=-1>118</font></td>
      <td align="center"><font face="arial" size=-1>21888</font></td>
      <td align="center"><font face="arial" size=-1>24704</font></td>
   </tr>

   <tr bgcolor="#FFFFFF">
      <td align="left"><font face="arial" size=-1>AP - KLN</font></td>
      <td align="center"><font face="arial" size=-1>47</font></td>
      <td align="center"><font face="arial" size=-1>7808</font></td>
      <td align="center"><font face="arial" size=-1>8064</font></td>
   </tr>

   <tr bgcolor="#F1F1F1">
      <td align="left"><font face="arial" size=-1>AP - Wireless Network</font></td>
      <td align="center"><font face="arial" size=-1>84</font></td>
      <td align="center"><font face="arial" size=-1>13184</font></td>
      <td align="center"><font face="arial" size=-1>14080</font></td>
   </tr>

   <tr bgcolor="#FFFFFF">
      <td align="left"><font face="arial" size=-1>AP TCV</font></td>
      <td align="center"><font face="arial" size=-1>18</font></td>
      <td align="center"><font face="arial" size=-1>2880</font></td>
      <td align="center"><font face="arial" size=-1>3328</font></td>
   </tr>

   <tr bgcolor="#F1F1F1">
      <td align="left"><font face="arial" size=-1>POP - Picos Hotel</font></td>
      <td align="center"><font face="arial" size=-1>3</font></td>
      <td align="center"><font face="arial" size=-1>384</font></td>
      <td align="center"><font face="arial" size=-1>384</font></td>
   </tr>

   <tr bgcolor="#FFFFFF">
      <td align="left"><font face="arial" size=-1>Sao Raimundo Nonato</font></td>
      <td align="center"><font face="arial" size=-1>39</font></td>
      <td align="center"><font face="arial" size=-1>3872</font></td>
      <td align="center"><font face="arial" size=-1>3872</font></td>
   </tr>
</table>
</p>
      <p>&nbsp;</p>
    </td>
  </tr>
</table>
</body>


</html>
