<!-- RELATORIO_CLIENTES.HTML -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
<script language="JavaScript">ready = "yes";</script>
<script>
{literal}
var estado=false;

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}
var da = (document.all) ? 1 : 0;
var pr = (window.print) ? 1 : 0;
var mac = (navigator.userAgent.indexOf("Mac") != -1);

function printPage() {
  if (pr) // NS4, IE5
    window.print()
  else if (da && !mac) // IE4 (Windows)
       vbPrintPage()
  else // other browsers
    alert("Desculpe seu browser não suporta esta função. Por favor utilize a barra de trabalho para imprimir a página.");
}

if (da && !pr && !mac) with (document) {
  writeln('<OBJECT ID="WB" WIDTH="0" HEIGHT="0" CLASSID="clsid:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>');
  writeln('<' + 'SCRIPT LANGUAGE="VBScript">');
  writeln('Sub window_onunload');
  writeln('  On Error Resume Next');
  writeln('  Set WB = nothing');
  writeln('End Sub');
  writeln('Sub vbPrintPage');
  writeln('  OLECMDID_PRINT = 6');
  writeln('  OLECMDEXECOPT_DONTPROMPTUSER = 1');
  writeln('  OLECMDEXECOPT_PROMPTUSER = 1');
  writeln('  On Error Resume Next');
  writeln('  WB.ExecWB OLECMDID_PRINT, OLECMDEXECOPT_DONTPROMPTUSER');
  writeln('End Sub');
  writeln('<' + '/SCRIPT>');
}
{/literal}
</script>

</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"><h1>Lista Geral de Clientes</h1>
                  <table width="632" border="0" align="center">
                    <tr>
                      <td><div align="center" class="style6 style8">
                          <p><a href="relatorio.php?op=geral&inicial=A">A</a></p>
                        </div></td>
                      <td><div align="center" class="style6 style8">
                          <p><a href="relatorio.php?op=geral&inicial=B">B</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=C">C</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=D">D</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=E">E</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=F">F</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=G">G</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=H">H</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=I">I</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=J">J</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=K">K</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=L">L</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=M">M</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=N">N</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=O">O</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=P">P</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=Q">Q</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=R">R</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=S">S</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=T">T</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <div align="center">
                            <p><a href="relatorio.php?op=geral&inicial=U">U</a></p>
                          </div>
                        </div></td>
                      <td><div align="center" class="style8">
                          <p><a href="relatorio.php?op=geral&inicial=V">V</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <div align="center">
                            <p><a href="relatorio.php?op=geral&inicial=W">W</a></p>
                          </div>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=X">X</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=Y">Y</a></p>
                        </div></td>
                      <td><div align="center" class="style6">
                          <p><a href="relatorio.php?op=geral&inicial=Z">Z</a></p>
                        </div></td>
                    </tr>
                  </table>
                  <table width="279" border="0">
                    <tr>
                      <td width="169"><div align="center" class="style8">
                          <p>[ <a href="relatorio.php?op=geral">&Uacute;ltimos Cadastrados</a> ] </p>
                        </div></td>
                      <td width="100"><div align="center" class="style8">
                          <p>[ <a href="relatorio.php?op=geral&acao=TODOS">Todos</a> ]</p>
                        </div></td>
                    </tr>
                  </table>
                  <hr width="500">
                  { if !$ult_cli }
                  	<font face="arial" size=2 color="gray"><p align="center"><b>Nenhum Registro Encontrado</b></p></font>
                  { /if }


                  { if $ult_cli }
                  <p>{foreach item=v from=$ult_cli} </p>
                  <table width="300" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
                    <tr>
                      <td><table width="300" border="0" cellspacing="1" cellpadding="0">
                          <tr>
                            <td bgcolor="#FFFFFF"><table width="716" border="0">
                                <tr bgcolor="#E4E4E4">
                                  <td width="93" colspan="2"><p><strong>ID</strong></p></td>
                                  <td width="322"><p><strong>Nome/Raz&atilde;o</strong></p></td>
                                  <td width="287"><p><strong>CPF</strong></p></td>
                                </tr>
                                <tr bgcolor="#FFFFFF">
                                  <td height="15"><a href="clientes.php?op=cadastro&id_cliente={$v.id_cliente}"><img src="template/default/images/bt_ficha_cliente_peq.gif" border="0" alt="Ficha do cliente"></a></td>
                                  <td height="5"><p>{$v.id_cliente}</p></td>
                                  <td height="15"><p>{$v.nome_razao}</p></td>
                                  <td height="15"><p>{$v.cpf_cnpj}</p></td>
                                </tr>
                              </table>
                              <table width="716" border="0">
                                <tr bgcolor="#E4E4E4">
                                  <td width="293"><p><strong>Rua</strong></p></td>
                                  <td width="225"><p><strong>Cidade</strong></p></td>
                                  <td width="184"><p><strong>Bairro</strong></p></td>
                                </tr>
                                <tr bgcolor="#FFFFFF">
                                  <td height="15"><p>{$v.endereco}</p></td>
                                  <td height="15"><p>{$v.cidade}</p></td>
                                  <td height="15"><p>{$v.bairro}</p></td>
                                </tr>
                              </table></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                  <p>{ /foreach } </p>
                  { /if }
				  					<p id="imprimir" align="center"><a href="javascript:;" onClick="return printPage();">IMPRIMIR</a></p>

				  </td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>

</table>
</body>


</html>
