<!-- RELATORIO_REAGENDAMENTO.HTML -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
{literal}
<style type="text/css">
<!--
.style7 {font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; color: #9D9D9D; }
.style4 {color: #505854}
.style5 {font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; color: #505854; }
-->
</style>
{/literal}
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle">
				  <h1 align="center">Reagendamentos</h1>
				  {if !$reagendamentos}<p align="center"><b>Não existem reagendamentos aplicados</b></p>
				  {else}
				  <table width="700" border="0" cellspacing="1" cellpadding="0" style="border:1px solid #C0DED0">
					  <tr>
						<td bgcolor="#D7EAE1" style="border:1px solid #FFFFFF"><p align="center" class="style7 style4">NOME</p></td>
						<td bgcolor="#D7EAE1" style="border:1px solid #FFFFFF"><p align="center" class="style7 style4">USERNAME</p></td>
						<td bgcolor="#D7EAE1" style="border:1px solid #FFFFFF"><p align="center" class="style7 style4">VENCIMENTO</p></td>
						<td bgcolor="#D7EAE1" style="border:1px solid #FFFFFF"><p align="center" class="style7 style4">DATA DO REAGENDAMENTO </p></td>
						<td bgcolor="#D7EAE1" style="border:1px solid #FFFFFF"><p align="center" class="style7 style4">REAGENDADO PARA </p></td>
						<td bgcolor="#D7EAE1" style="border:1px solid #FFFFFF"><p align="center" class="style7 style4">VALOR</p></td>
						<td bgcolor="#D7EAE1" style="border:1px solid #FFFFFF"><p align="center" class="style7 style4">ADMIN</p></td>
					  </tr>{assign var=total value='0'}
				  {foreach item=a from=$reagendamentos}{assign var=total value=$total+1}
					  <tr>
						<td bgcolor="#F9F9F9" style="border:1px solid #FFFFFF"><p><a href="clientes.php?op=cobranca&id_cliente={$a.id_cliente}&rotina=resumo&tipo_lista=tudo">{$a.nome_razao}</a></p></td>
						<td bgcolor="#F9F9F9" style="border:1px solid #FFFFFF"><p align="center"><a href="clientes.php?op=cobranca&id_cliente={$a.id_cliente}&rotina=resumo&tipo_lista=tudo">{$a.username}</a></p></td>
						<td bgcolor="#F9F9F9" style="border:1px solid #FFFFFF"><p align="center"><a href="clientes.php?op=cobranca&id_cliente={$a.id_cliente}&rotina=resumo&tipo_lista=tudo">{$a.data|date_format:"%d/%m/%Y"}</a></p></td>
						<td bgcolor="#F9F9F9" style="border:1px solid #FFFFFF"><p align="center"><a href="clientes.php?op=cobranca&id_cliente={$a.id_cliente}&rotina=resumo&tipo_lista=tudo">{$a.data_reagendamento|date_format:"%d/%m/%Y"}</a></p></td>
						<td bgcolor="#F9F9F9" style="border:1px solid #FFFFFF"><p align="center"><a href="clientes.php?op=cobranca&id_cliente={$a.id_cliente}&rotina=resumo&tipo_lista=tudo">{$a.data_para_reagendamento|date_format:"%d/%m/%Y"}</a></p></td>
						<td bgcolor="#F9F9F9" style="border:1px solid #FFFFFF"><p align="center"><a href="clientes.php?op=cobranca&id_cliente={$a.id_cliente}&rotina=resumo&tipo_lista=tudo">{$a.valor}</a></p></td>
						<td bgcolor="#F9F9F9" style="border:1px solid #FFFFFF"><p align="center"><a href="clientes.php?op=cobranca&id_cliente={$a.id_cliente}&rotina=resumo&tipo_lista=tudo">{$a.admin}</a></p></td>
					  </tr>
					  <tr>
					  	<td height="1" bgcolor="#D7EAE1" colspan="7"><img src="template/default/images/menu/spacer.gif" height="1"></td>
					  </tr>
				  {/foreach}
				</table>
				<table width="700" border="0" cellspacing="1" cellpadding="0" style="border:1px solid #C0DED0">
					<tr>
					  <td bgcolor="#F5FAF8" style="border:1px solid #FFFFFF"><p align="center" class="style5">Reagendadas {$total} faturas no total.</p></td>
					</tr>
				</table>
				  {/if}
<script language="JavaScript">ready = "yes";</script>
<script>
{literal}
var estado=false;

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}
var da = (document.all) ? 1 : 0;
var pr = (window.print) ? 1 : 0;
var mac = (navigator.userAgent.indexOf("Mac") != -1);

function printPage() {
  if (pr) // NS4, IE5
    window.print()
  else if (da && !mac) // IE4 (Windows)
       vbPrintPage()
  else // other browsers
    alert("Desculpe seu browser não suporta esta função. Por favor utilize a barra de trabalho para imprimir a página.");
}

if (da && !pr && !mac) with (document) {
  writeln('<OBJECT ID="WB" WIDTH="0" HEIGHT="0" CLASSID="clsid:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>');
  writeln('<' + 'SCRIPT LANGUAGE="VBScript">');
  writeln('Sub window_onunload');
  writeln('  On Error Resume Next');
  writeln('  Set WB = nothing');
  writeln('End Sub');
  writeln('Sub vbPrintPage');
  writeln('  OLECMDID_PRINT = 6');
  writeln('  OLECMDEXECOPT_DONTPROMPTUSER = 1');
  writeln('  OLECMDEXECOPT_PROMPTUSER = 1');
  writeln('  On Error Resume Next');
  writeln('  WB.ExecWB OLECMDID_PRINT, OLECMDEXECOPT_DONTPROMPTUSER');
  writeln('End Sub');
  writeln('<' + '/SCRIPT>');
}
{/literal}
</script>
<p id="imprimir" align="center"><a href="javascript:;" onClick="return printPage();">IMPRIMIR</a></p>
</td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
