<!-- relatorio_banda.html-->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
<script language="JavaScript">ready = "yes";</script>
<script>
{literal}
var estado=false;

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}
var da = (document.all) ? 1 : 0;
var pr = (window.print) ? 1 : 0;
var mac = (navigator.userAgent.indexOf("Mac") != -1);

function printPage() {
  if (pr) // NS4, IE5
    window.print()
  else if (da && !mac) // IE4 (Windows)
       vbPrintPage()
  else // other browsers
    alert("Desculpe seu browser não suporta esta função. Por favor utilize a barra de trabalho para imprimir a página.");
}

if (da && !pr && !mac) with (document) {
  writeln('<OBJECT ID="WB" WIDTH="0" HEIGHT="0" CLASSID="clsid:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>');
  writeln('<' + 'SCRIPT LANGUAGE="VBScript">');
  writeln('Sub window_onunload');
  writeln('  On Error Resume Next');
  writeln('  Set WB = nothing');
  writeln('End Sub');
  writeln('Sub vbPrintPage');
  writeln('  OLECMDID_PRINT = 6');
  writeln('  OLECMDEXECOPT_DONTPROMPTUSER = 1');
  writeln('  OLECMDEXECOPT_PROMPTUSER = 1');
  writeln('  On Error Resume Next');
  writeln('  WB.ExecWB OLECMDID_PRINT, OLECMDEXECOPT_DONTPROMPTUSER');
  writeln('End Sub');
  writeln('<' + '/SCRIPT>');
}
{/literal}
</script>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle">{if $bandas}
                  <h1>Relat&oacute;rio
                    de Clientes por Banda</h1>
                    		{if $total_contas > 0}
                  <img src="{$smarty.server.PHP_SELF}?{$smarty.server.QUERY_STRING}&extra=grafico"><br>
							{/if}

				  <table width="450" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><table width="450" border="0" cellspacing="0" cellpadding="0">
                          <tr bgcolor="#f1f1f1" align="CENTER">
                            <td width="225">
							<p><strong>Faixa de Banda</strong></p></td>
                            <td width="225">
							<p><strong>Quant. de Clientes</strong></p></td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td>
					  {foreach item=v from=$bandas}
					    <table width="450" border="0" cellspacing="0" cellpadding="0">
                          <tr bgcolor="#FFFFFF" align="CENTER">
                            <td width="225" height="20">
							{if $v.banda != 0}<p><a href="relatorio.php?op=lista_banda&banda={$v.banda}">{$v.banda} kbps</a></p>{/if}{if $v.banda == 0}<p><a href="relatorio.php?op=lista_banda&banda={$v.banda}">Sem Controle</a></p>{/if}</td>
                            <td width="225" height="20">

							<p><a href="relatorio.php?op=lista_banda&banda={$v.banda}">{$v.num_contas}</a></p></td>
                          </tr>
                          <tr bgcolor="#FFFFFF" align="CENTER">
                            <td colspan="2" bgcolor="#999999"><img src="template/default/images/menu/spacer.gif" width="200" height="1"></td>
                          </tr>
                        </table>
						{/foreach}
					  </td>
                    </tr>
                  </table>
				  {/if}
				  <p>{if $contas AND !$msg}</p>
				  <h1>
                  Relat&oacute;rio de Clientes com {$banda} kbps</h1>
				<table width="500" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><table width="500" border="0" cellspacing="0" cellpadding="0">
                          <tr bgcolor="#f1f1f1" align="CENTER">
                            <td width="200" align="LEFT">
                              <p><strong>Nome</strong></p></td>
                            <td width="100" align="LEFT">
								<p><strong>Username </strong></p></td>
                            <td width="100" align="RIGHT">
                              <p><strong>Banda Up</strong></p></td>
                            <td width="100" align="RIGHT">
							<p><strong>Banda Down</strong></p></td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td> {foreach item=v from=$contas}
                        <table width="500" border="0" cellspacing="0" cellpadding="0">
                          <tr bgcolor="#FFFFFF" align="CENTER">
                            <td width="200" align="LEFT"><a href="clientes.php?op=cadastro&id_cliente={$v.id_cliente}">{$v.nome}</a></td>
                            <td width="100" height="20" align="LEFT">
                              <p><a href="clientes.php?op=cadastro&id_cliente={$v.id_cliente}">{$v.username}</a></p></td>
                            <td width="100" height="20" align="RIGHT">
                              <p><a href="clientes.php?op=cadastro&id_cliente={$v.id_cliente}" {if $v.upload_kbps != $banda}style='color: red'{/if}>{$v.upload_kbps}
                                kbps</a>{if $v.upload_kbps != $banda}</font>{/if} </p></td>
                            <td width="100" height="20" align="RIGHT">
                              <p><a href="clientes.php?op=cadastro&id_cliente={$v.id_cliente}" {if $v.download_kbps != $banda}style='color: red'{/if}>{$v.download_kbps}
                                kbps</a> </p></td>
                          </tr>
                          <tr bgcolor="#FFFFFF" align="CENTER">
                            <td colspan="4" bgcolor="#999999"><img src="template/default/images/menu/spacer.gif" width="200" height="1"></td>
                          </tr>
                        </table>
                        {/foreach}</td>
                    </tr>
                  </table>

				  <p><a href="relatorio.php?op=lista_banda">voltar</a></p>
				  {/if}
				  {if $contas && $msg}
				  <table width="450" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td bgcolor="#666666"><table width="450" border="0" cellspacing="1" cellpadding="0">
                          <tr>
                            <td bgcolor="#f1f1f1" height="40" align="CENTER" valign="MIDDLE"><p><b><font color="#000000" size="2">{$msg} - {$banda} kbps</font></b></p></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                  <br>
                  <p><a href="relatorio.php?op=lista_banda">voltar</a>
                  {/if} </p>
                  <p>&nbsp;</p>
                  <p id="imprimir"><a href="javascript:;" onClick="return printPage();">IMPRIMIR</a></p>
                  <p><a href="configuracao.php?op=listar_bandas">Alterar Bandas</a>
                  </p>
                <p></p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
