<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>{ include file='menu_principal.html' }</td>
        </tr>
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"><h1>Carga por {$tipo}</h1>
                  <table width="450" border=0 align="center" cellpadding=0 cellspacing=0>
                    <tr bgcolor="#F0F0F0">
                      <td width=240 align="center"><h2>{$tipo}</h2></td>
                      <td colspan=3  align="center"><h2>CARGA</h2></td>
                    </tr>
                    <tr bgcolor="#FAFAFA">
                      <td width=290 align="center"><h2>..nome..</h2></td>
                      <td width=100 align="center"><h2>..clientes..</h2></td>
                      <td width=170 align="center"><h2>..up (kbps)..</h2></td>
                      <td width=170 align="center"><h2>..down (kbps)..</h2></td>
                    </tr>
                    <tr>
                      <td colspan=4 bgcolor="000000"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><img src="img/nada.gif" width=1 height=1 border=0></font></td>
                    </tr>

                    {foreach item=v from=$carga}

                    <tr bgcolor="{$v.bgcolor}">
                      <td align="left"><p>{$v.nome}</p></td>
                      <td align="center"><p>{$v.clientes_associados}</p></td>
                      <td align="center"><p>{$v.carga_up}</p></td>
                      <td align="center"><p>{$v.carga_down}</p></td>
                    </tr>

                    {/foreach}



                    <!--tr bgcolor="#FFFFFF">
                      <td align="left"><p>AP - Associacao</p></td>
                      <td align="center"><p>158</p></td>
                      <td align="center"><p>25280</p></td>
                      <td align="center"><p>27072</p></td>
                    </tr>
                    <tr bgcolor="#F1F1F1">
                      <td align="left"><p>AP - BOMBA</p></td>
                      <td align="center"><p>103</p></td>
                      <td align="center"><p>18688</p></td>
                      <td align="center"><p>19520</p></td>
                    </tr>
                    <tr bgcolor="#FFFFFF">
                      <td align="left"><p>AP - CANOPY</p></td>
                      <td align="center"><p>0</p></td>
                      <td align="center"><p>-</p></td>
                      <td align="center"><p>-</p></td>
                    </tr>
                    <tr bgcolor="#F1F1F1">
                      <td align="left"><p>AP - COHAB</p></td>
                      <td align="center"><p>19</p></td>
                      <td align="center"><p>4096</p></td>
                      <td align="center"><p>4352</p></td>
                    </tr>
                    <tr bgcolor="#FFFFFF">
                      <td align="left"><p>AP - DVD</p></td>
                      <td align="center"><p>156</p></td>
                      <td align="center"><p>22912</p></td>
                      <td align="center"><p>24256</p></td>
                    </tr>
                    <tr bgcolor="#F1F1F1">
                      <td align="left"><p>AP - Junco</p></td>
                      <td align="center"><p>118</p></td>
                      <td align="center"><p>21888</p></td>
                      <td align="center"><p>24704</p></td>
                    </tr>
                    <tr bgcolor="#FFFFFF">
                      <td align="left"><p>AP - KLN</p></td>
                      <td align="center"><p>47</p></td>
                      <td align="center"><p>7808</p></td>
                      <td align="center"><p>8064</p></td>
                    </tr>
                    <tr bgcolor="#F1F1F1">
                      <td align="left"><p>AP - Wireless Network</p></td>
                      <td align="center"><p>84</p></td>
                      <td align="center"><p>13184</p></td>
                      <td align="center"><p>14080</p></td>
                    </tr>
                    <tr bgcolor="#FFFFFF">
                      <td align="left"><p>AP TCV</p></td>
                      <td align="center"><p>18</p></td>
                      <td align="center"><p>2880</p></td>
                      <td align="center"><p>3328</p></td>
                    </tr>
                    <tr bgcolor="#F1F1F1">
                      <td align="left"><p>POP - Picos Hotel</p></td>
                      <td align="center"><p>3</p></td>
                      <td align="center"><p>384</p></td>
                      <td align="center"><p>384</p></td>
                    </tr>
                    <tr bgcolor="#FFFFFF">
                      <td align="left"><p>Sao Raimundo Nonato</p></td>
                      <td align="center"><p>39</p></td>
                      <td align="center"><p>3872</p></td>
                      <td align="center"><p>3872</p></td>
                    </tr-->
                  </table>
                  <p>&nbsp;</p>
                  <p>&nbsp;
                  </p>
                  <p>&nbsp;</p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="20" align="center" bgcolor="#BCD3C4"><table width="400" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">&copy;
              Mosman Consultoria - Todos os Direitos Reservados</font></div></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
