<!-- RELATORIO_CIDADES_PRODUTOS.HTML -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"> <h1>Relatório</h1> 
                  <table width="600" border="0" cellspacing="0" cellpadding="0">
                    <tr bgcolor="#E6ECE9"> 
                      <td width="300"><p><strong>Cidade</strong></p></td>
                      <td width="100" align="CENTER"> <p><strong>Status</strong></p></td>
                      <td width="100" align="LEFT">
<p><strong>Tipo de Produto</strong></p></td>
                      <td width="100" align="LEFT">
<p><strong>Quantidade</strong><strong></strong></p></td>
                    </tr>
                    <tr> 
                      <td colspan="4"><table width="600" border="0" cellspacing="2" cellpadding="0">
                          {assign var="blb" value="0"} {assign var="bla" value="0"} 
                          {assign var="da" value="0"} {assign var="db" value="0"} 
                          {assign var="ha" value="0"} {assign var="hb" value="0"}	
                          {foreach item=a from=$dados} 
                          <tr bgcolor="{cycle values="#ffffff,#f1f1f1"}"> 
                            <td width="300" valign="TOP"> <p><a href="relatorio.php?op=cidade_cliente&acao=sub_cid&id_cidade={$a.id}&sop=contratos">{$a.cidade}</a></p></td>
                            <td width="300"> <table>
                                {foreach item=b from=$a.dados} 
                                <TR align="CENTER" valign="TOP"> 
                                  <TD width="100"> <p>{if $b.status|trim == "A"}ATIVO{elseif $b.status|trim == "B"}BLOQUEADO{/if}</p></TD>
                                  <td width="100" align="LEFT"> 
                                    <p>{if $b.tipo_conta|trim == 
                                      "H"} Hospedagem {/if}{if $b.tipo_conta|trim 
                                      == "D"} Discado {/if}{if $b.tipo_conta|trim 
                                      == "BL"} Banda Larga {/if}</p></td>
                                  <td width="100" align="LEFT"> 
                                    <p>{$b.quantidade}</p></td>
                                </TR>
                                <!--{$b.status} - {if $b.tipo_conta|trim == "H"} Hospedagem {/if}{if $b.tipo_conta|trim == "D"} Discado {/if}{if $b.tipo_conta|trim == "BL"} Banda Larga {/if} - {$b.quantidade}<br>-->
                                {if $b.status|trim == "B" AND $b.tipo_conta|trim 
                                == "BL"} {$b.status} - {$b.tipo_conta} {assign 
                                var="blb" value=$blb+$b.quantidade} {elseif $b.status|trim 
                                == "A" AND $b.tipo_conta|trim == "BL"} {assign 
                                var="bla" value=$bla+$b.quantidade} {elseif $b.status|trim 
                                == "B" AND $b.tipo_conta|trim == "D"} {assign 
                                var="db" value=$db+$b.quantidade} {elseif $b.status|trim 
                                == "A" AND $b.tipo_conta|trim == "D"} {assign 
                                var="da" value=$da+$b.quantidade} {elseif $b.status|trim 
                                == "B" AND $b.tipo_conta|trim == "H"} {assign 
                                var="hb" value=$hb+$b.quantidade} {elseif $b.status|trim 
                                == "A" AND $b.tipo_conta|trim == "H"} {assign 
                                var="ha" value=$ha+$b.quantidade} {/if} {/foreach} 
                              </table></td>
                          </tr>
                          {/foreach} </table></td>
                    </tr>
                  </table>
                  <h2>Totais</h2>
                  <table width="600" border="0" cellspacing="2" cellpadding="0">
                    <tr>
                      <td colspan="2" align="center" bgcolor="#85B197"><p><strong>Banda Larga </strong></p></td>
                      <td colspan="2" align="center" bgcolor="#85B197"><p><strong>Discado</strong></p></td>
                      <td colspan="2" align="center" bgcolor="#85B197"><p><strong>Hospedagem</strong></p></td>
                    </tr>
                    <tr>
                      <td width="100" align="center" bgcolor="#D6E4DC"><p><strong>Bloqueados</strong></p></td>
                      <td width="100" align="center" bgcolor="#D6E4DC"><p><strong>Ativos</strong></p></td>
                      <td width="100" align="center" bgcolor="#D6E4DC"><p><strong>Bloqueados</strong></p></td>
                      <td width="100" align="center" bgcolor="#D6E4DC"><p><strong>Ativos</strong></p></td>
                      <td width="100" align="center" bgcolor="#D6E4DC"><p><strong>Bloqueados</strong></p></td>
                      <td width="100" align="center" bgcolor="#D6E4DC"><p><strong>Ativos</strong></p></td>
                    </tr>
                    <tr>
                      <td align="center"><p>{$blb}</p></td>
                      <td align="center"><p>{$bla}</p></td>
                      <td align="center"><p>{$db}</p></td>
                      <td align="center"><p>{$da}</p></td>
                      <td align="center"><p>{$hb}</p></td>
                      <td align="center"><p>{$ha}</p></td>
                    </tr>
                  </table>                  
                  <p>&nbsp;</p>
				</td>
					  </tr>
                  </table>

                  <p><a href="#" onCLick="javascript:history.back()">Voltar</a></p>

                  
            <script language="JavaScript">ready = "yes";</script> <script>
{literal}
var estado=false;

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}
var da = (document.all) ? 1 : 0;
var pr = (window.print) ? 1 : 0;
var mac = (navigator.userAgent.indexOf("Mac") != -1);

function printPage() {
  if (pr) // NS4, IE5
    window.print()
  else if (da && !mac) // IE4 (Windows)
       vbPrintPage()
  else // other browsers
    alert("Desculpe seu browser não suporta esta função. Por favor utilize a barra de trabalho para imprimir a página.");
}

if (da && !pr && !mac) with (document) {
  writeln('<OBJECT ID="WB" WIDTH="0" HEIGHT="0" CLASSID="clsid:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>');
  writeln('<' + 'SCRIPT LANGUAGE="VBScript">');
  writeln('Sub window_onunload');
  writeln('  On Error Resume Next');
  writeln('  Set WB = nothing');
  writeln('End Sub');
  writeln('Sub vbPrintPage');
  writeln('  OLECMDID_PRINT = 6');
  writeln('  OLECMDEXECOPT_DONTPROMPTUSER = 1');
  writeln('  OLECMDEXECOPT_PROMPTUSER = 1');
  writeln('  On Error Resume Next');
  writeln('  WB.ExecWB OLECMDID_PRINT, OLECMDEXECOPT_DONTPROMPTUSER');
  writeln('End Sub');
  writeln('<' + '/SCRIPT>');
}
{/literal}
</script> 
            <p id="imprimir" align="center"><a href="javascript:;" onClick="return printPage();">IMPRIMIR</a></p>

				</td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
