<html>
<head>
<title>Main</title>
</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="60"> 
      <table width="703" height="50" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr> 
          <td width="18%"><div align="center">Logotipo</div></td>
          <td width="82%"> <div align="center"><strong>VIRTEX ADMIN - PAINEL DE 
              CONTROLE </strong> </div></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td colspan="2">{include file='menu_principal.html'}
</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p>&nbsp;</p>
      <tr>
    <td class=td_main >
        <table width="97%" border="0" align="center" cellpadding="0" cellspacing="1" class=main>
          <tr>
            <td colspan="2">
<br>
<table border=0 width="450" cellspacing=0 cellpadding=0>
   <tr bgcolor="#F0F0F0">
      <td width=240 align="center"><font face="arial" size="-1"><b>NAS</b></td>
      <td colspan=3  align="center"><font face="arial" size="-1"><b>CARGA</b></td>
   </tr>
   <tr bgcolor="#FAFAFA">
      <td width=290 align="left"><font face="arial" size="-1"><b>..nome..</b></td>
      <td width=100 align="center"><font face="arial" size="-1"><b>..clientes..</b></td>
      <td width=170 align="center"><font face="arial" size="-1"><b>..up (kbps)..</b></font></td>
      <td width=170 align="center"><font face="arial" size="-1"><b>..down (kbps)..</b></font></td>
   </tr>
   <tr>
      <td colspan=4 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#FFFFFF">
      <td align="left"><font face="arial" size=-1>SRNonato</font></td>
      <td align="center"><font face="arial" size=-1>53</font></td>
      <td align="center"><font face="arial" size=-1>5280</font></td>
      <td align="center"><font face="arial" size=-1>5280</font></td>
   </tr>

   <tr bgcolor="#F1F1F1">
      <td align="left"><font face="arial" size=-1>srv-ip</font></td>
      <td align="center"><font face="arial" size=-1>590</font></td>
      <td align="center"><font face="arial" size=-1>98112</font></td>
      <td align="center"><font face="arial" size=-1>104704</font></td>
   </tr>

   <tr bgcolor="#FFFFFF">
      <td align="left"><font face="arial" size=-1>srv-pppoe</font></td>
      <td align="center"><font face="arial" size=-1>130</font></td>
      <td align="center"><font face="arial" size=-1>22080</font></td>
      <td align="center"><font face="arial" size=-1>24000</font></td>
   </tr>

</table>
</p> </td>
  </tr>
</table>
</body>


</html>
