<!-- relatorio_config_cliente.html-->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
<script language="JavaScript">ready = "yes";</script>
<script>
{literal}
var estado=false;

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}
var da = (document.all) ? 1 : 0;
var pr = (window.print) ? 1 : 0;
var mac = (navigator.userAgent.indexOf("Mac") != -1);

function printPage() {
  if (pr) // NS4, IE5
    window.print()
  else if (da && !mac) // IE4 (Windows)
       vbPrintPage()
  else // other browsers
    alert("Desculpe seu browser não suporta esta função. Por favor utilize a barra de trabalho para imprimir a página.");
}

if (da && !pr && !mac) with (document) {
  writeln('<OBJECT ID="WB" WIDTH="0" HEIGHT="0" CLASSID="clsid:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>');
  writeln('<' + 'SCRIPT LANGUAGE="VBScript">');
  writeln('Sub window_onunload');
  writeln('  On Error Resume Next');
  writeln('  Set WB = nothing');
  writeln('End Sub');
  writeln('Sub vbPrintPage');
  writeln('  OLECMDID_PRINT = 6');
  writeln('  OLECMDEXECOPT_DONTPROMPTUSER = 1');
  writeln('  OLECMDEXECOPT_PROMPTUSER = 1');
  writeln('  On Error Resume Next');
  writeln('  WB.ExecWB OLECMDID_PRINT, OLECMDEXECOPT_DONTPROMPTUSER');
  writeln('End Sub');
  writeln('<' + '/SCRIPT>');
}
{/literal}
</script>

</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"><h1>Clientes no {$tipo} - {$infra.nome}</h1>
                  <table width="500" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr bgcolor="#f1f1f1"> 
                            <td width="200"> 
                              <p><strong>Nome</strong></p></td>
                            <td width="100"> 
                              <p><strong>Username</strong></p></td>
                            <td width="150"> 
                            </td>
                            <td width="50">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td>
					  {foreach item=v from=$lista}
					  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr bgcolor="#FFFFFF"> 
                            <td width="200"> <p><a href="clientes.php?op=cadastro&id_cliente={$v.id_cliente}">{$v.nome_razao}</a></p></td>
                            <td width="100"> <p><a href="clientes.php?op=cadastro&id_cliente={$v.id_cliente}">{$v.username}</a></p></td>
                            {if $v.ipaddr}<td width="150"> <p><a href="clientes.php?op=cadastro&id_cliente={$v.id_cliente}">{$v.ipaddr}</a></p></td>{/if}
							<!-- {if $v.rede}<td width="75"> <p>{$v.rede}</p></td>{/if} -->
                            <td width="50" align="CENTER"><img src="template/default/images/estatisticas.gif" width="16" height="16"></td>
                          </tr>
                          <tr bgcolor="#FFFFFF"> 
                            <td colspan="4" bgcolor="#999999"><img src="template/default/images/menu/spacer.gif" width="200" height="1"></td>
                          </tr>
                        </table>
						{/foreach}
					  </td>
                    </tr>
                  </table>
                  <p id="imprimir" align="center"><a href="javascript:;" onClick="return printPage();">IMPRIMIR</a></p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
