<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
<script language="JavaScript">ready = "yes";</script>
<script>
{literal}
var estado=false;

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}
var da = (document.all) ? 1 : 0;
var pr = (window.print) ? 1 : 0;
var mac = (navigator.userAgent.indexOf("Mac") != -1);

function printPage() {
  if (pr) // NS4, IE5
    window.print()
  else if (da && !mac) // IE4 (Windows)
       vbPrintPage()
  else // other browsers
    alert("Desculpe seu browser não suporta esta função. Por favor utilize a barra de trabalho para imprimir a página.");
}

if (da && !pr && !mac) with (document) {
  writeln('<OBJECT ID="WB" WIDTH="0" HEIGHT="0" CLASSID="clsid:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>');
  writeln('<' + 'SCRIPT LANGUAGE="VBScript">');
  writeln('Sub window_onunload');
  writeln('  On Error Resume Next');
  writeln('  Set WB = nothing');
  writeln('End Sub');
  writeln('Sub vbPrintPage');
  writeln('  OLECMDID_PRINT = 6');
  writeln('  OLECMDEXECOPT_DONTPROMPTUSER = 1');
  writeln('  OLECMDEXECOPT_PROMPTUSER = 1');
  writeln('  On Error Resume Next');
  writeln('  WB.ExecWB OLECMDID_PRINT, OLECMDEXECOPT_DONTPROMPTUSER');
  writeln('End Sub');
  writeln('<' + '/SCRIPT>');
}
{/literal}
</script>





</head>
<body><h1 align="center">Relat&oacute;rio</h1>
<p align="center"><font size="3"><b>{if $mes}Adesões em {$meses_ano[$mes]} de {$ano}{else}Adesões{/if}</b>
  </font></p>
{if $acao == "geral"} <form action="{$smarty.server.PHP_SELF}" method="GET"> 
<input type="HIDDEN" name="acao" value="{$acao}">
<input type="HIDDEN" name="op" value="{$op}">
<table align="CENTER" width="300" border="0" cellspacing="3" cellpadding="0">
  <TR> 
  <td><div align="CENTER"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><strong>Per&iacute;odo</strong></font></div></td>
    <td><div align="CENTER"> 
      <select name="periodo">
									{foreach key=id item=nome from=$tpconsulta}
										 
        <option value="{$id}" {if $id==$periodo} SELECTED {/if}>{$nome}</option>
									{/foreach}

								 
      </select>
      </div></td>
    <td><div align="CENTER"> 
      <input type="submit" value="OK">
      </div></td>
  </tr>
</table>
</form>
{/if}
<p align="center">{if $acao == geral}<img src="{$smarty.server.PHP_SELF}?{$smarty.server.QUERY_STRING}&extra=grafico">{/if}</p>
<BR>
<p> {if $acao == "geral"} {if $relat} 
  <!-- 	COMEÇO DO acao = geral -->
<table width="450" border="0" cellspacing="0" cellpadding="0" align="CENTER">
  <tr> 
    <td><table width="450" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="110" align="LEFT"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Per&iacute;odo</font></td>
          <td width="100" align="right"><p>Banda Larga</p></td>
          <td width="80" align="right"><p>Discado</p></td>
          <td width="80" align="right"><p>Hospedagem</p></td>
          <td width="80" align="RIGHT"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b>TOTAL</b></font></td>
        </tr>
        {foreach item=a from=$relat} 
        <tr> 
          <td align="LEFT"><p><a href="relatorio.php?op={$op}&acao=sub_ade&ano={$a.ano}&mes={$a.mes}">{$meses_ano[$a.mes]}/{$a.ano}</a></p></td>
          <td align="right"><p>{$a.BL} &nbsp; &nbsp; </p></td>
          <td align="right"><p>{$a.D} &nbsp; &nbsp; </p></td>
          <td align="right"><p>{$a.H} &nbsp; &nbsp; </p></td>
          <td align="RIGHT"><p><a href="relatorio.php?op={$op}&acao=sub_ade&ano={$a.ano}&mes={$a.mes}">{$a.num_contratos}</a></p></td>
        </tr>
        <tr bgcolor="#999999"> 
          <td colspan="11" height="1"></td>
        </tr>
       {/foreach}</table></td>
  </tr>
</table>
<!-- 	FIM DO acao = geral -->
{else} <font face="verdana" size="2" color="black"><b>N&atilde;o Existem Ades&otilde;es 
para o periodo especificado</b></font> {/if} {elseif $acao == "sub_ade"}
{if !$relat}<strong><p align="center">Não existem adesões na data escolhida.</p>
</strong>{else} 
<table width="500" border="0" cellspacing="0" cellpadding="0" ALIGN="center">
  <tr> 
    <td><table width="500" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td bgcolor="#F1F1F1"><table width="500" border="0" cellspacing="2" cellpadding="0">
              <tr> 
                <td width="80" align="CENTER"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Data</font></td>
                <td width="200" align="LEFT"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Cliente</font></td>
                <td align="CENTER"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Tipo</font></td>
                <td width="150" align="LEFT"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Produto</font></td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td>
		   {foreach item=a from=$relat} 
            <table width="500" border="0" cellspacing="2" cellpadding="0">
              <tr> 
                <td width="80" align="CENTER"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                  <p>{$a.dia}-{$a.mes}-{$a.ano}</p>
                  </font></td>
                <td width="200" align="LEFT"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                  <p><a href="clientes.php?op=cadastro&id_cliente={$a.id_cliente}">{$a.nome_razao}</a></p>
                  </font></td>
                <td align="CENTER"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                  <p><img src="template/default/images/{$a.tipo|lower|trim}.gif" width="24" height="24"></p>
                  </font></td>
                <td width="150" align="LEFT"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                  <p>{$a.nome}</p>
                  </font></td>
              </tr>
              <tr bgcolor="#999999"> 
                <td colspan="5" height="1"></td>
              </tr>
            </table>
            {/foreach}</td>
        </tr>
      </table>{/if}</td>
  </tr>
</table><br>
<p align="center"><a href="relatorio.php?op=adesao">voltar para relatorio geral de Adesões</a></p><br>
{/if} </p>
<p id="imprimir" align="center"><a href="javascript:;" onClick="return printPage();">IMPRIMIR</a></p>
</body>
</html>
