<html>
<head>
<!-- <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<title>Main</title>
</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="102%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="60"> 
      <table width="100%" height="50" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr> 
          <td width="18%"><div align="center">Logotipo</div></td>
          <td width="82%"> <div align="center"><strong>VIRTEX ADMIN - PAINEL DE 
              CONTROLE </strong> </div></td>
        </tr>
        <tr> 
          <td colspan="2"><table width="100%" border="0" cellspacing="2" cellpadding="0">
              <tr align="center" valign="top" bgcolor="#F4F4F4"> 
                <td><strong>Clientes</strong><br> &raquo; <a href="search_clientes.html">Pesquisa</a><br> 
                  &raquo; <a href="cadastro_clientes.html">Cadastro</a><br> &raquo; 
                  <a href="elimina_clientes.html">Eliminar Reg</a>.</td>
                <td><strong>Cobranca</strong><br> &raquo; <a href="cobr_bloqueados.html">Bloqueados</a><br> 
                  &raquo; <a href="produtos.html">Produtos/Planos</a><br> </td>
                <td><strong>Suporte</strong><br> &raquo; <a href="sup_graficos.html">Graficos</a><br> 
                  &raquo; <a href="suporte_radius.html">Log Radius</a><br> &raquo; 
                  <a href="suporte_monitor.html">Monitoramento</a><br> &raquo; 
                  <a href="suporte_calc.html">Calculadora IP</a><br> &raquo; <a href="suporte_arp.html">ARP</a></td>
                <td><strong>Configura&ccedil;&otilde;es<br>
                  </strong>&raquo; <a href="conf_pop.html">POPs</a><br> &raquo; 
                  <a href="conf_nas.html">NAS</a><br> &raquo; <a href="conf_monitor.html">Monitoramento</a></td>
                <td><strong>Administradores</strong><br> &raquo; <a href="admin_senha.html">Alterar 
                  Senha</a><br> &raquo; <a href="admin_cadastro.html">Cadastro</a></td>
                <td><p><strong>Relat&oacute;rios</strong><br>
                    &raquo; Cobran&ccedil;a &gt;<br>
                    - <a href="relat_faturas.html">Faturas</a><br>
                    - <a href="relat_cobcortesias.html">Cortesias</a><br>
                    &raquo; Clientes &gt;<br>
                    - <a href="relat_clientesgeral.html">Lista Geral</a><br>
                    - <a href="relat_clientesestatisticas.html">Estat&iacute;sticas</a><br>
                    - <a href="relat_clientes_filtros.html">Filtros</a><br>
                    &raquo; Configura&ccedil;&otilde;es<br>
                    - <a href="relat_confap.html">Carga por AP</a><br>
                    - <a href="relat_confpop.html">Carga por POP</a><br>
                    - <a href="relat_confnas.html">Carga por NAS</a><br>
                    &raquo; Administradores<br>
                    - <a href="admin_lista.html">Listagem</a></p></td>
                <td><a href="main.html">home</a></td>
                <td><a href="http://www.mosman.com.br/helpdesk.php" target="_blank">suporte</a></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p>Pesquisa pelo Cliente</p>
      <form name="form1" method="post" action="">
        <table width="400" border="0" cellspacing="1" cellpadding="1">
          <tr align="center"> 
            <td> <input name="textfield" type="text" size="50"> </td>
          </tr>
          <tr> 
            <td>
              <table width="400" border="0" cellspacing="2" cellpadding="0">
                <tr> 
                  <td><label> 
                    <input type="radio" name="RadioGroup1" value="nome">
                    Nome</label> </td>
                  <td><label> 
                    <input type="radio" name="RadioGroup1" value="CPF">
                    CPF/CNPJ</label> </td>
                  <td><label> 
                    <input type="radio" name="RadioGroup1" value="email">
                    E-mail</label> </td>
                  <td><label> 
                    <input type="radio" name="RadioGroup1" value="cod">
                    Codigo</label> </td>
                </tr>
              </table></td>
          </tr>
          <tr> 
            <td align="center"><input type="submit" name="Submit" value="search"></td>
          </tr>
        </table>
      </form>
      <table width="750" border="0" cellspacing="0" cellpadding="0">
        <tr align="center"> 
          <td>Cod.</td>
          <td>Nome</td>
          <td colspan="6">A&ccedil;&otilde;es</td>
        </tr>
        <tr> 
          <td>100</td>
          <td>Jos&eacute; da Silva</td>
          <td><a href="ficha_cliente.html">Ficha</a></td>
          <td><a href="e-mails_cliente.html">e-mail</a></td>
          <td><a href="discado_clientes.html">discado</a></td>
          <td><a href="bl_clientes.html">BLarga</a></td>
          <td><a href="hospeda.html">Hospeda</a></td>
          <td><a href="cobranca.html">Cobr</a></td>
        </tr>
        <tr> 
          <td bgcolor="#F4F4F4">2024</td>
          <td bgcolor="#F4F4F4">Austrag&eacute;sio de Morais</td>
          <td bgcolor="#F4F4F4"><a href="ficha_cliente.html">Ficha</a></td>
          <td bgcolor="#F4F4F4"><a href="e-mails_cliente.html">e-mail</a></td>
          <td bgcolor="#F4F4F4">&nbsp;</td>
          <td bgcolor="#F4F4F4"><a href="bl_clientes.html">BLarga</a></td>
          <td bgcolor="#F4F4F4">&nbsp;</td>
          <td bgcolor="#F4F4F4"><a href="cobranca.html">Cobr</a></td>
        </tr>
        <tr> 
          <td>564</td>
          <td>Mario Soares</td>
          <td><a href="ficha_cliente.html">Ficha</a></td>
          <td><a href="e-mails_cliente.html">e-mail</a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><a href="hospeda.html">Hospeda</a></td>
          <td><a href="cobranca.html">Cobr</a></td>
        </tr>
        <tr> 
          <td bgcolor="#F4F4F4">128</td>
          <td bgcolor="#F4F4F4">Ivone Menezes</td>
          <td bgcolor="#F4F4F4"><a href="ficha_cliente.html">Ficha</a></td>
          <td bgcolor="#F4F4F4"><a href="e-mails_cliente.html">e-mail</a></td>
          <td bgcolor="#F4F4F4">&nbsp;</td>
          <td bgcolor="#F4F4F4"><a href="bl_clientes.html">BLarga</a></td>
          <td bgcolor="#F4F4F4">&nbsp;</td>
          <td bgcolor="#F4F4F4"><a href="cobranca.html">Cobr</a></td>
        </tr>
      </table>
      <p>&nbsp;</p>
      <p>&nbsp;</p> </td>
  </tr>
</table>
</body>


</html>
