<!-- SUPORTE_GRAFICO.HTML -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
{literal}
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
</script>
{/literal}
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"><p><br>
                  </p>
                  <h1>Gráficos</h1>
                  <table width="400" border="0" cellspacing="0" cellpadding="0" bgcolor="#666666">
                    <tr>
                      <td><table width="400" border="0" cellspacing="1" cellpadding="0">
                          <tr>
                            <td bgcolor="#CCCCCC"><form name="form1" method="post" action="">
                              <table width="400" border="0" cellspacing="2" cellpadding="0">
                                <tr>
                                  <td align="CENTER"><p><strong>Escolha o POP</strong></p></td>
                                </tr>
                                <tr>
                                  <td align="CENTER"><select name="pesquisa" id="pesquisa">
								  		<option value=""></option>
                                        {foreach item=a from=$pops}
										<option value="{$a.id_pop}" {if $a.id_pop == $pesquisa}SELECTED{/if}>{$a.nome}</option>
										{/foreach}
                                    </select>
                                    <input type="submit" name="Submit" value="OK"></td>
                                </tr>
                              </table>
                              </form></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
                  <p>&nbsp;</p>
                  <table width="530" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td>
					  {if $cli || $cli != ""}
					    <table width="550" border="0" cellspacing="1" cellpadding="0">
                          <tr bgcolor="#f1f1f1">
                            <td width="150"><p><strong>Usu&aacute;rio</strong></p></td>
                            <td width="150"><p><strong>MAC</strong></p></td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td>

					  {foreach item=a from=$cli}
					    <table width="530" border="0" cellspacing="1" cellpadding="0">
                          <tr>
                            <td colspan="2"><div align="CENTER"><img src="template/default/images/demonstracao_grafico.png" width="497" height="154"></div></td>
                          </tr>
                          <tr>
                            <td width="150"><a href="javascript:;" onClick="MM_openBrWindow('suporte.php?op=graf&rotina=mostra','graf','scrollbars=yes,width=550,height=500')"><font color="#000066">{$a.username}</font></a></td>
                            <td width="150"><a href="javascript:;" onClick="MM_openBrWindow('suporte.php?op=graf&rotina=mostra','graf','scrollbars=yes,width=550,height=500')">{$a.mac}</a></td>
                          </tr>
                          <tr bgcolor="#CCCCCC">
                            <td colspan="2" height="1"></td>
                          </tr>
                        </table>
						{/foreach}

						</td>
                    </tr>
                  </table>
				  {/if}
                  <p>&nbsp;</p>
    <p>&nbsp;</p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
