<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="refresh" content="60" />
<link href="template/default/estilos1.css"  type="text/css" rel="stylesheet"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
{literal}
<style type="text/css">
<!--
.style6 {
	color: #DDDDDD;
	font-weight: bold;
}
-->
</style>
{/literal}
</head>

<body>
<h1 align="center"> Informa&ccedil;&otilde;es de Monitoramento	</h1>
<table width="602" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #D8E7DB;">

  <tr>
    <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #FFFFFF" >
      <tr>
        <td height="20" bgcolor="#F3F8F4" style="border:1px solid #FFFFFF;"><p><strong>Pop</strong></p></td>
		 <td height="20" bgcolor="#F3F8F4" style="border:1px solid #FFFFFF;"><p><strong>IP</strong></p></td>
        <td bgcolor="#F3F8F4"  style="border:1px solid #FFFFFF;"><p align="center"><strong>Status</strong></p></td>
        <td colspan="5" bgcolor="#F3F8F4"  style="border:1px solid #FFFFFF;"><p align="center"><strong>Ping</strong></p></td>
      </tr>
      <tr>
        <td bgcolor="#F9FBF9" style="border:1px solid #FFFFFF;">&nbsp;</td>
		 <td bgcolor="#F9FBF9" style="border:1px solid #FFFFFF;">&nbsp;</td>
        <td bgcolor="#F9FBF9" style="border:1px solid #FFFFFF;">&nbsp;</td>
		 <td bgcolor="#F5F5F5" style="border:1px solid #FFFFFF;"><p align="center"><strong>p.enviados</strong></p></td>
        <td bgcolor="#F5F5F5" style="border:1px solid #FFFFFF;"><p align="center"><strong>perdas</strong></p></td>       
        <td bgcolor="#ECFBFB" style="border:1px solid #FFFFFF;"><p align="center"><strong>m&iacute;nimo</strong></p></td>
        <td bgcolor="#FFF2F4" style="border:1px solid #FFFFFF;"><p align="center"><strong>m&aacute;ximo</strong></p></td>
        <td bgcolor="#FFFFEA" style="border:1px solid #FFFFFF;"><p align="center"><strong>m&eacute;dia</strong></p></td>
      </tr>
	  <tr>
                                  <td height="1px" colspan="8" align="center" valign="middle" bgcolor="#DFDFDF"><img src="template/default/images/menu/spacer.gif" height="1"/></td>
        </tr>
      {foreach item=a from=$rel_monitoramento}
  <tr  onMouseOver="style.background='#FFFFFF';" onMouseOut="style.background='#FBFDFB';"> 
    <td bgcolor="#FBFDFB"  style="border:1px solid #FFFFFF;"><p>{$a.nome}</p></td>
	 <td bgcolor="#F9FBF9" style="border:1px solid #FFFFFF;"><p align="left">{$a.ipaddr}</p></td>
    <td bgcolor="#FBFDFB"  style="border:1px solid #FFFFFF;"><p align="center"><img src="template/default/images/{$a.status}.gif" /></p></td>
	<td bgcolor="#FCFCFC"  style="border:1px solid #FFFFFF;"><p align="center">{$a.num_ping}</p></td>
    <td bgcolor="#FCFCFC"  style="border:1px solid #FFFFFF;"><p align="center">{$a.num_perdas}</p></td>  
    <td bgcolor="#FCFCFC"  style="border:1px solid #FFFFFF;"><p align="center">{assign var='minimo' value=$a.min_ping/1000}{if $minimo=="0"}<b>T.E.</b>{else}{$minimo}{/if}</p></td>
    <td bgcolor="#FCFCFC"  style="border:1px solid #FFFFFF;"><p align="center">{assign var='maximo' value=$a.max_ping/1000}{if $maximo=="0"}<b>T.E.</b>{else}{$maximo}{/if}</p></td>
    <td bgcolor="#FCFCFC"  style="border:1px solid #FFFFFF;"><p align="center">{assign var='media' value=$a.media_ping/1000}{if $media=="0"}<b>T.E.</b>{else}{$media}{/if}</p></td>
  </tr>
 <tr>
                                  <td height="1px" colspan="8" align="center" valign="middle" bgcolor="#DFDFDF"><img src="template/default/images/menu/spacer.gif" height="1"/></td>
        </tr>
      {/foreach}
    </table></td>
  </tr>
</table>
<p align="center" class="style6">T.E. = Tempo Esgotado </p>
</body>
</html>
