<html>
<head>
<title>Main</title>
</head> 

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="104%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="60"> 
      <table width="100%" height="50" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr> 
          <td width="100%"><table width="100%" height="50" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
              <tr> 
                <td width="18%"><div align="center">Logotipo</div></td>
                <td width="82%"> <div align="center"><strong>VIRTEX ADMIN - PAINEL 
                    DE CONTROLE </strong> </div></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td>{include file='menu_principal.html'}</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><p>&nbsp;</p>
      <p><table class=table_main width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F0f0f0">
  <tr>
    <th class=th_main align="left"><font face="Arial" size="+1"><b>LOG RADIUS</b></font></th>
  </tr>
</table>
<table class=table_main width="90%" border="0" align="center" cellpadding="0" cellspacing="0" >
  <tr>
    <td class=td_main >
        <table width="97%" border="0" align="center" cellpadding="0" cellspacing="1" class=main>
          <tr>
            <td colspan="2">
<br><br>



<table class=table_main width="100%" _height="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class=td_main width="100%" _height_="100%" align="center" valign="middle">
	<form name=formulario method="get" action="/~virtsys/admin.php">
	<br>
	<table border=0  _bgcolor="#000000" cellspacing=1 cellpadding=1 width="90%">
		<tr>
			<td align="center">
			
				<table border=0 cellspacing=0>
					<tr>
						<td>Analisar últimas</td>
						<td><input type="text" name="limite" value="50"> entradas</td>
					</tr>
					<tr>
						<td>Consultar usuario</td>
						<td><input type="text" name="username" value=""></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><input name="botao_enviar" type="submit" class=input2 id="submit" value="atualizar &gt;&gt;" style="border: 1px solid #444444; font-size: 10px; background-color: #f3f3f3;"></td>
					</tr>

				</table>
			
				<hr size=1>
				
			</td>
		</tr>
	</table>
	</form></td>
  </tr>
</table>




<table border=0 width="800" cellspacing=0 cellpadding=0 align="center">
   <tr bgcolor="#FAFAFA">
      <td width=100><font face="arial" size="-1"><b>..usuario..</b></font></td>
      <td width=2>|</td>
      <td width=100 align="center"><font face="arial"><b>..origem..</b></font></td>
      <td width=2>|</td>
      <td width=120 align="center"><font face="arial"><b>..mensagem..</b></font></td>
      <td width=2>|</td>
      <td width=120 align="center"><font face="arial"><b>..inicio..</b></font></td>
      <td width=2>|</td>
      <td width=120 align="center"><font face="arial"><b>..fim..</b></font></td>
      <td width=2>|</td>
      <td width=60 align="center"><font face="arial"><b>..tempo..</b></font></td>
      <td width=2>|</td>
      <td width=90 align="center"><font face="arial"><b>..bytes..</b></font></td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> zerafael </td>
      <td width=2>|</td>
      <td align="center"> 8934571949 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:20:31 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#FF0000">
      <td> geraldo </td>
      <td width=2>|</td>
      <td align="center"> 8934571949 </td>
      <td width=2>|</td>
      <td align="right">Usuario inexistente</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:20:18 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:20:18 </td>
      <td width=2>|</td>
      <td align="center"> 00:00:00 </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> sentel </td>
      <td width=2>|</td>
      <td align="center"> 8934623985 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:19:45 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> j.morais </td>
      <td width=2>|</td>
      <td align="center"> 8934571949 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:19:25 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#FF0000">
      <td> geraldo </td>
      <td width=2>|</td>
      <td align="center"> 8934571949 </td>
      <td width=2>|</td>
      <td align="right">Usuario inexistente</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:19:22 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:19:22 </td>
      <td width=2>|</td>
      <td align="center"> 00:00:00 </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> sas </td>
      <td width=2>|</td>
      <td align="center"> 8934481256 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:18:29 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#FF0000">
      <td> geraldo </td>
      <td width=2>|</td>
      <td align="center"> 8934571949 </td>
      <td width=2>|</td>
      <td align="right">Usuario inexistente</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:18:22 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:18:22 </td>
      <td width=2>|</td>
      <td align="center"> 00:00:00 </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> apischelpicos </td>
      <td width=2>|</td>
      <td align="center"> 8934228015 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:18:18 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#FF0000">
      <td> geraldo </td>
      <td width=2>|</td>
      <td align="center"> 8934571949 </td>
      <td width=2>|</td>
      <td align="right">Usuario inexistente</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:18:04 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:18:04 </td>
      <td width=2>|</td>
      <td align="center"> 00:00:00 </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> dd </td>
      <td width=2>|</td>
      <td align="center"> 00:02:2d:66:93:08 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:17:56 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> SINDICATO </td>
      <td width=2>|</td>
      <td align="center"> 8934980058 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:17:50 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> nutritivomel </td>
      <td width=2>|</td>
      <td align="center"> 8934821073 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:17:46 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> Almir </td>
      <td width=2>|</td>
      <td align="center"> 8934623985 </td>
      <td width=2>|</td>
      <td align="right">199</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:16:37 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:21:16 </td>
      <td width=2>|</td>
      <td align="center"> 00:04:38 </td>
      <td width=2>|</td>
      <td align="center"> 53878/302168 </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> luzilete </td>
      <td width=2>|</td>
      <td align="center"> 8934821197 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:16:32 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#FF0000">
      <td> geraldo </td>
      <td width=2>|</td>
      <td align="center"> 8934571949 </td>
      <td width=2>|</td>
      <td align="right">Usuario inexistente</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:16:31 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:16:31 </td>
      <td width=2>|</td>
      <td align="center"> 00:00:00 </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> zerafael </td>
      <td width=2>|</td>
      <td align="center"> 8934571949 </td>
      <td width=2>|</td>
      <td align="right">189</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:16:11 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:18:45 </td>
      <td width=2>|</td>
      <td align="center"> 00:02:34 </td>
      <td width=2>|</td>
      <td align="center"> 58910/330029 </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> conabuapicos </td>
      <td width=2>|</td>
      <td align="center"> 8934224340 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:16:05 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#FF0000">
      <td> geraldo </td>
      <td width=2>|</td>
      <td align="center"> 8934571949 </td>
      <td width=2>|</td>
      <td align="right">Usuario inexistente</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:16:04 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:16:04 </td>
      <td width=2>|</td>
      <td align="center"> 00:00:00 </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> bilunga </td>
      <td width=2>|</td>
      <td align="center"> 00:40:f4:9f:ce:bb </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:15:59 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> prefeiturajaicos </td>
      <td width=2>|</td>
      <td align="center"> 8934571949 </td>
      <td width=2>|</td>
      <td align="right">192</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:15:58 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:19:29 </td>
      <td width=2>|</td>
      <td align="center"> 00:03:30 </td>
      <td width=2>|</td>
      <td align="center"> 116984/519176 </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#FF0000">
      <td> geraldo </td>
      <td width=2>|</td>
      <td align="center"> 8934571949 </td>
      <td width=2>|</td>
      <td align="right">Usuario inexistente</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:15:48 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:15:48 </td>
      <td width=2>|</td>
      <td align="center"> 00:00:00 </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> smscaninde </td>
      <td width=2>|</td>
      <td align="center"> 8934891025 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:15:16 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> tony </td>
      <td width=2>|</td>
      <td align="center"> 00:0e:8b:ff:b3:b5 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:15:10 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#FF0000">
      <td> tony </td>
      <td width=2>|</td>
      <td align="center"> 00:0e:8b:ff:b3:b5 </td>
      <td width=2>|</td>
      <td align="right">Senha nao confere</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:14:56 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:14:56 </td>
      <td width=2>|</td>
      <td align="center"> 00:00:00 </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> pmv.valenca </td>
      <td width=2>|</td>
      <td align="center"> 8934652720 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:14:54 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#FF0000">
      <td> tony </td>
      <td width=2>|</td>
      <td align="center"> 00:0e:8b:ff:b3:b5 </td>
      <td width=2>|</td>
      <td align="right">Senha nao confere</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:14:44 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:14:44 </td>
      <td width=2>|</td>
      <td align="center"> 00:00:00 </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> umsinhuma-pi </td>
      <td width=2>|</td>
      <td align="center"> 8934771634 </td>
      <td width=2>|</td>
      <td align="right">163</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:13:48 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:15:48 </td>
      <td width=2>|</td>
      <td align="center"> 00:02:00 </td>
      <td width=2>|</td>
      <td align="center"> 22548/246588 </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#FF0000">
      <td> tony </td>
      <td width=2>|</td>
      <td align="center"> 00:0e:8b:ff:b3:b5 </td>
      <td width=2>|</td>
      <td align="right">Senha nao confere</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:13:45 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:13:45 </td>
      <td width=2>|</td>
      <td align="center"> 00:00:00 </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> setassimoespi </td>
      <td width=2>|</td>
      <td align="center"> 8934561205 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:13:25 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> mbinformatica </td>
      <td width=2>|</td>
      <td align="center"> 8934331234 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:13:23 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> pmsaladm </td>
      <td width=2>|</td>
      <td align="center"> 8934491390 </td>
      <td width=2>|</td>
      <td align="right">187</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:12:44 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:18:32 </td>
      <td width=2>|</td>
      <td align="center"> 00:05:48 </td>
      <td width=2>|</td>
      <td align="center"> 98122/612271 </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> smasc </td>
      <td width=2>|</td>
      <td align="center"> 8934541212 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:12:19 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> sas </td>
      <td width=2>|</td>
      <td align="center"> 8934481256 </td>
      <td width=2>|</td>
      <td align="right">179</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:11:41 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:17:55 </td>
      <td width=2>|</td>
      <td align="center"> 00:06:13 </td>
      <td width=2>|</td>
      <td align="center"> 149129/697800 </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#FF0000">
      <td> solon.uro </td>
      <td width=2>|</td>
      <td align="center"> 8934571949 </td>
      <td width=2>|</td>
      <td align="right">Senha nao confere</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:11:18 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:11:18 </td>
      <td width=2>|</td>
      <td align="center"> 00:00:00 </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> sintracsradio </td>
      <td width=2>|</td>
      <td align="center"> 00:0c:41:b6:bd:54 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:10:32 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> joaolelis </td>
      <td width=2>|</td>
      <td align="center"> 8934871604 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:10:28 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> novasantarita </td>
      <td width=2>|</td>
      <td align="center"> 8934821197 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:09:38 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> nmotospaulistana </td>
      <td width=2>|</td>
      <td align="center"> 8934871604 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:09:36 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> rayoslaser </td>
      <td width=2>|</td>
      <td align="center"> 8934531730 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:09:17 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> saojoaodrs </td>
      <td width=2>|</td>
      <td align="center"> 8934832226 </td>
      <td width=2>|</td>
      <td align="right">151</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:09:12 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:14:26 </td>
      <td width=2>|</td>
      <td align="center"> 00:05:14 </td>
      <td width=2>|</td>
      <td align="center"> 45330/458879 </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> raimundoleite </td>
      <td width=2>|</td>
      <td align="center"> 8934561205 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:09:08 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> consulplan </td>
      <td width=2>|</td>
      <td align="center"> 8934651994 </td>
      <td width=2>|</td>
      <td align="right">142</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:08:56 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:12:04 </td>
      <td width=2>|</td>
      <td align="center"> 00:03:08 </td>
      <td width=2>|</td>
      <td align="center"> 23700/217288 </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> mariaferreira </td>
      <td width=2>|</td>
      <td align="center"> 8934771634 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:08:44 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> pmg </td>
      <td width=2>|</td>
      <td align="center"> 8934260061 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:08:35 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> joseadasneto </td>
      <td width=2>|</td>
      <td align="center"> 8934651994 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:08:29 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> jeanesbarros </td>
      <td width=2>|</td>
      <td align="center"> 8934501373 </td>
      <td width=2>|</td>
      <td align="right">115</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:08:12 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:08:31 </td>
      <td width=2>|</td>
      <td align="center"> 00:00:18 </td>
      <td width=2>|</td>
      <td align="center"> 2711/28684 </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> saojoaodrs </td>
      <td width=2>|</td>
      <td align="center"> 8934832226 </td>
      <td width=2>|</td>
      <td align="right">113</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:08:08 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:08:13 </td>
      <td width=2>|</td>
      <td align="center"> 00:00:05 </td>
      <td width=2>|</td>
      <td align="center"> 690/175 </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> sinte-pi </td>
      <td width=2>|</td>
      <td align="center"> 8934832226 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:08:04 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> sersom </td>
      <td width=2>|</td>
      <td align="center"> 8934651994 </td>
      <td width=2>|</td>
      <td align="right"></td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:07:59 </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center">  </td>
      <td width=2>|</td>
      <td align="center"> / </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


   <tr bgcolor="#008000">
      <td> soaresfilho </td>
      <td width=2>|</td>
      <td align="center"> 8934652749 </td>
      <td width=2>|</td>
      <td align="right">143</td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:07:53 </td>
      <td width=2>|</td>
      <td align="center"> 01/02/2006 10:12:21 </td>
      <td width=2>|</td>
      <td align="center"> 00:04:27 </td>
      <td width=2>|</td>
      <td align="center"> 689076/1116452 </td>
   </tr>
   <tr>
      <td colspan=13 bgcolor="000000"><img src="img/nada.gif" width=1 height=1 border=0></td>
   </tr>


</table>

            </td>
          </tr>
        </table>
     </td>
   </tr>
</table>
</p>      <p>&nbsp;</p>
    </td>
  </tr>
</table>
</body>


</html>
