<!-- suporte_monitoramento_pops.html //-->
<html>
<head>
<meta http-equiv="refresh" content="60" />
<link href="template/default/estilos1.css"  type="text/css" rel="stylesheet"/>
<title>Monitoramento</title>
{literal}
<style type="text/css">
<!--
.style8 {font-size: 9px}
.style7 {
	font-size: 9px;
	font-weight: bold;
}
.style6 {
	color: #DDDDDD;
	font-weight: bold;
}
.style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
}
.style2 {
	color: #C5C3C3;
	font-weight: bold;
}

#dhtmltooltip{
position: absolute;
width: 150px;
border: 2px solid black;
padding: 2px;
background-color: lightyellow;
visibility: hidden;
z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
/*filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);*/
}

.style2 {color: #D1DCD3}
</style>
{/literal}
</head>
<body style="" marginheight="0" marginwidth="0" > 
<div id="dhtmltooltip"></div>
{literal}


<script type="text/javascript">

/***********************************************
* Cool DHTML tooltip script- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

var offsetxpoint=-60 //Customize x offset of tooltip
var offsetypoint=20 //Customize y offset of tooltip
var ie=document.all
var ns6=document.getElementById && !document.all
var enabletip=false
if (ie||ns6)
var tipobj=document.all? document.all["dhtmltooltip"] : document.getElementById? document.getElementById("dhtmltooltip") : ""

function ietruebody(){
return (document.compatMode && document.compatMode!="BackCompat")? document.documentElement : document.body
}

function ddrivetip(thetext, thecolor, thewidth){
if (ns6||ie){
if (typeof thewidth!="undefined") tipobj.style.width=thewidth+"px"
if (typeof thecolor!="undefined" && thecolor!="") tipobj.style.backgroundColor=thecolor
tipobj.innerHTML=thetext
enabletip=true
return false
}
}

function positiontip(e){
if (enabletip){
var curX=(ns6)?e.pageX : event.clientX+ietruebody().scrollLeft;
var curY=(ns6)?e.pageY : event.clientY+ietruebody().scrollTop;
//Find out how close the mouse is to the corner of the window
var rightedge=ie&&!window.opera? ietruebody().clientWidth-event.clientX-offsetxpoint : window.innerWidth-e.clientX-offsetxpoint-20
var bottomedge=ie&&!window.opera? ietruebody().clientHeight-event.clientY-offsetypoint : window.innerHeight-e.clientY-offsetypoint-20

var leftedge=(offsetxpoint<0)? offsetxpoint*(-1) : -1000

//if the horizontal distance isn't enough to accomodate the width of the context menu
if (rightedge<tipobj.offsetWidth)
//move the horizontal position of the menu to the left by it's width
tipobj.style.left=ie? ietruebody().scrollLeft+event.clientX-tipobj.offsetWidth+"px" : window.pageXOffset+e.clientX-tipobj.offsetWidth+"px"
else if (curX<leftedge)
tipobj.style.left="5px"
else
//position the horizontal position of the menu where the mouse is positioned
tipobj.style.left=curX+offsetxpoint+"px"

//same concept with the vertical position
if (bottomedge<tipobj.offsetHeight)
tipobj.style.top=ie? ietruebody().scrollTop+event.clientY-tipobj.offsetHeight-offsetypoint+"px" : window.pageYOffset+e.clientY-tipobj.offsetHeight-offsetypoint+"px"
else
tipobj.style.top=curY+offsetypoint+"px"
tipobj.style.visibility="visible"
}
}

function hideddrivetip(){
if (ns6||ie){
enabletip=false
tipobj.style.visibility="hidden"
tipobj.style.left="-1000px"
tipobj.style.backgroundColor=''
tipobj.style.width=''
}
}

document.onmousemove=positiontip

	function jump_func(){
	
		document.form1.submit();	
	
	
	}

</script>
{/literal}
<h1 align="center">Informa&ccedil;&otilde;es de Monitoramento</h1>
<div align="center">
	<form name="form1" method="post" action="">
		<p>mostrar POPs
		  <label>
			  <select name="tipo_lista" onChange="jump_func(this.value);">
				<option value="mostrar" {if $mostra_tudo == 'false' || !$mostra_tudo}SELECTED{/if}>todos</option>
				<option value="nao_mostrar" {if $mostra_tudo == 'true'}SELECTED{/if}>monitorados</option>
			  </select>
		  </label>
		</p>
		<input type="hidden" value="monitoramento" name="op">
	</form>
</div>
<table width="740" border="0"  align="center" cellpadding="0" cellspacing="0" style="border:1px solid #D8E7DB;">

  <tr>
    <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #FFFFFF" >
	<tr>
		<td height="20" bgcolor="#F3F8F4" style="border:1px solid #FFFFFF;" colspan="2"><p><strong>Pop</strong></p></td>
		<td height="20" bgcolor="#F3F8F4" style="border:1px solid #FFFFFF;"><p><strong>Hora coleta</strong></p></td>
		<td bgcolor="#F3F8F4"  style="border:1px solid #FFFFFF;"><p align="center"><strong>Status</strong></p></td>
		<td colspan="6" bgcolor="#F3F8F4"  style="border:1px solid #FFFFFF;"><p align="center"><strong>Ping</strong></p></td>
	</tr>
	<tr>
		<td bgcolor="#F9FBF9"  width="60px" style="border:1px solid #FFFFFF;"><p><strong>Tipo</strong></p></td>
		<td bgcolor="#F9FBF9" width="250px" style="border:1px solid #FFFFFF;"><p><strong>Nome</strong></p></td>
		<td bgcolor="#F9FBF9" style="border:1px solid #FFFFFF;">&nbsp;</td>
		<td bgcolor="#F9FBF9" style="border:1px solid #FFFFFF;">&nbsp;</td>
		<td bgcolor="#F5F5F5" style="border:1px solid #FFFFFF;"><p align="center"><strong>p.env</strong></p></td>
		<td bgcolor="#F5F5F5" style="border:1px solid #FFFFFF;"><p align="center"><strong>perdas</strong></p></td>       
		<td bgcolor="#ECFBFB" style="border:1px solid #FFFFFF;"><p align="center"><strong>min</strong></p></td>
		<td bgcolor="#FFF2F4" style="border:1px solid #FFFFFF;"><p align="center"><strong>max</strong></p></td>
		<td bgcolor="#FFFFEA" style="border:1px solid #FFFFFF;"><p align="center"><strong>med</strong></p></td>
	</tr>
	<tr bgcolor="#DFDFDF">
		<td height="1px" id="td_spacer" colspan="9" align="center" valign="middle" nowrap="nowrap"><img src="template/default/images/menu/spacer.gif" height="1"/></td>
	</tr>
      {foreach item=a from=$rel_monitoramento}
	  	{if $mostra_tudo =='true'}
		 {if $a.ativar_monitoramento =='t'} 
	<tr bgcolor="#FBFDFB" onMouseOver="style.background='#F4F4F4';" onMouseOut="style.background='#FBFDFB'; "> 
		<td style="border:1px solid #FFFFFF;" valign="top" onMouseover="ddrivetip('<p align=center>{if $a.tipo == "C"}Cabo{/if}
		{if $a.tipo == "CL"}Cliente{/if}
		{if $a.tipo == "B"}Backbone{/if}
		{if $a.tipo == "AP"}Access Point{/if}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"><p>
		{if $a.nivel=='0'}
			<span class="style2">•</span>
		{/if}
		{if $a.nivel=='1'}
			<img src="template/default/images/conector_mon.gif" alt="NÍVEL DE DEPENDÊNCIA 1"><span class="style2">•</span>
		{/if} 
		
		{if $a.nivel=='2'}
			<img src="template/default/images/menu/spacer.gif" width="12"><img src="template/default/images/conector_mon.gif" alt="NÍVEL DE DEPENDÊNCIA 2"><span class="style2">•</span>
		{/if}
		
		{if $a.nivel=='3'}
			<img src="template/default/images/menu/spacer.gif" width="24" height="1"><img src="template/default/images/conector_mon.gif" alt="NÍVEL DE DEPENDÊNCIA 3"><span class="style2">•</span>
		{/if}
		
		{if $a.nivel=='4'}
			<img src="template/default/images/menu/spacer.gif" width="36" height="1"><img src="template/default/images/conector_mon.gif" alt="NÍVEL DE DEPENDÊNCIA 4"><span class="style2">•</span>
		{/if} 
		
		{if $a.nivel=='5'}
			<img src="template/default/images/menu/spacer.gif" width="48" height="1"><img src="template/default/images/conector_mon.gif" alt="NÍVEL DE DEPENDÊNCIA 5"><span class="style2">•</span>
		{/if} 
		
		{if $a.nivel=='6'}
			<img src="template/default/images/menu/spacer.gif" width="60" height="1"><img src="template/default/images/conector_mon.gif" alt="NÍVEL DE DEPENDÊNCIA 6"><span class="style2">•</span>
		{/if} 
		
		{if $a.nivel=='7'}
			<img src="template/default/images/menu/spacer.gif" width="72" height="1"><img src="template/default/images/conector_mon.gif" alt="NÍVEL DE DEPENDÊNCIA 7"><span class="style2">•</span>
		{/if} 
		
		{if $a.nivel == '0'}<font color="#003300"><strong>{/if}							  
		{if $a.ativar_monitoramento =='f' || !$a.ipaddr }<font color='#ABABAB'>{/if}
		{if $a.tipo == "C"}CB{/if}
		{if $a.tipo == "CL"}CL{/if}
		{if $a.tipo == "B"}BB{/if}
		{if $a.tipo == "AP"}AP{/if}
		{if $a.ativar_monitoramento =='f' || !$a.ipaddr }</font>{/if}
		{if $a.nivel == '0'}</strong></font>{/if}							  
		</p>
		
		
	  </td>
		<td width="250px" style="border:1px solid #FFFFFF;"  nowrap="nowrap"  {if $a.ativar_monitoramento == 't'}onMouseover="ddrivetip('<p align=center>{$a.ipaddr}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"{/if}>
			<p>{if $a.ativar_monitoramento =='f' || !$a.ipaddr }<font color='#ABABAB'>{else}<font color='#000000'>{/if}{$a.nome}</font></p>
		</td>
		<td style="border:1px solid #FFFFFF;" {if $a.ativar_monitoramento == 't'}onMouseover="ddrivetip('<p align=center>{$a.ipaddr}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"{/if} nowrap="nowrap">
			<p align="left">{$a.laststats|date_format:"%d/%m/%Y %H:%M:%S"}</p>
		</td>
    <td style="border:1px solid #FFFFFF;" 
	{if $a.status == 'ERR' } 
		bgcolor="#FF0033"
	{/if}
	{if $a.status == "OK"}
		bgcolor="#569C5B"
	{/if}
	{if $a.status == "WRN"}
		bgcolor="#F7962B"
	{/if} 
	{if $a.status == "" && $a.ativar_monitoramento == 'f'}
		bgcolor=""
	{/if}
	{if $a.ativar_monitoramento == 't'}onMouseover="ddrivetip('<p align=center>{$a.ipaddr}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"{/if}>
		<p align="center" class="style1" >
		{if $a.status == 'ERR' }
			Erro
		{/if}

		{if $a.status == "OK"}
			Ok
		{/if}
		
		{if $a.status == "WRN"}
			Alerta
		{/if}
	</p></td>
	<td style="border:1px solid #FFFFFF;" {if $a.ativar_monitoramento == 't'}onMouseover="ddrivetip('<p align=center>{$a.ipaddr}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"{/if}>
		<p align="center">{$a.num_ping}</p>
	</td>
    <td style="border:1px solid #FFFFFF;" {if $a.ativar_monitoramento == 't'}onMouseover="ddrivetip('<p align=center>{$a.ipaddr}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"{/if}>
		<p align="center">{$a.num_perdas}</p>
	</td>  
    <td style="border:1px solid #FFFFFF;" {if $a.ativar_monitoramento == 't'}onMouseover="ddrivetip('<p align=center>{$a.ipaddr}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"{/if}>
		<p align="center">{if $a.ativar_monitoramento=='t'}{assign var='minimo' value=$a.min_ping/1000}{if $minimo=="0"}<b>T.E.</b>{else}{$minimo}{/if}{else}&nbsp;{/if}</p>
	</td>
    <td style="border:1px solid #FFFFFF;" {if $a.ativar_monitoramento == 't'}onMouseover="ddrivetip('<p align=center>{$a.ipaddr}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"{/if}>
		<p align="center">{if $a.ativar_monitoramento=='t'}{assign var='maximo' value=$a.max_ping/1000}{if $maximo=="0"}<b>T.E.</b>{else}{$maximo}{/if}{else}&nbsp;{/if}</p>
	</td>
    <td style="border:1px solid #FFFFFF;" {if $a.ativar_monitoramento == 't'}onMouseover="ddrivetip('<p align=center>{$a.ipaddr}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"{/if}>
		<p align="center">{if $a.ativar_monitoramento=='t'}{assign var='media' value=$a.media_ping/1000}{if $media=="0"}<b>T.E.</b>{else}{$media}{/if}{else}&nbsp;{/if}</p>
	</td>
  </tr>
 <tr>
    <td colspan="9" bgcolor="#DFDFDF"><img src="template/default/images/menu/spacer.gif" height="1"/></td>
      </tr>
	  	{else}{/if}
	{else}
			<tr bgcolor="#FBFDFB" onMouseOver="style.background='#F4F4F4';" onMouseOut="style.background='#FBFDFB'; "> 
		<td style="border:1px solid #FFFFFF;" valign="top" onMouseover="ddrivetip('<p align=center>{if $a.tipo == "C"}Cabo{/if}
		{if $a.tipo == "CL"}Cliente{/if}
		{if $a.tipo == "B"}Backbone{/if}
		{if $a.tipo == "AP"}Access Point{/if}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"><p>
		{if $a.nivel=='0'}
			<span class="style2">•</span>
		{/if}
		{if $a.nivel=='1'}
			<img src="template/default/images/conector_mon.gif" alt="NÍVEL DE DEPENDÊNCIA 1"><span class="style2">•</span>
		{/if} 
		
		{if $a.nivel=='2'}
			<img src="template/default/images/menu/spacer.gif" width="12"><img src="template/default/images/conector_mon.gif" alt="NÍVEL DE DEPENDÊNCIA 2"><span class="style2">•</span>
		{/if}
		
		{if $a.nivel=='3'}
			<img src="template/default/images/menu/spacer.gif" width="24" height="1"><img src="template/default/images/conector_mon.gif" alt="NÍVEL DE DEPENDÊNCIA 3"><span class="style2">•</span>
		{/if}
		
		{if $a.nivel=='4'}
			<img src="template/default/images/menu/spacer.gif" width="36" height="1"><img src="template/default/images/conector_mon.gif" alt="NÍVEL DE DEPENDÊNCIA 4"><span class="style2">•</span>
		{/if} 
		
		{if $a.nivel=='5'}
			<img src="template/default/images/menu/spacer.gif" width="48" height="1"><img src="template/default/images/conector_mon.gif" alt="NÍVEL DE DEPENDÊNCIA 5"><span class="style2">•</span>
		{/if} 
		
		{if $a.nivel=='6'}
			<img src="template/default/images/menu/spacer.gif" width="60" height="1"><img src="template/default/images/conector_mon.gif" alt="NÍVEL DE DEPENDÊNCIA 6"><span class="style2">•</span>
		{/if} 
		
		{if $a.nivel=='7'}
			<img src="template/default/images/menu/spacer.gif" width="72" height="1"><img src="template/default/images/conector_mon.gif" alt="NÍVEL DE DEPENDÊNCIA 7"><span class="style2">•</span>
		{/if} 
		
		{if $a.nivel == '0'}<font color="#003300"><strong>{/if}							  
		{if $a.ativar_monitoramento =='f' || !$a.ipaddr }<font color='#ABABAB'>{/if}
		{if $a.tipo == "C"}CB{/if}
		{if $a.tipo == "CL"}CL{/if}
		{if $a.tipo == "B"}BB{/if}
		{if $a.tipo == "AP"}AP{/if}
		{if $a.ativar_monitoramento =='f' || !$a.ipaddr }</font>{/if}
		{if $a.nivel == '0'}</strong></font>{/if}							  
		</p>
		
		
	  </td>
		<td width="250px" style="border:1px solid #FFFFFF;"  nowrap="nowrap"  {if $a.ativar_monitoramento == 't'}onMouseover="ddrivetip('<p align=center>{$a.ipaddr}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"{/if}>
			<p>{if $a.ativar_monitoramento =='f' || !$a.ipaddr }<font color='#ABABAB'>{else}<font color='#000000'>{/if}{$a.nome}</font></p>
		</td>
		<td style="border:1px solid #FFFFFF;" {if $a.ativar_monitoramento == 't'}onMouseover="ddrivetip('<p align=center>{$a.ipaddr}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"{/if} nowrap="nowrap">
			<p align="left">{$a.laststats|date_format:"%d/%m/%Y %H:%M:%S"}</p>
		</td>
    <td style="border:1px solid #FFFFFF;" 
	{if $a.status == 'ERR' } 
		bgcolor="#FF0033"
	{/if}
	{if $a.status == "OK"}
		bgcolor="#569C5B"
	{/if}
	{if $a.status == "WRN"}
		bgcolor="#F7962B"
	{/if} 
	{if $a.status == "" && $a.ativar_monitoramento == 'f'}
		bgcolor=""
	{/if}
	{if $a.ativar_monitoramento == 't'}onMouseover="ddrivetip('<p align=center>{$a.ipaddr}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"{/if}>
		<p align="center" class="style1" >
		{if $a.status == 'ERR' }
			Erro
		{/if}

		{if $a.status == "OK"}
			Ok
		{/if}
		
		{if $a.status == "WRN"}
			Alerta
		{/if}
	</p></td>
	<td style="border:1px solid #FFFFFF;" {if $a.ativar_monitoramento == 't'}onMouseover="ddrivetip('<p align=center>{$a.ipaddr}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"{/if}>
		<p align="center">{$a.num_ping}</p>
	</td>
    <td style="border:1px solid #FFFFFF;" {if $a.ativar_monitoramento == 't'}onMouseover="ddrivetip('<p align=center>{$a.ipaddr}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"{/if}>
		<p align="center">{$a.num_perdas}</p>
	</td>  
    <td style="border:1px solid #FFFFFF;" {if $a.ativar_monitoramento == 't'}onMouseover="ddrivetip('<p align=center>{$a.ipaddr}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"{/if}>
		<p align="center">{if $a.ativar_monitoramento=='t'}{assign var='minimo' value=$a.min_ping/1000}{if $minimo=="0"}<b>T.E.</b>{else}{$minimo}{/if}{else}&nbsp;{/if}</p>
	</td>
    <td style="border:1px solid #FFFFFF;" {if $a.ativar_monitoramento == 't'}onMouseover="ddrivetip('<p align=center>{$a.ipaddr}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"{/if}>
		<p align="center">{if $a.ativar_monitoramento=='t'}{assign var='maximo' value=$a.max_ping/1000}{if $maximo=="0"}<b>T.E.</b>{else}{$maximo}{/if}{else}&nbsp;{/if}</p>
	</td>
    <td style="border:1px solid #FFFFFF;" {if $a.ativar_monitoramento == 't'}onMouseover="ddrivetip('<p align=center>{$a.ipaddr}</p>', '#FFFFEA')" onMouseout="hideddrivetip()"{/if}>
		<p align="center">{if $a.ativar_monitoramento=='t'}{assign var='media' value=$a.media_ping/1000}{if $media=="0"}<b>T.E.</b>{else}{$media}{/if}{else}&nbsp;{/if}</p>
	</td>
  </tr>
 <tr>
    <td colspan="9" bgcolor="#DFDFDF"><img src="template/default/images/menu/spacer.gif" height="1"/></td>
      </tr>{/if}
      {/foreach}
    </table></td>
  </tr>
</table>
<p align="center" class="style6">T.E. = Tempo Esgotado</p>
</body>
</html>
