<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="refresh" content="60" />
<link rel="stylesheet" href="template/default/estilos1.css" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body leftmargin="0" topmargin="0" bottommargin="0" marginwidth="0" marginheight="0" 
{if $erros} 
   bgcolor="#FED3DC"
{else}
   {if $alertas} 
      bgcolor="#FEE4B4"
   {/if}
{/if}
>
{if $erros > 0}
	{if $alerta_sonoro == 't'}<bgsound  src="template/default/aoogahorn.wav" />{else} {/if}
{/if}
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="top:1px; left:2px;">
  <tr>
    <td width="7%"><p><strong>POPS :</strong></p></td>
    <td width="93%"><p>{$num_pops}</p></td>
  </tr>
  <tr>
    <td colspan="4" height="1px" bgcolor="#AAAAAA"><img src="temaplte/default/images/menu/spacer.gif" height="1px" /></td>
  </tr>
  <table align="center" width="60" cellspacing="0">
    <tr>
        <td><p><strong>Erros: </strong></p></td>
	    <td><p>{$erros}</p></td>
    </tr>
    <tr>
        <td><p><strong>Alertas: </strong></p></td>
	    <td><p>{$alertas}</p></td>
    </tr>
    <tr>
        <td><p><strong>OK: </strong></p></td>
	    <td><p>{$ok}</p></td>
    </tr>
  </table>
</table>
</body>
</html>
