<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>{ include file='menu_principal.html' }</td>
        </tr>
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"> <h1 align="center">ARP</h1>
                  <form action="{$smarty.server.PHP_SELF}" method=get >
                  <input type="hidden" name="op" value="{$op}">
                    <p>IP: 
                      <input type="text" name="ip" value="{$ip}" class="campos">
                      <input type="submit" name="Submit" value="Ok" class="campos">
                      <br>
                      <font color="#666666" size="1" face="Verdana, Arial, Helvetica, sans-serif">digite 
                      <strong>-a</strong> para listar toda a tabela arp</font></p>
                  </form>
                  {if count($arp)}
					  <p align="center"><font size=2><big><strong>{if $ip=="-a"}TABELA ARP{else}{$ip}{/if}</string></big></font></p>

					  
                  <table border=0 width=400>
                    <tr bgcolor="#F1F1F1"> 
                      <td><h2>IP</h2></td>
                      <td><h2>MAC</h2></td>
                      <td><h2>IFACE</h2></td>
                    </tr>
                    {foreach item=v from=$arp} 
                    <tr> 
                      <td><p>{$v.addr}</p></td>
                      <td><p>{$v.mac}</p></td>
                      <td><p>{$v.iface}</p></td>
                    </tr>
                    {/foreach} 
                  </table>
				  {else}
				  		{if $ip}
				  			<br><br><p align="center"><font size=1 color="#FF0000"><big><strong><p>sem resposta para ip</p> {$ip}</string></big></font></p>
				  		{/if}
				  {/if}
    </td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="20" align="center" bgcolor="#BCD3C4"><table width="400" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">&copy;
              Mosman Consultoria - Todos os Direitos Reservados</font></div></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
