<!-- SUPORTE_RADIUSLOG.HTML -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<form name=formulario method="get" action="">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">

              <tr> 
                <td align="center" valign="middle">
<font size="+2" face="Arial, Helvetica, sans-serif"><strong>Radius 
                    </strong></font> 
                    <!--<h2 align="center"><font size="2">
                Radius</font></h2>-->
                  
                    <input name="op" type="hidden" value="{$op}" id="op">
                    <table border="0"  _bgcolor="#000000" cellspacing=1 cellpadding=1 width="90%">
						
                      <tr> 
                        <td align="center">
<table align="center">
                          <tr bgcolor="#FFFFFF"> 
                            <td><p><a href="suporte.php?op=extrato"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Extrato de Acessos</font></a> | </p></td>
                            <td><p><a href="suporte.php?op=online_users"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Usuários Online</font></a></p></td>
							
                          </tr>
                        </table>
						    <table border="0" cellspacing=0>
							  <tr>
							    <td><p><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Analisar
							  	  últimas</font></p></td>
							    <td><p><font size="1" face="Verdana, Arial, Helvetica, sans-serif">
							  	  <input type="text" name="limite" value="{$limite}" class="campos">
							  	  entradas</font></p></td>
							  </tr>
							  <tr>
							    <td><p><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Consultar
							  	  usuario</font></p></td>
							    <td><p><font size="1" face="Verdana, Arial, Helvetica, sans-serif">
							  	  <input type="text" name="username" value="{$username}" class="campos">
							  	  </font></p></td>
							  </tr>
							  <tr>
							    <td><p><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Consultar apenas erros</font></p></td>
							    <td><p><font size="1" face="Verdana, Arial, Helvetica, sans-serif">
							  	  <input type="checkbox" name="erros" value="sim" class="checkbox" {if $tipo_pesq == "sim"} checked {/if}></font></p></td>
							  </tr>
							  <tr>
							    <td><p>&nbsp;</p></td>
							    <td><p>
							  	  <input name="botao_enviar" type="submit" _class="campos" id="submit" value="atualizar &gt;&gt;">
							  	</p></td>
							  </tr>
						    </table>
							<hr size=1>
				        </td>
					  </tr>
				  </table>
</form>

					  <table width="800" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td>
								<table width="800" border="0" cellspacing="0" cellpadding="0">
									<tr>
									  <td>
									  	<table width="800" border="0" cellpadding="2" cellspacing="0">
									  		<tr bgcolor="#F1F1F1">
												<td width="100" align="LEFT"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Usuário</font></td>
												<td width="100" align="LEFT"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Origem</font></td>
												<td width="150" align="LEFT"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Mensagem</font></td>
												<td width="145" align="CENTER"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Início</font></td>
												<td width="135" align="CENTER"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Fim</font></td>
												<td width="50" align="RIGHT"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Tempo</font></td>
												<td width="130" align="CENTER"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Bytes</font></td>
											</tr>

    										{foreach item=a from=$relat}{foreach item=b from=$a.id_cliente}
    										<tr bgcolor="{$a.tipo_ng}" onMouseOver="{if $a.tipo_ng == '#F2C6C6'}style.background='#E89B9B';{/if}{if $a.tipo_ng == '#F2DEC6'}style.background='#E4BB89';{/if}{if $a.tipo_ng == '#D8E8F3'}style.background='#8DBCDC';{/if}{if $a.tipo_ng == '#D1F2C6'}style.background='#A5E68E';{/if}" onMouseOut="style.background='{$a.tipo_ng}'; ">
												<td align="LEFT" class="style1 style3"><span class="style3"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><a href="clientes.php?op=cadastro&id_cliente={$b.id_cliente}">{$a.usuario}</a></font></span></td>
												<td align="LEFT" class="style1 style3"><span class="style3"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><a href="clientes.php?op=cadastro&id_cliente={$b.id_cliente}">{$a.origem}</a></font></span></td>
												<td align="LEFT" class="style1 style3"><span class="style3"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><a href="clientes.php?op=cadastro&id_cliente={$b.id_cliente}">{$a.mensagem}</a></font></span></td>
												<td align="CENTER" class="style1 style3"><span class="style3"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><a href="clientes.php?op=cadastro&id_cliente={$b.id_cliente}">{$a.inicio}</a></font></span></td>
												<td align="CENTER" class="style1 style3"><span class="style3"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><a href="clientes.php?op=cadastro&id_cliente={$b.id_cliente}">{$a.fim}</a></font></span></td>
												<td align="RIGHT" class="style1 style3"><span class="style3"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><a href="clientes.php?op=cadastro&id_cliente={$b.id_cliente}">{$a.tempo|date_format:"%H:%M:%S" }</a></font></span></td>
												<td align="CENTER" class="style1 style3"><span class="style3"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><a href="clientes.php?op=cadastro&id_cliente={$b.id_cliente}">{$a.bytes_in}/{$a.bytes_out}</a></font></span></td>
										    </tr>
										    <tr bgcolor="#999999">
										    	<td colspan="7" height="1"></td>
										    </tr>{/foreach}
											{/foreach}
									    </table>								  	  </td>
								    </tr>
							    </table>
						    </td>
						  </tr>
                  	  </table>

				</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>


</html>
