<!-- SUPORTE_GRAFICO.HTML -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
{literal}
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
</script>
{/literal}


</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" >
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" align="center">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"><p><br>
                  <h1>Gráficos</h1>
				  <div align="center"> 
                    <table>
                      <tr> 
                        <td colspan="2"><p><strong>Escolha o tipo do gráfico</strong></p></td>
                      </tr>
                    </table>
                    <table width="500" border="0">
                      <tr>
                        <td width="256" bgcolor="#d1d1d1">
							<table width="268" height="108" border="0" cellpadding="0" cellspacing="1">
                            <tr> 
                              <td width="266" bgcolor="#F8F8F8">
							  	<form name="form1" method="post" action="">
                                  <table width="200" border="0" align="center" cellpadding="0" cellspacing="2">
                                    <tr> 
                                      <td align="CENTER"><br> <p><strong>Escolha o POP</strong></p></td>
                                    </tr>
                                    <tr> 
                                      <td align="CENTER">
									  	<select name="pesquisa" id="select">
                                          <option value=""></option>
                                          <option value="todos" {if $pesquisa=="todos" && $tipo_pesquisa=="pop"} selected {/if}>TODOS</option>
		                                	{foreach item=a from=$pops}
                                          <option value="{$a.id_pop}" {if $a.id_pop == $pesquisa && $tipo_pesquisa=="pop"}SELECTED{/if}>{$a.nome}</option>
											{/foreach} 
                                      	</select> <input type="hidden" name="tipo_pesquisa" value="pop"> 
                                      </td>
                                    </tr>
                                    <tr> 
                                      <td height="27" align="center" bgcolor="#F8F8F8"><input type="submit" name="Submit" value="OK"></td>
                                    </tr>
                                  </table>
                                </form>
							  </td>
                            </tr>
                          </table>
                        </td>
                        <td width="272" bgcolor="#d1d1d1">
						 <table width="267" height="108" border="0" cellpadding="0" cellspacing="1">
                            <tr> 
                              <td width="265" bgcolor="#F8F8F8"> 
                                <form name="form1" method="post" action="">
                                  <table width="200" border="0" align="center" cellpadding="0" cellspacing="2" bordercolor="#000000">
                                    <tr> 
                                      <td align="CENTER" bgcolor="#F8F8F8"><br><p><strong>Escolha o NAS</strong></p></td>
                                    </tr>
                                    <tr> 
                                      <td align="CENTER" bgcolor="#F8F8F8"> 
                                        <select name="pesquisa" id="select">
										  <option value=""></option>
										  <option value="todos" {if $pesquisa=="todos" && $tipo_pesquisa=="nas"} selected {/if}>TODOS</option>
                                        {foreach item=a from=$nas}
							              <option value="{$a.id_nas}" {if $a.id_nas == $pesquisa && $tipo_pesquisa=="nas"}SELECTED{/if}>{$a.nome}</option>
										{/foreach}
                                       </select> <input type="hidden" name="tipo_pesquisa" value="nas">  
                                      </td>
                                    </tr>
                                    <tr> 
                                      <td height="27" align="center" bgcolor="#F8F8F8"><input type="submit" name="Submit" value="OK"></td>
                                    </tr>
                                  </table>
                                </form>
							  </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div>
				   <table width="530" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td>
					  <br><br>
					  {if $cli || $cli != ""}
					      <table width="550" border="0" cellspacing="1" cellpadding="0">
                            <tr bgcolor="#f1f1f1"> 
                              <td width="231" bgcolor="#f1f1f1"><p><strong>Usu&aacute;rio</strong></p></td>
                              <td width="231" bgcolor="#f1f1f1" colspan="2"><p align="right">&nbsp;</p></td>
                            </tr>
                            <tr bgcolor="#f1f1f1" "#f1f1f1"> 
                              <td width="200"><p><strong>Download/Upload</strong></p></td>
                              <td width="150" bgcolor="#f1f1f1"><p align="center"><strong>MAC</strong></p></td>
                              <td width="200"><p align="center"><strong>IP/Rede</strong></p></td>
                            </tr>
                          </table>
						  <br>
						</td>
                    </tr>
                    <tr>
                      <td>
					  {foreach item=a from=$cli}
					
					      <table width="550" border="0" cellspacing="1" cellpadding="0" onMouseOver="style.background='#99CCFF';" onMouseOut="style.background='white';">
                            <!--tr>
                            <td width="150"><a href="javascript:;" onClick="MM_openBrWindow('suporte.php?op=graf&rotina=mostra','graf','scrollbars=yes,width=550,height=500')"><font color="#000066">{$a.username}</font></a></td>
                            <td width="150"><a href="javascript:;" onClick="MM_openBrWindow('suporte.php?op=graf&rotina=mostra','graf','scrollbars=yes,width=550,height=500')">{$a.mac}</a></td>
                          </tr-->
                            <tr > 
                              <td width="313"><a href="javascript:;" onClick="MM_openBrWindow('/virtex-cgi/stats/{$a.username}.html','graf','scrollbars=yes,width=550,height=500')"><font color="#000066">{$a.username}</font></a></td>
							  <td  colspan="2"></td>
                            </tr>
                            <tr> 
                              <td width="313">
							  	  <p><a href="javascript:;" onClick="MM_openBrWindow('/virtex-cgi/stats/{$a.username}.html','graf','scrollbars=yes,width=550,height=500')">
								  <font color="#000066">Download </font>{$a.download_kbps}<font color="#000066">kbps</font> 
                                  <font color="#CCCCCC"><strong>{if $a.download_kbps=="0"}(ilimitado){/if}</strong></font>
								  <font color="#000066">Upload </font>
								  {$a.upload_kbps}<font color="#000066"> kbps</font>
								  </a></p>
							  </td>
                              <td width="139" ><div align="left"> 
                                  <p align="center"><a href="javascript:;" onClick="MM_openBrWindow('/virtex-cgi/stats/{$a.username}.html','graf','scrollbars=yes,width=550,height=500')">{$a.mac}</a> </div>
							  </td>
                              <td width="211">
							 	  <p align="center"><a href="javascript:;" onClick="MM_openBrWindow('/virtex-cgi/stats/{$a.username}.html','graf','scrollbars=yes,width=550,height=500')">{$a.ipaddr}{$a.rede}</a></p>
							  </td>
                            </tr>
                            <tr bgcolor="#CCCCCC"> 
                              <td colspan="3" height="1"></td>
                            </tr>
                            <tr> 
                              <td colspan="3"><div align="CENTER"><img src="/virtex-cgi/stats/{$a.username}-day.png" width="497" height="154"></div></td>
                            </tr>
                          </table>
                          <br>
						{/foreach}
						{/if}
						{if $num_todos}
					  {foreach item=a from=$num_todos}
					  <table width="550" border="0" cellspacing="1" cellpadding="0">
                            <tr bgcolor="#f1f1f1"> 
                              <td width="231" bgcolor="#f1f1f1"><p><strong>{$a.nome} id - {$a.id_nas}{$a.id_pop}</strong></p></td>
                              <td width="231" bgcolor="#f1f1f1" colspan="2"><p align="right">&nbsp;</p></td>
                            </tr>
							<tr bgcolor="#f1f1f1"> 
                              <td width="231" bgcolor="#f1f1f1"><p><strong>Usu&aacute;rio</strong></p></td>
                              <td width="231" bgcolor="#f1f1f1" colspan="2"><p align="right">&nbsp;</p></td>
                            </tr>
                            <tr bgcolor="#f1f1f1" "#f1f1f1"> 
                              <td width="200"><p><strong>Download/Upload</strong></p></td>
                              <td width="150" bgcolor="#f1f1f1"><p align="center"><strong>MAC</strong></p></td>
                              <td width="200"><p align="center"><strong>IP/Rede</strong></p></td>
                            </tr>
                          </table>
						  {foreach item=b from=$a.usuarios}
						  <br>
					      <table width="550" border="0" cellspacing="1" cellpadding="0" onMouseOver="style.background='#99CCFF';" onMouseOut="style.background='white';">
                            <!--tr>
                            <td width="150"><a href="javascript:;" onClick="MM_openBrWindow('suporte.php?op=graf&rotina=mostra','graf','scrollbars=yes,width=550,height=500')"><font color="#000066">{$a.username}</font></a></td>
                            <td width="150"><a href="javascript:;" onClick="MM_openBrWindow('suporte.php?op=graf&rotina=mostra','graf','scrollbars=yes,width=550,height=500')">{$a.mac}</a></td>
                          </tr-->
                            <tr > 
                              <td width="313"><a href="javascript:;" onClick="MM_openBrWindow('/virtex-cgi/stats/{$b.username}.html','graf','scrollbars=yes,width=550,height=500')"><font color="#000066">{$b.username}</font></a></td>
							  <td colspan="2"></td>
                            </tr>
                            <tr> 
                              <td width="313">
							  	  <p><a href="javascript:;" onClick="MM_openBrWindow('/virtex-cgi/stats/{$b.username}.html','graf','scrollbars=yes,width=550,height=500')">
							  	  <font color="#000066">Download </font>
								  {$b.download_kbps}<font color="#000066">kbps</font> 
                                  <font color="#CCCCCC"><strong>{if $b.download_kbps=="0"}(ilimitado){/if}</strong></font>
								  <font color="#000066">Upload </font>{$b.upload_kbps}<font color="#000066"> kbps</font>
								  </a></p>
							  </td>
                              <td width="139" >
							  	  <div align="left"> 
								  <a href="javascript:;" onClick="MM_openBrWindow('/virtex-cgi/stats/{$b.username}.html','graf','scrollbars=yes,width=550,height=500')">{$b.mac}</a> 
								  </div>
							  </td>
                              <td width="211"><p align="center"><a href="javascript:;" onClick="MM_openBrWindow('/virtex-cgi/stats/{$b.username}.html','graf','scrollbars=yes,width=550,height=500')">{$b.ipaddr}{$b.rede}</a></p></td>
                            </tr>
                            <tr bgcolor="#CCCCCC"> 
                              <td colspan="3" height="1"></td>
                            </tr>
                            <tr> 
                              <td colspan="3"><div align="CENTER"><img src="/virtex-cgi/stats/{$a.username}-day.png" width="497" height="154"></div></td>
                            </tr>
                          </table>
                          <br>
                            {/foreach} 
							{if !$a.usuarios}
								<p><strong><font color="#FF0000">Não Há Usuários Atualmente.</font></strong></p>
								<br><br>
							{/if} 
                            {/foreach}
						</td>
                    </tr>
                  </table>
				  {/if}</div>
				  </td>
              </tr>
            </table>
			</td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>