<!-- SUPORTE_CALCULADORAIP.HTML -->
<html>
<head>
<title>::.. Virtex Admin - Área de Gerenciamento ..::</title>

<link href="template/default/estilos1.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="document.formulario.ip.focus();">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="100%" align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle">
                    <form name=formulario method="get" action="{$smarty.server.PHP_SELF}">
                	<input type="hidden" name="op" value="calc">
                    <table border=0  _bgcolor="#000000" cellspacing=1 cellpadding=1 width="90%">
                      <tr>
                        <td align="center"><h1>Calculadora IP<br>
                          </h1>
                          </td>
                      </tr>
                      <tr>
                        <td align="center">
                          <table border=0 cellpadding="2" cellspacing=2>
                            <tr bgcolor="#F0F0F0">
                              <td><p>Endereço (Host ou Rede)</p></td>
                              <td><p>Máscara (Ex: /24)</p></td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td><input type="text" name="ip" value="{$ip}" class="campos"></td>
                              <td><input type="text" name="netmask" value="{$netmask}" class="campos"></td>
                              <td><input name="botao_enviar" type="submit" class="campos" id="submit" value="calcular &gt;&gt;"></td>
                            </tr>
                          </table>

                          {if $ipaddr}
                          <hr size=1>
							<table border=0 cellspacing=0 cellpadding=0 width=300>
                            <tr>
                              <td><p>Endereço:</p></td>
                              <td><p>{$ipaddr.endereco}</p></td>
                            </tr>
                            <tr>
                              <td><p>Máscara:</p></td>
                              <td><p>{$ipaddr.mascara}</p></td>
                            </tr>
                            <tr>
                              <td><p>Wildcard:</p></td>
                              <td><p>{$ipaddr.wildcard}</p></td>
                            </tr>
                            <tr>
                              <td colspan="2"><img src="template/default/images/menu/spacer.gif" width="150" height="3"></td>
                            </tr>
                            <tr>
                              <td colspan=2 bgcolor=#000000><p><img src="template/default/images/menu/spacer.gif" border=0 width=1 height=1></p></td>
                            </tr>
                            <tr>
                              <td colspan="2"><img src="template/default/images/menu/spacer.gif" width="150" height="3"></td>
                            </tr>
                            <tr>
                              <td><p>Rede:</p></td>
                              <td><p>{$ipaddr.nw}</p></td>
                            </tr>
                            <tr>
                              <td><p>Broadcast:</p></td>
                              <td><p>{$ipaddr.bc}</p></td>
                            </tr>
                            <tr>
                              <td colspan="2"><img src="template/default/images/menu/spacer.gif" width="150" height="3"></td>
                            </tr>
                            <tr>
                              <td colspan=2 bgcolor=#000000><p><img src="template/default/images/menu/spacer.gif" border=0 width=1 height=1></p></td>
                            </tr>
                            <tr>
                              <td colspan="2"><img src="template/default/images/menu/spacer.gif" width="150" height="3"></td>
                            </tr>
                            <tr>
                              <td><p>Primeiro Host:</p></td>
                              <td><p>{$ipaddr.minhost}</p></td>
                            </tr>
                            <tr>
                              <td><p>Último Host:</p></td>
                              <td><p>{$ipaddr.maxhost}</p></td>
                            </tr>
                            <tr>
                              <td><p>Número de hosts</p></td>
                              <td><p>{$ipaddr.numhosts}</p></td>
                            </tr>
                          </table>

                          {/if}

                        </td>
                      </tr>
                    </table>
                  </form>
                  <p><br>
                  </p>
                  <p>&nbsp;</p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>


</html>
